Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/copilot): flush buffered rounds before mid-loop pending drain and wrap turn-start persist
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

fix(backend/copilot): prevent duplicate assistant text after mid-loop pending drain
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

fix(backend): proper selective memory deletion with soft/hard delete
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
Due: isort, pyright, pytest

fix(copilot): multi-layer defence against Write tool truncation errors
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
Due: isort, pyright, pytest

fix(backend): address review findings for pending-message endpoint
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/pending_messages.py
Due: isort, pyright, pytest

fix(frontend/builder): address review comments on useBuilderChatPanel
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/actionApplicators.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
Due: prettier, tsc

fix(backend): use PendingMessageContext type in QueuePendingMessageRequest to prevent 500
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): update test to use PendingMessageContext attribute access
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
Due: isort, pyright, pytest

fix(frontend): update stale assertion in applyConnectNodes duplicate-edge test
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/__tests__/actionApplicators.test.ts
Due: prettier, tsc

Wrap mid-loop drain_pending_messages in try/except
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

fix(backend): auto-migrate webhook presets to new agent version on publish
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/test/test_migrate_webhook_presets.py
Due: isort, pyright, pytest

fix(copilot): allow exactly 30 pending calls per window
  autogpt_platform/backend/backend/api/features/chat/routes.py
Due: isort, pyright, pytest

fix(frontend): reset isCreatingSession in retrySession and cap parsedActions
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
Due: prettier, tsc

feat: Add Agent Discovery Protocol (ADP) support
  autogpt/utils/agent_discovery.py
  classic/original_autogpt/autogpt/utils/agent_discovery.py
Due: isort, pyright, pytest

fix(copilot): wrap SDK turn-start drain in try/except, deduplicate format calls, elevate context length constants
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(frontend/builder): address round-5 review comments on BuilderChatPanel
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/__tests__/actionApplicators.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/__tests__/useBuilderChatPanel.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/actionApplicators.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/ActionList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/MessageList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/PanelInput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
Due: prettier, tsc

fix(platform): stabilize marketplace calculator smoke flow
  autogpt_platform/backend/agents/calculator-agent.json
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/playwright/marketplace-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/utils/auth.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/builder): add flowID to tool-call effect deps for correct navigation guard
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
Due: prettier, tsc

fix(backend): format platform cost tests
  autogpt_platform/backend/backend/data/platform_cost_test.py
Due: isort, pyright, pytest

chore: apply Prettier formatting to BuilderChatPanel files
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/MessageList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/PanelInput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
Due: prettier, tsc

fix(frontend): drop hardcoded auth storage origin
  autogpt_platform/frontend/src/playwright/auth-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/credentials/storage-state.ts
Due: prettier, tsc

fix(frontend): restore marketplace image components
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentImageItem/AgentImageItem.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentImages/AgentImage.tsx
Due: prettier, tsc

fix(copilot): wrap baseline turn-start drain in try/except; add 404/429 to OpenAPI spec
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/marketplace): stabilize marketplace run smoke test
  autogpt_platform/frontend/src/playwright/marketplace-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/pages/library.page.ts
Due: prettier, tsc

fix(frontend/builder): route text parts through MessagePartRenderer
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/MessageList.tsx
Due: prettier, tsc

fix(frontend): unflake playwright marketplace and library flows
  autogpt_platform/frontend/src/playwright/library-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/pages/build.page.ts
  autogpt_platform/frontend/src/playwright/pages/marketplace.page.ts
Due: prettier, tsc

fix(frontend): stabilize playwright output and schedule waits
  autogpt_platform/frontend/src/playwright/pages/build.page.ts
  autogpt_platform/frontend/src/playwright/pages/library.page.ts
Due: prettier, tsc

fix(platform): stabilize playwright marketplace and schedule flows
  autogpt_platform/docker-compose.yml
  autogpt_platform/frontend/src/playwright/marketplace-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/pages/build.page.ts
  autogpt_platform/frontend/src/playwright/pages/library.page.ts
  autogpt_platform/frontend/src/playwright/pages/marketplace.page.ts
Due: prettier, tsc

fix(frontend): distinguish missing schedule listener from post failure
  autogpt_platform/frontend/src/playwright/pages/build.page.ts
Due: prettier, tsc

fix(backend): reassign seeded marketplace graph ids
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

fix(frontend): stabilize and speed up playwright smoke suite
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/playwright/api-keys-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/auth-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/builder-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/copilot-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/credentials/accounts.ts
  autogpt_platform/frontend/src/playwright/library-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/pages/library.page.ts
  autogpt_platform/frontend/src/playwright/pages/marketplace.page.ts
  autogpt_platform/frontend/src/playwright/publish-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/utils/auth.ts
Due: prettier, tsc
