Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: snap 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-06_230327_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-06_230327_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

renamed search history to search term and moved logging it until after the function returns
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251006084123_log_search_terms/migration.sql
  autogpt_platform/backend/migrations/20251007002516_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix merge conlict correction error
  autogpt_platform/backend/schema.prisma
Due: prisma-generate

FEAT: Optimize scheduler for full autonomous execution - 10x performance improvement
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

feat(frontend): enhance credential field UI and functionality
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: isort, prettier, pyright, tsc, pytest

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(frontend): update OpenAPI documentation for provider field
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

feat(backend/executor): add Discord alerts for unknown graph execution errors
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Anonymize the data by preventing correlation with other logs
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251007084233_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

move to platform
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix
  autogpt_platform/backend/backend/data/rabbitmq.py
Due: isort, pyright, pytest

feat(frontend): add an API key modal for adding credentials in new builder. (#11105)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): enhance OAuth credential handling and UI
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

update the frontend ci to generate the api files before running the tests
  .github/workflows/platform-frontend-ci.yml
Due: none

add make file for running core services
  autogpt_platform/Makefile
  autogpt_platform/README.md
Due: none

update commands
  autogpt_platform/Makefile
Due: none

instrument prometheus for internal services
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

added clamav and udpated readme
  autogpt_platform/Makefile
  autogpt_platform/README.md
Due: none

feat(backend): instrument prometheus for internal services (#11114)
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

use deps instead of listing each image
  autogpt_platform/Makefile
Due: none

add migrate and run commands
  autogpt_platform/Makefile
Due: none

feat: track users with sentry on client side (not backend yet) (#11077)
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/monitor/SentryUserTracker.tsx
Due: prettier, tsc

Refactor SmartDecisionMaker dynamic field handling and validation
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Due: isort, pyright, pytest

Refactor notification error handling tests
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/test_notifications.py
Due: isort, pyright, pytest

Allow Project.content to be optional
  autogpt_platform/backend/backend/blocks/linear/models.py
Due: isort, pyright, pytest

fix(backend): Allow Project.content to be optional for linear search projects (#11118)
  autogpt_platform/backend/backend/blocks/linear/models.py
Due: isort, pyright, pytest

fix(backend/notifications): handle processing notifiactions one at a time so we dont resend everything in a batch
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

Remove oversized notifications from batch permanently
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

Reformat test_notifications.py for improved readability
  autogpt_platform/backend/backend/notifications/test_notifications.py
Due: isort, pyright, pytest

feat(backend/notifications): implement user notification management for inactive users
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

ghrs: snap 10-07-2302-4CE2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-07_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none
