Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix: add LAST_RUN_AT to LibraryAgentSortEnum in frontend types
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

feat(platform): upload and download AutoPilot skills from the library
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/useSkillListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/UploadSkillButton/UploadSkillButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/UploadSkillButton/useUploadSkillButton.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): add usage indicator and recent-chat date variants
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/InsetHeaderActions/InsetHeaderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/UsageIndicator/UsageIndicator.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/UsageIndicator/useUsageIndicator.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/RecentChats.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/RecentChatItem/RecentChatItem.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/helpers.ts
Due: prettier, tsc

style(frontend): apply prettier formatting to skills upload/download files
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/useSkillListItem.ts
Due: prettier, tsc

fix(frontend): match CI prettier output for openapi.json skill schema
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(platform): handle virus-scan rejection on skill upload + guard download
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/useSkillListItem.ts
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): open usage popover from the new-layout usage indicator
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/UsageIndicator/UsageIndicator.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsagePopover/UsagePopover.tsx
Due: prettier, tsc

fix(frontend): address PR review feedback on new layout sidebar
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/PlatformChrome.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/usePlatformChrome.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/AppSidebarHeader/AppSidebarHeader.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/RecentChatItem/RecentChatItem.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Due: prettier, tsc

refactor(backend): hoist VirusDetectedError import to module scope in v1_test
  autogpt_platform/backend/backend/api/features/v1_test.py
Due: isort, pyright, pytest

fix(frontend): address follow-up review on new layout sidebar
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/helpers.ts
Due: prettier, tsc

fix(classic): harden outbound request handling
  classic/forge/forge/components/git_operations/git_operations.py
  classic/forge/forge/components/git_operations/test_git_operations.py
  classic/forge/forge/components/http_client/http_client.py
  classic/forge/forge/components/http_client/test_http_client.py
  classic/forge/forge/utils/test_url_validator.py
  classic/forge/forge/utils/url_validator.py
  classic/original_autogpt/scripts/llamafile/serve.py
  classic/original_autogpt/tests/unit/test_llamafile_serve.py
Due: isort, pyright, pytest

fix(blocks): omit zero-valued Exa extras counts from API payload
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/contents_test.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/helpers_cost_test.py
Due: isort, pyright, pytest

refactor(backend): reword copilot dialect docstring to avoid secret scanner
  autogpt_platform/backend/backend/copilot/config.py
Due: isort, pyright, pytest

fix(classic): cap litellm below the compromised 1.82.7 release
  classic/poetry.lock
  classic/pyproject.toml
Due: none

test(backend): strengthen hybrid_search contract test + parenthesize patches
  autogpt_platform/backend/backend/api/features/search/hybrid_search_test.py
Due: isort, pyright, pytest

fix(backend): source HybridSearchRow TypedDict from typing_extensions
  autogpt_platform/backend/backend/api/features/search/hybrid_search.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): separate AutoPilot text blocks so they don't run together
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
Due: isort, pyright, pytest

fix(frontend): only treat user schedules as scheduled in library
  autogpt_platform/frontend/src/app/(platform)/library/hooks/executionHelpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/library/hooks/executionHelpers.ts
Due: prettier, tsc

fix(frontend): use consistent marble avatar fallback in navbar
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/InitialAvatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/__tests__/InitialAvatar.test.tsx
Due: prettier, tsc

feat(copilot): Make Trigger Agent creation more consistent (#13309)
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/tools/get_agent_building_guide_test.py
Due: isort, pyright, pytest

fix(backend): Make connection retries abort on shutdown (#13382)
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

fix(backend): Resolve startup deprecation warnings (#13384)
  autogpt_platform/backend/backend/api/features/search/hybrid_search.py
  autogpt_platform/backend/backend/api/features/search/hybrid_search_test.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/contents_test.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/helpers_cost_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

test(backend/copilot): Fix reasoning + community-rebuild tests for fork PRs (#13406)
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/graphiti/communities_test.py
Due: isort, pyright, pytest

feat(backend/copilot-bot): let users upload files to AutoPilot via Discord
  autogpt_platform/backend/backend/copilot/bot/adapters/base.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/chat_test.py
  autogpt_platform/backend/backend/platform_linking/manager.py
  autogpt_platform/backend/backend/platform_linking/models.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): harden file upload per review (resilience, path safety, edge cases)
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/chat_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): use the sanitized filename for storage, not just the path
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/chat_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): cap batched file_ids to the per-turn limit
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): unsubscribe orphan thread when a file-only channel message has no usable uploads
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): don't drop the message if the attachment upload path errors
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): decide turn on new input, not history-laden message text
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

fix: harden chat title prompt against prompt injection (SECRT-2373) (#13186)
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): don't mislabel NotFoundError as a 'rejected' upload
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/chat_test.py
Due: isort, pyright, pytest

fix(backend): remove duplicate unreal_speech_api_key field in Secrets model (#13313)
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

feat(backend/copilot-bot): tell the user AND the model about dropped attachments
  autogpt_platform/backend/backend/copilot/bot/adapters/base.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

dx(platform): add platform_linking_manager to local docker-compose (opt-in) (#13133)
  autogpt_platform/backend/backend/copilot/bot/README.md
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
Due: pyright, pytest

fix(frontend): scope library "Scheduled" status to the user's own schedule (#13419)
  autogpt_platform/frontend/src/app/(platform)/library/__tests__/filter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/hooks/executionHelpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/library/hooks/executionHelpers.ts
Due: prettier, tsc

fix(backend): make credentials optional for local ollama models (#8952)
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

fix(backend): Check trigger event filter against unwrapped node input mask
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/webhook_preset_trigger_test.py
  autogpt_platform/backend/backend/api/features/library/triggers.py
  autogpt_platform/backend/backend/api/features/library/triggers_test.py
  autogpt_platform/backend/migrations/20251016151116_migrate_preset_trigger_params/migration.sql
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
