Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: snap 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-07_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-07_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat(frontend): implement copy-paste functionality in FlowEditor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useCopyPasteKeyboard.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/copyPasteStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Due: prettier, tsc

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/stores/copyPasteStore.ts
Due: prettier, tsc

fix(frontend): ensure all agents with graph_id appear in activity dropdown
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
Due: prettier, tsc

feat(frontend): integrate drag-and-drop functionality for block menu in Flow Editor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Due: prettier, tsc

feat(frontend): enhance StandardNodeBlock with context menu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
Due: prettier, tsc

feat(platform): WebSocket-based notifications (#11297)
  autogpt_platform/backend/backend/data/notification_bus.py
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/conn_manager_test.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/server/ws_api_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

feat(platform): Refactor edge handling in FlowEditor components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RIghtSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

Update endpoints
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

Backend `SCHEDULE_AGENT`
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
Due: isort, prettier, pyright, tsc, pytest

Add `resolveResponse` helper function
  autogpt_platform/frontend/src/app/api/helpers.ts
Due: prettier, tsc

Use `postV2AddMarketplaceAgent`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: prettier, tsc

Use `getV1OnboardingState`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

Use `patchV1UpdateOnboardingState`
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: isort, prettier, pyright, tsc, pytest

ghrs: snap 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-09_230243_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-09_230243_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
Due: prettier, tsc

Use `postV1CompleteOnboardingStep`
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: isort, prettier, pyright, tsc, pytest

revert changes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
Due: prettier, tsc

refactor(frontend): Replace legacy UI components with design system components
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
Due: prettier, tsc

refactor(frontend): Use generated API types and improve type safety
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
Due: prettier, tsc

fix(frontend): onboarding provider calls only when user is logged in
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

feat(platform): Add execution analytics admin endpoint with feature flag bypass (#11327)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

Update provider
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

Use `getV1RecommendedOnboardingAgents`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

Use `getV1IsOnboardingEnabled`
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

fix(frontend): enable admin impersonation for server-side rendered requests
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: prettier, tsc

fix(security): add Secure flag to admin impersonation cookies
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
Due: prettier, tsc

feat(frontend): supabase + zustand for speed (#11333)
  autogpt_platform/frontend/src/lib/supabase/hooks/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Due: prettier, tsc

feat(frontend): add cross-tab support for admin impersonation
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
Due: prettier, tsc

refactor(frontend): centralize admin impersonation logic with WebSocket support
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/impersonation.ts
Due: prettier, tsc

refactor(frontend): simplify impersonation code without WebSocket changes
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/impersonation.ts
Due: prettier, tsc

fix(frontend): remove unused IMPERSONATION_STORAGE_KEY import
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: prettier, tsc

fix(frontend): generate unique IDs for copied blocks in graph editor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useCopyPaste.ts
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
