Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(frontend/copilot): stop the experts along with the chat
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotStop.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStop.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: prettier, tsc

fix(home): wrap a long held-call headline instead of clipping it
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCallRow.tsx
Due: prettier, tsc

feat(frontend/copilot): rich approval card for a held hand-off
  autogpt_platform/frontend/src/app/(platform)/copilot/components/HandoffApprovalCard/HandoffApprovalCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/HandoffApprovalCard/components/HandoffActions.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/HandoffApprovalCard/components/HandoffBrief.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/HandoffApprovalCard/components/HandoffMeta.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/HandoffApprovalCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/HandoffApprovalCard/useHandoffApprovalCard.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffApprovalNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/HandoffApprovalNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useHandoffApproval.ts
Due: prettier, tsc

refactor(backend/copilot): move FalkorDB client construction into graphiti/falkordb_connect.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_connect.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_connect_test.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver_test.py
Due: isort, pyright, pytest

docs(backend/copilot): describe FalkorDB reply timeouts as per-reply deadlines
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_connect.py
Due: isort, pyright, pytest

docs(backend/copilot): make the nonce comments match the disclosed limit
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/context_refresh_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

feat(home): group held calls by Expert with batch decisions
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/RejectAllFooter.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-groups.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/GroupHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
Due: prettier, tsc

feat(frontend/copilot): Work panel controls, answers and timeline
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/delegationLiveStatus.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/delegations.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/WorkBadge.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/WorkTab.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/PanelTabs.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/WorkTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/__tests__/timeline.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationDetail.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationTimeline.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DetailActions.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DetailOutcome.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DetailSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/SubSessionReviews.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/WorkTotals.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/timeline.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/useDelegationControls.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/useWorkTab.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/useChatSessionDelegations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/__tests__/DelegationDock.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/delegationOutput.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegations.ts
Due: prettier, tsc

test(frontend/copilot): Work tab opens in the mobile sheet from the line and dock
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
Due: prettier, tsc

fix(frontend): clear stale avatar creator state
  autogpt_platform/frontend/src/app/(platform)/raise/flowItems.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/flowItems.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/generation.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/useAvatarGeneration.ts
Due: prettier, tsc

feat(platform): surface disabled blocks in builder
  autogpt_platform/backend/backend/api/features/builder/db.py
  autogpt_platform/backend/backend/api/features/builder/db_test.py
  autogpt_platform/backend/backend/blocks/_base.py
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/copilot): draft a ?prefill= answer into the composer only once
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useChatPrefillParam.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatPrefillParam.ts
Due: prettier, tsc

fix(frontend): expert card and chat chip polish
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-integrations.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/SessionNotFound.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ExpertIntegrations/ExpertIntegrations.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ThreadHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/ExpertIntegrationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertAvatarButton/ExpertAvatarButton.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertIdentityDetails/ExpertIdentityDetails.tsx
Due: prettier, tsc

docs(backend/copilot): say which typed tags the injected-block scrub leaves alone
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(backend/copilot): report needs_input when a delegated turn stops on a question
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/db_session_listing_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/prompting_test.py
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/get_sub_session_result.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_facts.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_needs_input_test.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
Due: isort, pyright, pytest

feat(backend/copilot): answer a session without opening its stream
  autogpt_platform/backend/backend/api/features/chat/answer.py
  autogpt_platform/backend/backend/api/features/chat/answer_test.py
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

fix(backend): release the send's claim when the queue fallback fails
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
Due: isort, pyright, pytest

fix(backend/copilot): account for big hubs and lost write acknowledgements truthfully
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/demotions.py
  autogpt_platform/backend/backend/copilot/dream/demotions_stateful_test.py
  autogpt_platform/backend/backend/copilot/dream/demotions_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/ratification.py
  autogpt_platform/backend/backend/copilot/dream/ratification_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes.py
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_guard_integration_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): a held call's headline names the acting Expert, not the supervisor
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
Due: isort, pyright, pytest

fix(backend/copilot): stop delegated threads with their parent and record the stop
  autogpt_platform/backend/backend/copilot/delegation_cancel.py
  autogpt_platform/backend/backend/copilot/delegation_cancel_test.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/sdk/cancelled_output.py
  autogpt_platform/backend/backend/copilot/sdk/cancelled_output_test.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_facts.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_facts_test.py
Due: isort, pyright, pytest

test(backend): build a real Sentry client from sentry_init's arguments and check it hooks no LaunchDarkly
  autogpt_platform/backend/backend/util/metrics_test.py
Due: isort, pyright, pytest

feat(backend/copilot): start a delegated thread in the delegator's approval mode
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/model_test.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert_test.py
Due: isort, pyright, pytest

fix(copilot): a held read's reason line and release button name the reader
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/heldRead.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ApprovalCard/ApprovalCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): only match a bare 402 status, drop the loose 'can only afford' pattern
  autogpt_platform/backend/backend/util/llm/provider_billing.py
  autogpt_platform/backend/backend/util/llm/provider_billing_test.py
Due: isort, pyright, pytest

feat(backend/copilot): rich, editable approval card for held hand-offs
  autogpt_platform/backend/backend/copilot/gate/__init__.py
  autogpt_platform/backend/backend/copilot/gate/handoff.py
  autogpt_platform/backend/backend/copilot/gate/handoff_db_test.py
  autogpt_platform/backend/backend/copilot/gate/held.py
  autogpt_platform/backend/backend/copilot/gate/review.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/realCards.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/referenceCards.json
Due: isort, prettier, pyright, tsc, pytest

style(llm): apply repo-pinned ruff format to new test
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Due: isort, pyright, pytest

feat(home): review held AutoPilot calls in a dialog
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-calls.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-dialog.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCall.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCallDetail.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCallRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldReceiptRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldReviewDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/ReviewSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useHeldReview.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useReviewCarousel.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/ExpertNeedsYouSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/__tests__/ExpertNeedsYouSection.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/useExpertNeedsYou.ts
Due: prettier, tsc

fix(copilot): give the content judge room to think and one retry on an empty answer
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_test.py
Due: isort, pyright, pytest

test(backend): assert the 500 a client sees when the queue fallback fails
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
Due: isort, pyright, pytest

test(backend/copilot): give the service-query skill fixture a word the query shares
  autogpt_platform/backend/backend/copilot/capabilities/index_test.py
Due: isort, pyright, pytest

feat(backend/copilot): trust reads of memories, installed skills and owned workspace paths (#14997)
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

feat(backend/copilot): per-user delegation settings with a daily budget and per-delegation cap
  autogpt_platform/backend/backend/api/features/experts/delegation_routes.py
  autogpt_platform/backend/backend/api/features/experts/delegation_routes_test.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/copilot/delegation_db.py
  autogpt_platform/backend/backend/copilot/delegation_db_test.py
  autogpt_platform/backend/backend/copilot/delegation_settings.py
  autogpt_platform/backend/backend/copilot/delegation_settings_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/tools/conftest.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/delegation_policy.py
  autogpt_platform/backend/backend/copilot/tools/delegation_policy_test.py
  autogpt_platform/backend/backend/copilot/tools/get_sub_session_result.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/migrations/20260928000000_add_user_delegation_settings/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

feat(backend/copilot): list a user's delegations with status, cost and counts
  autogpt_platform/backend/backend/api/features/experts/delegation_routes.py
  autogpt_platform/backend/backend/api/features/experts/delegation_routes_test.py
  autogpt_platform/backend/backend/api/features/experts/delegations.py
  autogpt_platform/backend/backend/api/features/experts/delegations_test.py
  autogpt_platform/backend/backend/copilot/delegation_list_db.py
  autogpt_platform/backend/backend/copilot/delegation_settings.py
  autogpt_platform/backend/backend/copilot/tools/delegation_policy.py
  autogpt_platform/backend/snapshots/delegations_list
Due: isort, pyright, pytest

feat(backend/copilot): Jev decides the content judge, Sonnet only quotes a hold
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_test.py
  autogpt_platform/backend/backend/copilot/gate/testdata/jev_content_answers.json
Due: isort, pyright, pytest

feat(frontend): dock files and expert integrations in the chat side panel
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-integrations.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ExpertIntegrations/ExpertIntegrations.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ThreadHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanelToggle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsTab/IntegrationsTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsToggle/IntegrationsToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsToggle/useExpertIntegrations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/useContextPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/ExpertIntegrationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useAreWorkspaceFileCardsOpen.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertIntegrationsSection/ExpertIntegrationsSection.tsx
Due: prettier, tsc

feat(backend/copilot): show hand-offs on Home under Needs you and Recent work
  autogpt_platform/backend/backend/api/features/experts/delegations.py
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/compose.py
  autogpt_platform/backend/backend/api/features/home/delegation_items.py
  autogpt_platform/backend/backend/api/features/home/delegation_items_test.py
  autogpt_platform/backend/backend/api/features/home/models.py
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/home/service_test.py
  autogpt_platform/backend/snapshots/delegations_list
Due: isort, pyright, pytest

fix(copilot): a held read's reason quotes the page's words
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
Due: isort, pyright, pytest

feat(frontend): regenerate the API schema for the delegation endpoints
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

dx(frontend): remove unused dependencies (#14937)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Due: prettier, tsc
