Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

dx(platform/copilot): reproduce each known cause of the chat drifting from the backend (#15060)
  .github/scripts/backend-allowed-skips.json
  autogpt_platform/backend/backend/copilot/stream_drift/__init__.py
  autogpt_platform/backend/backend/copilot/stream_drift/conftest.py
  autogpt_platform/backend/backend/copilot/stream_drift/drift_causes_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/recorded_turns_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/recording.py
  autogpt_platform/backend/backend/copilot/stream_drift/scripted.py
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-tool-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-tool-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-tool-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/dummy-text-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/dummy-text-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/dummy-text-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-late-tool-result/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-late-tool-result/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-late-tool-result/rows.json
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/backend-sim.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/drift-report.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-drift-content.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-drift-guards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-drift-reconnects.test.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(platform): wait for onboarding layout flags
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/layout.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingLayout.ts
Due: prettier, tsc

fix(platform): restore onboarding drafts without redundant saves
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/wizard-progress.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/loadWizardProgress.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useWizardProgress.ts
Due: prettier, tsc

fix(platform): await retryable onboarding profile saves
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/brain-dump.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/progress.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingPage.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingProfile.ts
Due: prettier, tsc

dx(frontend/copilot): pin that a tool call's own row reloads into the same bubble
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/tool-row-render.test.ts
Due: prettier, tsc

fix(backend/copilot): hold a checkpoint while a tool-call back-fill is pending
  autogpt_platform/backend/backend/copilot/stream_checkpoint.py
  autogpt_platform/backend/backend/copilot/stream_checkpoint_test.py
Due: isort, pyright, pytest

feat(backend/copilot): id every stream entry, checkpoint every persist, and resume a turn from a cursor
  .github/scripts/backend-allowed-skips.json
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/stream_resume_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/sdk/dummy.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/session_waiter.py
  autogpt_platform/backend/backend/copilot/stream_checkpoint.py
  autogpt_platform/backend/backend/copilot/stream_drift/checkpoints_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/conftest.py
  autogpt_platform/backend/backend/copilot/stream_drift/drift_causes_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/recorded_turns_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/recording.py
  autogpt_platform/backend/backend/copilot/stream_drift/scripted.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_resume_test.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-tool-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-tool-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/dummy-text-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/dummy-text-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-late-tool-result/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-late-tool-result/frames.jsonl
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/backend-sim.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-wire-compat.test.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): open a new assistant row for a tool call after tool results
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/stream_drift/recorded_turns_test.py
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-consecutive-tools-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-consecutive-tools-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-consecutive-tools-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-consecutive-tools-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-consecutive-tools-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-consecutive-tools-turn/rows.json
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-wire-compat.test.ts
Due: isort, prettier, pyright, tsc, pytest

dx(backend/copilot): record the stream fixtures' rows from Postgres
  autogpt_platform/backend/backend/copilot/stream_drift/conftest.py
  autogpt_platform/backend/backend/copilot/stream_drift/recorded_turns_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/recording.py
  autogpt_platform/backend/backend/copilot/stream_drift/scripted.py
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-tool-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/dummy-text-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-late-tool-result/rows.json
Due: isort, pyright, pytest

fix(backend/copilot): stream every row a turn persists, in the order it persists them
  autogpt_platform/backend/backend/copilot/baseline/reasoning.py
  autogpt_platform/backend/backend/copilot/baseline/reasoning_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/pending_message_helpers.py
  autogpt_platform/backend/backend/copilot/pending_messages.py
  autogpt_platform/backend/backend/copilot/pending_messages_test.py
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/stream_checkpoint.py
  autogpt_platform/backend/backend/copilot/stream_drift/checkpoints_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/fold.py
  autogpt_platform/backend/backend/copilot/stream_drift/recorded_turns_test.py
  autogpt_platform/backend/backend/copilot/stream_drift/recording.py
  autogpt_platform/backend/backend/copilot/stream_drift/scripted.py
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-drain-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-drain-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/baseline-drain-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-auto-continue-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-auto-continue-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-auto-continue-turn/rows.json
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-reasoning-turn/entries.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-reasoning-turn/frames.jsonl
  autogpt_platform/backend/test/fixtures/copilot_stream/sdk-reasoning-turn/rows.json
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-wire-compat.test.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/copilot): keep the shadow's finish check for a view that reaches the turn
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnShadow.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnShadow.ts
Due: prettier, tsc

fix(frontend/copilot): keep a finished turn's shadow until it is checked, and bound the shadows kept
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnShadow.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnShadow.ts
Due: prettier, tsc

fix(frontend/copilot): give each message of an auto-continued turn its own assistant row
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnConverter.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnConverter.ts
Due: prettier, tsc

fix(frontend/copilot): open a new assistant row for a tool call after tool results
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnConverter.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnLog.ts
Due: prettier, tsc

feat(frontend/copilot): fold the chat stream into the persisted rows and check it against the server, in shadow
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-shadow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/renderTurnLog.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/recordedTurns.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/replayEquivalence.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/sseClient.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnConverter.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnShadow.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/sseClient.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnConverter.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnLog.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnShadow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
Due: prettier, tsc

fix(frontend/copilot): drop the shadow tap's abort listener once the tap ends
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnShadow.ts
Due: prettier, tsc

fix(frontend/copilot): ship the stream shadow dark, and report a turn whose stream ended before finish
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-shadow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/pacedTransport.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnShadow.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnShadow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(backend/copilot): queue the held-call test's chunks as stream entries
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
Due: isort, pyright, pytest

fix(backend/copilot): judge a heredoc write into the workspace as a file write, not a shell command (#15037)
  autogpt_platform/backend/backend/copilot/gate/shell_write.py
  autogpt_platform/backend/backend/copilot/gate/shell_write_test.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/gate_subject_test.py
Due: isort, pyright, pytest

fix(platform): cap private images at proxy buffer limit
  autogpt_platform/backend/backend/api/features/store/media.py
  autogpt_platform/backend/backend/api/features/store/media_test.py
  autogpt_platform/backend/backend/api/features/store/public_media_test.py
  autogpt_platform/backend/scripts/test_backfill_private_media_urls.py
  autogpt_platform/frontend/src/lib/__tests__/direct-upload.test.ts
  autogpt_platform/frontend/src/lib/direct-upload.ts
  docs/platform/workspace-media-architecture.md
Due: isort, prettier, pyright, tsc, pytest

fix(platform): serve oversized private media with signed URLs
  autogpt_platform/backend/backend/api/features/oauth.py
  autogpt_platform/backend/backend/api/features/oauth_storage_test.py
  autogpt_platform/backend/backend/api/features/store/media.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/backend/api/features/store/submission_media.py
  autogpt_platform/backend/backend/api/features/store/submission_media_test.py
  autogpt_platform/backend/backend/util/gcs_utils.py
  autogpt_platform/backend/backend/util/gcs_utils_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/api/proxy/[...path]/__tests__/route.test.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  docs/platform/workspace-media-architecture.md
Due: isort, prettier, pyright, tsc, pytest

test(platform): clean up storage settings import
  autogpt_platform/backend/backend/util/settings_storage_test.py
Due: isort, pyright, pytest

test(copilot): stub the login-file check the sandbox grep now makes
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
Due: isort, pyright, pytest

feat(frontend/copilot): fold the chat stream into the rows the server persists, and report where they drift (#15088)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-shadow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/renderTurnLog.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/pacedTransport.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/recordedTurns.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/replayEquivalence.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/sseClient.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnConverter.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnShadow.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/sseClient.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnConverter.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnLog.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnShadow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(backend/llm): add Mistral Medium 3.5, Small 4 and Ministral 3 to the model registry
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

fix(platform): harden split-storage edge cases
  autogpt_platform/backend/backend/api/features/store/media.py
  autogpt_platform/backend/backend/api/features/store/media_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/settings_storage_test.py
  docs/platform/workspace-media-architecture.md
Due: isort, pyright, pytest

perf(platform): avoid blocking private media signing
  autogpt_platform/backend/backend/api/features/store/submission_media.py
  autogpt_platform/backend/backend/api/features/store/submission_media_test.py
Due: isort, pyright, pytest

fix(copilot): judge an MCP error's hint and a picker credential refusal as ours
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/helpers_test.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
Due: isort, pyright, pytest

fix(backend): PostHog flag sync can create a flag that serves nobody, and says why a request was refused (#15181)
  autogpt_platform/backend/scripts/feature_flag_sync.py
  autogpt_platform/backend/scripts/feature_flag_sync_test.py
  autogpt_platform/backend/scripts/sync_feature_flags_to_posthog.py
Due: isort

feat(backend/llm): retire Mistral Medium 3.1 and Small 3.2 in favour of Medium 3.5 and Small 4
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models_test.py
Due: isort, pyright, pytest

feat(backend/llm): add Mistral Large 4 (#15203)
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

fix(backend/billing): acknowledge Stripe refunds and disputes that match no credit top-up
  autogpt_platform/backend/backend/api/features/v1_stripe_webhook_test.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): end a turn the server stopped without its finish, instead of resuming it forever
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/drift/stream-drift-guards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/fakeBackend.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/textReveal.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnRuntime.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnTail.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/textReveal.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnRuntime.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnTail.ts
Due: prettier, tsc

feat(backend): unsubscribe an existing MailerLite subscriber on a signup refusal
  autogpt_platform/backend/backend/api/features/user/routes_test.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/notifications/checkout_audience_test.py
  autogpt_platform/backend/backend/notifications/mailerlite.py
  autogpt_platform/backend/backend/notifications/mailerlite_unsubscribe_test.py
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

feat(backend): record a MailerLite unsubscribe as a marketing opt-out
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/mailerlite/__init__.py
  autogpt_platform/backend/backend/api/features/mailerlite/routes.py
  autogpt_platform/backend/backend/api/features/mailerlite/routes_test.py
  autogpt_platform/backend/backend/api/features/user/routes_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend): re-check the marketing opt-out before each MailerLite write
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/notifications/audience_consent_recheck_test.py
  autogpt_platform/backend/backend/notifications/conftest.py
  autogpt_platform/backend/backend/notifications/mailerlite.py
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

fix(platform): address review nits on the signup consent change
  autogpt_platform/backend/backend/api/features/user/routes_test.py
  autogpt_platform/backend/backend/cli/mailerlite_backfill.py
  autogpt_platform/backend/backend/data/checkout_audience_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/notifications/audience_consent_recheck_test.py
  autogpt_platform/backend/backend/notifications/consent.py
  autogpt_platform/backend/backend/notifications/consent_test.py
  autogpt_platform/backend/backend/notifications/mailerlite.py
  autogpt_platform/backend/backend/notifications/mailerlite_backfill.py
  autogpt_platform/backend/backend/notifications/mailerlite_backfill_test.py
  autogpt_platform/backend/backend/notifications/mailerlite_unsubscribe_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/signup/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/posthog-events.test.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/signup-analytics.test.ts
  autogpt_platform/frontend/src/services/analytics/posthog-events.ts
  autogpt_platform/frontend/src/services/analytics/signup-analytics.ts
  docs/engineering/tracking-plan.md
Due: isort, prettier, pyright, tsc, pytest
