Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

dx(backend): delete the graphs and store listings that tests create
  autogpt_platform/backend/backend/conftest.py
Due: isort, pyright, pytest

feat(frontend/marketplace): include public expert pages in a maintained sitemap (SECRT-2750) (#14901)
  autogpt_platform/frontend/src/app/__tests__/robots.test.ts
  autogpt_platform/frontend/src/app/__tests__/sitemap.test.ts
  autogpt_platform/frontend/src/app/robots.ts
  autogpt_platform/frontend/src/app/sitemap.ts
Due: prettier, tsc

ci(backend): allow the sandbox isolation test to skip where bwrap has no namespaces
  .github/scripts/backend-allowed-skips.json
Due: none

fix(backend): only a graph's owner sees their picked files, on every path
  autogpt_platform/backend/backend/api/features/graphs/routes.py
  autogpt_platform/backend/backend/api/features/graphs/routes_test.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
Due: isort, pyright, pytest

fix(backend/executor): finish skipped nodes instead of leaving them QUEUED
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/execution_node_status_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_skipped_node_test.py
Due: isort, pyright, pytest

test(copilot/gate): retire tests that protect nothing observable
  autogpt_platform/backend/backend/copilot/gate/classifier_test.py
  autogpt_platform/backend/backend/copilot/gate/gate_test.py
  autogpt_platform/backend/backend/copilot/gate/policy_test.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
  autogpt_platform/backend/backend/copilot/gate/review_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/ApprovalQueue.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/InfoCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/InfoCards.test.tsx
Due: isort, prettier, pyright, tsc, pytest

dx(backend): stop parallel test runs clobbering each other's docker stack
  autogpt_platform/backend/scripts/run_tests.py
  autogpt_platform/backend/scripts/run_tests_test.py
Due: isort

fix(backend/executor): ask for a file instead of silently skipping an empty picker
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): drop the import only SetupCard used
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/InfoCards.tsx
Due: prettier, tsc

feat(platform/copilot): a named reference's hover is a card, and folder headlines say library folder
  autogpt_platform/backend/backend/api/features/home/attention_test.py
  autogpt_platform/backend/backend/copilot/gate/headline.py
  autogpt_platform/backend/backend/copilot/gate/reference_cards_test.py
  autogpt_platform/backend/backend/copilot/gate/references.py
  autogpt_platform/backend/backend/copilot/gate/references_db_test.py
  autogpt_platform/backend/backend/copilot/gate/references_test.py
  autogpt_platform/backend/backend/copilot/gate/review_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/ApprovalQueue.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/ApprovalQueue.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/goToApproval.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/referenceCards.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/references.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ApprovalHeadline.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/heldRow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/components/ReferenceLink.tsx
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/components/ReferenceValue.tsx
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

feat(backend/copilot): supervisor harness takes a tune/holdout split, a question-first answer format and a Jev question spec
  autogpt_platform/backend/scripts/supervisor_eval/actions.json
  autogpt_platform/backend/scripts/supervisor_eval/jev_stub.py
  autogpt_platform/backend/scripts/supervisor_eval/measure.py
  autogpt_platform/backend/scripts/supervisor_eval/rescore.py
  autogpt_platform/backend/scripts/supervisor_eval/split.json
  autogpt_platform/backend/scripts/supervisor_eval/variants/jev-q4.json
  autogpt_platform/backend/scripts/supervisor_eval/variants/r1-format.txt
  autogpt_platform/backend/scripts/supervisor_eval/variants/r1q-format-qfirst.txt
  autogpt_platform/backend/scripts/supervisor_eval/variants/r2-undo.txt
  autogpt_platform/backend/scripts/supervisor_eval/variants/r3-asked.txt
  autogpt_platform/backend/scripts/supervisor_eval/variants/r4-scope.txt
Due: isort

fix(backend): register the hosted Link client only when fully configured
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/router_test.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/integrations/creds_manager_test.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted_test.py
Due: isort, pyright, pytest

fix(backend): clear picked files on every read by someone who isn't the owner
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/backend/api/features/library/model_test.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
Due: isort, pyright, pytest

dx(backend): only count docker-compose.test.yaml containers as a test run
  autogpt_platform/backend/scripts/run_tests.py
  autogpt_platform/backend/scripts/run_tests_test.py
Due: isort

feat(backend/copilot): outside reads are judged before the model sees them; a read carrying instructions is held for the user (#14834)
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/gate/classifier.py
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_rubric.txt
  autogpt_platform/backend/backend/copilot/gate/content_test.py
  autogpt_platform/backend/backend/copilot/gate/headline.py
  autogpt_platform/backend/backend/copilot/gate/held.py
  autogpt_platform/backend/backend/copilot/gate/mcp_seam.py
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
  autogpt_platform/backend/backend/copilot/gate/review.py
  autogpt_platform/backend/backend/copilot/gate/store_db_test.py
  autogpt_platform/backend/backend/copilot/gate/testdata/content_corpus.json
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/base.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/ApprovalQueue.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/heldRead.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ApprovalCard/ApprovalCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ApprovalCard/HeldPassage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ReceiptLine.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/useApprovalQueue.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HeldCallRowParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/heldRow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/heldRow.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/executor): a link into one attribute doesn't supply a picked file
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

fix(backend): rewrite the expert text that was built on Grok Bot templates
  autogpt_platform/backend/backend/api/features/experts/seed.py
  autogpt_platform/backend/backend/api/features/store/starter_skills/alex-getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/budget-vs-actuals-and-reforecast.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/build-the-target-list.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/candidate-sourcing-strategy.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/channel-draft-shapes.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/competitive-intelligence.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/content-brief-writer-handoff.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/discovery-and-qualification.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/draft-a-first-touch.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/draft-a-follow-up.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/find-the-decision-makers.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/hiring-debrief-and-decision.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/hiring-pipeline-analytics.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/interview-coordination.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/interview-kit-design.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/james-getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/job-description-drafting.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/max-getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/maya-getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/messaging-and-tone-matrix.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/multithread-and-stakeholder-maps.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/next-step-and-handoff.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/passive-candidate-outreach.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/product-market-and-competitor-read.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/robin-getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/role-intake-and-scorecard.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/sofia-getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/territory-and-account-planning.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/voice-of-customer-loop.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/weekly-marketing-read.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/zara-getting-started.md
Due: isort, pyright, pytest

ci(platform): run the full-stack e2e job on a free runner (#14870)
  .github/workflows/platform-fullstack-ci.yml
Due: none

feat(platform/copilot): hover cards say cadence and times as a person would, and expert cards show skills
  autogpt_platform/backend/backend/copilot/gate/reference_cards_test.py
  autogpt_platform/backend/backend/copilot/gate/references.py
  autogpt_platform/backend/backend/copilot/gate/references_db_test.py
  autogpt_platform/backend/backend/copilot/gate/references_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/referenceCards.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/references.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/helpers.ts
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/components/ReferenceCard.tsx
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/components/ReferenceLink.tsx
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): stop the Sentry scrubber silently dropping error events (#14880)
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/metrics_test.py
Due: isort, pyright, pytest

fix(platform/copilot): an unlinked reference card opens from the keyboard, and a file folder reads without its slash
  autogpt_platform/backend/backend/copilot/gate/references.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/referenceCards.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/references.test.tsx
  autogpt_platform/frontend/src/components/organisms/ApprovalFields/components/ReferenceLink.tsx
Due: isort, prettier, pyright, tsc, pytest

test(backend/copilot): keep the host-dependent sandbox test out of coverage
  autogpt_platform/backend/backend/copilot/tools/sandbox_test.py
Due: isort, pyright, pytest

fix(platform): treat an explicit default port as the same checkout page
  autogpt_platform/backend/backend/util/link_checkout/link.py
  autogpt_platform/backend/backend/util/link_checkout/link_test.py
Due: isort, pyright, pytest

dx(backend): delete the graphs and store listings that tests create (#14920)
  autogpt_platform/backend/backend/conftest.py
Due: isort, pyright, pytest

fix(backend/executor): finish skipped nodes instead of leaving them QUEUED (#14921)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/execution_node_status_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_skipped_node_test.py
Due: isort, pyright, pytest

dx(backend): stop parallel test runs clobbering each other's docker stack (#14923)
  autogpt_platform/backend/scripts/run_tests.py
  autogpt_platform/backend/scripts/run_tests_test.py
Due: isort

fix(backend/executor): ask for a file instead of silently skipping an empty picker (#14924)
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

feat(platform): AutoPilot decides MCP calls on each server's effect map and asks on first use of any other tool (#14839)
  autogpt_platform/backend/backend/api/features/graph_executions/review/model.py
  autogpt_platform/backend/backend/api/features/graph_executions/review/model_test.py
  autogpt_platform/backend/backend/api/features/graph_executions/review/review_routes_test.py
  autogpt_platform/backend/backend/api/features/graph_executions/review/routes.py
  autogpt_platform/backend/backend/copilot/capabilities/mcp_review.py
  autogpt_platform/backend/backend/copilot/gate/__init__.py
  autogpt_platform/backend/backend/copilot/gate/chat_rules.py
  autogpt_platform/backend/backend/copilot/gate/chat_rules_test.py
  autogpt_platform/backend/backend/copilot/gate/gate_test.py
  autogpt_platform/backend/backend/copilot/gate/held.py
  autogpt_platform/backend/backend/copilot/gate/held_db_test.py
  autogpt_platform/backend/backend/copilot/gate/review.py
  autogpt_platform/backend/backend/copilot/gate/review_test.py
  autogpt_platform/backend/backend/copilot/gate/subject.py
  autogpt_platform/backend/backend/copilot/tools/gate_mcp_test.py
  autogpt_platform/backend/backend/copilot/tools/gate_subject_test.py
  autogpt_platform/backend/backend/copilot/tools/run_capability.py
  autogpt_platform/backend/backend/integrations/mcp_catalog.py
  autogpt_platform/backend/backend/integrations/mcp_catalog_test.py
  autogpt_platform/backend/backend/integrations/mcp_effects.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/ApprovalQueue.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/chatRule.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/realCards.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/useApprovalQueue.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(platform): settle the in-chat approval card when a load or send fails
  autogpt_platform/backend/backend/copilot/tools/agent_browser_test.py
  autogpt_platform/backend/backend/util/link_checkout/runtime.py
  autogpt_platform/backend/backend/util/link_checkout/worker.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/LinkCheckout.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/__tests__/LinkCheckout.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/components/InChatApproval/InChatApproval.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/components/InChatApproval/components/SettledDecision.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/components/InChatApproval/useInChatApproval.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/components/LinkCheckout/useLinkCheckout.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): finish a hosted Link disconnect when the revoking client cannot be built
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/router_test.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted_test.py
Due: isort, pyright, pytest

feat(backend/copilot): tuned action-supervisor rubric for Haiku
  autogpt_platform/backend/backend/copilot/gate/action_rubric.txt
Due: pyright, pytest

fix(backend): revoke hosted Link grants without needing a frontend URL
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/router_test.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted_test.py
Due: isort, pyright, pytest

fix(platform): let a cancelled payment worker stay a cancellation
  autogpt_platform/backend/backend/util/link_checkout/runner.py
  autogpt_platform/backend/backend/util/link_checkout/runner_test.py
Due: isort, pyright, pytest

feat(backend/copilot): supervisor set grown by 75 items across the four round-1 blind-spot shapes, re-split, and the harness scores per shape and the fired question
  autogpt_platform/backend/scripts/supervisor_eval/actions.json
  autogpt_platform/backend/scripts/supervisor_eval/measure.py
  autogpt_platform/backend/scripts/supervisor_eval/split.json
  autogpt_platform/backend/scripts/supervisor_eval/split.py
  autogpt_platform/backend/scripts/supervisor_eval/variants/jev-q4h.json
  autogpt_platform/backend/scripts/supervisor_eval/variants/r3h-own-state.txt
  autogpt_platform/backend/scripts/supervisor_eval/variants/r7e-shape-examples.txt
Due: isort

fix(frontend/marketplace): make public expert profiles readable by search engines (SECRT-2749) (#14902)
  autogpt_platform/frontend/src/app/(platform)/marketplace/(home)/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/(home)/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/loading-states.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/[expertId]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/expert-page-ssr.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/generateMetadata.test.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/loading.tsx
  autogpt_platform/frontend/src/services/feature-flags/__tests__/feature-flag-provider.test.tsx
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/services/feature-flags/flag-resolution.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
