Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: stars and forks 04-19-2302-C6FE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 04-19-2302-C6FE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ghrs: snap 04-20-2302-F05B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-20_230241_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-20_230241_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-20_230241_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 04-20-2302-F05B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-20_230241_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 04-20-2302-F05B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 04-20-2302-F05B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(library/run): Replace credits to cents (#9845)
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
Due: prettier, tsc

Add captcha to login, signup and password reset pages
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/turnstile/__init__.py
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes.py
  autogpt_platform/backend/backend/server/v2/turnstile/service.py
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/reset_password/actions.ts
  autogpt_platform/frontend/src/app/reset_password/page.tsx
  autogpt_platform/frontend/src/app/signup/actions.ts
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/auth/index.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
Due: isort, prettier, pyright, tsc, pytest

add secrets config
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/.env.example
Due: isort, prettier, pyright, tsc, pytest

Forking agent UI
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
Due: prettier, tsc

Suppress exception instead of if guard for credit reward
  autogpt_platform/backend/backend/data/credit.py
Due: isort, pyright, pytest

fixes
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
Due: prettier, tsc

Prettier
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/reset_password/actions.ts
  autogpt_platform/frontend/src/app/reset_password/page.tsx
  autogpt_platform/frontend/src/app/signup/actions.ts
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
Due: prettier, tsc

format
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

add missing parameters
  autogpt_platform/backend/backend/server/v2/turnstile/service.py
Due: isort, pyright, pytest

fix(platform): Fix Google Maps API Key setting through env
  autogpt_platform/backend/backend/integrations/credentials_store.py
Due: isort, pyright, pytest

Create python-app.yml
  .github/workflows/python-app.yml
Due: none

feat: bring back console
  autogpt_platform/backend/backend/blocks/basic.py
Due: isort, pyright, pytest

Update basic.py
  autogpt_platform/backend/backend/blocks/basic.py
Due: isort, pyright, pytest

Format
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/admin/marketplace/approve-reject-buttons.tsx
Due: prettier, tsc

Revert unrelated frontend yarn.lock changes
  autogpt_platform/frontend/yarn.lock
Due: prettier, tsc

formatted the frontend
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Due: prettier, tsc

add latest llm's
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

feat(backend): Adds latest llm models (#9856)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

<Suspense> onboarding
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/1-welcome/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/2-reason/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/3-services/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/layout.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/(platform)/unauthorized/page.tsx
Due: prettier, tsc

fix(platform): Fix Google Maps API Key setting through env (#9848)
  autogpt_platform/backend/backend/integrations/credentials_store.py
Due: isort, pyright, pytest

Move onboarding layout to `app/(no-navbar)`
  autogpt_platform/frontend/src/app/(no-navbar)/layout.tsx
Due: prettier, tsc

ghrs: snap 04-21-2302-66AF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-21_230241_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-21_230241_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-21_230241_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 04-21-2302-66AF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 04-21-2302-66AF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-21_230241_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 04-21-2302-66AF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Wrap <OttoChatWidget> in <Suspense>
  autogpt_platform/frontend/src/app/layout.tsx
Due: prettier, tsc

Cleanup
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
