Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

chore: validate Ollama credential fixes
  .github/workflows/temporary-validate-ollama-review.yml
Due: none

chore: validate phantom output edge fixes
  .github/workflows/temporary-validate-phantom-edges.yml
Due: none

chore: generate API client before phantom-edge test
  .github/workflows/temporary-validate-phantom-edges.yml
Due: none

chore: finish Ollama review fixes
  .github/workflows/temporary-finish-ollama-review.yml
Due: none

fix(platform/llm): finish Ollama credential review fixes
  .github/workflows/temporary-finish-ollama-review.yml
  .github/workflows/temporary-validate-ollama-review.yml
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/no_auth_credentials_test.py
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/CredentialsInput.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
Due: isort, prettier, pyright, tsc, pytest

chore: validate final Ollama credential fixes
  .github/workflows/temporary-validate-ollama-final.yml
Due: none

test(builder): expand dynamic phantom output before child assertions
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/OutputHandler.test.tsx
Due: prettier, tsc

chore: mirror upstream Prisma and typecheck setup
  .github/workflows/temporary-validate-ollama-final.yml
Due: none

chore: remove temporary phantom-edge validation workflow
  .github/workflows/temporary-validate-phantom-edges.yml
Due: none

chore: isolate Ollama unit tests from integration fixtures
  .github/workflows/temporary-validate-ollama-final.yml
Due: none

chore: run isolated final Ollama checks
  .github/workflows/temporary-validate-ollama-quick.yml
Due: none

chore: generate Prisma client for isolated Ollama checks
  .github/workflows/temporary-validate-ollama-quick.yml
Due: none

chore: remove temporary Ollama validation workflows
  .github/workflows/temporary-validate-ollama-final.yml
  .github/workflows/temporary-validate-ollama-quick.yml
Due: none

chore: validate and apply Ollama preflight fix
  .github/workflows/temporary-fix-ollama-preflight.yml
Due: none

fix(platform/llm): allow no-auth Ollama through preflight
  .github/workflows/temporary-fix-ollama-preflight.yml
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

feat(platform): writing-style capture in hire flow (#14027)
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/models_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
  autogpt_platform/backend/backend/copilot/briefing/narrative.py
  autogpt_platform/backend/backend/copilot/briefing/narrative_test.py
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/snapshots/expert_soul_update
  autogpt_platform/backend/snapshots/expert_templates_list
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/ExpertProfileSheet.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/useExpertProfileSheet.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/organisms/VoicePicker/VoicePicker.tsx
  autogpt_platform/frontend/src/components/organisms/VoicePicker/__tests__/VoicePicker.test.tsx
  autogpt_platform/frontend/src/components/organisms/VoicePicker/helpers.test.ts
  autogpt_platform/frontend/src/components/organisms/VoicePicker/helpers.ts
  autogpt_platform/frontend/src/components/organisms/VoicePicker/useVoicePicker.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(platform): drop expert run work card from the chat thread
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/data/expert_run_output_test.py
  autogpt_platform/backend/backend/executor/expert_posts.py
  autogpt_platform/backend/backend/executor/expert_posts_test.py
  autogpt_platform/backend/snapshots/expert_runs_list
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/WorkCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/__tests__/WorkCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertWorkSection/ExpertWorkSection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

Revert "refactor(platform): drop expert run work card from the chat thread"
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/data/expert_run_output_test.py
  autogpt_platform/backend/backend/executor/expert_posts.py
  autogpt_platform/backend/backend/executor/expert_posts_test.py
  autogpt_platform/backend/snapshots/expert_runs_list
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/WorkCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/__tests__/WorkCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertWorkSection/ExpertWorkSection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

docs(backend): align chat_message_has_assistant_reply docstring with name
  autogpt_platform/backend/backend/copilot/db.py
Due: isort, pyright, pytest

fix(backend): say the run happened in the background in expert run posts
  autogpt_platform/backend/backend/executor/expert_posts.py
  autogpt_platform/backend/backend/executor/expert_posts_test.py
Due: isort, pyright, pytest

feat(frontend): sidebar team members with presence + create menu (#14036)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/ExpertsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/CreateMenu/CreateMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/team/page.tsx
  autogpt_platform/frontend/src/components/atoms/Tooltip/BaseTooltip.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/__tests__/AppSidebar.test.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/SidebarTeamMembers.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/helpers.test.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/helpers.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/useSidebarTeamMembers.ts
  autogpt_platform/frontend/src/lib/constants.ts
Due: prettier, tsc

refactor(backend): clarify the expert write gate and spend-read cap
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

test(frontend/builder): assert deleteKeyCode/onNodeContextMenu value and behavior
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/__tests__/Flow.test.tsx
Due: prettier, tsc

test(frontend): pin kickoff inertness when the roster refuses the expert
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-kickoff.test.tsx
Due: prettier, tsc

test(backend): pin read-only history for a fired expert's session
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
Due: isort, pyright, pytest

fix(frontend): gate the profile sheet team lookup on auth
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/useExpertProfileSheet.tsx
Due: prettier, tsc

fix(platform): address pods review — cache write, pod cap, props convention
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/snapshots/expert_pod_assign
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/CreateMenu/CreateMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/NewPodDialog/NewPodDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/TeamRoster/TeamRoster.tsx
  autogpt_platform/frontend/src/app/(platform)/team/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/team/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/team/page.tsx
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(platform/llm): defer linked Ollama credential discrimination
  autogpt_platform/backend/backend/executor/no_auth_credentials.py
Due: isort, pyright, pytest

test(platform/llm): cover linked no-auth model preflight
  autogpt_platform/backend/backend/executor/no_auth_credentials_test.py
Due: isort, pyright, pytest

style(platform/llm): format no-auth credential helper
  autogpt_platform/backend/backend/executor/no_auth_credentials.py
Due: isort, pyright, pytest

ci: temporarily sync generated docs for PR merge
  .github/workflows/temporary-sync-pr-block-docs.yml
Due: none

ci: fix temporary docs sync identity
  .github/workflows/temporary-sync-pr-block-docs.yml
Due: none

ci: safely restore branch after docs generation
  .github/workflows/temporary-sync-pr-block-docs.yml
Due: none

docs(platform): sync generated block docs with dev
  .github/workflows/temporary-sync-pr-block-docs.yml
  docs/integrations/block-integrations/misc.md
Due: none

ci: patch credential schema test fixture
  .github/workflows/temporary-fix-credentials-test.yml
Due: none

test(platform/frontend): use complete credential schema fixtures
  .github/workflows/temporary-fix-credentials-test.yml
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
Due: prettier, tsc

refactor(backend): document the pod cap's concurrency bound
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
