Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(backend): route read-only Cypher through GRAPH.RO_QUERY (#14145)
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver_test.py
Due: isort, pyright, pytest

fix(backend): provision the platform User row on first authenticated touch (#14147)
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/backend/backend/data/user.py
Due: isort, pyright, pytest

feat(backend): pin featured providers first in builder providers list
  autogpt_platform/backend/backend/api/features/builder/db.py
Due: isort, pyright, pytest

test(backend): cover featured-provider ordering in get_providers
  autogpt_platform/backend/backend/api/features/builder/db_test.py
Due: isort, pyright, pytest

fix: layout
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/WhatRunsZone.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(frontend): call the adoptable list "Your workflows" and match heading sizes (#14142)
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/WhatRunsZone.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(backend/copilot): make expert delegation and team state stale-proof
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_change_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_delegation.py
  autogpt_platform/backend/backend/copilot/tools/expert_proposal.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/list_team.py
  autogpt_platform/backend/backend/copilot/tools/list_team_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/raise_expert.py
Due: isort, pyright, pytest

feat(platform/copilot): selectable ask_question options and Needs-You prompting rule
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionAnswerField.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/__tests__/clarifying-questions.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/clarifying-questions.ts
Due: isort, prettier, pyright, tsc, pytest

dx(frontend/copilot): dev-only token/context devtool in the composer tray
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/tokenDevtool.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/TokenDevtoolBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool.ts
Due: prettier, tsc

feat(frontend/copilot): chain UI polish — card resize, expert skeletons, minimap and artifact tweaks
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/__tests__/ArtifactPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ChainMessageParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/TailSpacer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/ChatMinimap.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/__tests__/ChatMinimap.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ExpertCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolChain.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useCardResize.ts
  autogpt_platform/frontend/src/app/globals.css
Due: prettier, tsc

feat(platform): polish partner embed demos
  autogpt_platform/partner_embed_poc/README.md
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.css
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.html
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.spec.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/index.html
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/index.html
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/App.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/components/SignIn.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/components/SyncPanel.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/styles.css
  autogpt_platform/partner_embed_poc/packages/embed-element/src/index.test.tsx
  autogpt_platform/partner_embed_poc/packages/embed-element/src/index.tsx
  autogpt_platform/partner_embed_poc/packages/embed-react/src/AutoGPTEmbeddedChat.test.tsx
  autogpt_platform/partner_embed_poc/packages/embed-react/src/EmbeddedChatExperience.tsx
  autogpt_platform/partner_embed_poc/packages/embed-react/src/api.test.ts
  autogpt_platform/partner_embed_poc/packages/embed-react/src/api.ts
  autogpt_platform/partner_embed_poc/packages/embed-react/src/embedded-chat.css
  autogpt_platform/partner_embed_poc/packages/embed-react/src/session-api.ts
  autogpt_platform/partner_embed_poc/packages/embed-react/src/transport.ts
Due: none

fix(platform/copilot): sync openapi spec with ClarifyingQuestion.options and format test
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(backend/copilot): sync openapi schema and formatting for team roster
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/tools/expert_delegation.py
  autogpt_platform/backend/backend/copilot/tools/list_team.py
  autogpt_platform/backend/backend/copilot/tools/raise_expert.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(platform): gate shared partner demos
  autogpt_platform/partner_embed_poc/README.md
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.css
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.html
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.spec.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-angular/src/app/app.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/demo-access.test.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/demo-access.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/index.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/App.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/components/SignIn.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/styles.css
  autogpt_platform/partner_embed_poc/docker-compose.poc.yml
  autogpt_platform/partner_embed_poc/docker-compose.public-demo.yml
Due: none

fix(backend/copilot): simplify list_team tool-group comment
  autogpt_platform/backend/backend/copilot/tools/__init__.py
Due: isort, pyright, pytest

feat(platform): add direct Anthropic demo profile
  autogpt_platform/partner_embed_poc/README.md
  autogpt_platform/partner_embed_poc/docker-compose.anthropic-demo.yml
  autogpt_platform/partner_embed_poc/docker-compose.claude-subscription.yml
  autogpt_platform/partner_embed_poc/docker-compose.poc.yml
Due: none

fix(frontend/copilot): keep action rows revealing once their output lands
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/TailSpacer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/ChatMinimap.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ExpertCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolChain.test.tsx
  autogpt_platform/frontend/src/app/globals.css
Due: prettier, tsc

test(frontend/copilot): cover the token devtool badge and fix the transport env mock
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/copilotStreamTransport.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/tokenDevtool.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/__tests__/TokenDevtoolBadge.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool.ts
Due: prettier, tsc

fix(platform/copilot): address review on ask_question options
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionAnswerField.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionOptionList.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/__tests__/clarifying-questions.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/clarifying-questions.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): surface DB failures and skip paused experts in roster hints
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_delegation.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert_test.py
Due: isort, pyright, pytest

fix(backend/copilot): fail closed when the duplicate-name roster read fails
  autogpt_platform/backend/backend/copilot/tools/expert_change_test.py
  autogpt_platform/backend/backend/copilot/tools/raise_expert.py
Due: isort, pyright, pytest

fix(frontend/copilot): style the card resize with Tailwind, end drags on unmount
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PanelResizeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ExpertCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useCardResize.ts
  autogpt_platform/frontend/src/app/globals.css
Due: prettier, tsc

fix(frontend/copilot): scope question identity to the request and forward autofocus
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionAnswerField.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
Due: prettier, tsc

refactor(backend/copilot): narrow the duplicate-name catch to the roster read
  autogpt_platform/backend/backend/copilot/tools/expert_change_test.py
  autogpt_platform/backend/backend/copilot/tools/raise_expert.py
Due: isort, pyright, pytest

fix(frontend/copilot): only auto-focus the answer field after an explicit toggle
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionAnswerField.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
Due: prettier, tsc

fix(frontend/copilot): address review on the token devtool
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/TokenDevtoolBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/__tests__/TokenDevtoolBadge.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/BreakdownSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/ContextBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/MiniBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/TurnRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/__tests__/tokenDevtool.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/gate.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/tokenMath.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/usageTap.ts
Due: prettier, tsc

fix(backend/copilot): dedupe ask_question options at the source
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): bound the compaction rAF loop and cover the bar
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/CompactionProgress.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/CompactionProgress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useCompactionProgress.ts
Due: prettier, tsc

ci(frontend): apply prettier formatting to compaction progress files
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/useCompactionProgress.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useCompactionProgress.ts
Due: prettier, tsc

feat(frontend/copilot): asymptotic progress bar for context compaction
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/CompactionProgress.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/useCompactionProgress.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useCompactionProgress.ts
Due: prettier, tsc

fix(frontend/copilot): show the token badge when the brain-dump tray is off
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
Due: prettier, tsc

fix(backend): bound Slack wire length on all send paths, harden history edges
  autogpt_platform/backend/backend/copilot/bot/README.md
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/history.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/history_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/text.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/text_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

fix(backend): exclude our own userless bot_message posts from Slack history
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/history.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/history_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth_test.py
Due: isort, pyright, pytest

fix(frontend): MCP OAuth popup fails with 'Sign-in window was closed' on COOP providers (#14141)
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: prettier, tsc

fix(platform/copilot): de-binarise clarifying-questions.ts and address review
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionAnswerField.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionOptionList.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/AskQuestion/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/__tests__/clarifying-questions.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/clarifying-questions.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): bound the option scan instead of normalizing then slicing
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
Due: isort, pyright, pytest

fix(backend): open the compaction row as soon as the PreCompact hook fires
  autogpt_platform/backend/backend/copilot/sdk/compaction.py
  autogpt_platform/backend/backend/copilot/sdk/compaction_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
Due: isort, pyright, pytest

feat(frontend/copilot): slim delegated-run cards to status and link
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/AgentCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ChainRowView.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/SubSessionLive.test.tsx
Due: prettier, tsc

docs(frontend/copilot): name the backend invariant behind the delegated check
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
Due: prettier, tsc

fix(frontend/copilot): let a minimal delegate card admit its poll died
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/AgentCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/SubSessionLive.test.tsx
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
