Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(frontend): add Badge component (#10244)
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.test.tsx
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.tsx
Due: prettier, tsc

fix failing ci
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/lib/utils/url.ts
Due: isort, prettier, pyright, tsc, pytest

Fix
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/host-scoped-credentials-modal.tsx
  autogpt_platform/frontend/src/hooks/useCredentials.ts
Due: prettier, tsc

simplify code changes
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
Due: isort, pyright, pytest

Remove sibling Input
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
Due: prettier, tsc

Move API Key Section to Profile Page
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/page.tsx
  autogpt_platform/frontend/src/components/agptui/composite/APIKeySection.tsx
Due: prettier, tsc

Add loading states to API key create and revoke buttons
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection.tsx
Due: prettier, tsc

Fixes to tests
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
Due: isort, pyright, pytest

format
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
Due: isort, pyright, pytest

let user specify name for new schedule
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

fix ``List`` to be ``list``
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
Due: isort, pyright, pytest

remove comments
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
Due: isort, pyright, pytest

format again??
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
Due: isort, pyright, pytest

move schedule name input into `CronSchedulerDialog` component
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/cron-scheduler.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Due: prettier, tsc

Refactor API Keys page by extracting modals and hooks into separate components
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/APIKeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/useAPIkeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/helper.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
Due: prettier, tsc

feat(frontend): enforce auth through httpOnly cookies (#10201)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
  autogpt_platform/frontend/src/lib/supabase/SESSION_VALIDATION.md
  autogpt_platform/frontend/src/lib/supabase/actions.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
Due: prettier, tsc

chore: fix formatting in AGENTS.md
  AGENTS.md
Due: none

chore: tests
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.test.tsx
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.tsx
Due: prettier, tsc

chore: move marketplace sub-components
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/AdminAgentsDataTable/AdminAgentsDataTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/AdminAgentsDataTable/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ApproveRejectButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/DownloadAgentAdminButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ExpandableRow/ExpandableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ExpandableRow/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/SearchAndFilterForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.tsx
Due: prettier, tsc

refactor(frontend): update settings pages fetching using react query (#10248)
  autogpt_platform/frontend/src/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/api/openapi.json
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/APIKeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/useAPIkeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/helper.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/components/agptui/composite/APIKeySection.tsx
Due: prettier, tsc

fix failing test
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/util/request.py
Due: isort, pyright, pytest

remove comment
  autogpt_platform/backend/backend/util/request.py
Due: isort, pyright, pytest

fix logging situation in Scheduler
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/logging.py
Due: isort, pyright, pytest

Reorganize API-related files to use `src/app/api` directory
  .gitignore
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/api/transformers/fix-tags.mjs
Due: prettier, tsc

refactor: move sub-components to app folder
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminAddMoneyButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminUserGrantHistory/AdminUserGrantHistory.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminUserGrantHistory/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/SearchAndFilterFormSpending.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/BlocksControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/ConnectionLine.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/ControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/CronScheduler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/components/SaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunDetailsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunDraftView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunStatusChip.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunSummaryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsSelectorList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentScheduleDetailsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentStatusChip.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/history.ts
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/analytics/GoogleAnalytics.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: prettier, tsc

docs: Address PR review comments on OAuth documentation
  docs/content/platform/contributing/oauth-integration-flow.md
Due: none

feat(block): Add enriching email feature for SearchPeopleBlock & introduce GetPersonDetailBlock
  autogpt_platform/backend/backend/blocks/apollo/_api.py
  autogpt_platform/backend/backend/blocks/apollo/get_people_detail.py
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/apollo/people.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

docs(frontend, backend): add OAuth security boundary docs (#10202)
  docs/content/platform/contributing/oauth-integration-flow.md
  docs/mkdocs.yml
Due: none

chore: fix imports...
  autogpt_platform/frontend/src/app/(platform)/build/components/BlocksControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/ConnectionLine.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/ControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/CronScheduler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/CustomEdge/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/CustomEdge/styles.css
  autogpt_platform/frontend/src/app/(platform)/build/components/CustomEdge/useBezierPath.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/CustomNode/styles.css
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NodeOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/SaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/context.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useCopyPaste.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/styles.css
  autogpt_platform/frontend/src/components/history.ts
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: prettier, tsc

fix failing test
  autogpt_platform/backend/backend/blocks/apollo/people.py
Due: isort, pyright, pytest

feat(block): Add enriching email feature for SearchPeopleBlock & introduce GetPersonDetailBlock (#10251)
  autogpt_platform/backend/backend/blocks/apollo/_api.py
  autogpt_platform/backend/backend/blocks/apollo/get_people_detail.py
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/apollo/people.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest
