Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(blocks): sanitize unpaired surrogates in ExecuteCodeBlock variable injection
  autogpt_platform/backend/backend/blocks/code_executor_helpers.py
  autogpt_platform/backend/backend/blocks/code_executor_test.py
Due: isort, pyright, pytest

Add integrations/taskmarket/requester.py
  integrations/taskmarket/requester.py
Due: none

Add integrations/taskmarket/README.md
  integrations/taskmarket/README.md
Due: none

fix(backend): correct Claude Sonnet 4.6 max_output_tokens (64K -> 128K) in catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
Due: isort, pyright, pytest

fix(copilot): record parent session provenance for sub-sessions
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
Due: isort, pyright, pytest

fix(frontend/copilot): clear the composer as soon as a message is sent
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useChatInput.ts
Due: prettier, tsc

fix(frontend): stop rejecting cross-origin OAuth popups on COOP-severed handles
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: prettier, tsc

fix(frontend): call the adoptable list "Your workflows" and match heading sizes
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(frontend): clarify OAuth popup poll test
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
Due: prettier, tsc

feat(backend): add data-compaction progress stream event
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/response_model_test.py
Due: isort, pyright, pytest

feat(backend): carry compaction stats and split the pre-query emitters
  autogpt_platform/backend/backend/copilot/sdk/compaction.py
  autogpt_platform/backend/backend/copilot/sdk/compaction_test.py
Due: isort, pyright, pytest

refactor(backend): return compaction stats from the query builder
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
Due: isort, pyright, pytest

refactor(backend): update tests for the compaction stats tuple shapes
  autogpt_platform/backend/backend/copilot/sdk/context_fallback_test.py
  autogpt_platform/backend/backend/copilot/sdk/mode_switch_context_test.py
  autogpt_platform/backend/backend/copilot/sdk/query_builder_test.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend): open the compaction row before the work, not after
  autogpt_platform/backend/backend/copilot/sdk/compaction_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend): close an open compaction row when the stream errors
  autogpt_platform/backend/backend/copilot/sdk/compaction_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(frontend): add compaction progress curve and output parsing
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/helpers.ts
Due: prettier, tsc

feat(frontend): add the CompactionCard progress row
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/CompactionCard.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/CompactionCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/__tests__/CompactionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/useCompactionProgress.ts
Due: prettier, tsc

fix(frontend): keep the legacy-output narrowing through JSON.parse
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/helpers.ts
Due: prettier, tsc

feat(frontend): render compaction as a live progress row
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/ChatMessagesContainer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
Due: prettier, tsc

fix(frontend): keep the compaction row out of thinking and collapsed-group states
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ChainMessageParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
Due: prettier, tsc

feat(frontend): cover replayed and legacy compaction rows
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
Due: prettier, tsc

fix(backend): skip the compaction pre-check when resume covers the history
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
Due: isort, pyright, pytest

fix(frontend): keep aborted, duplicate, and orphaned compaction rows honest
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ChainMessageParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
Due: prettier, tsc

fix(backend): update the e2e compaction test for the new progress events
  autogpt_platform/backend/backend/copilot/sdk/e2e_compaction_test.py
Due: isort, pyright, pytest

fix(backend): retire the retry compaction row when nothing was reduced
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
Due: isort, pyright, pytest

fix(frontend): match "Your workflows" error copy to the renamed section
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/WhatRunsZone.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(frontend): stop animating a compaction row the stream never closed
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ChainMessageParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
Due: prettier, tsc

fix(backend): keep compaction progress events out of retry accounting
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

test(frontend): pin the compaction bar to the rebuild phase
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
Due: prettier, tsc

fix(frontend): type the rebuilding chunk lookup in the compaction test
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
Due: prettier, tsc

refactor(backend): hoist the compaction guard test imports to module scope
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
Due: isort, pyright, pytest

fix(backend): relay data-compaction events through the Redis stream
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
Due: isort, pyright, pytest

fix(backend): type the compaction phase and stop promising a done phase
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/response_model_test.py
Due: isort, pyright, pytest

fix(frontend): make the compaction card honest, cheap and reachable
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/compaction-progress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ChainMessageParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/CompactionCard.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/CompactionCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/__tests__/CompactionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/__tests__/useCompactionProgress.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CompactionCard/useCompactionProgress.ts
Due: prettier, tsc

fix(frontend): shrink and underline "What runs" and "Your workflows" titles
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/WhatRunsZone.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(frontend): finish renaming "agents" copy in the workflows list
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(backend): make the compaction pre-check predict what actually runs
  autogpt_platform/backend/backend/copilot/sdk/compaction.py
  autogpt_platform/backend/backend/copilot/sdk/compaction_test.py
  autogpt_platform/backend/backend/copilot/sdk/context_fallback_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
  autogpt_platform/backend/backend/util/prompt.py
Due: isort, pyright, pytest

fix(backend): catch asyncio.TimeoutError on the compaction pre-check
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(platform): add multi-tenant partner sync proof of concept
  autogpt_platform/frontend/src/app/api/embed/token/__tests__/route.test.ts
  autogpt_platform/frontend/src/app/api/embed/token/route.ts
  autogpt_platform/frontend/src/lib/partner-embed/config.test.ts
  autogpt_platform/frontend/src/lib/partner-embed/config.ts
  autogpt_platform/partner_embed_poc/Dockerfile
  autogpt_platform/partner_embed_poc/README.md
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/index.html
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/package.json
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/assertion.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/database.test.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/database.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/server/index.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/App.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/components/SignIn.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/components/Summary.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/components/SyncPanel.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/helpers.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/main.tsx
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/styles.css
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/src/types.ts
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/tsconfig.json
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/tsconfig.server.json
  autogpt_platform/partner_embed_poc/apps/mock-forwarding-digital-multitenant/vite.config.ts
  autogpt_platform/partner_embed_poc/docker-compose.poc.yml
  autogpt_platform/partner_embed_poc/package.json
  autogpt_platform/partner_embed_poc/packages/embed-react/src/transport.test.ts
  autogpt_platform/partner_embed_poc/packages/embed-react/src/transport.ts
  autogpt_platform/partner_embed_poc/pnpm-lock.yaml
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
