Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix: Correct Gemini context_window to match official Google spec (1,048,576)
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

fix(backend/copilot): sandbox cleanup edge cases and code quality
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
Due: isort, pyright, pytest

fix(backend): regenerate poetry.lock to match pyproject.toml
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix(backend): restore cp38 PyYAML wheels in poetry.lock for Linux CI compatibility
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix(backend/copilot): remove platform schema prefix from migration for CI compatibility
  autogpt_platform/backend/migrations/20260308000000_add_chat_session_metadata/migration.sql
Due: none

fix(backend/copilot): kill sandbox if metadata save fails to prevent resource leak
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
Due: isort, pyright, pytest

feat(backend/copilot): @file: reference protocol for tool call inputs
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

style(backend/copilot): format file_ref_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
Due: isort, pyright, pytest

fix(backend): add missing psycopg2-binary cp313 win_amd64 wheel to poetry.lock
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

feat(blocks): add SmartAgentBlock using Claude Agent SDK
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/backend/blocks/smart_agent.py
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, isort, pyright, pytest

chore: remove incorrectly nested poetry.lock artifact
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
Due: none

fix(backend/copilot): fix file_ref test mock signature and local path sdk_cwd lookup
  autogpt_platform/backend/backend/copilot/sdk/file_ref_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

fix(backend/copilot): add line numbering to local file reads for consistency
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

fix(backend): sync poetry.lock with dev branch
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix(blocks): update import path for Block from _base instead of data.block
  autogpt_platform/backend/backend/blocks/smart_agent.py
Due: isort, pyright, pytest

fix(blocks): use valid UUID4 for SmartAgentBlock id
  autogpt_platform/backend/backend/blocks/smart_agent.py
Due: isort, pyright, pytest

docs: add SmartAgentBlock documentation to llm.md and update README overview
  docs/integrations/README.md
  docs/integrations/block-integrations/llm.md
Due: none

refactor(blocks/smart-agent): move all local imports to top-level
  autogpt_platform/backend/backend/blocks/smart_agent.py
Due: isort, pyright, pytest

refactor(backend/copilot): store E2B sandbox_id in Redis, not DB metadata
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/migrations/20260308000000_add_chat_session_metadata/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

refactor(backend/copilot): extract shared read helpers in _read_file_handler
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

refactor(backend/copilot): simplify E2B sandbox Redis locking and config
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): minor cleanup in e2b_sandbox
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
Due: isort, pyright, pytest

refactor(backend/copilot): remove no-op migration; increase E2B timeout to 3h
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/migrations/20260308000000_add_chat_session_metadata/migration.sql
Due: isort, pyright, pytest

refactor(backend/copilot): unify file reading via shared read_file_bytes helper
  autogpt_platform/backend/backend/copilot/sdk/_context.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools_test.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
Due: isort, pyright, pytest

refactor(backend/copilot): extract shared context and break circular imports
  autogpt_platform/backend/backend/copilot/_context.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools_test.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter_test.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
Due: isort, pyright, pytest

fix(backend/copilot): refresh Redis TTL on sandbox reconnect; improve type hints
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
Due: isort, pyright, pytest

fix(backend/copilot): address security and robustness issues in file handling
  autogpt_platform/backend/backend/copilot/_context.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

fix(backend/copilot): fix tests after _context.py move and security tightening
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks_test.py
Due: isort, pyright, pytest

fix(backend/copilot): patch get_manager at file_ref module level in integration test
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
Due: isort, pyright, pytest

perf(backend/copilot): skip E2B reconnect when pausing at turn end
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): rename _context -> context (public module) and remove stale comment
  autogpt_platform/backend/backend/copilot/context.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools_test.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
Due: isort, pyright, pytest

refactor(backend/copilot): replace 3*3600 with literal 10800 for E2B timeout
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
Due: isort, pyright, pytest

fix(backend/copilot): fix expand_file_refs_in_string range validation and encoding
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
Due: isort, pyright, pytest

test(backend/copilot): add tests for line range validation in file_ref
  autogpt_platform/backend/backend/copilot/sdk/file_ref_test.py
Due: isort, pyright, pytest

fix(backend/copilot): patch get_execution_context in _read_file_handler tests
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
Due: isort, pyright, pytest

fix(backend/copilot): expand @file: refs uniformly in _truncating wrapper
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

fix(backend/copilot): fix access-denied test assertion message
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
Due: isort, pyright, pytest

test(backend/copilot): address PR review conditions for merge on e2b-autopause
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): address code quality improvements from PR review
  autogpt_platform/backend/backend/copilot/context.py
  autogpt_platform/backend/backend/copilot/context_test.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
Due: isort, pyright, pytest

ghrs: snap 03-08-2303-836F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-08_230352_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-08_230352_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-08_230352_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
