Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-autogpt, isort-forge, isort-benchmark, pyright, pytest-autogpt, pytest-forge, pytest-benchmark

isort-autogpt:
  name: Lint (isort) - AutoGPT
  entry: poetry -C autogpt run isort
  language: system

isort-forge:
  name: Lint (isort) - Forge
  entry: poetry -C forge run isort
  language: system

isort-benchmark:
  name: Lint (isort) - Benchmark
  entry: poetry -C benchmark run isort
  language: system

pyright:
  name: Typecheck - Benchmark
  alias: pyright-benchmark
  entry: poetry -C benchmark run pyright
  args:
  - -p
  - benchmark
  - benchmark
  language: system
  pass_filenames: false

pytest-autogpt:
  name: Run tests - AutoGPT (excl. slow tests)
  entry: bash -c 'cd autogpt && poetry run pytest --cov=autogpt -m "not slow" tests/unit tests/integration'
  language: system
  pass_filenames: false

pytest-forge:
  name: Run tests - Forge (excl. slow tests)
  entry: bash -c 'cd forge && poetry run pytest --cov=forge -m "not slow"'
  language: system
  pass_filenames: false

pytest-benchmark:
  name: Run tests - Benchmark
  entry: bash -c 'cd benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

Code cleanup
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/usecases/reddit_marketing.py
Due: none

Add dict_split and list_split to output, add more blocks
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/marketing.py
  rnd/autogpt_server/autogpt_server/blocks/object.py
  rnd/autogpt_server/autogpt_server/blocks/sample.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/test/executor/test_manager.py
Due: none

Fix reddit block
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
Due: none

Fix linting
  rnd/autogpt_server/autogpt_server/blocks/ai.py
Due: none

Skip reddit test
  rnd/autogpt_server/test/usecases/test_reddit_marketing.py
Due: none

Make this work
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/test/usecases/reddit_marketing.py
Due: none

feat(rnd): Add type hint and strong pydantic type validation for block input/output + add reddit agent-blocks.
  rnd/autogpt_server/autogpt_server/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/marketing.py
  rnd/autogpt_server/autogpt_server/blocks/raw.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/sample.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/test/executor/test_manager.py
Due: none

Fix serialization
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/sample.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/test/executor/test_manager.py
Due: none

Cache jsonschema computation, add dictionary construction
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
Due: none

Add creds check on client
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
Due: none

Remove RedditCredentialsBlock
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
Due: none

feat(rnd): Add type hint and strong pydantic type validation for block input/output + add reddit agent-blocks.
  rnd/autogpt_server/autogpt_server/blocks/raw.py
Due: none

Hide input_links and output_links from Node
  rnd/autogpt_server/autogpt_server/data/graph.py
Due: none

Add docs
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
Due: none

Resolved json issue on pydantic
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/util/__init__.py
  rnd/autogpt_server/autogpt_server/util/json.py
  rnd/autogpt_server/test/usecases/test_reddit_marketing.py
Due: none

Fix error retry
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/test/usecases/test_reddit_marketing.py
Due: none

Act on feedback
  autogpt/autogpt/app/config.py
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/challenges/base.py
  benchmark/agbenchmark/challenges/builtin.py
  benchmark/agbenchmark/challenges/webarena.py
  benchmark/agbenchmark/reports/processing/report_types.py
  benchmark/pyproject.toml
  benchmark/reports/format.py
  forge/forge/agent/base.py
  forge/forge/llm/providers/openai.py
  forge/forge/models/config.py
  forge/pyproject.toml
Due: isort-autogpt, isort-forge, isort-benchmark, pyright, pytest-autogpt, pytest-forge, pytest-benchmark

Poetry lock
  autogpt/poetry.lock
  benchmark/poetry.lock
  forge/poetry.lock
Due: pyright, pytest-autogpt, pytest-forge, pytest-benchmark

update cli
  rnd/autogpt_server/autogpt_server/cli.py
Due: none

Send updates to server
  rnd/autogpt_server/autogpt_server/executor/manager.py
Due: none

Get single execution data
  rnd/autogpt_server/autogpt_server/data/execution.py
Due: none

Fix type hints and renamed function
  rnd/autogpt_server/autogpt_server/data/execution.py
Due: none

add callback function and type hints
  rnd/autogpt_server/autogpt_server/server/server.py
Due: none

fix type hints
  rnd/autogpt_server/autogpt_server/cli.py
Due: none

remove unused import in forge/llm/providers/openai.py
  forge/forge/llm/providers/openai.py
Due: isort-forge, pyright, pytest-autogpt, pytest-forge

add support for Claude 3.5 Sonnet
  forge/forge/llm/providers/anthropic.py
Due: isort-forge, pyright, pytest-autogpt, pytest-forge

fix(forge): Add `google-api-python-client-stubs` and fix type error
  autogpt/poetry.lock
  forge/forge/components/web/search.py
  forge/poetry.lock
  forge/pyproject.toml
Due: isort-forge, pyright, pytest-autogpt, pytest-forge

ghrs: snap 07-02-2302-B8EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-07-02_230237_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-07-02_230237_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-07-02_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 07-02-2302-B8EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-07-02_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 07-02-2302-B8EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 07-02-2302-B8EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

docs(agent, forge): Update component configuration docs (#7232)
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/setup/docker.md
  docs/content/AutoGPT/setup/index.md
  docs/content/forge/components/built-in-components.md
  docs/content/forge/components/creating-components.md
  docs/content/forge/components/introduction.md
  docs/content/forge/get-started.md
  forge/forge/components/README.md
Due: pyright, pytest-forge

Update `autogpt/pyproject.toml`
  autogpt/poetry.lock
  autogpt/pyproject.toml
Due: pyright, pytest-autogpt

Updated manager to use property
  rnd/autogpt_server/autogpt_server/executor/manager.py
Due: none

Update
  docs/content/forge/components/built-in-components.md
  forge/forge/components/web/search.py
  forge/forge/components/web/selenium.py
Due: isort-forge, pyright, pytest-autogpt, pytest-forge

Path conditions:
  isort-autogpt: any of: ^autogpt/ and \.py$
  isort-forge: any of: ^forge/ and \.py$
  isort-benchmark: any of: ^benchmark/ and \.py$
  pyright: ((any of: ^(autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|forge/(forge/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^forge/(forge/|poetry\.lock$))) or (any of: ^benchmark/(agbenchmark|tests)/)
  pytest-autogpt: any of: ^(autogpt/((autogpt|tests)/|poetry\.lock$)|forge/(forge/.*(?<!_test)\.py|poetry\.lock)$)
  pytest-forge: any of: ^forge/(forge/|tests/|poetry\.lock$)
  pytest-benchmark: any of: ^benchmark/(agbenchmark/|tests/|poetry\.lock$)
