Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

style(backend): format the MailerLite backfill and trial group changes
  autogpt_platform/backend/backend/cli/mailerlite_backfill.py
  autogpt_platform/backend/backend/notifications/mailerlite.py
  autogpt_platform/backend/backend/notifications/mailerlite_backfill.py
  autogpt_platform/backend/backend/notifications/mailerlite_backfill_test.py
  autogpt_platform/backend/backend/notifications/trial_audience_test.py
Due: isort, pyright, pytest

feat(frontend): add a Cookie settings link to signed-out pages
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/login/__tests__/cookie-settings.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/__tests__/PlatformChrome.test.tsx
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourSidebar/TourSidebar.tsx
  autogpt_platform/frontend/src/app/(public)/tour/components/TourHero/TourHero.tsx
  autogpt_platform/frontend/src/components/auth/AuthSplitLayout/AuthSplitLayout.tsx
  autogpt_platform/frontend/src/components/molecules/CookieSettingsLink/CookieSettingsLink.tsx
Due: prettier, tsc

test(backend): a MailerLite trial change must never cost the trial notice
  autogpt_platform/backend/backend/cli/mailerlite_backfill.py
  autogpt_platform/backend/backend/notifications/trial_audience_test.py
Due: isort, pyright, pytest

fix(backend): keep a trial notice independent of its MailerLite change
  autogpt_platform/backend/backend/notifications/trial_audience.py
Due: isort, pyright, pytest

fix(copilot): the platform's sign-in card is not judged as an outside read
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
Due: isort, pyright, pytest

style(backend): format the trial audience tests
  autogpt_platform/backend/backend/notifications/trial_audience_test.py
Due: isort, pyright, pytest

feat(backend): sync MailerLite status and date fields from signup and billing
  autogpt_platform/backend/backend/cli/mailerlite_backfill.py
  autogpt_platform/backend/backend/cli/main.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/notifications/consumer_test.py
  autogpt_platform/backend/backend/notifications/lifecycle.py
  autogpt_platform/backend/backend/notifications/lifecycle_test.py
  autogpt_platform/backend/backend/notifications/mailerlite.py
  autogpt_platform/backend/backend/notifications/mailerlite_backfill.py
  autogpt_platform/backend/backend/notifications/mailerlite_field_backfill.py
  autogpt_platform/backend/backend/notifications/mailerlite_field_backfill_test.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/subscriber_fields.py
  autogpt_platform/backend/backend/notifications/subscriber_fields_test.py
  autogpt_platform/backend/backend/notifications/trial.py
  autogpt_platform/backend/backend/notifications/trial_audience.py
  autogpt_platform/backend/backend/notifications/trial_audience_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(frontend): forget the expert integrations tab on session change
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
Due: prettier, tsc

fix(frontend): update context panel and expert page tests for the moved integrations
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
Due: prettier, tsc

fix(frontend): expert card and chat chip polish (#15002)
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-integrations.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/SessionNotFound.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ExpertIntegrations/ExpertIntegrations.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ThreadHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanelToggle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsTab/IntegrationsTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsToggle/IntegrationsToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsToggle/useExpertIntegrations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/useContextPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useAreWorkspaceFileCardsOpen.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertAvatarButton/ExpertAvatarButton.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertIntegrationsSection/ExpertIntegrationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertIdentityDetails/ExpertIdentityDetails.tsx
Due: prettier, tsc

fix(frontend): deny Google Consent Mode everywhere until Cookiebot's answer
  autogpt_platform/frontend/src/services/analytics/consent-mode.test.ts
  autogpt_platform/frontend/src/services/analytics/consent-mode.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
Due: prettier, tsc

fix(frontend): block device-auth link and webhook link cards from replays
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ResultCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolResult.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/resultHelpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/resultHelpers.ts
  autogpt_platform/frontend/src/components/contextual/DeviceAuth/DeviceAuthConnectButton.tsx
  autogpt_platform/frontend/src/components/contextual/DeviceAuth/__tests__/DeviceAuthConnectButton.test.tsx
Due: prettier, tsc

style(backend): format the MailerLite field sync
  autogpt_platform/backend/backend/notifications/lifecycle.py
  autogpt_platform/backend/backend/notifications/lifecycle_test.py
  autogpt_platform/backend/backend/notifications/mailerlite_field_backfill_test.py
  autogpt_platform/backend/backend/notifications/subscriber_fields_test.py
  autogpt_platform/backend/backend/notifications/trial_audience.py
Due: isort, pyright, pytest

fix(frontend): keep one-time secrets out of session replays (#15022)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/InfoCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ResultCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolResult.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/resultHelpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/resultHelpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/SetupTrigger/SetupTrigger.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/SetupTrigger/__tests__/SetupTrigger.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/WebhookTriggerSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/components/WebhookTriggerCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeysModals/APIKeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/api-keys/__tests__/create.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/api-keys/components/CreateAPIKeyDialog/components/CreateAPIKeySuccess.tsx
  autogpt_platform/frontend/src/components/contextual/DeviceAuth/DeviceAuthConnectButton.tsx
  autogpt_platform/frontend/src/components/contextual/DeviceAuth/__tests__/DeviceAuthConnectButton.test.tsx
Due: prettier, tsc

fix(frontend): make the Cookie settings link compact and readable
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
  autogpt_platform/frontend/src/components/auth/AuthSplitLayout/AuthSplitLayout.tsx
  autogpt_platform/frontend/src/components/molecules/CookieSettingsLink/CookieSettingsLink.tsx
Due: prettier, tsc

fix(platform): show avatar defaults before optional generation (#15008)
  autogpt_platform/backend/backend/api/features/experts/avatar_generation.py
  autogpt_platform/backend/backend/api/features/experts/avatar_generation_test.py
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/AvatarStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.stories.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/generation.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/selection.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/useAvatarGeneration.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/useExpertAvatarPicker.ts
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): show chat document count and expert files
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-integrations.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanelToggle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/FilesTab/useSessionFiles.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsTab/IntegrationsTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsToggle/IntegrationsToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFilesContent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/useExpertDocuments.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/useWorkspaceFileCards.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
Due: prettier, tsc

fix(frontend): enable shadcn lint rule
  autogpt_platform/frontend/.oxlintrc.json
Due: prettier, tsc

fix(frontend): send CSP frame-ancestors and Referrer-Policy on every route
  autogpt_platform/frontend/next.config.mjs
Due: prettier, tsc

feat(backend): keep subscription status and lifecycle dates on the PostHog person
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/posthog_lifecycle.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_hooks_test.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync_test.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/scripts/backfill_posthog_lifecycle.py
  autogpt_platform/backend/scripts/test_backfill_posthog_lifecycle.py
Due: isort, pyright, pytest

feat(frontend): show chat document count and expert files (#15029)
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-integrations.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanelToggle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/FilesTab/useSessionFiles.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsTab/IntegrationsTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/IntegrationsToggle/IntegrationsToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFilesContent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/useExpertDocuments.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/useWorkspaceFileCards.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
Due: prettier, tsc

fix(copilot): show the sign-in card instead of holding it as an outside read (#15024)
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
Due: isort, pyright, pytest

feat(backend): report a failed renewal as payment_failed, not subscribed
  autogpt_platform/backend/backend/data/posthog_lifecycle.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_test.py
Due: isort, pyright, pytest

fix(frontend): don't log an intentional WebSocket close as a failure
  autogpt_platform/frontend/src/lib/autogpt-server-api/__tests__/client.test.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: prettier, tsc

docs(platform): harden llmman bind, auth and AutoPilot notes
  docs/platform/llmman.md
Due: none

fix(backend): correct lifecycle status for pending conversions, legacy PRO rows and failed renewals
  autogpt_platform/backend/backend/data/posthog_lifecycle.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_test.py
Due: isort, pyright, pytest

fix(backend): bound PostHog lifecycle syncs and keep them off the tier sweep
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_hooks_test.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync_test.py
  autogpt_platform/backend/backend/data/stripe_reconciliation.py
Due: isort, pyright, pytest

test(backend): run the lifecycle sweep's user batch query against Postgres
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync_integration_test.py
Due: isort, pyright, pytest

fix(backend): clear a lifecycle sync's entry when it is cancelled waiting for a slot
  autogpt_platform/backend/backend/data/posthog_lifecycle_hooks_test.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync.py
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync_test.py
Due: isort, pyright, pytest

fix(backend): assert cancellation explicitly in lifecycle sync tests
  autogpt_platform/backend/backend/data/posthog_lifecycle_sync_test.py
Due: isort, pyright, pytest

fix(backend): let the notification service decide whether MailerLite is on
  autogpt_platform/backend/backend/notifications/consumer_test.py
  autogpt_platform/backend/backend/notifications/lifecycle_test.py
  autogpt_platform/backend/backend/notifications/mailerlite.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/subscriber_fields.py
  autogpt_platform/backend/backend/notifications/subscriber_fields_test.py
  autogpt_platform/backend/backend/notifications/trial_audience.py
  autogpt_platform/backend/backend/notifications/trial_audience_test.py
Due: isort, pyright, pytest

fix(frontend): start onboarding after raising an expert
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/useRaiseSubmission.ts
Due: prettier, tsc

fix(frontend): send CSP frame-ancestors and Referrer-Policy on every route (#15030)
  autogpt_platform/frontend/next.config.mjs
Due: prettier, tsc

feat(frontend): show expert documents as Files-page rows
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/FileRowActions.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/StackSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFileCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFileRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFilesContent.tsx
Due: prettier, tsc

fix(frontend): open onboarding in the team chat panel on first chat
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/__tests__/ExpertChatDrawer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/useExpertChatDrawer.ts
Due: prettier, tsc

feat(frontend): show expert documents as Files-page rows (#15033)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/WorkspaceFileCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/FileRowActions.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/StackSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFileCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFileRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFilesContent.tsx
Due: prettier, tsc

fix(frontend): avoid expert kickoff races
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/__tests__/ExpertChatDrawer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/useExpertChatDrawer.ts
Due: prettier, tsc

fix(frontend): recover failed expert kickoff
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/__tests__/ExpertChatDrawer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/useExpertChatDrawer.ts
Due: prettier, tsc

fix(frontend): cover kickoff stream errors
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertChatDrawer/__tests__/ExpertChatDrawer.test.tsx
Due: prettier, tsc
