Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

refactor(frontend): migrate waitlist admin components to generated API hooks
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/CreateWaitlistButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistTable.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistDetailModal/WaitlistDetailModal.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

refactor(backend): remove apscheduler tables from prisma schema
  autogpt_platform/backend/migrations/20260107000001_add_apscheduler_tables/migration.sql
  autogpt_platform/backend/migrations/20260108032037_add_waitlist_launch_notification/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate

fix(backend): correct typo in unaffiliatedEmailUsers field name
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/migrations/20260108032037_add_waitlist_launch_notification/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

refactor(backend): make is_ai_generated parameter mandatory in GraphSettings.from_graph()
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix(backend): preserve is_ai_generated_graph on fork and make parameter mandatory
  autogpt_platform/backend/backend/api/features/chat/tools/utils.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

fix(backend): Fix schema handling in embeddings and add comprehensive tests
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/embeddings_schema_test.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search_integration_test.py
  autogpt_platform/backend/backend/data/db.py
Due: isort, pyright, pytest

perf(backend): Optimize hybrid search query for 2-5x performance improvement
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
Due: isort, pyright, pytest

refactor(frontend): consolidate waitlist modals and align with Figma design
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/JoinWaitlistModal/JoinWaitlistModal.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistCard/WaitlistCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistDetailModal/WaitlistDetailModal.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistSection/WaitlistSection.tsx
Due: prettier, tsc

Discard changes to autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

feat(frontend): update OpenAPI schema for is_ai_generated fields
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

feat(backend): add waitlist_launch email notification template
  autogpt_platform/backend/backend/notifications/templates/waitlist_launch.html.jinja2
Due: pyright, pytest

ghrs: snap 01-12-2302-780B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-12_230245_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-12_230245_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-12_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 01-12-2302-780B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 01-12-2302-780B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-12_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 01-12-2302-780B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat(backend): fix pgvector schema access and add Supabase extension migrations
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/migrations/20260109181714_add_docs_embedding/migration.sql
  autogpt_platform/backend/migrations/20260112173500_add_supabase_extensions_to_platform_schema/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

make sure platform schema exist
  autogpt_platform/backend/migrations/20260109181714_add_docs_embedding/migration.sql
Due: none

fix(backend): remove silent fallback in hybrid search and standardize test naming
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search_test.py
Due: isort, pyright, pytest

fix(backend): make pgvector migration schema-agnostic for CI compatibility
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/migrations/20260109181714_add_docs_embedding/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend/store): address code review feedback for hybrid search
  autogpt_platform/backend/backend/api/features/store/backfill_embeddings.py
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/migrations/20260109181714_add_docs_embedding/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

ci: fix backend CI to use prisma migrate deploy instead of dev
  .github/workflows/platform-backend-ci.yml
Due: none

fix(backend/store): change embedding failure log level from warning to error
  autogpt_platform/backend/backend/api/features/store/db.py
Due: isort, pyright, pytest

fix(backend/store): remove silent fallbacks, enforce fail-fast behavior
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search_test.py
Due: isort, pyright, pytest

fix(backend/store): fix test mocking and reinforce fail-fast approach
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search_test.py
Due: isort, pyright, pytest

feat(frontend): enhance FlowEditor with tutorial controls and update feature flags
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/tutorialStore.ts
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(frontend): enhance control panel and tutorial functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/styles.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/controlPanelStore.ts
Due: prettier, tsc

feat(frontend): enhance tutorial with custom node data attributes
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/blocks.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/canvas.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/dom.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/highlights.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/state.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/agent-io.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-basics.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/completion.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/configure-calculator.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/run.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/welcome.ts
Due: prettier, tsc

feat(frontend): enhance tutorial with block prefetching and new steps
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps.ts
Due: prettier, tsc

feat(frontend): enhance tutorial and control panel with data attributes
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/icons.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/styles.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/tutorial.css
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/BlockMenuSearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSidebar/BlockMenuSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MenuItem.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/controlPanelStore.ts
Due: prettier, tsc

feat(frontend): update tutorial steps and output handler with new data attributes
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/agent-io.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/connections.ts
Due: prettier, tsc

feat(frontend): enhance tutorial integration and input handling
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/agent-io.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-basics.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/configure-calculator.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/run.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/styles.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/tutorialStore.ts
Due: prettier, tsc

feat(frontend): enhance tutorial flow and component accessibility
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/blocks.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/state.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/agent-io.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/completion.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/run.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/second-calculator.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/BuildActionBar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/tutorial.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/TitleField.tsx
Due: prettier, tsc

feat(frontend): update tutorial icons and styles for enhanced user experience
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/icons.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/tutorial.css
Due: prettier, tsc

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/blocks.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/canvas.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/dom.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/highlights.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-basics.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/completion.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/second-calculator.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/welcome.ts
Due: prettier, tsc

fix flag
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

refactor(frontend): streamline tutorial helper functions and steps
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/canvas.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/dom.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/highlights.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/helpers/state.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/icons.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-basics.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/block-menu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/configure-calculator.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/run.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/save.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/second-calculator.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/welcome.ts
Due: prettier, tsc

make it clear we are adding the uesrs name
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/migrations/20260113080512_add_chat_tables/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

feat(langfuse): integrate Langfuse for prompt management
  autogpt_platform/.claude/settings.local.json
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/chat/config.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/pyproject.toml
Due: isort, pyright, pytest

chore: wip
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/useCredentialsInput.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DrawerWrap.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

switching to using langfuse prompt management
  autogpt_platform/backend/backend/api/features/chat/config.py
  autogpt_platform/backend/backend/api/features/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/api/features/chat/prompts/onboarding_system.md
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, isort, pyright, pytest
