Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(platform): add OpenSEO MCP, including self-hosted instances (#14971)
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
  autogpt_platform/backend/backend/integrations/mcp_catalog.py
  autogpt_platform/backend/backend/integrations/mcp_catalog_test.py
  autogpt_platform/frontend/public/integrations/README.md
  autogpt_platform/frontend/public/integrations/openseo.png
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/__tests__/mcp-catalog.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/MCPPresetPanel.tsx
  docs/platform/contributing/hosted-mcp-catalog.md
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): add browser notification settings to the account page (#14695)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/NotificationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/__tests__/NotificationBanner.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/account/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/account/components/BrowserNotificationsCard/BrowserNotificationsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/account/page.tsx
  autogpt_platform/frontend/src/components/layout/NotificationSettings/NotificationSettingsControls.tsx
  autogpt_platform/frontend/src/components/layout/NotificationSettings/__tests__/NotificationSettingsControls.test.tsx
  autogpt_platform/frontend/src/components/layout/NotificationSettings/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/layout/NotificationSettings/components/SettingRow/SettingRow.tsx
  autogpt_platform/frontend/src/components/layout/NotificationSettings/helpers.ts
  autogpt_platform/frontend/src/components/layout/NotificationSettings/useNotificationSettings.ts
Due: prettier, tsc

test(frontend): expect trial_offer_viewed from the paywall's trial offer
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.trial.test.tsx
Due: prettier, tsc

test(frontend): the paywall's trial checkout sends no browser checkout event
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.trial.test.tsx
Due: prettier, tsc

fix(backend): count a listing added to the library once when two adds race
  autogpt_platform/backend/backend/util/product_analytics.py
  autogpt_platform/backend/backend/util/product_analytics_test.py
Due: isort, pyright, pytest

fix(platform/swap-proxy): keep the reason a buffered response was refused
  autogpt_platform/swap_proxy/swap_proxy/addon.py
  autogpt_platform/swap_proxy/swap_proxy/addon_test.py
Due: none

feat(blocks): add Capy blocks for starting and steering cloud coding agents
  autogpt_platform/backend/backend/blocks/capy/_api.py
  autogpt_platform/backend/backend/blocks/capy/_config.py
  autogpt_platform/backend/backend/blocks/capy/_testdata.py
  autogpt_platform/backend/backend/blocks/capy/_types.py
  autogpt_platform/backend/backend/blocks/capy/capy_test.py
  autogpt_platform/backend/backend/blocks/capy/messages.py
  autogpt_platform/backend/backend/blocks/capy/projects.py
  autogpt_platform/backend/backend/blocks/capy/reviews.py
  autogpt_platform/backend/backend/blocks/capy/tasks.py
  autogpt_platform/backend/backend/blocks/capy/threads.py
  autogpt_platform/backend/backend/blocks/capy/usage.py
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/capy/messages.md
  docs/integrations/block-integrations/capy/projects.md
  docs/integrations/block-integrations/capy/reviews.md
  docs/integrations/block-integrations/capy/tasks.md
  docs/integrations/block-integrations/capy/threads.md
  docs/integrations/block-integrations/capy/usage.md
Due: isort, pyright, pytest

feat(blocks): default Capy threads to Muse Spark 1.3
  autogpt_platform/backend/backend/blocks/capy/_types.py
  autogpt_platform/backend/backend/blocks/capy/threads.py
  docs/integrations/block-integrations/capy/threads.md
Due: isort, pyright, pytest

dx(platform): add the Paper design skills with the delegation UX generator
  .claude/skills/paper-design-task/PROMPT-delegate-ui.md
  .claude/skills/paper-design-task/SKILL.md
  .claude/skills/paper-designer/SKILL.md
  .claude/skills/paper-designer/reference/DESIGN.md
  .claude/skills/paper-designer/scripts/assets.json
  .claude/skills/paper-designer/scripts/delegate-lib.mjs
  .claude/skills/paper-designer/scripts/example-delegate-screens.mjs
  .claude/skills/paper-designer/scripts/export-design-tokens.ts
  .claude/skills/paper-designer/scripts/paper-import.mjs
  .claude/skills/paper-designer/scripts/preview.mjs
  .claude/skills/paper-designer/scripts/serialize-lib.mjs
  .claude/skills/paper-designer/scripts/serialize-open-states.mjs
  .claude/skills/paper-designer/scripts/serialize-pages.mjs
  .claude/skills/paper-designer/scripts/serialize-stories.mjs
  .claude/skills/paper-designer/scripts/tokens.json
Due: none

ci(platform): keep critical-path packages out of Dependabot groups
  .github/dependabot.yml
Due: none

feat(frontend/copilot): show delegated expert work in the chat
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/delegations.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/ChatSessionContext.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/DelegatedThreadNotice.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/PendingAnswerContexts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/WorkTab.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/PanelTabs.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/WorkTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationDetail.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationTimeline.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/useWorkTab.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CopilotPendingReviews/CopilotPendingReviews.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/DelegationDock.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/__tests__/DelegationDock.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/DelegationStatusLine.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/LiveDelegationProbes.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/__tests__/DelegationStatusLine.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffApprovalNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/HandoffApprovalNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/heldRow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useAreWorkspaceFileCardsOpen.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useDelegationLive.ts
Due: prettier, tsc

fix(backend): update pinned deepseek-v4.1-flash rate test to match new catalog price
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
Due: isort, pyright, pytest

feat(backend): add Xiaomi MiMo-V2.6-Pro and MiMo-V2.6-Flash to LLM catalog
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

fix(frontend/copilot): load a finished hand-off's steps in the Work panel
  autogpt_platform/frontend/src/app/(platform)/copilot/useDelegationLive.ts
Due: prettier, tsc

feat(copilot): promote gpt-6-luna to fast/standard default over gpt-5.6-luna (#14949)
  autogpt_platform/backend/backend/copilot/codex_model_router_test.py
  autogpt_platform/backend/backend/copilot/model_router.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
Due: isort, pyright, pytest

test(frontend/copilot): cover the needs-you detail and the delegated-thread notice
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/DelegatedThreadNotice.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/WorkTab.test.tsx
Due: prettier, tsc

fix(backend): correct deepseek/deepseek-chat and moonshotai/kimi-k2.6 pricing drift in catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
Due: isort, pyright, pytest

fix(backend): update second stale deepseek-chat pin in block_cost_config_test.py
  autogpt_platform/backend/backend/data/block_cost_config_test.py
Due: isort, pyright, pytest

test(frontend/copilot): give the hand-off node test room on slow CI shards
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/HandoffApprovalNode.test.tsx
Due: prettier, tsc

fix(backend): correct deepseek/deepseek-v4.1-flash pricing drift in catalog.py (#14959)
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
Due: isort, pyright, pytest

fix: set supports_tools/supports_json_output for Xiaomi MiMo-V2.6 models
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
Due: isort, pyright, pytest

feat(backend): add Xiaomi MiMo-V2.6-Pro and MiMo-V2.6-Flash to LLM catalog (#14988)
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

fix(backend): correct deepseek-chat and kimi-k2.6 pricing drift in catalog.py (#14989)
  autogpt_platform/backend/backend/data/block_cost_config_test.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
Due: isort, pyright, pytest

chore(backend): refresh anthropic_rates.json from LiteLLM upstream
  autogpt_platform/backend/backend/copilot/anthropic_rates.json
Due: pyright, pytest

refactor(platform): rename PostHog envelope properties to the analytics plan's
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tracking.py
  autogpt_platform/backend/backend/copilot/tracking_test.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/backend/backend/copilot/turn_queue_test.py
  autogpt_platform/backend/backend/util/product_analytics.py
  autogpt_platform/backend/backend/util/product_analytics_test.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest

feat(backend): report OAuth starts and exchange failures to PostHog
  autogpt_platform/backend/backend/api/features/integrations/oauth_analytics_test.py
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/util/product_analytics.py
  autogpt_platform/backend/backend/util/product_analytics_test.py
  docs/platform/activation-metrics.md
Due: isort, pyright, pytest

fix(frontend): strip only the trailing /api when deriving the backend base URL
  autogpt_platform/frontend/src/services/environment/__tests__/index.test.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Due: prettier, tsc

feat(blocks): support Capy linked providers; default to the project's model
  autogpt_platform/backend/backend/blocks/capy/_api.py
  autogpt_platform/backend/backend/blocks/capy/_models.py
  autogpt_platform/backend/backend/blocks/capy/_testdata.py
  autogpt_platform/backend/backend/blocks/capy/_types.py
  autogpt_platform/backend/backend/blocks/capy/capy_test.py
  autogpt_platform/backend/backend/blocks/capy/create_thread.py
  autogpt_platform/backend/backend/blocks/capy/messages.py
  autogpt_platform/backend/backend/blocks/capy/models_test.py
  autogpt_platform/backend/backend/blocks/capy/threads.py
  autogpt_platform/backend/backend/blocks/capy/wait.py
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/capy/create_thread.md
  docs/integrations/block-integrations/capy/messages.md
  docs/integrations/block-integrations/capy/projects.md
  docs/integrations/block-integrations/capy/reviews.md
  docs/integrations/block-integrations/capy/tasks.md
  docs/integrations/block-integrations/capy/threads.md
  docs/integrations/block-integrations/capy/usage.md
  docs/integrations/block-integrations/capy/wait.md
Due: isort, pyright, pytest

fix(backend): keep the failing step as failure_class for unexpected OAuth errors
  autogpt_platform/backend/backend/api/features/integrations/oauth_analytics_test.py
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/util/product_analytics.py
  docs/platform/activation-metrics.md
Due: isort, pyright, pytest

fix(backend/copilot): offload html conversion to thread and tune SPA shell detection
  autogpt_platform/backend/backend/copilot/tools/web_fetch.py
  autogpt_platform/backend/backend/copilot/tools/web_fetch_test.py
Due: isort, pyright, pytest

feat(platform): run skills as /commands with arguments in the copilot chat
  autogpt_platform/backend/backend/api/features/skills/model.py
  autogpt_platform/backend/backend/api/features/skills/routes.py
  autogpt_platform/backend/backend/api/features/skills/routes_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/skill_invocation.py
  autogpt_platform/backend/backend/copilot/skill_invocation_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_invocation_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/skillCommands.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/MentionDropdown.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/MentionDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/mentionStoryFixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useChatMentions.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useSkillCommands.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): keep the bot origin on queued chat turns and pin chat attribution
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/executor/utils_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent_test.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/backend/backend/copilot/turn_queue_test.py
  autogpt_platform/backend/backend/util/product_analytics.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest

fix(backend): don't reject stored reserved-domain emails when reading notification preferences
  autogpt_platform/backend/backend/api/features/user/routes.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/notifications_test.py
  autogpt_platform/backend/backend/data/user.py
Due: isort, pyright, pytest

feat(blocks): Capy Wait For Thread emits the agent's pull request URL
  autogpt_platform/backend/backend/blocks/capy/_api.py
  autogpt_platform/backend/backend/blocks/capy/_pull_requests.py
  autogpt_platform/backend/backend/blocks/capy/capy_test.py
  autogpt_platform/backend/backend/blocks/capy/wait.py
  docs/integrations/block-integrations/capy/wait.md
Due: isort, pyright, pytest

feat(backend/copilot): refresh warm context on follow-up turns
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend/copilot): read memory again on the retry instead of replaying the first block
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

chore(frontend): resync OpenAPI schema after notification preference email change
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(llm): share one retry deadline across LLM block attempts
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Due: isort, pyright, pytest

test(backend/copilot): pin the follow-up refresh at the SDK turn loop
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
Due: isort, pyright, pytest

test(backend/copilot): prove the follow-up refresh reads through the recall policy
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
Due: isort, pyright, pytest
