Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

Delete autogpt_platform/frontend/src/components/nav/NavBarButtons.tsx
  autogpt_platform/frontend/src/components/nav/NavBarButtons.tsx
Due: none

Discard changes to autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/lib/utils.ts
Due: none

Discard changes to autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
Due: none

Discard changes to autogpt_platform/frontend/yarn.lock
  autogpt_platform/frontend/yarn.lock
Due: none

Delete autogpt_platform/infra/helm/autogpt-server/templates/service-executor.yaml
  autogpt_platform/infra/helm/autogpt-server/templates/service-executor.yaml
Due: none

Discard changes to autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
Due: none

Rename autogpt_platform/frontend/src/components/nav/CreditButton.tsx to autogpt_platform/frontend/src/components/CreditButton.tsx
  autogpt_platform/frontend/src/components/CreditButton.tsx
Due: none

fix: merge mess
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

ghrs: snap 12-12-2302-5571 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-12_230254_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-12_230254_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-12_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 12-12-2302-5571 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 12-12-2302-5571 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-12_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 12-12-2302-5571 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix: give it a cost why dont ya
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

Ollama - Remote hosts (#8234)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

feat: Add Slack OAuth integration and messaging capabilities
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/slack/_auth.py
  autogpt_platform/backend/backend/blocks/slack/send_message.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/slack_bot.py
  autogpt_platform/backend/backend/integrations/oauth/slack_user.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix credentials
  autogpt_platform/backend/backend/blocks/slack/_auth.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/slack_bot.py
  autogpt_platform/backend/backend/integrations/oauth/slack_user.py
  autogpt_platform/backend/backend/integrations/providers.py
Due: isort, pyright, pytest

Top-Up intent logic
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: poetry-install, prisma-generate, isort, pyright, pytest

update test_data_creator.py
  autogpt_platform/backend/test/test_data_creator.py
Due: isort, pyright, pytest

Updates to navbar + add autogpt icon
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Due: none

update navbar button font size
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
Due: none

fixed build tests
  autogpt_platform/frontend/src/components/agptui/CreatorCard.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/base.page.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
  autogpt_platform/frontend/src/tests/pages/monitor.page.ts
  autogpt_platform/frontend/src/tests/pages/navbar.page.ts
  autogpt_platform/frontend/src/tests/pages/profile.page.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
Due: none

fix login
  autogpt_platform/frontend/src/tests/auth.spec.ts
Due: none

fix profile tests
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/tests/auth.spec.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/navbar.page.ts
  autogpt_platform/frontend/src/tests/pages/profile.page.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
Due: none

added in other browsers
  autogpt_platform/frontend/playwright.config.ts
Due: none

feat(frontend): Enhance NodeGenericInputField to support array and object types
  autogpt_platform/backend/backend/blocks/test_optional_params.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: isort, pyright, pytest

search results - search box reduce height to 60px
  autogpt_platform/frontend/src/app/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
Due: none

lint
  autogpt_platform/frontend/src/tests/auth.spec.ts
  autogpt_platform/frontend/src/tests/fixtures/login-page.fixture.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
  autogpt_platform/frontend/src/tests/pages/profile.page.ts
Due: none

fix lint
  autogpt_platform/backend/backend/blocks/test_optional_params.py
Due: isort, pyright, pytest

fmt
  autogpt_platform/backend/backend/server/v2/store/db.py
Due: isort, pyright, pytest

updated yarn lock
  autogpt_platform/frontend/yarn.lock
Due: none

format playwright
  autogpt_platform/frontend/playwright.config.ts
Due: none

feat:(backend/test) update test_data_creator.py (#8974)
  autogpt_platform/backend/test/test_data_creator.py
Due: isort, pyright, pytest

fix file
  autogpt_platform/backend/test/test_data_creator.py
Due: isort, pyright, pytest

fix auth tests
  autogpt_platform/frontend/src/tests/auth.spec.ts
Due: none

fix test
  autogpt_platform/backend/backend/blocks/test_optional_params.py
  autogpt_platform/backend/migrations/20241213141341_/migration.sql
Due: isort, pyright, pytest

remove the monitor page tests as we are removing it
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/monitor.page.ts
Due: none

sanitized_query
  autogpt_platform/backend/backend/server/v2/store/db.py
Due: isort, pyright, pytest
