Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(copilot): autopilot library UX + 2 LD kill-switches + unified Scheduled page
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/copilot/tools/session_context.py
  autogpt_platform/backend/backend/copilot/tools/session_context_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/EmptyFollowups/EmptyFollowups.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/GraphScheduleListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/useGraphScheduleListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/useFollowupsPage.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): format new files + extend followups page tests for unified graph schedules
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/EmptyFollowups/EmptyFollowups.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/GraphScheduleListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
Due: prettier, tsc

refactor(backend/copilot): hoist feature-flag imports + prettier-format followups test
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/copilot/tools/session_context.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor(backend/copilot): drop redundant inner imports in feature-flag tests
  autogpt_platform/backend/backend/copilot/tools/session_context_test.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
Due: isort, pyright, pytest

ghrs: snap 05-23-2318-CF76 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-23_231822_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-23_231822_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-23_231822_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 05-23-2318-CF76 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-23_231822_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 05-23-2318-CF76 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 05-23-2318-CF76 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

test(frontend/library): bump patch coverage on autopilot pill + graph schedule rows
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
Due: prettier, tsc

fix(frontend/library): satisfy TS strict on autopilot pill + graph-row test helpers
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
Due: prettier, tsc

test(frontend/library): cover final 'Scheduled agent' agentLabel fallback
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
Due: prettier, tsc

feat(copilot): autopilot UX polish + skills/followups LD kill-switches + unified Scheduled page (#13202)
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/copilot/tools/session_context.py
  autogpt_platform/backend/backend/copilot/tools/session_context_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/EmptyFollowups/EmptyFollowups.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/GraphScheduleListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/useGraphScheduleListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/useFollowupsPage.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/library): invalidate ALL schedule list queries on every mutation
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/useScheduleAgentModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/useScheduleDetailHeader.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditScheduleModal/useEditScheduleModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/useFollowupListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/useGraphScheduleListItem.ts
  autogpt_platform/frontend/src/services/schedules/invalidate-schedules.test.ts
  autogpt_platform/frontend/src/services/schedules/invalidate-schedules.ts
Due: prettier, tsc

test: add E2E screenshots for PR #13202
  test-screenshots/PR-13202/01-library-loaded.png
  test-screenshots/PR-13202/03-scheduled-page.png
  test-screenshots/PR-13202/05-rename-confirmed.png
Due: none

test(frontend/library): cover unified invalidator usage in all changed mutation hooks
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/useScheduleAgentModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/useScheduleDetailHeader.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditScheduleModal/useEditScheduleModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.test.tsx
Due: prettier, tsc

test(frontend/library): restore globalThis.fetch after each EditScheduleModal test
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditScheduleModal/useEditScheduleModal.test.tsx
Due: prettier, tsc

fix(frontend/library): also invalidate library agents on schedule mutations
  autogpt_platform/frontend/src/services/schedules/invalidate-schedules.test.ts
  autogpt_platform/frontend/src/services/schedules/invalidate-schedules.ts
Due: prettier, tsc

test: add E2E screenshots for PR #13204
  test-screenshots/PR-13204/01-agent-detail-before-delete.png
  test-screenshots/PR-13204/02-unified-page-before-delete.png
  test-screenshots/PR-13204/03-unified-page-after-delete.png
  test-screenshots/PR-13204/04-agent-detail-after-delete.png
  test-screenshots/PR-13204/05-agent-detail-after-delete-from-here.png
  test-screenshots/PR-13204/06-unified-page-reverse.png
  test-screenshots/PR-13204/07-builder-schedule-created.png
  test-screenshots/PR-13204/08-unified-page-after-builder-create.png
  test-screenshots/PR-13204/09-pill-with-counts.png
  test-screenshots/PR-13204/10-pill-after-mutation.png
  test-screenshots/PR-13204/10b-pill-after-hardreload.png
  test-screenshots/PR-13204/A1-agent-detail-spa-before.png
  test-screenshots/PR-13204/A2-followups-spa-before-delete.png
  test-screenshots/PR-13204/A3-followups-spa-after-delete.png
  test-screenshots/PR-13204/A4-agent-detail-spa-after-delete.png
  test-screenshots/PR-13204/B1-agent-detail-before-delete-from-here.png
Due: none

fix(frontend/library): unify schedule cache invalidation across all 4 affected query keys (#13204)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/useScheduleAgentModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/useScheduleAgentModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/useScheduleDetailHeader.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/useScheduleDetailHeader.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditScheduleModal/useEditScheduleModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditScheduleModal/useEditScheduleModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/useFollowupListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/GraphScheduleListItem/useGraphScheduleListItem.ts
  autogpt_platform/frontend/src/services/schedules/invalidate-schedules.test.ts
  autogpt_platform/frontend/src/services/schedules/invalidate-schedules.ts
Due: prettier, tsc

fix(backend/orchestrator): pass complete input data to tool execution (#13184)
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_orchestrator.py
  temp_test_file.py
Due: isort, pyright, pytest

style: fix code formatting for CI
  autogpt_platform/backend/backend/blocks/test/test_orchestrator.py
Due: isort, pyright, pytest

fix: resolve linting errors and normalize line endings
  autogpt_platform/.gitattributes
Due: none

fix: resolve linting errors and normalize line endings
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/blocks/test/test_orchestrator.py
  autogpt_platform/backend/backend/copilot/tools/sandbox.py
Due: isort, pyright, pytest

docs(blocks): sync block documentation with upstream dev
  docs/integrations/block-integrations/misc.md
Due: none

fix(backend/copilot): require for_creation=true args in library gate
  autogpt_platform/backend/backend/copilot/tools/_test_data.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/helpers_test.py
Due: isort, pyright, pytest

fix(backend/copilot): trim library-gate descriptions to fit char budget
  autogpt_platform/backend/backend/copilot/tools/create_agent.py
  autogpt_platform/backend/backend/copilot/tools/find_library_agent.py
Due: isort, pyright, pytest

fix(backend/copilot): library gate consults inflight args + requires non-empty goal_summary
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/helpers_test.py
Due: isort, pyright, pytest

ghrs: snap 05-24-2321-7E78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-24_232121_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-24_232121_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-24_232121_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 05-24-2321-7E78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-24-2321-7E78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-24_232121_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-24-2321-7E78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(copilot): MCP setup card fires on stale creds + OAuth popup close race + prompt forces MCP registry search
  autogpt_platform/backend/backend/blocks/mcp/helpers.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/backend/backend/copilot/tools/test_run_mcp_tool.py
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(copilot): hoist top-level imports in mcp/helpers, tighten MCP prompt block
  autogpt_platform/backend/backend/blocks/mcp/helpers.py
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

feat(copilot): surface_connect_card + Connected/Reconnect UI + hostname verification
  autogpt_platform/backend/backend/blocks/mcp/helpers.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/backend/backend/copilot/tools/test_run_mcp_tool.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
Due: isort, prettier, pyright, tsc, pytest

ci(docs): sync block docs for autopilot tool list
  docs/integrations/block-integrations/misc.md
Due: none

fix(copilot): sync requirements.credentials with user_readiness in connected state
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
Due: isort, pyright, pytest

docs(copilot): justify OAuth popup grace window + abort-cleanup the grace timer
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: prettier, tsc

fix(copilot): restore 'Correct flow' heading required by prompting_test
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

fix(copilot): drop Connected state on Reconnect failure so manual-token input renders
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
Due: prettier, tsc

test(copilot): cover Reconnect-failure path in MCPSetupCard
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
Due: prettier, tsc
