Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

enable TS build errors
  autogpt_platform/frontend/next.config.mjs
Due: prettier, tsc

disable `hideSourceMaps`
  autogpt_platform/frontend/next.config.mjs
Due: prettier, tsc

enable Turbopack
  autogpt_platform/frontend/package.json
Due: prettier, tsc

add pagination in all components in default state
  autogpt_platform/frontend/src/components/builder/block-menu/default/ActionBlocksContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/AllBlocksContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/BlocksList.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/InputBlocksContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/IntegrationList.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/IntegrationsContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/MarketplaceAgentsContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/MyAgentsContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/OutputBlocksContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/PaginatedBlocksContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/PaginatedIntegrationList.tsx
  autogpt_platform/frontend/src/hooks/index.ts
  autogpt_platform/frontend/src/hooks/usePagination.ts
Due: prettier, tsc

add type cast to `cookies` use
  autogpt_platform/frontend/src/lib/supabase/getServerSupabase.ts
Due: prettier, tsc

fix use of `searchParams`
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
Due: prettier, tsc

fix use of `params`
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
Due: prettier, tsc

fix CSS compile error
  autogpt_platform/frontend/src/components/customnode.css
Due: prettier, tsc

clean up type mess in `ProfileInfoForm`
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/page.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.stories.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
Due: prettier, tsc

fix SSR errors
  autogpt_platform/frontend/src/app/(platform)/marketplace/actions.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/page.tsx
Due: prettier, tsc

use turbopack in test pipelines
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

more debug logging
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Due: prettier, tsc

fix `yarn start` warning
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

feat(backend/executor): Avoid full table scan on AgentNodeExecutionInputOutput table
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

ghrs: snap 05-26-2302-48E7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-05-26_230254_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-05-26_230254_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-05-26_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 05-26-2302-48E7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-26-2302-48E7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-05-26_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-26-2302-48E7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

docs: add system requirements section to README (#10050)
  README.md
Due: none

update index & migration
  autogpt_platform/backend/migrations/20250526092949_query_optimisation/migration.sql
  autogpt_platform/backend/migrations/20250527083722_agent_node_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate

Avoid blowing index by limitting the time
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

update
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/migrations/20250527090955_node_execution_indexes/migration.sql
Due: isort, pyright, pytest

Avoid blowing index by limitting the time
  autogpt_platform/backend/migrations/20250527090955_node_execution_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate

add migration
  autogpt_platform/backend/migrations/20250527091422_node_execution_indexes/migration.sql
Due: none

fix(platform): Optimise Query Indexes (#10038)
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/migrations/20250527091422_node_execution_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(frontend/marketplace): require category selection (#10031)
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Due: prettier, tsc

make logout a client-side action
  autogpt_platform/frontend/src/lib/supabase/actions.ts
  autogpt_platform/frontend/src/lib/supabase/useSupabase.ts
Due: prettier, tsc

clean up and improve logging in `login.page.ts`
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Due: prettier, tsc

improve output of frontend tests
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

clean up login action
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
Due: prettier, tsc

fix `npm run start`
  autogpt_platform/frontend/package.json
Due: prettier, tsc

clean
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

docs: remove unrelated frontend changes
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc

fix navigation redirect(?)
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
