Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(backend): make a skill package's files reachable and runnable in a turn
  autogpt_platform/backend/backend/copilot/sdk/security_hooks.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/backend/backend/copilot/tools/workdir.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
  autogpt_platform/backend/backend/data/workspace_scope.py
  autogpt_platform/backend/backend/util/workspace.py
  autogpt_platform/backend/backend/util/workspace_test.py
Due: isort, pyright, pytest

fix(backend): strip whitespace in bool string conversion (#14486)
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/backend/util/type_test.py
Due: isort, pyright, pytest

fix(backend): wrap strings as single element in set/tuple conversion (#14488)
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/backend/util/type_test.py
Due: isort, pyright, pytest

perf(backend): copy a skill package's files concurrently
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

perf(frontend): load the avatar artwork as its own chunk
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/NotionAvatar.tsx
Due: prettier, tsc

fix(backend): work notification queues concurrently and survive a channel swap
  autogpt_platform/backend/backend/notifications/consumer_test.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/pyproject.toml
Due: isort, pyright, pytest

feat(backend/copilot): AutoPilot says what its task has left and wraps up before it runs out (#14393)
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/budget_signal.py
  autogpt_platform/backend/backend/copilot/budget_signal_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/copilot/rate_limit_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
  autogpt_platform/backend/backend/copilot/tree.py
  autogpt_platform/backend/backend/copilot/tree_test.py
Due: isort, pyright, pytest

fix(frontend): let the avatar picker clear every seeded feature
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/helpers.ts
Due: prettier, tsc

fix(backend): supervise notification handlers and settle outside the retry
  autogpt_platform/backend/backend/notifications/consumer_test.py
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

fix(frontend): sit the avatar in its disc without a white outline
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/NotionAvatarSvg.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/compose.ts
Due: prettier, tsc

fix(platform): stop Nadia promising a digest the hire flow cannot deliver
  autogpt_platform/backend/agents/agent_31d7abc3-e191-5cac-b3be-3e603fc49314.json
  autogpt_platform/backend/agents/agent_a1af1733-b566-5e2f-ae20-068e2163c4cc.json
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
Due: isort, pyright, pytest

fix(platform): prune template preloads the roster no longer assigns
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
Due: isort, pyright, pytest

fix(platform): scope the preload prune delete to its template
  autogpt_platform/backend/backend/api/features/experts/seed.py
Due: isort, pyright, pytest

refactor(frontend): make the faces static
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/BrainDumpStep/components/MicButton.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/BrainDumpStep/components/__tests__/MicButton.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/ConnectStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/HireStep/HireStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/IntroStep/components/AutopilotScene.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/IntroStep/components/TeamScene.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/IntroStep/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/PreparingStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/RoleStep.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/recipient-colors.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ExpertAvatar/ExpertAvatar.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/components/NotionAvatarPicker/useNotionAvatarPicker.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertAvatarButton/ExpertAvatarButton.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/components/molecules/AutopilotAvatar/AnimatedAutopilotAvatar.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatar/ExpertAvatar.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/NotionAvatar.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/NotionAvatarImage.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/NotionAvatarSvg.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/StatusDot.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/components/StatusBadge.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/compose.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/expressions.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/pose.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/status.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/statusBadge.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/svgElements.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/useExpression.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/usePose.ts
Due: prettier, tsc

feat(frontend): fill the disc with the face and let the skin inherit it
  autogpt_platform/frontend/src/app/avatars/notion/[file]/__tests__/route.test.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/compose.ts
Due: prettier, tsc

fix(platform): seed starter skills before the roster in tests, fix day-one pins
  autogpt_platform/backend/agents/agent_a1af1733-b566-5e2f-ae20-068e2163c4cc.json
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
  autogpt_platform/backend/backend/api/features/store/starter_skills/email-deliverability-guardrails.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/lifecycle-email-map.md
Due: isort, pyright, pytest

fix(platform): derive roster round-trip counts from ROSTER
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

feat(frontend): fold colour into the avatar step and open it on the picker
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/raise-typewriter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/role-prefill.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/AvatarStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/components/NotionAvatarPicker/NotionAvatarPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/components/NotionAvatarPicker/useNotionAvatarPicker.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/useAvatarStep.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/ColorStep/ColorStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/RaiseFlow/components/BeatControl.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/flowItems.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useRaisePage.ts
Due: prettier, tsc

fix(frontend): stop the cycle arrows tooltipping over their neighbours
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AvatarStep/components/NotionAvatarPicker/NotionAvatarPicker.tsx
Due: prettier, tsc

docs(frontend): align AGENTS.md matcher with suite (no jest-dom) (#14539)
  autogpt_platform/frontend/src/tests/AGENTS.md
Due: prettier, tsc

fix(backend/copilot): keep a hire's onboarding card on the expert's own role
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/expert_kickoff.py
  autogpt_platform/backend/backend/copilot/expert_kickoff_test.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/tools/expert_onboarding.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expertKickoff.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/expertKickoff.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): give every accent its own disc, and make them paler
  autogpt_platform/backend/backend/copilot/tools/expert_avatar.py
  autogpt_platform/backend/backend/copilot/tools/expert_avatar_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_change_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/IntroStep/components/TeamScene.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/__tests__/expert-groups.test.tsx
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

feat(backend): add rate limiting to the external API
  autogpt_platform/backend/backend/api/external/rate_limit.py
  autogpt_platform/backend/backend/api/external/rate_limit_test.py
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/api/external/v1/tools.py
Due: isort, pyright, pytest

test(platform): add style-eval fixtures for the three new experts
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/jules.json
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/maria.json
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/nadia.json
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/remy.json
  autogpt_platform/backend/backend/copilot/eval/style/runner_test.py
Due: isort, pyright, pytest

docs(frontend): name the avatar pack correctly in the NOTICE
  autogpt_platform/frontend/scripts/vendor-notion-avatar.mjs
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/NOTICE
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/metadata.generated.ts
  autogpt_platform/frontend/src/components/molecules/NotionAvatar/parts.generated.ts
Due: prettier, tsc

feat(platform): move untouched Maria hires onto the rescoped persona
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
Due: isort, pyright, pytest

fix(backend/copilot): keep a hire's onboarding card on the expert's own role (#14547)
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/expert_kickoff.py
  autogpt_platform/backend/backend/copilot/expert_kickoff_test.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/tools/expert_onboarding.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expertKickoff.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/expertKickoff.ts
Due: isort, prettier, pyright, tsc, pytest

feat(backend): store, copy and delete a skill as its whole package
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_isolation_test.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
Due: isort, pyright, pytest

feat(platform): raise experts with real marketplace skills
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/raise_attachments.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/skills-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SkillsSection/SkillsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/useAttachmentPicker.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/useKitSearch.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/MarketplaceStep/MarketplaceStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/MarketplaceStep/MarketplaceStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/RaiseFlow/components/BeatControl.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/SkillsStep/SkillsStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/flowItems.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useRaisePage.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useSkillsAvailability.ts
Due: isort, prettier, pyright, tsc, pytest

dx(backend): cut the package boundary's comments to the house length
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

fix(backend/llm): make structured-output tag deterministic for Anthropic cache
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Due: isort, pyright, pytest

docs: fix stale AGENTS/README/ollama/Llama/OAuth doc links
  README.md
  docs/platform/ollama.md
  docs/platform/what-is-autogpt-platform.md
Due: none

review: brand as "AI/ML API", keep the non-technical tagline, drop an unused import
  autogpt_platform/backend/backend/api/features/builder/db_test.py
  autogpt_platform/backend/backend/blocks/_static_provider_configs.py
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/helpers.ts
  autogpt_platform/frontend/src/providers/agent-credentials/helper.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/builder): stabilize ReactFlow prop references on the builder canvas (#13750)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/__tests__/Flow.test.tsx
Due: prettier, tsc

test(backend): style-eval fixtures for Ada and Rack
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/ada.json
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/rack.json
  autogpt_platform/backend/backend/copilot/eval/style/runner_test.py
Due: isort, pyright, pytest

fix(backend/workspace): free an overwritten file's path to microseconds
  autogpt_platform/backend/backend/data/workspace.py
  autogpt_platform/backend/backend/data/workspace_test.py
Due: isort, pyright, pytest

fix: address code review feedback
  docs/platform/deployment-environment-variables.md
Due: none

docs: add deployment environment variables guide
  docs/platform/SUMMARY.md
  docs/platform/deployment-environment-variables.md
Due: none

feat(platform): upload and download a skill as a zip package
  autogpt_platform/backend/backend/api/features/skill_zip.py
  autogpt_platform/backend/backend/api/features/skill_zip_test.py
  autogpt_platform/backend/backend/api/features/store/skill_seed.py
  autogpt_platform/backend/backend/api/features/store/skill_seed_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/SkillsPanel/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/components/contextual/SkillsPanel/components/SkillListItem/helpers.ts
  autogpt_platform/frontend/src/components/contextual/SkillsPanel/components/SkillListItem/useSkillListItem.ts
  autogpt_platform/frontend/src/components/contextual/SkillsPanel/components/UploadSkillButton/UploadSkillButton.tsx
  autogpt_platform/frontend/src/components/contextual/SkillsPanel/components/UploadSkillButton/helpers.ts
  autogpt_platform/frontend/src/components/contextual/SkillsPanel/components/UploadSkillButton/useUploadSkillButton.ts
Due: isort, prettier, pyright, tsc, pytest
