Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

refactor: streamline error handling in edit_submission and enhance logging
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/useMainDashboardPage.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/storeSubmissionEditRequest.ts
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Due: isort, prettier, pyright, tsc, pytest

Remove feature flag from `suspend_key` and `update_permissions` endpoints to enable direct access in CI and local environments.
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

fix lint
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Due: prettier, tsc

chore(api): remove launch darkly feature flags from api key endpoints (#10694)
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

Clarify Ollama host setup for Docker users
  docs/content/platform/ollama.md
Due: none

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AutomaticTriggerForm/AutomaticTriggerForm.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AutomaticTriggerForm/useAutomaticTriggerForm.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CredentialsSection/CredentialsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/InputSection/InputSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ManualRunForm/ManualRunForm.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ManualRunForm/useManualRunForm.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ManualTriggerForm/ManualTriggerForm.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ManualTriggerForm/useManualTriggerForm.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalContent/ModalContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/VariantTabs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleRunForm/ScheduleRunForm.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleRunForm/ScheduleSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleRunForm/useScheduleRunForm.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.tsx
  autogpt_platform/frontend/src/components/contextual/RunAgentModal/RunAgentModal.tsx
Due: prettier, tsc

fix(frontend): add AutoGPT to reset password title
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
Due: prettier, tsc

ghrs: snap 08-19-2302-6D53 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-19_230250_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-19_230250_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-19_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 08-19-2302-6D53 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-19-2302-6D53 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-19_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-19-2302-6D53 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(frontend): add AutoGPT to password reset email title
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
Due: prettier, tsc

Remove generated files
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/default/default.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/blockCategoryResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/blockCategoryResponseBlocksItem.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/blockResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/blockResponseBlocksItem.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/countResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/getV2GetBuilderBlockCategoriesParams.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/getV2GetBuilderBlocksParams.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/getV2GetBuilderIntegrationProvidersParams.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/libraryAgentOutputSchema.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/provider.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/providerResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequest.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestByCreator.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestFilter.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestFilterAnyOfItem.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestPage.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestPageSize.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestSearchId.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchRequestSearchQuery.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchResponseItemsItem.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchResponseItemsItemAnyOf.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/searchResponseTotalItems.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/suggestionsResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/suggestionsResponseTopBlocksItem.ts
Due: prettier, tsc

feat(platform/dashboard): Enable editing for agent submissions (#10545)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/backend/util/models.py
  autogpt_platform/backend/migrations/20250805111135_add_video_url_and_categories_to_store_submission_view/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTable/AgentTable.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/useMainDashboardPage.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/storeSubmissionEditRequest.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/agptui/Status.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/EditAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

Add delay and safeguard for tutorial popover initialization
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
Due: prettier, tsc

prettier
  autogpt_platform/frontend/src/components/Flow.tsx
Due: prettier, tsc

Add 'Back' button to tutorial popover
  autogpt_platform/frontend/src/components/tutorial.ts
Due: prettier, tsc

feat(frontend): add clearAgentFile function to LibraryUploadAgentDialog
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Due: prettier, tsc

fix format
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Due: prettier, tsc

Update `openapi.json`
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

Reapply "Merge branch 'master' of https://github.com/Significant-Gravitas/AutoGPT into ntindle/secrt-1218-add-ability-to-reject-approved-agents-in-admin-dashboard"
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

fix(frontend): clear agent name and description on agent file removal (#10703)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Due: prettier, tsc

Fix response
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

Remove 'Every Minute' option from cron scheduler
  autogpt_platform/frontend/src/components/cron-scheduler.tsx
Due: prettier, tsc

feat(backend): Add user timezone support to backend
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250819163527_add_user_timezone/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

feat(backend): add user timezone fetching and handling in execution and scheduling
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

feat(frontend): add API endpoints for getting and updating user timezone
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

feat(frontend): add timezone selection and auto-detection in settings
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/TimezoneForm/TimezoneForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/TimezoneForm/useTimezoneForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/hooks/useTimezoneDetection.ts
Due: prettier, tsc

feat(frontend): add timezone detection during onboarding process
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
Due: prettier, tsc

feat(docs): add timezone implementation handoff document
  autogpt_platform/TIMEZONE_IMPLEMENTATION_HANDOFF.md
Due: none

fix(frontend): Fix date handling and make legacy `GraphExecutionMeta` compatible with generated type
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

feat(platform/library): Agent Runs list infinite scroll
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Due: isort, prettier, pyright, tsc, pytest

add note for remaining TODO
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
Due: prettier, tsc

build(backend): Change base image to `debian:13-slim` w/ Python 3.13 (#10654)
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

feat(backend): update based on testing and expereince of use
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/api/openapi.json
Due: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest
