Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

Refactor LLM registry integration and schema updates
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/llm_schema_utils.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/llm_registry_init.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix(backend): Remove Google Sheets API scopes from block inputs (#11484)
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
Due: isort, pyright, pytest

ci(claude): add free disk space step to prevent runner out of space
  .github/workflows/claude.yml
Due: none

fix(backend): Fix Youtube blocking our cloud ips (#11456)
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test/blocks/test_youtube.py
Due: isort, pyright, pytest

feat(platform): Explain None Message in BlockError Messages (#11490)
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/exceptions_test.py
Due: isort, pyright, pytest

feat(platform): Simplify the chat tool system to use only 2 tools (#11464)
  autogpt_platform/backend/backend/server/external/routes/tools.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/utils.py
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatMessage/useChatMessage.ts
Due: isort, prettier, pyright, tsc, pytest

feat(backend/blocks): add Discord create thread block (#11131)
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Due: isort, pyright, pytest

ci(claude): add free disk space step to prevent runner out of space (#11503)
  .github/workflows/claude.yml
Due: none

ghrs: snap 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-01_230326_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-01_230326_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat(frontend): add flatbush dependency and enhance Flow component
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/helpers/resolve-collision.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(feature-flags): update mock feature flags to disable NEW_FLOW_EDITOR and BUILDER_VIEW_SWITCH
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/helpers/resolve-collision.ts
Due: prettier, tsc

fix(frontend): update dynamic property connection in ObjectEditorWidget
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(frontend): prune empty values in nodeStore input defaults
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(platform): implement graph-level Safe Mode toggle for HITL blocks (#11455)
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/backend/util/timezone_utils.py
  autogpt_platform/backend/migrations/20251128112407_add_library_agent_settings/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/test_requeue_integration.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/useRunDetailHeader.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/molecules/FloatingSafeModeToggle/FloatingSafeModeToggle.tsx
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend): resolve HITL execution context validation and re-enable tests
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Due: isort, pyright, pytest

pr comments
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
Due: isort, pyright, pytest

fixed security warning
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Due: isort, pyright, pytest

fix(backend): resolve HITL execution context validation and re-enable tests (#11509)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Due: isort, pyright, pytest

revery change
  autogpt_platform/backend/backend/integrations/credentials_store.py
Due: isort, pyright, pytest

refactor(frontend): restructure TextInputWidget import path and remove unused file
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget/InputExpanderModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget/TextInputWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/index.ts
Due: prettier, tsc

fix(frontend): Update isGraphRunning state when manually executing graphs (#11489)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
Due: prettier, tsc

fix(frontend): prune empty values from node inputs and fix object editor connection detection (#11507)
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Due: prettier, tsc

refactor(backend): create helper method for updating library agent version and HITL settings
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Due: isort, pyright, pytest

fix(backend): fix broken update_agent_version_in_library and reduce the method code duplication (#11514)
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Due: isort, pyright, pytest

Add LLM model deletion and migration feature
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes_test.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ProviderList.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/Table/Table.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: isort, prettier, pyright, tsc, pytest

format
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/llm_model_types.py
  autogpt_platform/backend/backend/data/llm_registry.py
  autogpt_platform/backend/backend/data/llm_registry_notifications.py
  autogpt_platform/backend/backend/data/llm_schema_utils.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/llm_registry_init.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes_test.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/backend/server/v2/llm/routes.py
  autogpt_platform/backend/backend/server/ws_api.py
Due: isort, pyright, pytest

improve UI; support running presets; fix event handlers
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/WebhookTriggerBanner/WebhookTriggerBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedTemplateView/SelectedTemplateView.tsx
Due: prettier, tsc

fix: Remove unnecessary whitespace in run method
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

Remove unnecessary newline in llm.py
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

Update autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/model.py
Due: isort, pyright, pytest

fix(blocks): clamp Twitter search start_time to 10 seconds before now (#11461)
  autogpt_platform/backend/backend/blocks/twitter/_builders.py
  autogpt_platform/backend/backend/blocks/twitter/_serializer.py
  autogpt_platform/backend/backend/blocks/twitter/_types.py
Due: isort, pyright, pytest

pr comment changes
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/migrations/20251127144817_add_api_key_integration_permissions/migration.sql
Due: isort, pyright, pytest

fix(frontend/marketplace): Fix rendering creator links without schema
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorLinks/CreatorLinks.tsx
Due: prettier, tsc

Refactor request retries to allow immediate error handling
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/util/request.py
Due: isort, pyright, pytest

feat(platform): Integration management from external api (#11472)
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20251127144817_add_api_key_integration_permissions/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest
