Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: stars and forks 07-02-2323-4CDC for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 07-02-2323-4CDC for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(backend): encrypt the kitchen-sink seed credential so it actually decrypts
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

fix(backend): guard unbounded-cache maxsize in store cache metrics
  autogpt_platform/backend/backend/api/features/store/routes.py
Due: isort, pyright, pytest

feat(frontend): hide "Create organization" until org management ships
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/OrgTeamSwitcher.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/__tests__/OrgTeamSwitcher.test.tsx
Due: prettier, tsc

feat(frontend): polish artifacts page and sidebar for new AutoGPT layout
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/PlatformChrome.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/InsetHeaderTitle/InsetHeaderTitle.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/page.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/RecentChats.tsx
Due: prettier, tsc

fix(frontend): sync artifacts layout with app shell via usePlatformChrome
  autogpt_platform/frontend/src/app/(platform)/artifacts/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/page.tsx
Due: prettier, tsc

refactor(frontend): use interface Props for artifacts skeleton
  autogpt_platform/frontend/src/app/(platform)/artifacts/page.tsx
Due: prettier, tsc

fix(platform): make Ollama credentials optional
  autogpt_platform/backend/backend/blocks/_static_provider_configs.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/components/ConnectServiceDialog/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/components/ConnectServiceDialog/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/CredentialsInput.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/CredentialField.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): add copilot task progress bar above chat input behind flag
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelAutoOpen.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/ProgressTab/ProgressTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/ProgressTab/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/TabSwitcher.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/useAutoOpenForFiles.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/useAutoOpenForProgress.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/TaskProgressBar.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/TaskProgressBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(frontend): complete framer-motion mock in ChatContainer test
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/ChatContainer.test.tsx
Due: prettier, tsc

fix(classic/forge): strip Authorization header on cross-host redirects
  classic/forge/forge/components/http_client/http_client.py
  classic/forge/forge/components/http_client/test_http_client.py
Due: isort, pyright, pytest

fix(frontend): recover TodoWrite orphans from todos field, clamp hidden progress tab
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
Due: prettier, tsc

test(frontend): cover TaskProgressBar component and helpers
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/__tests__/TaskProgressBar.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(frontend): clamp copilot height in new layout and align recent-chat active color
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/RecentChatItem/RecentChatItem.tsx
  autogpt_platform/frontend/src/lib/constants.ts
Due: prettier, tsc

ci(frontend): fix prettier formatting in TaskProgressBar tests
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/__tests__/TaskProgressBar.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/__tests__/helpers.test.ts
Due: prettier, tsc

fix(frontend): default task-progress-bar flag off and wire env override
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

refactor(frontend): split TaskProgressBar into StatusIcon and TaskRow sub-components
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/TaskProgressBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/animations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/components/StatusIcon/StatusIcon.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/components/TaskRow/TaskRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TaskProgressBar/helpers.ts
Due: prettier, tsc

fix(frontend): keep autogpt-new-layout default off and drop noisy flag comment
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(backend/copilot-bot): enforce subscription paywall + rate limits on bot turns
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/chat_test.py
  autogpt_platform/backend/backend/platform_linking/models.py
Due: isort, pyright, pytest

fix(frontend): trim tool_call_id when indexing tool outputs
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
Due: prettier, tsc

fix(backend): idempotent profile seeding in copilot test data
  autogpt_platform/backend/backend/copilot/tools/_test_data.py
Due: isort, pyright, pytest

feat(backend/copilot-bot): gate before uploads + fail closed on unexpected rate-limit errors
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/chat_test.py
  autogpt_platform/backend/backend/platform_linking/manager.py
  autogpt_platform/backend/backend/platform_linking/models.py
Due: isort, pyright, pytest

feat(frontend): add app-shell sidebar and artifact panel to tour demo
  autogpt_platform/frontend/src/app/(public)/tour/chat/TourChatHost.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/TourCopilot.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/__tests__/app-shell.test.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourSidebar/TourSidebar.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourSidebar/components/TourSidebarHeader.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/helpers.ts
  autogpt_platform/frontend/src/app/(public)/tour/chat/script/completionArtifacts.ts
  autogpt_platform/frontend/src/app/(public)/tour/chat/script/tourScenarios.ts
  autogpt_platform/frontend/src/app/(public)/tour/chat/script/types.ts
  autogpt_platform/frontend/src/app/(public)/tour/chat/useTourCopilot.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(frontend): ungate tour artifact from flag, add fixed upsell banner
  autogpt_platform/frontend/src/app/(public)/tour/chat/TourCopilot.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/__tests__/app-shell.test.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourChatContainer/TourChatContainer.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourPromptBar/TourPromptBar.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourScenarioChips/TourScenarioChips.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourSidebar/components/TourSidebarHeader.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourUpsellBanner/TourUpsellBanner.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourUpsellCard/TourUpsellCard.tsx
Due: prettier, tsc

refactor(frontend): center tour upsell CTAs, drop caption line
  autogpt_platform/frontend/src/app/(public)/tour/chat/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourUpsellBanner/TourUpsellBanner.tsx
Due: prettier, tsc

refactor(backend): trim historical context from get_or_create_user comment
  autogpt_platform/backend/backend/data/user.py
Due: isort, pyright, pytest

fix(frontend): render empty profile form when user has no profile yet
  autogpt_platform/frontend/src/app/(platform)/settings/profile/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/profile/useProfilePage.ts
Due: prettier, tsc

fix(backend): tolerate create race in update_profile
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
Due: isort, pyright, pytest

fix(backend): retry profile creation on username collision
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
Due: isort, pyright, pytest

fix(frontend): hide new app sidebar on unauthenticated platform pages
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/__tests__/usePlatformChrome.test.ts
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/usePlatformChrome.ts
Due: prettier, tsc

fix(frontend/builder): offset tutorial connection popover so handles stay draggable
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/connections.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/tutorial.css
Due: prettier, tsc

fix(frontend): keep Schedule Run button enabled when editing schedule name
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/components/ModalScheduleSection/helpers.ts
Due: prettier, tsc

fix(frontend/builder): run the freshly-saved graph version, not the stale one
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
Due: prettier, tsc

fix(frontend/builder): highlight node output in builder tutorial run step
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/run.ts
Due: prettier, tsc

feat(frontend): make View Submission modal state-aware with real content
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/components/DashboardHeader/DashboardHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/components/SubmissionItem/useSubmissionItem.ts
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/useCreatorDashboardPage.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/PublishAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentReviewStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/ReviewStepper.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/ShareLinkButton.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/__tests__/AgentReviewStep.test.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Due: prettier, tsc

test(frontend/builder): cover tutorial show-output step beforeShowPromise
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/tutorial/steps/__tests__/run.test.ts
Due: prettier, tsc

test(frontend/builder): cover useSaveGraph return paths for patch coverage
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useSaveGraph.test.tsx
Due: prettier, tsc

test(frontend): cover View Submission modal helpers and share button
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/__tests__/ShareLinkButton.test.tsx
Due: prettier, tsc

fix(platform): fix lint and add ollama credential UI tests
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/__tests__/CredentialField.test.tsx
Due: isort, prettier, pyright, tsc, pytest
