Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

feat(backend/copilot): capability-group filtering for tools
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

fix(backend/copilot): tighten Drive file validator and address review feedback
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator_test.py
Due: isort, pyright, pytest

feat(backend/copilot): sweep CLI project dir for compaction gen-IDs (reconcile gap)
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost.py
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

docs(backend/copilot): trim verbose TodoWrite/run_sub_session prompt guidance
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): preserve non-bot mention context; expose adapter health
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/app.py
Due: isort, pyright, pytest

style(backend/copilot): hoist ToolGroup + tool_names_in_groups to module-level imports
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
Due: isort, pyright, pytest

fix(backend/copilot): scope subagent sweep to this session's this turn (reconcile bug)
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost.py
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): strip non-Anthropic thinking blocks at any position
  autogpt_platform/backend/backend/copilot/transcript.py
  autogpt_platform/backend/backend/copilot/transcript_test.py
Due: isort, pyright, pytest

style(backend/copilot): black reformat of transcript strip changes (CI lint)
  autogpt_platform/backend/backend/copilot/transcript.py
  autogpt_platform/backend/backend/copilot/transcript_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): remove dead per-index diff state (sentry)
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
Due: isort, pyright, pytest

refactor(copilot): consolidate post-rebase cleanup + unmount safety
  .gitignore
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotChatHost.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/CopilotPage.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotPage.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/ChatMessagesContainer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ReasoningCollapse.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/RetrievalIndicator.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ThinkingIndicator.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/__tests__/ReasoningCollapse.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamStore.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useSendMessage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useWorkflowImportAutoSubmit.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend/copilot): split useCopilotStream into focused sub-hooks
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotStream.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamErrorHandlers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamStore.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotReconnect.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStop.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useSendMessage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useWakeResync.ts
  autogpt_platform/frontend/src/hooks/useMountEffect.ts
Due: prettier, tsc

fix(backend/copilot): scope dot-to-hyphen normalization to Anthropic models
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): LD-reject fallback must use tier-specific default
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend/copilot): LD override must win over subscription mode
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend/copilot): strip whitespace on config tier default before LD compare
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend/copilot): strip whitespace at the resolve_model source
  autogpt_platform/backend/backend/copilot/model_router.py
  autogpt_platform/backend/backend/copilot/model_router_test.py
Due: isort, pyright, pytest

test(backend/copilot): cover new title-cost + observed-model paths (codecov)
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/service_unit_test.py
Due: isort, pyright, pytest

test(frontend): add delete-error test for trigger-agent removal hook
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/__tests__/trigger-agents.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useRemoveTriggerAgent.tsx
Due: prettier, tsc

feat(frontend/copilot): show usage-limit card and disable chat input when quota hit
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsageLimitReachedCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsagePanelContent.tsx
  autogpt_platform/frontend/src/components/atoms/Tooltip/BaseTooltip.tsx
Due: prettier, tsc

feat(frontend): add Settings v2 page layout behind SETTINGS_V2 flag (SECRT-2272)
  autogpt_platform/frontend/src/app/(platform)/settings/api-keys/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsMobileNav/SettingsMobileNav.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/SettingsNavItem.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/SettingsSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/useSettingsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/settings/creator-dashboard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/oauth-apps/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/preferences/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/profile/page.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(platform/copilot): address sentry review comments on tool-list pluralization and weekly-usage null guard
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/RateLimitResetDialog/RateLimitGate.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): graceful shutdown + fail-close for in-flight turns
  .claude/skills/pr-polish/SKILL.md
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/pending_messages.py
  autogpt_platform/backend/backend/copilot/pending_messages_test.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
Due: isort, pyright, pytest

test(backend/library): add tests for list_trigger_agents db + route
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/api/features/library/routes_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): migrate RateLimitGate to CoPilotUsagePublic schema
  autogpt_platform/frontend/src/app/(platform)/copilot/components/RateLimitResetDialog/RateLimitGate.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/RateLimitResetDialog/__tests__/RateLimitGate.test.tsx
Due: prettier, tsc

test(frontend): integration tests for Settings v2 sidebar, mobile nav, and placeholder pages
  autogpt_platform/frontend/src/app/(platform)/settings/__tests__/SettingsMobileNav.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/__tests__/SettingsSidebar.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/__tests__/placeholder-pages.test.tsx
Due: prettier, tsc

fix(backend/copilot): refactor cleanup into phases + address review
  .claude/skills/pr-polish/SKILL.md
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/pending_messages.py
  autogpt_platform/backend/backend/copilot/pending_messages_test.py
Due: isort, pyright, pytest

fix(backend/copilot): bound final future.result() so wedged loop hits sync fail-close
  autogpt_platform/backend/backend/copilot/executor/processor.py
Due: isort, pyright, pytest

fix(backend/copilot): defer channel.stop_consuming to teardown
  autogpt_platform/backend/backend/copilot/executor/manager.py
Due: isort, pyright, pytest

docs(skills/pr-polish): emphasize auto-continue + fix argument-hint frontmatter
  .claude/skills/pr-polish/SKILL.md
Due: none

fix(backend/copilot): stop pre-empting healthy in-flight turns on SIGTERM
  autogpt_platform/backend/backend/copilot/executor/manager.py
Due: isort, pyright, pytest

fix(backend/copilot): disable ask_question tool pending UX rework
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/prompting_test.py
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/tools/__init__.py
Due: isort, pyright, pytest

refactor(backend/copilot): simplify cleanup to match agent-executor pattern
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/pending_messages.py
  autogpt_platform/backend/backend/copilot/pending_messages_test.py
Due: isort, pyright, pytest

docs(skills/pr-polish): normalize PR URL to numeric id in skill arg
  .claude/skills/pr-polish/SKILL.md
Due: none

refactor(backend/copilot): extract _execute so safety-net try/finally is obvious
  autogpt_platform/backend/backend/copilot/executor/processor.py
Due: isort, pyright, pytest

docs(skills/pr-test): release testing lock immediately after test run
  .claude/skills/pr-test/SKILL.md
Due: none

docs(skills/pr-test): reject local filesystem paths in PR comment body
  .claude/skills/pr-test/SKILL.md
Due: none

fix(backend/copilot): force fresh AsyncRedis per sync fail-close + tests
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): reuse execution_loop for sync safety net
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
Due: isort, pyright, pytest

docs(backend/copilot): correct x-consumer-timeout migration note
  autogpt_platform/backend/backend/copilot/executor/utils.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
