Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

Update autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc

ghrs: snap 04-26-2302-0539 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-26_230236_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-26_230236_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-26_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 04-26-2302-0539 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-26_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 04-26-2302-0539 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 04-26-2302-0539 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix lint
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc

refactor(LibrarySortMenu): Optimize component with memoization and mapping improvements
  autogpt_platform/frontend/src/components/library/library-sort-menu.tsx
Due: prettier, tsc

refactor(LibrarySortMenu): Add LAST_EXECUTION sort with proper backend implementation
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
Due: isort, pyright, pytest

Fix margin and agent name on the run page
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
Due: prettier, tsc

fix(backend): Fix top-up with zero transaction flow
  autogpt_platform/backend/backend/data/credit.py
Due: isort, pyright, pytest

fix(backend): Fix top-up with zero transaction flow (#9886)
  autogpt_platform/backend/backend/data/credit.py
Due: isort, pyright, pytest

ghrs: snap 04-27-2302-461C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-27_230240_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-27_230240_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-27_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 04-27-2302-461C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 04-27-2302-461C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-27_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 04-27-2302-461C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix: handle empty 204 responses in SendWebRequestBlock
  autogpt_platform/backend/backend/blocks/http.py
Due: isort, pyright, pytest

fix mock client and Become a cretor section
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.stories.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/mock_client.ts
Due: prettier, tsc

Add Note to "Getting Started" page for Raspberry Pi 5 page size issue with `supabase-vector` that prevents `docker compose up` from running successfully.
  docs/content/platform/getting-started.md
Due: none

fix Hero section component and stories
  autogpt_platform/frontend/src/components/agptui/FilterChips.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
Due: prettier, tsc

feat(backend): Improve execution cancel reliability
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

address comment
  autogpt_platform/backend/backend/blocks/basic.py
Due: isort, pyright, pytest

feat(block): bring back PrintConsoleBlock (#9850)
  autogpt_platform/backend/backend/blocks/basic.py
Due: isort, pyright, pytest

fix PublishAgentSelect and PublishAgentPopoutcomponent
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Due: prettier, tsc

fix PublishAgentSelectInfo Component
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Due: prettier, tsc

fix lint
  autogpt_platform/frontend/.storybook/stoybook_guide.md
Due: prettier, tsc

Update autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
Due: isort, pyright, pytest

add turnstile_site_key to settings.py + rename secret_key to turnstile_secret_key
  autogpt_platform/backend/backend/server/v2/turnstile/service.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

Update settings.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

add new line to ``.env.example``
  autogpt_platform/frontend/.env.example
Due: prettier, tsc

make turnstileToken required
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
Due: prettier, tsc

prettier
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
Due: prettier, tsc

fix "Type 'undefined' is not assignable to type 'string'."
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Due: prettier, tsc

format
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/service.py
Due: isort, pyright, pytest

fix(frontend): Add support to optional multiselect (#9885)
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc
