Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(blocks): require an absolute desktop preview origin
  autogpt_platform/backend/backend/util/desktop_preview.py
  autogpt_platform/backend/backend/util/desktop_preview_test.py
  autogpt_platform/backend/scripts/e2b_desktop/README.md
Due: isort, pyright, pytest

fix(blocks): budget for the final interpreter probe retry
  autogpt_platform/backend/backend/blocks/code_executor_desktop.py
  autogpt_platform/backend/backend/blocks/code_executor_desktop_test.py
Due: isort, pyright, pytest

fix(backend/executor): judge the empty-scan safeguard by the raw jobstore scan
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

fix(analytics): mature funnel stages from the cohort's last signup
  autogpt_platform/analytics/queries/user_lifecycle_funnel_weekly.sql
Due: none

dx(skills): only time out the review wait when a request exists
  .claude/skills/pr-address/SKILL.md
  .claude/skills/pr-polish/SKILL.md
Due: none

ci(platform): declare least-privilege token permissions on dispatchable workflows
  .github/workflows/classic-python-checks.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-block-sync.yml
  .github/workflows/platform-fullstack-ci.yml
Due: none

test(backend): cover attribution create, concurrent-create fallback and no-overwrite
  autogpt_platform/backend/backend/data/attribution_test.py
Due: isort, pyright, pytest

feat(copilot): add contextual Max upgrade from model picker
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectAccountRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeBenefits.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradePricing.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/TierToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/maxUpgrade.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useMaxUpgrade.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/MaxUpgrade.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/MaxUpgradePayment.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/maxUpgradeFixtures.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/maxUpgradePricing.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/useMaxUpgrade.test.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/Dialog.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DrawerWrap.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/useDialogCtx.ts
Due: prettier, tsc

fix(frontend/copilot): stop mid-reply no longer wedges playback for good
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/__tests__/speechPlayer.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/speechPlayer.ts
Due: prettier, tsc

feat(platform): add actionable automation credit history
  autogpt_platform/backend/backend/api/features/credit_history_routes_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_history.py
  autogpt_platform/backend/backend/data/credit_history_cursor.py
  autogpt_platform/backend/backend/data/credit_history_cursor_test.py
  autogpt_platform/backend/backend/data/credit_history_enrichment.py
  autogpt_platform/backend/backend/data/credit_history_enrichment_test.py
  autogpt_platform/backend/backend/data/credit_history_queries.py
  autogpt_platform/backend/backend/data/credit_history_service_test.py
  autogpt_platform/backend/backend/data/credit_history_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/org_credit.py
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/TransactionHistoryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/activity-types.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/receipt-snapshot.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/transaction-history.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/ReceiptBreakdown.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/ReceiptEntries.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/ReceiptMetadata.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/ReceiptRelations.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/TransactionAmount.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/TransactionHistoryTable.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/TransactionReceipt.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/TransactionRow.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/useReceiptSelection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/useTransactionHistoryCard.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): bound string truncation to size_limit and prevent sentinel overflow
  autogpt_platform/backend/backend/util/truncate.py
  autogpt_platform/backend/backend/util/truncate_test.py
Due: isort, pyright, pytest

fix(backend): enforce bounded fallback for structured values at small limits
  autogpt_platform/backend/backend/util/truncate.py
  autogpt_platform/backend/backend/util/truncate_test.py
Due: isort, pyright, pytest

fix(backend): raise the LLM request timeout to 600s and make it configurable (#14206)
  autogpt_platform/backend/backend/blocks/ai_condition.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/copilot/dream/llm.py
  autogpt_platform/backend/backend/copilot/dream/llm_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/service_unit_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/llm/providers.py
  autogpt_platform/backend/backend/util/llm/providers_test.py
  autogpt_platform/backend/backend/util/llm/saturation.py
  autogpt_platform/backend/backend/util/llm/saturation_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(frontend/copilot): stop managed, stale and trigger credentials breaking the Connect card (#14327)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/ChainActionCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/ConnectorRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/SetupRequirementsCard/SetupRequirementsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/connect-card-flow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/chainActions.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/ConnectCredentialDialog/ConnectCredentialDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/useOAuthConnect.test.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/useApiKeyConnectForm.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/useOAuthConnect.ts
Due: prettier, tsc

docs(dx): post pr-test screenshots as comment attachments, not repo branches (#14305)
  .claude/skills/pr-test/SKILL.md
Due: none

refactor(platform): narrow the external-action soul rule to what is enforced (#14210)
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/snapshots/expert_pod_assign
  autogpt_platform/backend/snapshots/expert_raise_attachment_installation_failure
  autogpt_platform/backend/snapshots/expert_raise_attachments
  autogpt_platform/backend/snapshots/expert_raise_default
  autogpt_platform/backend/snapshots/expert_soul_update
  autogpt_platform/backend/snapshots/expert_templates_list
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/install-on-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/SoulDrawer/SoulDrawer.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/__tests__/expert-groups.test.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/builder): show error toast when a requested graph fails to load (#14266)
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useFlow.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useIsReadOnlyGraph.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
  autogpt_platform/frontend/src/app/(platform)/build/helpers/__tests__/graphLoadError.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/helpers/graphLoadError.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useIsReadOnlyGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
Due: prettier, tsc

fix(frontend/copilot): wait for every tool's result before spending the chain's one send
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/connect-card-flow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
Due: prettier, tsc

fix(backend): resolve graph settings against the version being run
  autogpt_platform/backend/backend/api/features/executions/review/review_routes_test.py
  autogpt_platform/backend/backend/api/features/executions/review/routes.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

fix(frontend): show what the approval card will execute, and approve only that (#14212)
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/__tests__/PendingReviewCard.test.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/__tests__/PendingReviewsList.test.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(backend): invalidate the copilot integration-token cache across processes (#14320)
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/integrations/creds_events.py
  autogpt_platform/backend/backend/integrations/creds_events_test.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/integrations/creds_manager_test.py
Due: isort, pyright, pytest

fix(backend/copilot): a sub-session hands back a bounded result, not its whole tool log (#14309)
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
Due: isort, pyright, pytest

feat(backend/copilot): upgrade claude-agent-sdk to 0.2.152 and pin the context window explicitly (#14208)
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/cli_openrouter_compat_test.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway_test.py
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/env_test.py
  autogpt_platform/backend/backend/copilot/sdk/sdk_compat_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(frontend/copilot): keep approval-gated tool calls out of the once-only send
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
Due: prettier, tsc

refactor(backend): register desktop preview router in REST app
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

refactor(blocks): organize code executor into submodules
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/code_executor/__init__.py
  autogpt_platform/backend/backend/blocks/code_executor/_base.py
  autogpt_platform/backend/backend/blocks/code_executor/_test.py
  autogpt_platform/backend/backend/blocks/code_executor/desktop.py
  autogpt_platform/backend/backend/blocks/code_executor/desktop_cleanup_test.py
  autogpt_platform/backend/backend/blocks/code_executor/desktop_test.py
  autogpt_platform/backend/backend/blocks/code_executor/execute.py
  autogpt_platform/backend/backend/blocks/code_executor/execute_test.py
  autogpt_platform/backend/backend/blocks/code_executor/helpers.py
  autogpt_platform/backend/backend/blocks/code_executor/instantiate.py
  autogpt_platform/backend/backend/blocks/code_executor/instantiate_test.py
  autogpt_platform/backend/backend/blocks/code_executor/lifecycle_test.py
  autogpt_platform/backend/backend/blocks/code_executor/models.py
  autogpt_platform/backend/backend/blocks/code_executor/step.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/block_cost_config_test.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/block_usage_cost_test.py
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/code_executor/execute.md
  docs/integrations/block-integrations/code_executor/instantiate.md
  docs/integrations/block-integrations/code_executor/step.md
  docs/integrations/block-integrations/misc.md
Due: isort, pyright, pytest

refactor(backend): move desktop template builder into SDK module
  autogpt_platform/backend/backend/util/desktop_sdk.py
  autogpt_platform/backend/backend/util/desktop_sdk_test.py
  autogpt_platform/backend/scripts/e2b_desktop/build.py
  autogpt_platform/backend/scripts/e2b_desktop/build_test.py
  docs/integrations/block-integrations/code_executor/execute.md
  docs/integrations/block-integrations/code_executor/instantiate.md
  docs/integrations/block-integrations/code_executor/step.md
  docs/integrations/e2b-desktop.md
Due: isort, pyright, pytest

fix(platform): parse credit history receipts at Prisma boundary
  autogpt_platform/backend/backend/data/credit_history.py
  autogpt_platform/backend/backend/data/credit_history_service_test.py
Due: isort, pyright, pytest

perf(platform): aggregate credit receipts after group pagination
  autogpt_platform/backend/backend/data/credit_history_queries.py
Due: isort, pyright, pytest

fix(frontend): keep transaction history timezone label stable
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/TransactionHistoryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/time-zone.test.tsx
Due: prettier, tsc

fix(platform): sync canonical credit history API schema output
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

refactor(copilot): scope Max upsell to existing billing flow
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectAccountRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeBenefits.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradePricing.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/TierToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/maxUpgrade.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useMaxUpgrade.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectAccountRow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/MaxUpgrade.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/MaxUpgradePayment.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/TierToggle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/maxUpgradeFixtures.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/maxUpgradePricing.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/useMaxUpgrade.test.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/Dialog.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DrawerWrap.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/useDialogCtx.ts
Due: prettier, tsc

fix(backend): require library membership AND marketplace submission for graph access (#14205)
  autogpt_platform/backend/backend/api/features/admin/store_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/store_admin_routes_test.py
  autogpt_platform/backend/backend/api/features/executions/review/review_routes_test.py
  autogpt_platform/backend/backend/api/features/executions/review/routes.py
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/webhook_ingress_test.py
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/automod/manager.py
  autogpt_platform/backend/backend/executor/automod/manager_test.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend/copilot): connect every provider a tool needs, then proceed once (#14332)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/ChainActionCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/QuestionDock/QuestionDock.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/SetupRequirementsCard/SetupRequirementsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolChain.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/connect-card-flow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/chainActions.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
Due: prettier, tsc

docs: add before and after screenshots for PR #14360
  after.png
  before.png
Due: none

dx(platform): record agent and model attribution
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CLAUDE.md
Due: none

dx(platform): inherit Claude attribution through AGENTS.md
  CLAUDE.md
Due: none

fix(backend): enforce string truncation size limits
  autogpt_platform/backend/backend/util/truncate.py
  autogpt_platform/backend/backend/util/truncate_test.py
Due: isort, pyright, pytest

docs(backend): clarify credit history wallet and viewer scopes
  autogpt_platform/backend/backend/data/credit_history.py
Due: isort, pyright, pytest

dx(platform): avoid duplicate harness attribution
  AGENTS.md
Due: none
