Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(frontend): give the flag tests a consent answer after the master back-merge
  autogpt_platform/frontend/src/providers/posthog/__tests__/posthog-user-tracker.test.tsx
  autogpt_platform/frontend/src/services/feature-flags/__tests__/ld-init-timeout.test.tsx
Due: prettier, tsc

fix(backend): repoint copilot advanced-tier Opus alias to claude-opus-5.5
  autogpt_platform/backend/backend/copilot/baseline/transcript_integration_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/opus_5_test.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/fixer.py
  autogpt_platform/backend/test/agent_generator/test_orchestrator.py
Due: isort, pyright, pytest

fix(llm-registry): correct deepseek-v4.1-flash pricing to match live OpenRouter rate (again)
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
Due: isort, pyright, pytest

fix: refresh anthropic_rates.json to include claude-opus-5-5 rates; add regression test for generic model allowlist
  autogpt_platform/backend/backend/copilot/anthropic_rates.json
  autogpt_platform/backend/backend/copilot/tools/agent_generator/fixer_test.py
Due: isort, pyright, pytest

fix(backend): let the skills seed download the public catalog without a token
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/store/skill_seed.py
  autogpt_platform/backend/backend/api/features/store/skill_seed_test.py
Due: isort, pyright, pytest

fix(backend): look up the orphan sweep's email owner with a scalar subquery
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
Due: isort, pyright, pytest

feat(platform/swap-proxy): swap only into the Authorization header by default
  autogpt_platform/swap_proxy/README.md
  autogpt_platform/swap_proxy/swap_proxy/addon.py
  autogpt_platform/swap_proxy/swap_proxy/addon_test.py
  autogpt_platform/swap_proxy/swap_proxy/e2e_test.py
  autogpt_platform/swap_proxy/swap_proxy/swap.py
  autogpt_platform/swap_proxy/swap_proxy/swap_test.py
Due: none

docs(platform/swap-proxy): name the network policy around the proxy as a boundary
  autogpt_platform/swap_proxy/README.md
Due: none

fix(blocks/anysearch): omit Authorization for empty keys, dedupe input validation
  autogpt_platform/backend/backend/blocks/anysearch/_api.py
  autogpt_platform/backend/backend/blocks/anysearch/parallel_search.py
  autogpt_platform/backend/backend/blocks/anysearch/search.py
  autogpt_platform/backend/backend/blocks/anysearch/test_anysearch.py
  docs/integrations/block-integrations/anysearch/search.md
Due: isort, pyright, pytest

fix(blocks/anysearch): keep the "AnySearch" brand name in block titles, search and docs
  autogpt_platform/backend/backend/api/features/store/text_utils_test.py
  autogpt_platform/backend/backend/blocks/anysearch/test_anysearch.py
  autogpt_platform/backend/backend/util/text.py
  autogpt_platform/backend/scripts/generate_block_docs.py
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/lib/utils/__tests__/beautify-string.test.ts
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/anysearch/extract.md
  docs/integrations/block-integrations/anysearch/parallel_search.md
  docs/integrations/block-integrations/anysearch/search.md
Due: isort, prettier, pyright, tsc, pytest

docs(blocks): generate AnySearch block documentation
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/anysearch/extract.md
  docs/integrations/block-integrations/anysearch/parallel_search.md
  docs/integrations/block-integrations/anysearch/search.md
Due: none

style(blocks/anysearch): apply black formatting to _api.py
  autogpt_platform/backend/backend/blocks/anysearch/_api.py
Due: isort, pyright, pytest

test(blocks): add AnySearch block unit tests
  autogpt_platform/backend/backend/blocks/anysearch/test_anysearch.py
Due: isort, pyright, pytest

feat(blocks): add AnySearch integration icon
  autogpt_platform/frontend/public/integrations/anysearch.png
Due: prettier, tsc

feat(blocks): add AnySearch search, parallel-search and extract blocks
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/anysearch/__init__.py
  autogpt_platform/backend/backend/blocks/anysearch/_api.py
  autogpt_platform/backend/backend/blocks/anysearch/_config.py
  autogpt_platform/backend/backend/blocks/anysearch/extract.py
  autogpt_platform/backend/backend/blocks/anysearch/parallel_search.py
  autogpt_platform/backend/backend/blocks/anysearch/search.py
Due: isort, pyright, pytest

fix(blocks): align AnySearch payload with documented API fields
  autogpt_platform/backend/backend/blocks/anysearch/_api.py
  autogpt_platform/backend/backend/blocks/anysearch/extract.py
  autogpt_platform/backend/backend/blocks/anysearch/parallel_search.py
  autogpt_platform/backend/backend/blocks/anysearch/search.py
  docs/integrations/block-integrations/anysearch/extract.md
  docs/integrations/block-integrations/anysearch/parallel_search.md
  docs/integrations/block-integrations/anysearch/search.md
Due: isort, pyright, pytest

docs(platform/swap-proxy): say what the network policy around the proxy cannot do
  autogpt_platform/swap_proxy/README.md
Due: none

feat(backend): add PostHog to the MCP catalog
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
  autogpt_platform/backend/backend/integrations/mcp_catalog_test.py
Due: isort, pyright, pytest

fix(frontend): clear stale avatar jobs on manual selection
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/useAvatarGeneration.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/useExpertAvatarPicker.ts
Due: prettier, tsc

perf(backend): embed a workspace file's text once, not once per file
  autogpt_platform/backend/backend/api/features/workspace/embeddings.py
  autogpt_platform/backend/backend/api/features/workspace/embeddings_test.py
Due: isort, pyright, pytest

fix(platform): preserve custom avatars and address draft review
  autogpt_platform/backend/backend/api/features/experts/avatar_catalog.py
  autogpt_platform/backend/backend/api/features/experts/avatar_catalog_test.py
  autogpt_platform/backend/backend/api/features/experts/avatar_generation_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_avatar.py
  autogpt_platform/backend/backend/copilot/tools/expert_avatar_test.py
  autogpt_platform/frontend/src/components/molecules/ExpertAvatar/helpers.test.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatar/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/generation.test.tsx
  autogpt_platform/frontend/src/providers/posthog/__tests__/posthog-user-tracker.test.tsx
  autogpt_platform/frontend/src/services/feature-flags/__tests__/ld-init-timeout.test.tsx
Due: isort, prettier, pyright, tsc, pytest

perf(backend): scan a marketplace skill's bytes once per version, not once per hire
  autogpt_platform/backend/backend/api/features/store/skill_db.py
  autogpt_platform/backend/backend/api/features/store/skill_db_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/backend/backend/util/workspace.py
  autogpt_platform/backend/backend/util/workspace_test.py
  autogpt_platform/backend/migrations/20260923220000_add_skill_version_scanned_sha256/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

perf(backend): a hire installs its bundled skills in one batch
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/store/skill_db.py
  autogpt_platform/backend/backend/api/features/store/skill_db_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

docs(platform): say where event names are still spelled out
  autogpt_platform/backend/backend/util/posthog_events.py
  autogpt_platform/frontend/src/services/analytics/posthog-events.ts
  docs/platform/tracking-plan.md
Due: isort, prettier, pyright, tsc, pytest

perf(backend): record a batch install's skill names on the expert in one write
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/store/skill_db_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_isolation_test.py
  autogpt_platform/backend/backend/data/db_manager.py
Due: isort, pyright, pytest

fix(frontend): give the flag tests a consent answer after the master back-merge (#14854)
  autogpt_platform/frontend/src/providers/posthog/__tests__/posthog-user-tracker.test.tsx
  autogpt_platform/frontend/src/services/feature-flags/__tests__/ld-init-timeout.test.tsx
Due: prettier, tsc

fix(backend): deduplicate agent_run_finished per run
  autogpt_platform/backend/backend/util/product_analytics.py
  autogpt_platform/backend/backend/util/product_analytics_test.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest

fix(frontend): keep the first-sound latency of interrupted voice replies
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/__tests__/useVoiceMode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/useVoiceMode.ts
  docs/platform/tracking-plan.md
Due: prettier, tsc

fix(backend): send listing_added_to_library only for a user's own add
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/workflow_install_test.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest

fix(backend): read signup_method from the Better Auth account
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest

fix(platform): complete PostHog and integration icon coverage
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
  autogpt_platform/backend/backend/integrations/mcp_catalog_test.py
  autogpt_platform/frontend/public/integrations/HUGEICONS-LICENSE.txt
  autogpt_platform/frontend/public/integrations/README.md
  autogpt_platform/frontend/public/integrations/allquiet.png
  autogpt_platform/frontend/public/integrations/ayrshare.png
  autogpt_platform/frontend/public/integrations/compass.png
  autogpt_platform/frontend/public/integrations/database.png
  autogpt_platform/frontend/public/integrations/dataforb2b.png
  autogpt_platform/frontend/public/integrations/elevenlabs.png
  autogpt_platform/frontend/public/integrations/generic_webhook.png
  autogpt_platform/frontend/public/integrations/posthog.png
  autogpt_platform/frontend/public/integrations/rmfg.png
  autogpt_platform/frontend/public/integrations/stripe_link.png
  autogpt_platform/frontend/public/integrations/typesafe.png
  autogpt_platform/frontend/scripts/integration-logos.test.ts
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/__tests__/mcp-catalog.test.tsx
Due: isort, prettier, pyright, tsc, pytest

perf(backend): install a hire's bundled skills as one batch
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/store/skill_db.py
  autogpt_platform/backend/backend/api/features/store/skill_db_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

ci(platform): run the full-stack e2e job on a free runner
  .github/workflows/platform-fullstack-ci.yml
Due: none

fix(backend): deduplicate payment_succeeded per invoice
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest

fix(backend): report our own payment-failure cancel as involuntary churn
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
  autogpt_platform/backend/backend/notifications/lifecycle.py
  autogpt_platform/backend/backend/notifications/lifecycle_test.py
  docs/platform/tracking-plan.md
Due: isort, pyright, pytest
