Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): disambiguate duplicate tool names in OrchestratorBlock
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_orchestrator_tool_dedup.py
Due: isort, pyright, pytest

fix(backend): address PR review — sensitive fields, isinstance guard, name truncation
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_orchestrator_tool_dedup.py
Due: isort, pyright, pytest

fix(backend): prevent suffix collision with user-named tools
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_orchestrator_tool_dedup.py
Due: isort, pyright, pytest

fix(backend): refund credits when Redis reset fails
  autogpt_platform/backend/backend/api/features/chat/routes.py
Due: isort, pyright, pytest

fix(blocks): add email validation to GmailForwardBlock._forward_message()
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

fix(platform/blocks): fix duplicate conversation yield and add SDK error handling
  autogpt_platform/backend/backend/blocks/orchestrator.py
Due: isort, pyright, pytest

fix(blocks): add empty choices guard to v0 provider and extract_openai_reasoning()
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

fix(backend): add input_default to mock nodes in orchestrator tests
  autogpt_platform/backend/backend/blocks/test/test_orchestrator.py
Due: isort, pyright, pytest

fix: address review feedback — str amounts, input validation, block categories
  autogpt_platform/backend/backend/blocks/sardis/_api.py
  autogpt_platform/backend/backend/blocks/sardis/balance.py
  autogpt_platform/backend/backend/blocks/sardis/payment.py
  autogpt_platform/backend/backend/blocks/sardis/policy.py
  docs/integrations/block-integrations/sardis/balance.md
  docs/integrations/block-integrations/sardis/payment.md
  docs/integrations/block-integrations/sardis/policy.md
Due: isort, pyright, pytest

fix(frontend): address remaining review comments on wake re-sync PR
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PulseLoader/PulseLoader.module.css
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PulseLoader/PulseLoader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: prettier, tsc

fix(blocks): strip whitespace in MIME headers and align to-validation in reply path
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

test(blocks): add unit tests for empty-choices guard in extract_openai_tool_calls/reasoning
  autogpt_platform/backend/backend/blocks/test/test_llm_empty_choices.py
Due: isort, pyright, pytest

fix: format Sardis blocks and regenerate block docs
  autogpt_platform/backend/backend/blocks/sardis/_api.py
  autogpt_platform/backend/backend/blocks/sardis/balance.py
  autogpt_platform/backend/backend/blocks/sardis/payment.py
  autogpt_platform/backend/backend/blocks/sardis/policy.py
  docs/integrations/README.md
  docs/integrations/block-integrations/sardis/balance.md
  docs/integrations/block-integrations/sardis/payment.md
  docs/integrations/block-integrations/sardis/policy.md
Due: isort, pyright, pytest

fix(backend): address review feedback on managed AgentMail credentials
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/integrations/credentials_store.py
Due: isort, pyright, pytest

fix: use hash() builtin instead of .__hash__() dunder
  autogpt_platform/backend/backend/blocks/sardis/_api.py
Due: isort, pyright, pytest

test(blocks): add integration tests for email validation in create_mime_message and _build_reply_message
  autogpt_platform/backend/test/blocks/test_gmail.py
Due: isort, pyright, pytest

fix(frontend): auto-reconnect copilot chat after device sleep/wake (#12519)
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/MobileDrawer/MobileDrawer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PulseLoader/PulseLoader.module.css
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PulseLoader/PulseLoader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: prettier, tsc

fix(test): skip data seeding test in CI to prevent event-loop teardown error
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/test_data_creator.py
Due: isort, pyright, pytest

fix: bounded client cache, idempotency key, Decimal validation, error surfacing
  autogpt_platform/backend/backend/blocks/sardis/_api.py
  autogpt_platform/backend/backend/blocks/sardis/payment.py
  autogpt_platform/backend/backend/blocks/sardis/policy.py
Due: isort, pyright, pytest

fix(backend): address second round of review feedback
  autogpt_platform/backend/backend/integrations/credentials_store.py
Due: isort, pyright, pytest

fix(frontend): show 3 lines of description on marketplace store cards
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
Due: prettier, tsc

fix(frontend): use correct fallback color for missing agent images
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
Due: prettier, tsc

fix: disable retries for payment POST to prevent duplicate transactions
  autogpt_platform/backend/backend/blocks/sardis/_api.py
Due: isort, pyright, pytest

fix(backend): address third round of review feedback
  autogpt_platform/backend/backend/api/external/v1/integrations.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
Due: isort, pyright, pytest

fix: add retry_max_attempts=1 to _requests_no_retry client
  autogpt_platform/backend/backend/blocks/sardis/_api.py
Due: isort, pyright, pytest

fix(platform): yield error instead of raising ValueError for missing SDK credentials
  autogpt_platform/backend/backend/blocks/orchestrator.py
Due: isort, pyright, pytest

fix(frontend): marketplace card description 3 lines + fallback color (#12557)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
Due: prettier, tsc

fix(docs): format use case sections and fix wording per CodeRabbit review
  docs/integrations/block-integrations/sardis/balance.md
  docs/integrations/block-integrations/sardis/payment.md
  docs/integrations/block-integrations/sardis/policy.md
Due: none

fix(platform): address PR #12526 review feedback
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/copilot/reset_usage_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/hooks/useResetRateLimit.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(blocks): address review feedback on AIConversationBlock validation
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Due: isort, pyright, pytest

fix(blocks): add integration tests for Gmail email validation hooks
  autogpt_platform/backend/test/blocks/test_gmail.py
Due: isort, pyright, pytest

Seed LLM model creators and link models
  autogpt_platform/backend/migrations/20260310_seed_llm_registry/migration.sql
Due: none

refactor: address CodeRabbit/Majdyz review feedback
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/llm_registry/model.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
Due: isort, pyright, pytest

feat(platform): Add LLM registry core - DB layer + in-memory cache
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/llm_registry/__init__.py
  autogpt_platform/backend/backend/data/llm_registry/model.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
Due: isort, pyright, pytest

revert: undo changes to graph.py
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix(startup): handle missing AgentNode table in migrate_llm_models
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

style: fix trailing whitespace in registry.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
Due: isort, pyright, pytest

fix: address Sentry/CodeRabbit critical and major issues
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
Due: isort, pyright, pytest

feat(platform): Add LLM registry public read API
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/server/v2/llm/__init__.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/backend/server/v2/llm/routes.py
Due: isort, pyright, pytest

fix: remove incorrectly placed openapi.json file
  frontend/src/app/api/openapi.json
Due: none
