Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: snap 03-26-2302-2F0E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-26_230246_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-26_230246_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-26_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 03-26-2302-2F0E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-26_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 03-26-2302-2F0E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 03-26-2302-2F0E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Add title on array input
  autogpt_platform/frontend/src/components/NodeInputComponent.tsx
Due: prettier, tsc

Make sub list/property input text smaller
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/NodeInputComponent.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

Allow select render empty string option
  autogpt_platform/frontend/src/components/NodeInputComponent.tsx
  autogpt_platform/frontend/src/components/TypeBasedInput.tsx
Due: prettier, tsc

Fix input node
  autogpt_platform/frontend/src/components/NodeInputComponent.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputBlock.tsx
Due: prettier, tsc

Add minimum styling
  autogpt_platform/frontend/src/components/TypeBasedInput.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputBlock.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputList.tsx
  autogpt_platform/frontend/src/components/ui/textarea.tsx
Due: prettier, tsc

add comment
  autogpt_platform/backend/backend/util/test.py
Due: isort, pyright, pytest

move graph execution update logic to `.executor.manager`
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

refactor to match names
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/includes.py
Due: isort, pyright, pytest

fix tests
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/executor/test_tool_use.py
  autogpt_platform/backend/test/server/test_ws_api.py
Due: isort, pyright, pytest

fix overloads for `get_graph_execution`
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

change output type of unused `get_graph_executions_in_timerange`
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

fix(backend/executor): Fix sending graph execution updates on new I/O
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fixes to allow formatting and tests to work when invoked from subcommands
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/linter.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/run_tests.py
Due: isort, pyright

updated event loop
  autogpt_platform/backend/pyproject.toml
Due: none

feat: different signup error message
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/help-item.tsx
Due: prettier, tsc

ghrs: snap 03-27-2302-BB86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-27_230251_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-27_230251_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-27_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 03-27-2302-BB86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-03-27_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 03-27-2302-BB86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 03-27-2302-BB86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

adding extra padding below LibraryPage
  autogpt_platform/frontend/src/app/library/page.tsx
Due: prettier, tsc

add more styling for input boxes
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/NodeInputComponent.tsx
  autogpt_platform/frontend/src/components/TypeBasedInput.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputBlock.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputList.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputUI.tsx
  autogpt_platform/frontend/src/components/ui/calendar.tsx
Due: prettier, tsc

removing prev animation and add a new one
  autogpt_platform/frontend/src/components/library/library-search-bar.tsx
Due: prettier, tsc

adding better skeleton on agent run page
  autogpt_platform/frontend/src/app/library/agents/[id]/loading.tsx
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
Due: prettier, tsc

feat(backend): Expose agent store data to public
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

Add advanced block search with relevance ranking
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Due: prettier, tsc

Fix comments in Levenshtein distance calculation function
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Due: prettier, tsc

feat(backend): Make agent store data to be publicly accessible by non authenticated user (#9710)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

Add keyboard navigation for blocks control panel
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Due: prettier, tsc

don't set asyncio_default_fixture_loop_scope
  autogpt_platform/backend/pyproject.toml
Due: none

fix(platform): Fixs to allow formatting and tests to work from sub command (#9703)
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/linter.py
  autogpt_platform/backend/run_tests.py
Due: isort, pyright

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
