Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: vc agg 04-14-2302-AA75 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-14_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 04-14-2302-AA75 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 04-14-2302-AA75 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Improve avatar styling and add size prop to AvatarFallback
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
Due: prettier, tsc

.
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
Due: prettier, tsc

Spike/infra pooling (#9812)
  .github/workflows/platform-autgpt-deploy-prod.yml
  .github/workflows/platform-autogpt-deploy-dev.yaml
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/docker-compose.platform.yml
Due: prisma-generate, isort, pyright, pytest

fix(frontend): Fix Input value mixup on Library page & broken marketplace on no onboarding data
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/onboarding/3-services/page.tsx
  autogpt_platform/frontend/src/app/onboarding/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

fix(frontend): Fix Input value mixup on Library page & broken marketplace on no onboarding data
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
Due: prettier, tsc

Revert: fix(frontend): Fix Input value mixup on Library page & broken marketplace on no onboarding data
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/onboarding/3-services/page.tsx
  autogpt_platform/frontend/src/app/onboarding/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

ghrs: snap 04-15-2302-4A94 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-15_230244_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-15_230244_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-15_230244_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 04-15-2302-4A94 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-15_230244_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 04-15-2302-4A94 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 04-15-2302-4A94 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(backend): Fix cancel_execution can only work once
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

fix(frontend): Fix key-value pair input on builder for any non-string type
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc

fix
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc

fix
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
Due: prettier, tsc

Address nit comment
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
Due: pyright, pytest

how could we miss this
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
Due: pyright, pytest

fix(frontend): Fix Input value mixup on Library page (#9821)
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
Due: prettier, tsc

fix(backend): Fix cancel_execution can only work once (#9825)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

fix(frontend/builder): Fix key-value pair input for any non-string types (#9826)
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: prettier, tsc

Add migration
  autogpt_platform/backend/migrations/20250416140000_make_arrays_not_null/migration.sql
Due: none

fix(backend): Fix execution manager message consuming pattern
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(backend): Fix execution manager message consuming pattern (#9829)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest
