Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): make backend.blocks.google a regular package
  autogpt_platform/backend/backend/blocks/google/__init__.py
Due: isort, pyright, pytest

docs(blocks): regenerate AutoPilot block docs after ask_question removal
  docs/integrations/block-integrations/misc.md
Due: none

test(backend/data): enable google blocks for auto-credentials validator tests
  autogpt_platform/backend/backend/data/graph_test.py
Due: isort, pyright, pytest

style(backend/data): format auto-creds test fixture monkeypatch calls
  autogpt_platform/backend/backend/data/graph_test.py
Due: isort, pyright, pytest

test(frontend): cover diagnostics hook, banner, panel header, error boundary
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/__tests__/useDiagnosticsContent.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/components/__tests__/PanelHeader.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/__tests__/ArtifactErrorBoundary.test.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/__tests__/SubscriptionTierSection.test.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/components/PendingChangeBanner/__tests__/PendingChangeBanner.test.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/helpers.test.ts
Due: prettier, tsc

docs(backend/copilot): normalize Drive picker view tokens to DOCS
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator.py
Due: isort, pyright, pytest

test(backend/copilot): cover closed execution_loop branch
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
Due: isort, pyright, pytest

fix(backend/data): add Redis socket timeout + keepalive + health checks
  autogpt_platform/backend/backend/data/redis_client.py
Due: isort, pyright, pytest

fix(backend/data): raise Redis socket_timeout to 30s
  autogpt_platform/backend/backend/data/redis_client.py
Due: isort, pyright, pytest

fix(backend/copilot): skip CLAUDE_AUTOCOMPACT_PCT_OVERRIDE for Moonshot/Kimi
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/env_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(backend/copilot): backfill OpenRouter reconciled cost to Langfuse trace
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost.py
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): mark fallback Langfuse cost events + anchor reconcile task
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost.py
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

refactor(backend/copilot): hoist langfuse get_client to module imports
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost.py
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(platform/copilot): message timestamps + accurate thought-for time
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/migrations/20260423120000_add_reasoning_duration_ms/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useChatSession.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useLoadMoreMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/TurnStatsBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useLoadMoreMessages.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend/copilot): wrap turn in Langfuse parent span so reconcile event attaches
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): reset per-turn reasoning counters + tests
  autogpt_platform/backend/backend/copilot/db_test.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
Due: isort, pyright, pytest

refactor(platform/copilot): address CodeRabbit nits on timestamps PR
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/TurnStatsBar.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(frontend/push): suppress notification when user is already on target page
  autogpt_platform/frontend/public/push-sw.js
Due: prettier, tsc

fix(backend/push): validate subscribe endpoint against push-service allowlist
  autogpt_platform/backend/backend/api/features/push/routes.py
  autogpt_platform/backend/backend/data/push_sender.py
  autogpt_platform/backend/backend/data/push_sender_test.py
  autogpt_platform/backend/backend/data/push_subscription.py
  autogpt_platform/backend/backend/data/push_subscription_test.py
Due: isort, pyright, pytest

test(frontend): add hook integration tests to boost patch coverage
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/useCredentialsInput.test.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/__tests__/useGoogleDrivePicker.test.ts
  autogpt_platform/frontend/src/hooks/useCredentials.test.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.test.ts
Due: prettier, tsc

test(frontend/copilot): cover push-SW-aware suppression in browser notifications
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotNotifications.test.ts
Due: prettier, tsc

fix(backend/copilot): apply Moonshot compaction gate to fallback model + capture langfuse_trace_id under _lf_span
  autogpt_platform/backend/backend/copilot/sdk/openrouter_cost_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(frontend): resolve lint and type errors in test files
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/useCredentialsInput.test.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/__tests__/useGoogleDrivePicker.test.ts
  autogpt_platform/frontend/src/hooks/useCredentials.test.ts
Due: prettier, tsc

style(frontend): format test files with prettier
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/useCredentialsInput.test.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/__tests__/useGoogleDrivePicker.test.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.test.ts
Due: prettier, tsc

fix(platform): apply backend format, regen poetry.lock (2.2.1), refresh openapi
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/push_sender_test.py
  autogpt_platform/backend/backend/data/push_subscription_test.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/frontend/src/app/api/openapi.json
Due: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

fix(frontend/copilot): accept Date object for created_at
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
Due: prettier, tsc

fix(platform/push): address autogpt-pr-reviewer blockers and should-fixes
  autogpt_platform/backend/backend/api/features/push/routes.py
  autogpt_platform/backend/backend/api/features/push/routes_test.py
  autogpt_platform/backend/backend/api/ws_api_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/push_sender.py
  autogpt_platform/backend/backend/data/push_sender_test.py
  autogpt_platform/backend/backend/data/push_subscription.py
  autogpt_platform/backend/backend/data/push_subscription_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/public/push-sw.js
  autogpt_platform/frontend/src/services/push-notifications/api.test.ts
  autogpt_platform/frontend/src/services/push-notifications/api.ts
  autogpt_platform/frontend/src/services/push-notifications/helpers.ts
  autogpt_platform/frontend/src/services/push-notifications/push-sw-helpers.test.ts
  autogpt_platform/frontend/src/services/push-notifications/usePushNotifications.test.ts
  autogpt_platform/frontend/src/services/push-notifications/usePushNotifications.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/push): apply black one-line collapse to delete_push_subscription
  autogpt_platform/backend/backend/data/push_sender.py
Due: isort, pyright, pytest

fix(platform/push): bound subscribe payload size; explicit SW fetch credentials
  autogpt_platform/backend/backend/api/features/push/model.py
  autogpt_platform/backend/backend/api/features/push/routes_test.py
  autogpt_platform/frontend/public/push-sw.js
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(frontend/copilot): cover TurnStatsBar + combined duration maps
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotPage.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/__tests__/TurnStatsBar.test.tsx
Due: prettier, tsc

refactor: further improvements around cancelling
  autogpt_platform/backend/backend/blocks/autopilot.py
  autogpt_platform/backend/backend/blocks/autopilot_permissions_test.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/permissions_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ReasoningCollapse.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/__tests__/ReasoningCollapse.test.tsx
Due: isort, prettier, pyright, tsc, pytest

test(platform/copilot): address CodeRabbit review comments on test files
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotPage.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/__tests__/TurnStatsBar.test.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor: further improvements
  autogpt_platform/backend/backend/blocks/autopilot.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
Due: isort, pyright, pytest

feat(backend/copilot): expose CLAUDE_AUTOCOMPACT_PCT_OVERRIDE as a config knob
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/env_test.py
Due: isort, pyright, pytest

fix(backend/copilot): raise SDK max_turns default 50→100 to match baseline
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
Due: isort, pyright, pytest

fix(backend/copilot): unify baseline + SDK round limit via config, graceful end
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/util/tool_call_loop.py
  autogpt_platform/backend/backend/util/tool_call_loop_test.py
Due: isort, pyright, pytest

refactor(platform/copilot): collapse 3 parallel stat maps into one TurnStats map
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/CopilotPage.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useChatSession.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useCopilotPage.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useLoadMoreMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/TurnStatsBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/__tests__/TurnStatsBar.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useLoadMoreMessages.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(backend/copilot): rename claude_agent_max_turns → agent_max_turns
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): terminal note when budget hit produces no text
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

fix(backend/copilot): align SDK retry compaction target with CLI autocompact threshold
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
  autogpt_platform/backend/backend/copilot/transcript.py
Due: isort, pyright, pytest
