Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/store): wrap semantic SELECT in subquery to fix UNION ORDER BY
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
Due: isort, pyright, pytest

fix(frontend): Remove hardcoded bypass of billing feature flag
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
Due: prettier, tsc

fix(frontend): Remove hardcoded bypass of billing feature flag (#11762)
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
Due: prettier, tsc

Add models metadata
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmIcon.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmModelPicker.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/types.ts
Due: isort, prettier, pyright, tsc, pytest

Add icons
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/frontend/public/integrations/amazon.png
  autogpt_platform/frontend/public/integrations/anthropic-color.png
  autogpt_platform/frontend/public/integrations/cohere.png
  autogpt_platform/frontend/public/integrations/deepseek.png
  autogpt_platform/frontend/public/integrations/gemini.png
  autogpt_platform/frontend/public/integrations/gryphe.png
  autogpt_platform/frontend/public/integrations/microsoft.webp
  autogpt_platform/frontend/public/integrations/mistral.png
  autogpt_platform/frontend/public/integrations/moonshot.png
  autogpt_platform/frontend/public/integrations/nousresearch.avif
  autogpt_platform/frontend/public/integrations/perplexity.webp
  autogpt_platform/frontend/public/integrations/qwen.png
  autogpt_platform/frontend/public/integrations/xai.webp
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmIcon.tsx
Due: isort, prettier, pyright, tsc, pytest

rename from_prisma -> from_db
  autogpt_platform/backend/backend/api/features/chat/model.py
Due: isort, pyright, pytest

Update design
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuHeader.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuItem.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmModelPicker.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmPriceTier.tsx
Due: prettier, tsc

Update&format
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/LlmModelField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmIcon.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuItem.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmModelPicker.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmPriceTier.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/generate-ui-schema.ts
Due: isort, prettier, pyright, tsc, pytest

Fix conditional hook
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/LlmModelField.tsx
Due: prettier, tsc

switch specific understanding table to general blod storage
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/migrations/20260114084601_add_chat_tables/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend): fix memory leaks and resource cleanup in chat module
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/service.py
Due: isort, pyright, pytest

ensure missing langfuse credentials does not crash the platform
  autogpt_platform/backend/backend/api/features/chat/service.py
Due: isort, pyright, pytest

fix(backend): return correct total count for session pagination
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
Due: isort, pyright, pytest

final pr comments
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/service.py
Due: isort, pyright, pytest

removed claude settings
  autogpt_platform/.claude/settings.local.json
Due: none

Refactor imports and update credential descriptions
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

Improve sandbox_id handling and file extraction in ClaudeCodeBlock
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

chore: cleanup
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInput.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialsFlatView/CredentialsFlatView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/CredentialsGroupedView/CredentialsGroupedView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/SelectedTemplateView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/SelectedTriggerView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/CredentialField.tsx
Due: prettier, tsc

Filter extracted files by execution timestamp
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

Add sandbox_id field to ClaudeCodeBlock test cases
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

chore: prettier
  autogpt_platform/frontend/src/components/ui/accordion.tsx
Due: prettier, tsc

Fix race condition in timestamp capture for Claude Code
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

chore: review suggestions (1)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialsSelect/CredentialsSelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/CredentialsGroupedView/CredentialsGroupedView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DrawerWrap.tsx
Due: prettier, tsc

Handle timestamp command failure in ClaudeCodeBlock
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

Add error field to ClaudeCodeBlock schema
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

chore: review suggestions (2)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialsSelect/CredentialsSelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
Due: prettier, tsc

Refactor FormRenderer and enhance handle ID cleanup
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/helpers.ts
Due: prettier, tsc

format....
  autogpt_platform/backend/backend/blocks/claude_code.py
Due: isort, pyright, pytest

fix wrap in update bar
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
Due: prettier, tsc

clear resolution state on graph switch
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
Due: prettier, tsc

zmail pr comments and add retry logic
  autogpt_platform/backend/backend/api/features/chat/db.py
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/service.py
Due: isort, pyright, pytest

simplify code a little
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/api/features/chat/service_test.py
  autogpt_platform/backend/backend/api/features/chat/tools/__init__.py
Due: isort, pyright, pytest

make all DB calls in `add_graph_execution` go through DB manager
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/library/routes/presets.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

remove now-redundant calls to `increment_onboarding_runs`
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/library/routes/presets.py
  autogpt_platform/backend/backend/api/features/v1.py
Due: isort, pyright, pytest

Update nodejs to 22.22.0 to fix CVE-2025-59466
  autogpt_platform/frontend/Dockerfile
Due: prettier, tsc

Update dev to 22.22.0 to fix CVE-2025-59466
  autogpt_platform/frontend/Dockerfile
Due: prettier, tsc

feat(backend): extend embedding system to blocks and documentation
  autogpt_platform/backend/backend/api/features/store/content_handlers.py
  autogpt_platform/backend/backend/api/features/store/content_handlers_integration_test.py
  autogpt_platform/backend/backend/api/features/store/content_handlers_test.py
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

fix(backend): add set_public_search_path parameter for pgvector type resolution
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/data/db.py
Due: isort, pyright, pytest

test(backend): update embeddings test for set_public_search_path
  autogpt_platform/backend/backend/api/features/store/embeddings_test.py
Due: isort, pyright, pytest
