Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: snap 07-24-2303-D9AE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-07-24_230304_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-07-24_230304_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-07-24_230304_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 07-24-2303-D9AE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-07-24_230304_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 07-24-2303-D9AE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 07-24-2303-D9AE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat: Avoid executor overconsuming messages
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix: Remove DatabaseManager heath-check from RestAPI service
  autogpt_platform/backend/backend/server/rest_api.py
Due: isort, pyright, pytest

updates
  autogpt_platform/backend/backend/blocks/ayrshare/post.py
  autogpt_platform/backend/backend/integrations/ayrshare.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

split up ayrshare into seperate files - disabled all but x and linkedin
  autogpt_platform/backend/backend/blocks/ayrshare/__init__.py
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/ayrshare/post.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_bluesky.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_gmb.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_linkedin.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_pinterest.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_reddit.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_snapchat.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_telegram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_threads.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_x.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/ayrshare.py
Due: isort, pyright, pytest

removing additional log messages
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

PR comment updates
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/_oauth.py
  autogpt_platform/backend/backend/blocks/airtable/_webhook.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
  autogpt_platform/backend/backend/blocks/airtable/schema.py
  autogpt_platform/backend/backend/blocks/airtable/triggers.py
Due: isort, pyright, pytest

remove type ignore
  autogpt_platform/backend/backend/blocks/airtable/_api_test.py
Due: isort, pyright, pytest

updated oauth username and fe handling
  autogpt_platform/backend/backend/blocks/airtable/_oauth.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Due: isort, prettier, pyright, tsc, pytest

changed to relative import
  autogpt_platform/backend/backend/blocks/airtable/__init__.py
  autogpt_platform/backend/backend/blocks/airtable/_api_test.py
Due: isort, pyright, pytest

refactor: review suggestions
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

fix autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

changes expires_at to datetime
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

refactor: centralise local storage usage
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/hooks/useCopyPaste.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

updated openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

feat(blocks): Add Airtable Integration (#10338)
  autogpt_platform/backend/backend/blocks/airtable/__init__.py
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/_api_test.py
  autogpt_platform/backend/backend/blocks/airtable/_config.py
  autogpt_platform/backend/backend/blocks/airtable/_oauth.py
  autogpt_platform/backend/backend/blocks/airtable/_webhook.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
  autogpt_platform/backend/backend/blocks/airtable/schema.py
  autogpt_platform/backend/backend/blocks/airtable/triggers.py
  autogpt_platform/backend/backend/blocks/exa/_webhook.py
  autogpt_platform/backend/backend/blocks/generic_webhook/_webhook.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/integrations/webhooks/compass.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
  autogpt_platform/backend/backend/sdk/__init__.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_webhooks.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(block): Add Ayrshare integration for social media posting (#9946)
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/ayrshare/__init__.py
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_bluesky.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_gmb.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_linkedin.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_pinterest.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_reddit.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_snapchat.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_telegram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_threads.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_x.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/ayrshare.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/files/files.ts
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/integrations/integrations.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/ayrshareSSOResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/bodyPostV1UploadFileToCloudStorage.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/postV1UploadFileToCloudStorageParams.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/uploadFileResponse.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

fix pyproject.toml and poetry.lock for libs and backend
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, pyright, pytest

fix(frontend): socket logout handling (#10445)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/hooks/useCopyPaste.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
Due: prettier, tsc

add more fixes
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

Update README.md
  README.md
Due: none

fix(frontend): fix agent activity bubble count
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/AgentActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Due: prettier, tsc

chore: refactor to be a link
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
Due: prettier, tsc

Improve clarity
  LICENSE
Due: none

chore: make items a link
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
Due: prettier, tsc

chore: clean up
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/AgentActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
