Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(backend): parameterize activity status generation with customizable prompts (#11407)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend): improve customNode reusability and add multi-block support (#11368)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/AyrshareConnectButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeAdvancedToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/WebhookDisclaimer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Due: prettier, tsc

fix(backend): resolve production failures with comprehensive token handling and conversation safety fixes (#11394)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(frontend/builder): Fix save-and-run with no agent inputs (#11401)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
Due: prettier, tsc

fix(platform): Remove un-runnable agents from schedule (#11374)
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): add inline node title editing with double-click (#11370)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Due: prettier, tsc

feat(frontend): implement agent outputs viewer and improve UI/UX in new builder (#11421)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/ARCHITECTURE_FLOW_EDITOR.md
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/ARCHITECTURE_INPUT_RENDERER.md
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Due: prettier, tsc

fix(frontend): preview banner ammend
  autogpt_platform/frontend/src/app/layout.tsx
Due: prettier, tsc

feat: add Cloudflare Worker for docs.agpt.co redirect migration
  autogpt_platform/cloudflare_worker.js
Due: none

refactor(frontend): debug preview stealing dev
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/Navbar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/PreviewBanner/PreviewBanner.tsx
  autogpt_platform/frontend/src/components/molecules/PreviewBanner/PreviewBanner.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Due: prettier, tsc

{ new file: .devcontainer/devcontainer.json modified: autogpt_platform/backend/backend/app.py pull request C:\Users\blood\Downloads\node.exe }
  .devcontainer/devcontainer.json
  autogpt_platform/backend/backend/app.py
Due: isort, pyright, pytest

add-google-banana-pro
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

fix pricing
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

format
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

feat(platform): enhance Human-in-the-Loop block with improved review UX
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): remove unused reviewData prop from PendingReviewsList
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Due: prettier, tsc

refactor(frontend): critical simplification and cleanup of HITL components
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/hooks/usePendingReviews.ts
Due: prettier, tsc

GitBook: No commit message
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Ollama-Add-Prompts.png
  docs/.gitbook/assets/Ollama-Output.png
  docs/.gitbook/assets/Ollama-Remote-Host.png
  docs/.gitbook/assets/Ollama-Select-Llama32.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/Select-AI-block.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/e2b-dashboard.png
  docs/.gitbook/assets/e2b-log-url.png
  docs/.gitbook/assets/e2b-new-tag.png
  docs/.gitbook/assets/e2b-tag-button.png
  docs/.gitbook/assets/get-repo-dialog.png
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/README.md
  docs/SUMMARY.md
  docs/advanced-setup.md
  docs/agent-blocks.md
  docs/aimlapi.md
  docs/block-sdk-guide.md
  docs/create-basic-agent.md
  docs/delete-agent.md
  docs/download-agent-from-marketplace-local.md
  docs/edit-agent.md
  docs/getting-started.md
  docs/installer.md
  docs/new-blocks-1.md
  docs/new-blocks.md
  docs/ollama.md
  docs/submit-agent-to-marketplace.md
Due: none

ghrs: snap 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-21_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-21_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ghrs: snap 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-22_230253_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-22_230253_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ghrs: snap 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-23_230312_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-23_230312_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(block): Improve error handling of SendEmailBlock (#11420)
  autogpt_platform/backend/backend/blocks/email_block.py
Due: isort, pyright, pytest

feat(platform): Add Get Linear Issues Block (#11415)
  autogpt_platform/backend/backend/blocks/linear/_api.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
  autogpt_platform/backend/backend/blocks/linear/models.py
Due: isort, pyright, pytest

Add CodexBlock for OpenAI Codex model integration
  autogpt_platform/backend/backend/blocks/codex.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

format
  autogpt_platform/backend/backend/blocks/codex.py
Due: isort, pyright, pytest

Update schema base classes in CreateDiscordThreadBlock
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Due: isort, pyright, pytest

Improve token usage extraction in CodexBlock
  autogpt_platform/backend/backend/blocks/codex.py
Due: isort, pyright, pytest

refactor(frontend): implement reviewer feedback - improve HITL architecture
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
Due: prettier, tsc

Improve auto-framing logic in flow editors
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
Due: prettier, tsc

feat(backend/blocks): Add google banana pro (#11425)
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest
