Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: stars and forks 03-16-2307-94FA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 03-16-2307-94FA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(frontend): guard Copilot store init against SSR localStorage access
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
Due: prettier, tsc

feat(backend/blocks): add MCP security module and mcp-secure dependency
  autogpt_platform/backend/backend/blocks/mcp/security.py
  autogpt_platform/backend/pyproject.toml
Due: isort, pyright, pytest

feat(backend/blocks): add MCP tool integrity hashing and optional MCPS signing
  autogpt_platform/backend/backend/api/features/mcp/routes.py
  autogpt_platform/backend/backend/blocks/mcp/block.py
  autogpt_platform/backend/backend/blocks/mcp/client.py
Due: isort, pyright, pytest

test(backend/blocks): add tests for MCP security and tool integrity
  autogpt_platform/backend/backend/blocks/mcp/test_security.py
Due: isort, pyright, pytest

fix(frontend): harden completed sessions persistence
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
Due: prettier, tsc

fix(frontend): detect closed OAuth popup and allow dismissing waiting modal
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/CredentialsInput.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: prettier, tsc

fix(backend/copilot): combine session check into paginated query and add userId to boundary
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/db_test.py
Due: isort, pyright, pytest

fix(backend/copilot): use JSON strings instead of Json() in test session helper
  autogpt_platform/backend/backend/copilot/db_test.py
Due: isort, pyright, pytest

fix(backend/copilot): update test mock to use get_workspace_manager
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
Due: isort, pyright, pytest

fix: restore size="icon" on sidebar trigger button
  autogpt_platform/frontend/src/components/ui/sidebar.tsx
Due: prettier, tsc

fix(frontend): address coderabbit review comments on builder e2e tests
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Due: prettier, tsc

fix(backend/copilot): use model_construct to bypass Json/Pydantic conflict in test
  autogpt_platform/backend/backend/copilot/db_test.py
Due: isort, pyright, pytest

test(frontend/builder): add integration tests for builder stores, components, and hooks (part-1) (#12433)
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/CustomNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/NewBlockMenu.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/NewSaveControl.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/RunGraph.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/copyPasteStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/edgeStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/graphStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/historyStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/nodeStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useCopyPaste.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useFlow.test.ts
Due: prettier, tsc

Fix null handling in agent mail list blocks
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  autogpt_platform/backend/backend/blocks/agent_mail/pods.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Add AgentMail inbox management blocks
  autogpt_platform/backend/backend/blocks/agent_mail/__init__.py
  autogpt_platform/backend/backend/blocks/agent_mail/_config.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

Format agent mail blocks to 50 character line limit
  autogpt_platform/backend/backend/blocks/agent_mail/attachments.py
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  autogpt_platform/backend/backend/blocks/agent_mail/pods.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Standardize AgentMail block naming in documentation
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/agent_mail/attachments.md
  docs/integrations/block-integrations/agent_mail/drafts.md
  docs/integrations/block-integrations/agent_mail/inbox.md
  docs/integrations/block-integrations/agent_mail/lists.md
  docs/integrations/block-integrations/agent_mail/messages.md
  docs/integrations/block-integrations/agent_mail/pods.md
  docs/integrations/block-integrations/agent_mail/threads.md
Due: none

Add AgentMail message blocks
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
Due: isort, pyright, pytest

Add AgentMail draft management blocks
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
Due: isort, pyright, pytest

Add AgentMail thread management blocks
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Remove unused BlockCostType import and base cost configuration
  autogpt_platform/backend/backend/blocks/agent_mail/_config.py
Due: isort, pyright, pytest

Add AgentMail block documentation
  autogpt_platform/frontend/public/integrations/agent_mail.png
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/agent_mail/attachments.md
  docs/integrations/block-integrations/agent_mail/drafts.md
  docs/integrations/block-integrations/agent_mail/inbox.md
  docs/integrations/block-integrations/agent_mail/lists.md
  docs/integrations/block-integrations/agent_mail/messages.md
  docs/integrations/block-integrations/agent_mail/pods.md
  docs/integrations/block-integrations/agent_mail/threads.md
Due: prettier, tsc

Add AgentMail attachment, list, and pod management blocks
  autogpt_platform/backend/backend/blocks/agent_mail/attachments.py
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  autogpt_platform/backend/backend/blocks/agent_mail/pods.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Improve AgentMail block error handling and type safety
  autogpt_platform/backend/backend/blocks/agent_mail/attachments.py
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  autogpt_platform/backend/backend/blocks/agent_mail/pods.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
  autogpt_platform/backend/pyproject.toml
  docs/integrations/block-integrations/agent_mail/attachments.md
  docs/integrations/block-integrations/agent_mail/drafts.md
  docs/integrations/block-integrations/agent_mail/lists.md
  docs/integrations/block-integrations/agent_mail/messages.md
  docs/integrations/block-integrations/agent_mail/pods.md
  docs/integrations/block-integrations/agent_mail/threads.md
Due: isort, pyright, pytest

Improve AgentMail documentation with detailed explanations
  docs/integrations/block-integrations/agent_mail/drafts.md
  docs/integrations/block-integrations/agent_mail/inbox.md
Due: none

fix(blocks): remove unneeded __init__.py from agent_mail package
  autogpt_platform/backend/backend/blocks/agent_mail/__init__.py
Due: isort, pyright, pytest

Fix AgentMail block message handling and list entry validation
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Add CC/BCC support to forward message block
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  docs/integrations/block-integrations/agent_mail/messages.md
Due: isort, pyright, pytest

Mark agent mail blocks as sensitive actions
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  autogpt_platform/backend/backend/blocks/agent_mail/pods.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Fix shallow copy issue in agent mail thread blocks
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Fix null handling in agent mail blocks
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
Due: isort, pyright, pytest

refactor(blocks): use AsyncAgentMail client in all agent mail blocks
  autogpt_platform/backend/backend/blocks/agent_mail/attachments.py
  autogpt_platform/backend/backend/blocks/agent_mail/drafts.py
  autogpt_platform/backend/backend/blocks/agent_mail/inbox.py
  autogpt_platform/backend/backend/blocks/agent_mail/lists.py
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
  autogpt_platform/backend/backend/blocks/agent_mail/pods.py
  autogpt_platform/backend/backend/blocks/agent_mail/threads.py
Due: isort, pyright, pytest

Update Agent Mail documentation for accuracy
  docs/integrations/README.md
  docs/integrations/block-integrations/agent_mail/drafts.md
Due: none

fix(blocks): remove duplicate agentmail entry in pyproject.toml
  autogpt_platform/backend/pyproject.toml
Due: none

fix(copilot): handle transient Anthropic API connection errors gracefully
  autogpt_platform/backend/backend/copilot/constants.py
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): check error field (not just content) for transient API errors
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(frontend): address PR review comments for media renderers
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/AudioRenderer.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/VideoRenderer.tsx
Due: prettier, tsc

feat(backend/copilot): add direct ID lookup to find_agent and find_block tools
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/find_agent.py
  autogpt_platform/backend/backend/copilot/tools/find_block.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
