Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(backend): Notification Integration for credits system (#9488)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/templates/refund_processed.html.jinja2
  autogpt_platform/backend/backend/notifications/templates/refund_request.html.jinja2
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20250220111649_add_refund_notifications/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

dedup library pages
  autogpt_platform/frontend/src/app/agents/page.tsx
  autogpt_platform/frontend/src/app/library/[id]/page.tsx
  autogpt_platform/frontend/src/app/library/layout.tsx
  autogpt_platform/frontend/src/app/library/page.tsx
Due: prettier, tsc

frontend: `/agents` -> `/library`
  autogpt_platform/frontend/src/app/library/[id]/page.tsx
  autogpt_platform/frontend/src/app/library/layout.tsx
  autogpt_platform/frontend/src/app/library/page.tsx
Due: prettier, tsc

Update `useAgentGraph`
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Due: prettier, tsc

Remove `executions/{graph_exec_id}` endpoint
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

make image creation error non-breaking
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

format
  autogpt_platform/frontend/src/components/agptui/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/LibraryActionSubHeader.tsx
Due: prettier, tsc

fix(style): use consistent style for string printing
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/store/db.py
Due: isort, pyright, pytest

fix(backend): return object from
  autogpt_platform/backend/backend/server/v2/library/model.py
Due: isort, pyright, pytest

fix(backend): drop ai generated comments
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
Due: isort, pyright, pytest

fix(frontend): drop useless changes
  autogpt_platform/frontend/src/app/page.tsx
Due: prettier, tsc

fix(frontend): drop unneeded use client
  autogpt_platform/frontend/src/components/agptui/composite/LibraryActionHeader.tsx
Due: prettier, tsc

fix(frontend): deduplicate obscure list
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/components/agptui/LibraryUploadAgent.tsx
Due: prettier, tsc

fix(frontend): drop useless log
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: prettier, tsc

ghrs: snap 02-20-2302-F894 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-02-20_230238_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-02-20_230238_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-02-20_230238_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 02-20-2302-F894 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 02-20-2302-F894 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-02-20_230238_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 02-20-2302-F894 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

handle dynamic link naming
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/test/executor/test_tool_use.py
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Due: isort, prettier, pyright, tsc, pytest

remove debug messages
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Due: isort, pyright, pytest

fixed case in test
  autogpt_platform/backend/test/executor/test_tool_use.py
Due: isort, pyright, pytest

fix(frontend): Uninvert logic for "Open in builder" link
  autogpt_platform/frontend/src/components/agptui/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/LibraryAgentListContainer.tsx
Due: prettier, tsc

fix links to library pages; move `/library/[id]` -> `/library/agents/[id]`
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/library/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): Fix `Run`/`Stop` button on Builder page refresh (#9503)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: prettier, tsc

fix(frontend): Minor UI tweak, fix non-accessible button on phone screen
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
Due: prettier, tsc

fix(frontend): Minor UI tweak, fix non-accessible button on phone screen
  autogpt_platform/frontend/src/app/profile/(user)/credits/page.tsx
Due: prettier, tsc

Show library agents during onboarding
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: isort, prettier, pyright, tsc, pytest

Make lines shorter
  autogpt_platform/frontend/src/components/onboarding/OnboardingInput.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingList.tsx
Due: prettier, tsc

Format
  autogpt_platform/frontend/src/components/onboarding/OnboardingList.tsx
Due: prettier, tsc

Lint
  autogpt_platform/frontend/src/components/onboarding/OnboardingList.tsx
Due: prettier, tsc

Move `type` to the top
  autogpt_platform/frontend/src/components/onboarding/OnboardingList.tsx
Due: prettier, tsc

Avoid hardcoded ID
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix: drop the summary manager
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest
