Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(copilot): bump OAuth popup grace to 3s + final localStorage sweep on close + state-mismatch debug
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: prettier, tsc

fix(backend/copilot): remove find_library_agent goal_summary→query fallback
  autogpt_platform/backend/backend/copilot/tools/find_library_agent.py
  autogpt_platform/backend/backend/copilot/tools/find_library_agent_test.py
Due: isort, pyright, pytest

feat(frontend): MCP integration display polish + official logo + provider-prefix strip
  autogpt_platform/frontend/public/integrations/mcp.png
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/helpers.ts
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: prettier, tsc

style(frontend): prettier-format oauth-popup test
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
Due: prettier, tsc

fix(frontend): re-center MCP logo (crop to content bbox + 10% padding)
  autogpt_platform/frontend/public/integrations/mcp.png
Due: prettier, tsc

test: E2E screenshots for PR #13207 — MCP integrations UI + John stale-cred fix
  test-screenshots/PR-13207/01-integrations-mcp.png
  test-screenshots/PR-13207/02-john-stale-cred-repro.png
  test-screenshots/PR-13207/03-john-bug-fix-john-shape.png
Due: none

fix(frontend): MCP logo background now transparent (alpha=0 for non-stroke pixels)
  autogpt_platform/frontend/public/integrations/mcp.png
Due: prettier, tsc

fix(frontend): MCPSetupCard reflects live cred state after refresh, not stale persisted snapshot
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
Due: prettier, tsc

fix(frontend): MCPSetupCard force-disconnect on Reconnect failure even when liveHasCred is still true (sentry bug-prediction MEDIUM)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
Due: prettier, tsc

fix(copilot): address /pr-review round 1 — surface_connect_card probes cred validity, tri-state liveHasCred, double-click re-entrancy guard, popupBlocked skips close-poll
  autogpt_platform/backend/backend/blocks/mcp/helpers.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/backend/backend/copilot/tools/test_run_mcp_tool.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): MCPSetupCard refetches live creds on mount (sentry MEDIUM — stale cache could show Connected after invalidation)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
Due: prettier, tsc

feat(frontend): add localStorage keys + date helper for top-up prompts
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/helpers.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

fix(copilot): probe path catches 5xx/timeout broadly + popup-close grace only for cross-origin (sentry MEDIUM x2)
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend): extract shared TopUpForm from WalletRefill
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpForm/TopUpForm.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpForm/useTopUpForm.ts
Due: prettier, tsc

fix(backend): deny NULL-userId LIBRARY_AGENT matches in unified search
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search_test.py
Due: isort, pyright, pytest

feat(frontend): add TopUpDialog wrapping shared TopUpForm
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpDialog/TopUpDialog.tsx
Due: prettier, tsc

feat(frontend): add TopUpPromptProvider with once-per-day auto-open
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/DailyTopUpAutoOpener.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpPromptProvider.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/useTopUpPrompt.ts
Due: prettier, tsc

feat(frontend): mount TopUpPromptProvider in platform layout
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
Due: prettier, tsc

feat(frontend): add LowCreditBanner for top-up prompts
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/LowCreditBanner/LowCreditBanner.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/LowCreditBanner/useLowCreditBanner.ts
Due: prettier, tsc

fix(copilot): address /pr-review round 2 — probe except cleanup, bearer-token host parity, comment/test hygiene
  autogpt_platform/backend/backend/api/features/mcp/routes.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/backend/backend/copilot/tools/test_run_mcp_tool.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
  autogpt_platform/frontend/src/lib/oauth-popup.ts
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): show low-credit top-up banner on Library page
  autogpt_platform/frontend/src/app/(platform)/library/__tests__/low-credit-banner.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Due: prettier, tsc

feat(frontend): show low-credit top-up banner on Autopilot page
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/low-credit-banner.test.tsx
Due: prettier, tsc

fix(backend/test): update test_store_token_success assertion for new host=mcp_server_url contract from f17d924047
  autogpt_platform/backend/backend/api/features/mcp/test_routes.py
Due: isort, pyright, pytest

test(frontend): cover MCPSetupCard Enter-key token submit + manual-token POST failure path (codecov patch)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
Due: prettier, tsc

fix(frontend): MCPSetupCard localConnected no longer shadows live cred-gone state (sentry LOW)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
Due: prettier, tsc

fix(frontend): wait for auto-top-up config before flagging out-of-credits
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpPromptProvider.tsx
Due: prettier, tsc

feat(frontend): cover daily top-up modal + auto-refill suppression
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/__tests__/TopUpPromptProvider.test.tsx
Due: prettier, tsc

fix(copilot): probe session terminated via DELETE in finally (sentry MEDIUM — session leak)
  autogpt_platform/backend/backend/blocks/mcp/client.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/backend/backend/copilot/tools/test_run_mcp_tool.py
Due: isort, pyright, pytest

test(frontend): cover OAuth timeout + generic-error error-message branches (codecov patch)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
Due: prettier, tsc

fix(frontend): MCPSetupCard defer setForceDisconnected(false) to success branch (sentry LOW — transient Connected mid-flight)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
Due: prettier, tsc

fix(frontend): remove unreachable error banner from MCPSetupCard connected branch (sentry LOW — dead code)
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
Due: prettier, tsc

test(frontend): cover oauth-popup same-origin no-grace + outer-timeout reject (codecov patch)
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
Due: prettier, tsc

fix(platform/copilot): MCP setup card fires on stale creds, OAuth popup close race, registry-search prompt, Connected/Reconnect UI, integrations page polish (#13207)
  autogpt_platform/backend/backend/api/features/mcp/routes.py
  autogpt_platform/backend/backend/api/features/mcp/test_routes.py
  autogpt_platform/backend/backend/blocks/mcp/client.py
  autogpt_platform/backend/backend/blocks/mcp/helpers.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/run_mcp_tool.py
  autogpt_platform/backend/backend/copilot/tools/test_run_mcp_tool.py
  autogpt_platform/frontend/public/integrations/mcp.png
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/MCPSetupCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/components/MCPSetupCard/__tests__/MCPSetupCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/helpers.ts
  autogpt_platform/frontend/src/lib/oauth-popup.test.ts
  autogpt_platform/frontend/src/lib/oauth-popup.ts
  docs/integrations/block-integrations/misc.md
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): degrade top-up prompt gracefully without a provider
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/useTopUpPrompt.ts
Due: prettier, tsc

refactor(frontend): address review feedback on top-up prompts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/low-credit-banner.test.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/LowCreditBanner/LowCreditBanner.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpDialog/TopUpDialog.tsx
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/TopUpForm/useTopUpForm.ts
  autogpt_platform/frontend/src/components/layout/TopUpPrompt/__tests__/TopUpPromptProvider.test.tsx
Due: prettier, tsc

refactor(backend/copilot): trim narrative comments + skip embed on unchanged text
  autogpt_platform/backend/backend/api/features/library/embeddings.py
  autogpt_platform/backend/backend/api/features/library/embeddings_test.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/copilot/tools/find_library_agent.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
Due: isort, pyright, pytest

fix(frontend): clean up agent briefing cost breakdown UX (#13196)
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/CostsBreakdown/CostsBreakdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/CostsBreakdown/components/SpendByAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
Due: prettier, tsc

feat(backend/copilot): tighten library-similarity gate + telemetry + storage CHECK
  autogpt_platform/backend/backend/api/features/library/search.py
  autogpt_platform/backend/backend/api/features/library/search_test.py
  autogpt_platform/backend/backend/copilot/tools/_test_data.py
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/create_agent.py
  autogpt_platform/backend/backend/copilot/tools/find_library_agent_test.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/helpers_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tracking.py
  autogpt_platform/backend/migrations/20260525120000_library_agent_userid_check/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

dx(frontend): regenerate openapi.json for AgentInfo.match_score
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(frontend/library): autopilot pill counts copilot follow-ups only, not graph schedules
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
Due: prettier, tsc
