Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

Feedback
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(frontend/copilot): add output action buttons (copy, upvote, downvote) with Langfuse feedback
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/AssistantMessageActions.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/FeedbackModal.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/useMessageFeedback.ts
  autogpt_platform/frontend/src/components/ai-elements/message.tsx
Due: prettier, tsc

feat(copilot): improve SDK loading time with parallel I/O and caching
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

feat(copilot): remove legacy copilot, add baseline non-SDK mode with tool calling (#12276)
  autogpt_platform/backend/backend/copilot/baseline/__init__.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/parallel_tool_calls_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

Fix
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

fix(copilot): guard against null metadata in validator
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator.py
Due: isort, pyright, pytest

feat(copilot): collapse repeated tool calls and fix stream stuck on completion
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/CollapsedToolGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ReasoningCollapse.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/CreateAgent/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/EditAgent/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/GenericTool.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunAgent/RunAgent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunAgent/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunMCPTool/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: isort, prettier, pyright, tsc, pytest

feat(copilot): add Langfuse tracing to baseline LLM path
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

fix(copilot): address review feedback on SDK loading optimizations
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(copilot): remove unused agent_id param from customize_agent, assign id explicitly
  autogpt_platform/backend/backend/copilot/tools/customize_agent.py
  autogpt_platform/backend/backend/copilot/tools/customize_agent_test.py
Due: isort, pyright, pytest

fix: add **_kwargs to stream_chat_completion_dummy for file_ids compat
  autogpt_platform/backend/backend/copilot/sdk/dummy.py
Due: isort, pyright, pytest

Add documentation for Google Gemini integration
  docs/platform/gemini.md
Due: none

fix(frontend): revalidate layout after email/password login
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
Due: prettier, tsc

fix(frontend): use full page navigation after email/password login
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Due: prettier, tsc

remove unnecessary revalidatePath from login action
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
Due: prettier, tsc

fix(frontend): prevent open redirect via next query parameter
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Due: prettier, tsc

fix(frontend): revalidate layout after email/password login (#12285)
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Due: prettier, tsc

feat(copilot): support MCP blocks and AgentExecutorBlock in agent generation
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/fixer.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/fixer_test.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/helpers.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator_test.py
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/find_library_agent.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): guard against None source_name in validator
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator.py
Due: isort, pyright, pytest

fix(copilot): guard against null metadata in fix_node_x_coordinates
  autogpt_platform/backend/backend/copilot/tools/agent_generator/fixer.py
Due: isort, pyright, pytest

fix(copilot): include agent generation guide in baseline service
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

address comments
  autogpt_platform/backend/backend/api/features/admin/store_admin_routes.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

address more comments
  autogpt_platform/backend/backend/api/features/admin/store_admin_routes.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(copilot): improve SDK loading time (#12280)
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

feat(copilot): persist large tool outputs to workspace with retrieval instructions (#12279)
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/base.py
  autogpt_platform/backend/backend/copilot/tools/base_test.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
Due: isort, pyright, pytest

remove broken StoreListing -> AgentGraph relation; sync migrations and snapshots
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/migrations/20260228114302_improve_store_entity_relations/migration.sql
  autogpt_platform/backend/migrations/20260304123456_update_store_submission_view/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/creators_pagination
  autogpt_platform/backend/snapshots/sub_success
Due: prisma-generate, isort, pyright, pytest

fix(frontend/signup): Add missing createUser() call in password signup
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
Due: prettier, tsc

feat(frontend): Adjust UI schema generation for custom fields
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/generate-ui-schema.ts
Due: prettier, tsc

Remove unused TitleFieldTemplate from GoogleDrivePickerField
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/GoogleDrivePickerField/GoogleDrivePickerField.tsx
Due: prettier, tsc

Fix: Use correct ID for Google Drive Picker title
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/GoogleDrivePickerField/GoogleDrivePickerField.tsx
Due: prettier, tsc

fix(frontend/builder): make Google Drive file inputs chainable (#12274)
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/GoogleDrivePickerField/GoogleDrivePickerField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/generate-ui-schema.ts
Due: prettier, tsc

feat(backend): Add delete file endpoint
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/backend/backend/api/features/workspace/routes_test.py
  autogpt_platform/backend/snapshots/delete_file_success
  autogpt_platform/backend/snapshots/upload_file_success
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

Update useWorkspaceUpload.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/useWorkspaceUpload.ts
Due: prettier, tsc

Fix: Update file input storage note
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Due: prettier, tsc

Refactor FileInput to use Phosphor icons
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Due: prettier, tsc

Refactor FileInput to use function declarations
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Due: prettier, tsc

feat(frontend): Stream workspace download and improve file upload
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Due: prettier, tsc

feat(backend): Verify workspace_id in execution context
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

feat(frontend): Export workspace URI parsing functions
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/WorkspaceFileRenderer.test.ts
Due: prettier, tsc
