Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

feat(frontend): name the tools section, so the AI section is a section
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/IntegrationsPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/__tests__/IntegrationsPanel.test.tsx
Due: prettier, tsc

fix(backend): drop the vendor prefix from a model the catalog cannot name
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
Due: isort, pyright, pytest

fix(backend): name a tier's model when the slug carries a vendor prefix
  autogpt_platform/backend/backend/copilot/model_router.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
Due: isort, pyright, pytest

feat(frontend): make the tier control the segmented pair the mock asks for
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/TierToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

feat(frontend): describe the Integrations page as what it now holds
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CopilotModals/CopilotModals.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CopilotModals/__tests__/CopilotModals.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/MethodPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/OAuthConnectButton.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/MethodPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsHeader/IntegrationsHeader.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsHeader/__tests__/IntegrationsHeader.test.tsx
Due: prettier, tsc

feat(frontend): give the picker rows the weight the mock gives them
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
Due: prettier, tsc

feat(frontend): lead a self-host install with the connection, not the questions
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/brain-dump.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/ConnectStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/__tests__/ConnectStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/useConnectStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/store.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingPage.ts
Due: prettier, tsc

fix(frontend/copilot): prune devtool session maps from one shared LRU
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/__tests__/TokenDevtoolBadge.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/__tests__/tokenDevtool.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/store.ts
Due: prettier, tsc

ci(frontend): satisfy prettier --check on the devtool store test
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/__tests__/tokenDevtool.test.ts
Due: prettier, tsc

feat(platform/copilot): selectable ask_question options and Needs-You prompting rule (#14156)
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/ask_question.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionAnswerField.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionOptionList.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/QuestionsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChainActionCard/__tests__/ChainActionCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/AskQuestion/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/__tests__/clarifying-questions.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/clarifying-questions.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

dx(frontend/copilot): dev-only token/context devtool in the composer tray (#14157)
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/copilotStreamTransport.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/TokenDevtoolBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/__tests__/TokenDevtoolBadge.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/BreakdownSection.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/ContextBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/MiniBar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/components/TurnRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/TokenDevtoolBadge/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/__tests__/gate.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/__tests__/tokenDevtool.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/gate.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/tokenMath.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tokenDevtool/usageTap.ts
Due: prettier, tsc

docs: remove broken waitlist link from docs landing page
  docs/content/index.md
Due: none

fix(backend): regenerate poetry.lock with pinned Poetry 2.2.1
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

refactor(frontend): split SubSessionLive.tsx by responsibility
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/AgentCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/LiveSteps.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/SubSessionPendingCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/__tests__/SubSessionLive.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/useDelegatedSessionId.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/useLiveSubSession.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
Due: prettier, tsc

feat: use Postgres full-text search for library agent search
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

fix: normalize search_term for PostgreSQL full-text search safety
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

feat(frontend/copilot): chain UI polish — card resize, expert skeletons, minimap and artifact tweaks (#14158)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/__tests__/ArtifactPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ChainMessageParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/TailSpacer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/ChatMinimap.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/__tests__/ChatMinimap.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMinimap/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PanelResizeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/AgentCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ExpertCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ChainRowView.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/SubSessionLive.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolChain.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/useCardResize.ts
Due: prettier, tsc

Add Web Metadata Extractor blocks (security headers + tech stack)
  autogpt_platform/backend/backend/blocks/webmetadata/__init__.py
  autogpt_platform/backend/backend/blocks/webmetadata/_api.py
  autogpt_platform/backend/backend/blocks/webmetadata/_config.py
  autogpt_platform/backend/backend/blocks/webmetadata/security_headers_audit.py
  autogpt_platform/backend/backend/blocks/webmetadata/tech_stack_detector.py
Due: isort, pyright, pytest

fix(blocks): format, fix TechStackDetectorBlock test mismatch, add docs
  autogpt_platform/backend/backend/blocks/webmetadata/_api.py
  autogpt_platform/backend/backend/blocks/webmetadata/_config.py
  autogpt_platform/backend/backend/blocks/webmetadata/tech_stack_detector.py
Due: isort, pyright, pytest

docs(blocks): add webmetadata block-integration doc pages
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/webmetadata/security_headers_audit.md
  docs/integrations/block-integrations/webmetadata/tech_stack_detector.md
Due: none

fix: compute normalized search term before folder checks
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

feat(frontend): report a DataFast `paywall_view` goal from onboarding
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/__tests__/tracking.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
Due: prettier, tsc

fix(frontend): report Ads conversions only once the action really happened
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingPage.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/analytics/loading-policy.test.ts
  autogpt_platform/frontend/src/services/analytics/loading-policy.ts
  autogpt_platform/frontend/src/services/analytics/useSetupAnalytics.ts
Due: prettier, tsc

fix(frontend): drop the pricing variant from `paywall_view`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/__tests__/tracking.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
Due: prettier, tsc

fix: address CodeRabbit - docstring clarity and test mock paths
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

fix(platform): make Ads conversions truthful, consented and deduplicated
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/usePaywallModal.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/useSubscriptionTierSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/AdsConversionTracker.test.tsx
  autogpt_platform/frontend/src/services/analytics/account-created-cookie.test.ts
  autogpt_platform/frontend/src/services/analytics/account-created-cookie.ts
  autogpt_platform/frontend/src/services/analytics/account-created-server.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
  autogpt_platform/frontend/src/services/analytics/index.test.ts
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/analytics/useAdsConversionTracker.ts
  autogpt_platform/frontend/src/services/environment/index.ts
  autogpt_platform/frontend/src/types/google.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): require an affirmative advertising yes before sending identifiers
  autogpt_platform/frontend/src/services/analytics/__tests__/AdsConversionTracker.test.tsx
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
Due: prettier, tsc

feat(platform): let users remove a workflow from an expert
  autogpt_platform/backend/backend/api/features/experts/errors.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/scheduling.py
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/remove-workflow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/WhatRunsZone.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/ExpertWorkflowGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/RemoveWorkflowDialog/RemoveWorkflowDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/RemoveWorkflowDialog/useRemoveWorkflowDialog.ts
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/useWhatRunsZone.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): keep the checkout query across retries and bid on API prices
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/usePaywallModal.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/services/analytics/__tests__/AdsConversionTracker.test.tsx
  autogpt_platform/frontend/src/services/analytics/useAdsConversionTracker.ts
Due: prettier, tsc

refactor(frontend): fully capitalise the GA acronym and drop redundant cleanup
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.test.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
Due: prettier, tsc

refactor(frontend): nest SubSessionLive's sub-components under components/
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/components/LiveSteps.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive/components/SubSessionPendingCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
Due: prettier, tsc

feat(frontend): tag the paywall billing toggle for DataFast
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
Due: prettier, tsc

test(e2e): walk past the connect step this PR puts in front of onboarding
  autogpt_platform/frontend/src/playwright/auth-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/utils/onboarding.ts
Due: prettier, tsc

feat(platform): name a provider's models before the user has that provider
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/copilot/provider_tiers.py
  autogpt_platform/backend/backend/copilot/provider_tiers_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/__tests__/ConnectStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/useConnectStep.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/ChatGPTConnectExplainer.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/MethodPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): enforce the Advanced tier where a turn starts, not just in the picker
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
