Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix await check :')
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

feat(frontend): Change copywriting for execution task summary (#11324)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Due: prettier, tsc

update next.config.mjs
  autogpt_platform/frontend/next.config.mjs
Due: prettier, tsc

Feedback
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Due: prettier, tsc

feat(platform): Chat system backend (#11230)
  autogpt_platform/autogpt_libs/autogpt_libs/auth/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/model_test.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/response_model.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/service_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(platform): Wallet fixes (#11304)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/SelectedAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomEdge/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeHandle.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Due: prettier, tsc

refactor(backend): Remove duplicate LLM utils and use existing AIStructuredResponseGeneratorBlock
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/util/llm_utils.py
Due: isort, pyright, pytest

hotfix(backend): fix rate-limited messages blocking queue by republishing to back
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test_requeue_integration.py
Due: isort, pyright, pytest

fix(backend): resolve type error and clean up integration test
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/test_requeue_integration.py
Due: isort, pyright, pytest

refactor(backend): inline _requeue_message_to_back and improve error handling
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix(backend): resolve integration test consumption issues
  autogpt_platform/backend/test_requeue_integration.py
Due: isort, pyright

feat(backend): add comprehensive requeue behavior validation in single test file
  autogpt_platform/backend/test_requeue_integration.py
Due: isort, pyright

hotfix(backend): fix rate-limited messages blocking queue by republishing to back (#11326)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test_requeue_integration.py
Due: isort, pyright, pytest

feat(backend): Add correctness_score to API response models
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

feat(frontend): Update UI labels to use "Success Estimate" for correctness score
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(backend/executor): Improve graph execution permission check (#11323)
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

feat(frontend): Improve Success Estimate tooltips with better bridging text
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Due: prettier, tsc

feat(blocks)!: Update Exa search block to match latest API specification (#11185)
  .gitignore
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/exa/_test.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/blocks/exa/code_context.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/model.py
  autogpt_platform/backend/backend/blocks/exa/research.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/exa/webhook_blocks.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_enrichment.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_monitor.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
  autogpt_platform/backend/backend/blocks/exa/websets_search.py
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  docs/content/platform/new_blocks.md
Due: isort, prettier, pyright, tsc, pytest

fix(backend): Fix database client and add feature flag bypass for admin
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

ci: Change @claude's model from 'opus' to 'sonnet[1m]'
  .github/workflows/claude.yml
Due: none

ghrs: snap 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-05_230315_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-05_230315_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Redis notification bus
  autogpt_platform/backend/backend/data/notification_bus.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

feat(backend): Add correctness score to execution activity generation (#11325)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

chore: fix types
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
Due: prettier, tsc

chore: cleanup
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

feat(frontend): `<Button variant="link" />` (#11320)
  autogpt_platform/frontend/src/components/atoms/Button/Button.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/atoms/Link/Link.tsx
Due: prettier, tsc

fix test ID
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Due: prettier, tsc

chore: disable CAPTCHA on preview deployments
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Due: prettier, tsc

Remove deprecated Groq and Gemini model references
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  classic/forge/forge/llm/providers/groq.py
Due: isort, pyright, pytest

chore: add spinner
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.tsx
  autogpt_platform/frontend/src/components/atoms/LoadingSpinner/LoadingSpinner.stories.tsx
  autogpt_platform/frontend/src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
Due: prettier, tsc

feat(frontend/marketplace): Update agent download UI (#11322)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Due: prettier, tsc

feat(frontend): Cookie consent banner and settings (#11306)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/CookieConsentBanner.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/components/CookieSettingsModal/CookieSettingsModal.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/components/CookieSettingsModal/useCookieSettingsModal.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/useCookieConsent.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/useCookieConsentBanner.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/services/analytics/VercelAnalyticsWrapper.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/consent/cookies.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
Due: prettier, tsc

refactor(backend): Simplify feature flag imports and enhance chat session model
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
Due: isort, pyright, pytest

updated openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

removed chat link when logged out
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Due: prettier, tsc

use correct limit check
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
Due: isort, pyright, pytest

update openapi.json again
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
