Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/copilot): G6 — block workspace ACL bypass into skills registry
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
Due: isort, pyright, pytest

fix(backend/copilot): G7/G12 — empty-body docs + audit log on delete_user_skill
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
Due: isort, pyright, pytest

fix(backend/copilot): skip default-body disk read in skills index build
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

fix(backend/copilot): G10 — per-user cache breakpoint after <available_skills>
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

feat(backend/copilot): point schedule tools at <session_context> for current_session_id
  autogpt_platform/backend/backend/copilot/tools/manage_schedules.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
Due: isort, pyright, pytest

feat(backend/copilot-bot): add /new to start a fresh conversation
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands_test.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/sessions.py
  autogpt_platform/backend/backend/copilot/bot/sessions_test.py
Due: isort, pyright, pytest

fix(backend/copilot): preserve list identity in _apply_skills_cache_breakpoint
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

fix(platform): address round-4 review (tool JSON leak, owner gating, regex anchors)
  autogpt_platform/backend/backend/api/features/chat/share.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/copilot/sharing/db.py
  autogpt_platform/backend/backend/copilot/sharing/db_test.py
  autogpt_platform/backend/backend/copilot/sharing/models.py
  autogpt_platform/backend/backend/copilot/sharing/models_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactCard/ArtifactCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/ChatMessagesContainer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/share/routes.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(platform): remove AgentInput secret toggle + simplify graph-export stripping (#13145)
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/migrations/20260520120000_drop_io_block_secret_toggle/migration.sql
  docs/integrations/block-integrations/basic.md
Due: isort, pyright, pytest

fix(backend/copilot): block on skills write lock to enforce cap under concurrency
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

fix(backend/copilot): build + cleanup execution file allowlist on chat-link share
  autogpt_platform/backend/backend/copilot/sharing/db.py
  autogpt_platform/backend/backend/copilot/sharing/db_test.py
Due: isort, pyright, pytest

fix(backend/copilot): narrow Mapping → dict in _apply_skills_cache_breakpoint
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

fix(platform): canonical openapi.json + share_test SharedChatSession fixture
  autogpt_platform/backend/backend/api/features/chat/share_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(frontend/copilot): cover ShareChatDialog enable/disable/copy/toggle paths
  .claude/scheduled_tasks.lock
  autogpt_platform/frontend/src/app/(platform)/copilot/sharing/__tests__/ShareChatDialog.test.tsx
Due: prettier, tsc

chore: gitignore .claude/scheduled_tasks.lock
  .claude/scheduled_tasks.lock
Due: none

chore: actually persist .gitignore for scheduled_tasks.lock
  .gitignore
Due: none

test(frontend/copilot): cover ShareChatDialog clipboard failure branch
  autogpt_platform/frontend/src/app/(platform)/copilot/sharing/__tests__/ShareChatDialog.test.tsx
Due: prettier, tsc

fix(frontend/copilot): type clipboardWrite spy so mock.calls[0][0] is reachable
  autogpt_platform/frontend/src/app/(platform)/copilot/sharing/__tests__/ShareChatDialog.test.tsx
Due: prettier, tsc

feat(copilot): route file tools to LocalPCShim per executor
  autogpt_platform/backend/backend/copilot/context.py
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/local_pc_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/local_pc_file_tools_test.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
Due: isort, pyright, pytest

feat(copilot): make MCP file-tool descriptions executor-agnostic
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
Due: isort, pyright, pytest

feat(copilot): gate LocalPC executor behind LaunchDarkly per-user flag
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/util/feature_flag.py
Due: isort, pyright, pytest

docs(platform): mirror OAuth registration spec update from shim repo
  experimental/local-pc-executor/docs/OAUTH_FLOW.md
Due: none

docs(platform): mirror OAUTH_FLOW.md clarification on client_id
  experimental/local-pc-executor/docs/OAUTH_FLOW.md
Due: none

docs(platform): mirror PROTOCOL.md daemon-feedback edits
  experimental/local-pc-executor/docs/PROTOCOL.md
Due: none

docs(platform): mirror AUDIT_LOG.md + SECURITY.md updates from shim repo
  experimental/local-pc-executor/README.md
  experimental/local-pc-executor/docs/AUDIT_LOG.md
  experimental/local-pc-executor/docs/SECURITY.md
Due: none

test(copilot): loopback e2e for local-executor WS route + LocalPCShim adapter
  autogpt_platform/backend/backend/api/features/local_executor/routes_test.py
Due: isort, pyright, pytest

docs(platform): mirror README reframe from shim repo
  experimental/local-pc-executor/README.md
Due: none

docs(platform): mirror PLATFORM_HOOKS §10.9 computer-use deferral
  experimental/local-pc-executor/docs/PLATFORM_HOOKS.md
Due: none

docs(platform): mirror CROSS_PLATFORM.md Autostart row update (NSSM → Task Scheduler)
  experimental/local-pc-executor/docs/CROSS_PLATFORM.md
Due: none

fix(backend/copilot): use cast not dict() in cache-breakpoint to preserve dict identity
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

feat(frontend/copilot): add Copy link + Sign up CTAs to the share header
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/components/ShareHeader/ShareActions.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/components/ShareHeader/__tests__/ShareActions.test.tsx
Due: prettier, tsc

fix(backend/copilot): tighten secret-key matcher to skip prompt_tokens / author
  autogpt_platform/backend/backend/copilot/sharing/models.py
  autogpt_platform/backend/backend/copilot/sharing/models_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): wrap chat-share loading + error states in branded chrome
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
Due: prettier, tsc

test(backend/copilot): cover _apply_skills_cache_breakpoint identity contract
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

test: add E2E screenshots for PR #13195 (final --fix pass)
  test-screenshots/PR-13195/01-login-page.png
  test-screenshots/PR-13195/02-skills-empty-initial.png
  test-screenshots/PR-13195/03-skills-after-store-skill.png
  test-screenshots/PR-13195/04-delete-dialog-open.png
  test-screenshots/PR-13195/05-delete-cancelled-still-listed.png
  test-screenshots/PR-13195/06-skills-empty-after-delete.png
  test-screenshots/PR-13195/07-followups-page-empty.png
Due: none

fix(frontend/copilot): theme-aware bg on SharedChatChrome for dark mode
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
Due: prettier, tsc

ghrs: snap 05-22-2323-1D4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-22_232326_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-22_232326_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-22_232326_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 05-22-2323-1D4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-22-2323-1D4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-05-22_232326_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none
