Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

dx(platform): simplify harness attribution wording
  AGENTS.md
Due: none

docs: show unlocked Max and local pickers for PR #14360
  local-after.png
  local-before.png
  max-after.png
  max-before.png
Due: none

fix(frontend): cover direct block usage history receipt
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/activity-types.test.tsx
Due: prettier, tsc

fix(copilot): restore spacing above connection footer
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
Due: prettier, tsc

docs: replace picker screenshots after spacing fix
  local-after.png
  local-before.png
  max-after.png
  max-before.png
Due: none

docs(platform): regenerate block docs for the desktop blocks
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/misc.md
Due: none

feat(copilot): give hired experts their own persistent E2B box and volumes
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/blocks/desktop/_api.py
  autogpt_platform/backend/backend/blocks/desktop/_common.py
  autogpt_platform/backend/backend/blocks/desktop/_common_test.py
  autogpt_platform/backend/backend/blocks/desktop/sandbox.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
  autogpt_platform/backend/backend/copilot/tools/start_desktop.py
  autogpt_platform/backend/backend/copilot/tools/start_desktop_test.py
  autogpt_platform/backend/scripts/desktop_smoke_test.py
Due: isort, pyright, pytest

fix(backend): regenerate poetry.lock with Poetry 2.2.1
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix(backend): address /review feedback on GPT-6 Astra entry
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
Due: isort, pyright, pytest

fix(platform): scope Recent work deliverables to the week and regenerate the API schema
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/WorkGroup.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): satisfy CI on the expert-box change
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
  autogpt_platform/backend/backend/copilot/tools/start_desktop.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  docs/integrations/block-integrations/desktop/actions.md
  docs/integrations/block-integrations/desktop/command.md
  docs/integrations/block-integrations/desktop/files.md
  docs/integrations/block-integrations/desktop/sandbox.md
Due: isort, pyright, pytest

dx(platform): record agent and model attribution (#14366)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Due: none

fix(platform): key unfetched runs by execution and move ActorMark to its own file
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/ActorMark.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/WorkGroup.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(platform): group Home's Recent work by expert, workflow, or Autopilot (#14342)
  autogpt_platform/backend/backend/api/features/home/briefing.py
  autogpt_platform/backend/backend/api/features/home/compose.py
  autogpt_platform/backend/backend/api/features/home/models.py
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/copilot/tools/activity_event_hooks_test.py
  autogpt_platform/backend/backend/copilot/tools/run_block.py
  autogpt_platform/backend/backend/executor/activity_events.py
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/recent-work.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/workflow-runs.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/RecentWork.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/ActorMark.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/OutcomeRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/RunRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/WorkGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/WorkItemRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/runHelpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/useOutcomeFilter.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/useWorkflowRuns.ts
  autogpt_platform/frontend/src/app/(platform)/home/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/home/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend): update MiniMax credential slot expectation
  autogpt_platform/backend/backend/data/graph_test.py
Due: isort, pyright, pytest

fix(backend): probe Redis with a socket instead of connect() in collection-time skipifs
  autogpt_platform/backend/backend/api/conn_manager_integration_test.py
  autogpt_platform/backend/backend/data/e2e_redis_rabbit_test.py
  autogpt_platform/backend/backend/data/event_bus_test.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/redis_client_test.py
Due: isort, pyright, pytest

fix(platform): calm the Recent work card on Home
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/helpers_test.py
  autogpt_platform/backend/backend/api/features/home/models.py
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/recent-work.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/RecentWork.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/OutcomeRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/WorkGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): probe Redis with a bounded socket check in collection-time skipifs
  autogpt_platform/backend/backend/api/conn_manager_integration_test.py
  autogpt_platform/backend/backend/data/e2e_redis_rabbit_test.py
  autogpt_platform/backend/backend/data/event_bus_test.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/redis_client_test.py
Due: isort, pyright, pytest

fix(platform): calm the Recent work card on Home (#14368)
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/helpers_test.py
  autogpt_platform/backend/backend/api/features/home/models.py
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/recent-work.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/RecentWork.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/OutcomeRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/components/WorkGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend): cover server_reachable branches
  autogpt_platform/backend/backend/data/redis_client_test.py
Due: isort, pyright, pytest

ci(platform): upgrade conflict label action to Node.js 24
  .github/workflows/repo-pr-label.yml
Due: none

fix(frontend): let clicks pass through sidebar toggle tooltip
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/AppSidebarHeader/AppSidebarHeader.tsx
Due: prettier, tsc

fix(backend): handle validated transaction execution statuses
  autogpt_platform/backend/backend/data/credit_history_enrichment.py
  autogpt_platform/backend/backend/data/credit_history_enrichment_test.py
Due: isort, pyright, pytest

feat(copilot): clarify Max model access in picker (#14360)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectAccountRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/MaxUpgradeCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/TierToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectAccountRow.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/MaxUpgrade.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/TierToggle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/maxUpgradeFixtures.tsx
Due: prettier, tsc

docs(platform): compare current dev with PR transaction history
  README.md
  before-dev.jpg
  before-fix.png
Due: none

fix(copilot): address review findings on the expert-box change
  autogpt_platform/backend/backend/blocks/desktop/_api.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolResult.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/toolCatalog.platform.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/DesktopStreamRenderer.tsx
Due: isort, prettier, pyright, tsc, pytest

dx(skills): drop the undefined budget variable from the polish loop pseudocode
  .claude/skills/pr-polish/SKILL.md
Due: none

fix(analytics): keep documented camelCase column names and attribute credentials to owners
  autogpt_platform/analytics/queries/chat_turn.sql
  autogpt_platform/analytics/queries/graph_execution.sql
  autogpt_platform/analytics/queries/user_lifecycle.sql
Due: none

fix(platform): validate header-supplied attribution ids and clear first landing on logout
  autogpt_platform/backend/backend/api/features/analytics.py
  autogpt_platform/frontend/src/services/analytics/__tests__/anonymous-id.test.ts
  autogpt_platform/frontend/src/services/analytics/anonymous-id.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): let clicks pass through sidebar search tooltip
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarSearch/SidebarSearch.tsx
Due: prettier, tsc

fix(platform): render canonical agent names in Copilot
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/tool_display_test.py
  autogpt_platform/backend/backend/copilot/baseline/tool_persistence.py
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/response_model_test.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/security_hooks.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_display.py
  autogpt_platform/backend/backend/copilot/sdk/tool_display_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/tool_display_test.py
  autogpt_platform/backend/backend/copilot/sharing/models_test.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
  autogpt_platform/backend/backend/copilot/tool_display.py
  autogpt_platform/backend/backend/copilot/tool_display_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/run_agent_display_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/ChatMessagesContainer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/SubSessionLive.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ToolChain.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/toolCatalog.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/toolCatalog.agent.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/toolCatalog.shared.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/toolCatalog.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/toolDisplay.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/toolDisplay.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/messageParts.ts
Due: isort, prettier, pyright, tsc, pytest

feat(platform): add Linux and macOS appliance installer (#13261)
  .github/workflows/platform-installer-ci.yml
  README.md
  autogpt_platform/installer/install.sh
  autogpt_platform/installer/test-single-container-handoff.sh
  docs/platform/getting-started.md
  docs/platform/installer.md
Due: none

fix(backend): isolate copilot dispatch sleep mocks
  autogpt_platform/backend/backend/copilot/executor/manager_test.py
Due: isort, pyright, pytest

dx(platform): add agent-name PR screenshots
  README.md
  after.jpg
  before.jpg
Due: none

fix(frontend): make shared tooltips ignore pointer events
  autogpt_platform/frontend/src/components/atoms/Tooltip/BaseTooltip.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/AppSidebarHeader/AppSidebarHeader.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarSearch/SidebarSearch.tsx
  autogpt_platform/frontend/src/components/ui/tooltip.tsx
Due: prettier, tsc

fix(backend): hide the voice-turn prefix from the user, and cut it to a line
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/service_test.py
Due: isort, pyright, pytest

fix(backend): announce each batch of tool calls, not just the first
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

feat(platform): give experts a Computer tab and the copilot panel a Computer face
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/copilot/computer.py
  autogpt_platform/backend/backend/copilot/computer_test.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/start_desktop.py
  autogpt_platform/backend/backend/copilot/tools/start_desktop_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactCard/ArtifactCard.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/__tests__/computerFace.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/ArtifactPanelHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/ComputerPanelContent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/PanelModeSwitch.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/ChatContainer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/useAutoOpenArtifacts.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ArtifactsTab.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/DesktopStreamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/__tests__/WorkspaceFileCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertComputerSection/ExpertComputerSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertComputerSection/__tests__/ExpertComputerSection.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertComputerSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertComputerSection/useExpertComputerSection.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend): assert the desktop stream URL exactly
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
