Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(caching): resolve pydantic import conflict by reinstalling dependencies
  autogpt_platform/backend/load-tests/MARKETPLACE_TEST_RESULTS.md
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
Due: none

fix(caching): add support for unhashable types in cache keys and fix test imports
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
Due: isort, pyright, pytest

test(cache): add verification that async functions return results, not coroutines
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
Due: pyright

extremely bump failed requests
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(backend): make /api/blocks endpoint async to handle high concurrency
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

fix(backend): implement selective user cache invalidation and clean up test files
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/load-tests/COMPREHENSIVE_METRICS_REPORT.md
  autogpt_platform/backend/load-tests/MARKETPLACE_TEST_RESULTS.md
Due: isort, pyright, pytest

feat(backend): implement comprehensive load testing performance fixes + database health improvements (#10965)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
Due: isort, pyright, pytest

Fixes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

Make JSON output optional in LLM calls
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Due: isort, pyright, pytest

minimize changes to poetry files
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, pyright, pytest

feat(backend): add caching layer to store API endpoints
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

test(backend): add comprehensive tests for cache_delete functionality
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Due: isort, pyright, pytest

style(backend): apply formatter to store routes
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

fix(backend): remove unnecessary cache invalidation and management endpoints
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Due: isort, pyright, pytest

feat(backend): add Prometheus-compatible cache metrics endpoint
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Due: isort, pyright, pytest

fix(backend): improve async GCS client management and error handling
  autogpt_platform/backend/backend/util/cloud_storage.py
Due: isort, pyright, pytest

fix regex hanging
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/util/json.py
Due: isort, pyright, pytest

ghrs: snap 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-23_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-23_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Update Wallet design
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Due: prettier, tsc

feat(backend): implement clean k6 load testing infrastructure
  autogpt_platform/backend/load-tests/.gitignore
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/k6-credentials.env.example
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/run-cloud-tests.js
  autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Due: none

fix(load-tests): add proper service key setup and commit example files
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
Due: none

feat(load-tests): Fix token expiry, improve auth failure tracking, add k8s pod testing
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/comprehensive-load-test-orchestrator.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/k6-loadtesting-pod.yaml
Due: none

Format
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

update openai.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

feat(backend): implement comprehensive load testing performance fixes + database health improvements (#10965)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
  autogpt_platform/docker-compose.platform.yml
Due: isort, pyright, pytest

fix(backend): make preset migration not crash the system (#10966)
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Due: isort, pyright, pytest

fixed caching of store submissions
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

updated caching ttl for store routes
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fixed cache clears when deleting a submission
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

feat(load-tests): unified orchestrator with k6 cloud integration
  autogpt_platform/backend/load-tests/analyze-metrics.js
  autogpt_platform/backend/load-tests/comprehensive-load-test-orchestrator.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/load-test-orchestrator.js
  autogpt_platform/backend/load-tests/run-cloud-tests.js
  autogpt_platform/backend/load-tests/run-tests.js
Due: none

group caching at top of file
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

docs(load-tests): update README for unified orchestrator
  autogpt_platform/backend/load-tests/README.md
Due: none

feat(backend): implement caching layer for store API endpoints (Part 1) (#10975)
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
