Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(frontend): stop three surfaces claiming things that are not true
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/ConnectStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/__tests__/ConnectStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ProviderLimitDialog/ProviderLimitDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ProviderLimitDialog/useProviderLimitDialog.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
Due: prettier, tsc

feat(platform): let a chat continue elsewhere when a plan runs out
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotChatHost.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/CopilotPage.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/copilotStreamErrorHandlers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ProviderLimitDialog/ProviderLimitDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ProviderLimitDialog/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ProviderLimitDialog/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ProviderLimitDialog/useProviderLimitDialog.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamErrorHandlers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): let a failed chat still offer a way out after a reload
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/providerFailure.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/providerFailure.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: prettier, tsc

fix(frontend): make the picker operable, and stop misnaming whose limit it is
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/TierToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/radioKeys.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: prettier, tsc

fix: close the gaps a second review pass found
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/turn_queue_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/providerFailure.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/providerFailure.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: isort, prettier, pyright, tsc, pytest

test(e2e): walk past the connect step this PR puts in front of onboarding
  autogpt_platform/frontend/src/playwright/auth-happy-path.spec.ts
  autogpt_platform/frontend/src/playwright/utils/onboarding.ts
Due: prettier, tsc

feat(platform): name a provider's models before the user has that provider
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/copilot/provider_tiers.py
  autogpt_platform/backend/backend/copilot/provider_tiers_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/__tests__/ConnectStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/ConnectStep/useConnectStep.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/ChatGPTConnectExplainer.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/MethodPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): enforce the Advanced tier where a turn starts, not just in the picker
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
Due: isort, pyright, pytest

feat(frontend): report a DataFast `paywall_view` goal from onboarding (#14184)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/__tests__/tracking.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
Due: prettier, tsc

feat(frontend): report each onboarding step to DataFast
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/tracking.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingPage.ts
  autogpt_platform/frontend/src/components/molecules/PlanCard/PlanCard.tsx
Due: prettier, tsc

feat(frontend): tag the upgrade modal's plan CTAs too
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/PaywallModal.tsx
Due: prettier, tsc

feat(frontend): tag the settings-billing paying surfaces for DataFast
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/BalanceCard/BalanceCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/PaymentMethodCard/PaymentMethodCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/SwitchCycleDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/SwitchTierDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/YourPlanCard.tsx
Due: prettier, tsc

feat(platform): recommend Ornith 1.5 for local users
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/config_test.py
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
  autogpt_platform/single-container/.env.example
  docs/platform/copilot-local-llm.md
Due: isort, pyright, pytest

fix(frontend): restore the Google Ads checkout tracking lost in the merge
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
Due: prettier, tsc

feat(frontend): name the subscriptions coming next, and say what credits cost
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/__tests__/AIConnectionsSection.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/helpers.ts
Due: prettier, tsc

feat(platform): let a user pick the connection every new chat starts on
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/transports.py
  autogpt_platform/backend/backend/copilot/transports_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/migrations/20260819120000_add_user_default_chat_route/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/LlmRouteSelector.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/copilotLlmAuth.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/copilotLlmAuth.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

feat(frontend): let a user choose their default AI connection in Settings
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotConnectionNotice/BotConnectionNotice.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/page.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/IntegrationsPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/__tests__/AIConnectionsSection.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/helpers.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/useAIConnectionsSection.ts
Due: prettier, tsc

feat(frontend): answer what linking a ChatGPT plan means before the OAuth window
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/ChatGPTConnectExplainer.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/MethodPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/OAuthConnectButton.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/MethodPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/DeleteConfirmDialog/DeleteConfirmDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsList/IntegrationsList.tsx
Due: prettier, tsc

feat(backend): describe an AI connection on the server that enforces it
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): show which ChatGPT account a connection runs as
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/ManageConnectionDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/__tests__/AIConnectionsSection.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/useAIConnectionsSection.ts
Due: prettier, tsc

fix(frontend): stop calling the ChatGPT account type a workspace
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/ManageConnectionDialog.tsx
Due: prettier, tsc

refactor(platform): finish removing the mode, including its leftovers
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(platform): remove the Fast/Thinking mode, control and plumbing
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/autopilot-mode-switch.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ModeToggleButton.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ModeToggleButton.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotChatRegistry.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/MemoryChatPanel/useMemoryChatPanel.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): tidy what the mode removal left pointing at nothing
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/enter_building_mode.py
Due: isort, pyright, pytest

feat(backend): name the model each quality tier resolves to
  autogpt_platform/backend/backend/copilot/engine.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): pick the connection and its tier in one control
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useConnectionPicker.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/LlmRouteSelector.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ModelToggleButton.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/LlmRouteSelector.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ModelToggleButton.test.tsx
Due: prettier, tsc

fix(frontend): let an unmade connection choice stay unmade
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-kickoff.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useConnectionPicker.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
Due: prettier, tsc

fix(frontend): send the tier the picker is showing
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/copilotStreamTransport.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
Due: prettier, tsc

fix(frontend): make a locked row say what it is worth
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

feat(platform): show the ChatGPT connection a plan excludes, locked
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useConnectionPicker.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): give a tier's model room to be read
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

fix(frontend): keep the model tier changeable once a chat is underway
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

feat(backend): name the model a ChatGPT tier will actually use
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
Due: isort, pyright, pytest

fix(backend): keep a failed baseline turn in the chat
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/markers.py
  autogpt_platform/backend/backend/copilot/markers_test.py
Due: isort, pyright, pytest

feat(platform): say which provider failure happened, and what fixes it
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/provider_failure.py
  autogpt_platform/backend/backend/copilot/provider_failure_test.py
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/providerFailure.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamErrorHandlers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/providerFailure.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: isort, prettier, pyright, tsc, pytest
