Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(backend/api): serve only the declared servers in the v2 OpenAPI spec
  autogpt_platform/backend/backend/api/external/v2/app.py
  autogpt_platform/backend/backend/api/external/v2/contract_test.py
  docs/platform/integrating/api-reference.md
Due: isort, pyright, pytest

fix(backend/api): declare the 402 and 409 that v2 run start answers
  autogpt_platform/backend/backend/api/external/v2/contract_test.py
  autogpt_platform/backend/backend/api/external/v2/library/agents.py
Due: isort, pyright, pytest

fix(backend/api): move webhook presets onto the graph version v2 activates
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/graphs_test.py
Due: isort, pyright, pytest

fix(backend/api): refuse an oversized v2 marketplace upload before reading it
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/marketplace_test.py
  autogpt_platform/backend/backend/api/features/workspace/service.py
Due: isort, pyright, pytest

fix(backend/copilot): find_capability finds roster experts to hire and the user's team (#15149)
  autogpt_platform/backend/backend/copilot/capabilities/dispatch.py
  autogpt_platform/backend/backend/copilot/capabilities/eval/expert_hire_dataset.json
  autogpt_platform/backend/backend/copilot/capabilities/eval/expert_roster.json
  autogpt_platform/backend/backend/copilot/capabilities/eval/experts.py
  autogpt_platform/backend/backend/copilot/capabilities/eval/experts_test.py
  autogpt_platform/backend/backend/copilot/capabilities/index.py
  autogpt_platform/backend/backend/copilot/capabilities/models.py
  autogpt_platform/backend/backend/copilot/capabilities/sources/__init__.py
  autogpt_platform/backend/backend/copilot/capabilities/sources/experts.py
  autogpt_platform/backend/backend/copilot/tools/capability_tools_test.py
  autogpt_platform/backend/backend/copilot/tools/describe_capability.py
  autogpt_platform/backend/backend/copilot/tools/expert_capabilities_test.py
  autogpt_platform/backend/backend/copilot/tools/find_capability.py
  autogpt_platform/backend/backend/copilot/tools/hire_expert.py
  autogpt_platform/backend/backend/copilot/tools/run_capability.py
  autogpt_platform/backend/backend/copilot/tools/session_registry.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

test(backend/api): enable the trigger block where CI sets no platform URL
  autogpt_platform/backend/backend/api/external/v2/graphs_test.py
Due: isort, pyright, pytest

fix(backend/api): refuse v2 writes to an org-mate's run or graph with 403
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/graphs_test.py
  autogpt_platform/backend/backend/api/external/v2/ownership_test.py
  autogpt_platform/backend/backend/api/external/v2/runs.py
  autogpt_platform/backend/backend/api/external/v2/tenancy.py
Due: isort, pyright, pytest

fix(platform): connect Telegram by messaging the bot first; adding it to a group is optional (#15159)
  autogpt_platform/backend/backend/api/features/platform_linking/registry.py
  autogpt_platform/backend/backend/api/features/platform_linking/registry_test.py
  autogpt_platform/backend/backend/api/features/platform_linking/routes.py
  autogpt_platform/backend/backend/api/features/platform_linking/routes_test.py
  autogpt_platform/backend/backend/copilot/bot/README.md
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/commands_test.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/bot/command_core.py
  autogpt_platform/backend/backend/copilot/bot/command_core_test.py
  autogpt_platform/backend/backend/platform_linking/db.py
  autogpt_platform/backend/backend/platform_linking/db_test.py
  autogpt_platform/backend/backend/platform_linking/manager.py
  autogpt_platform/backend/backend/platform_linking/manager_test.py
  autogpt_platform/backend/backend/platform_linking/models.py
  autogpt_platform/frontend/src/app/(platform)/settings/bots/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotCard/BotCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotCard/BotCardServerList.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotCard/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend): share sidebar background color
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/AppSidebarHeader/AppSidebarHeader.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarUserActions/SidebarUserActions.tsx
Due: prettier, tsc

fix(backend/copilot): bash_exec's kill-tree no longer leaves children alive when another process exits mid-listing (#15254)
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec_test.py
Due: isort, pyright, pytest

fix(backend/billing): end only the failed subscription and make wallet payment resumable
  autogpt_platform/backend/backend/api/features/billing/subscriptions/routes.py
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
  autogpt_platform/backend/backend/data/subscription_payment_failure.py
  autogpt_platform/backend/backend/data/subscription_payment_failure_test.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment.py
Due: isort, pyright, pytest

fix(backend/billing): only treat a subscription debit as a wallet payment
  autogpt_platform/backend/backend/data/subscription_payment_failure_test.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment.py
Due: isort, pyright, pytest

fix(platform): validate generated views before publication
  autogpt_platform/backend/backend/copilot/eval/openui/README.md
  autogpt_platform/backend/backend/copilot/eval/openui/validation-journeys.jsonl
  autogpt_platform/backend/backend/copilot/tools/openui-validator.LICENSE.txt
  autogpt_platform/backend/backend/copilot/tools/openui-validator.cjs
  autogpt_platform/backend/backend/copilot/tools/openui_source.py
  autogpt_platform/backend/backend/copilot/tools/openui_validator.py
  autogpt_platform/backend/backend/copilot/tools/openui_validator_test.py
  autogpt_platform/backend/backend/copilot/tools/render_ui.py
  autogpt_platform/backend/backend/copilot/tools/render_ui_test.py
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/scripts/build-openui-validator.ts
  autogpt_platform/frontend/scripts/generate-openui.ts
  autogpt_platform/frontend/scripts/openui-validator.test.ts
  autogpt_platform/frontend/scripts/openui-validator.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RenderUI/RenderUI.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RenderUI/__tests__/RepairFeedback.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RenderUI/components/RejectedUI.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RenderUI/helpers.ts
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/FormViews.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/library.ts
  autogpt_platform/frontend/src/lib/openui/__tests__/validation-feedback.test.ts
  autogpt_platform/frontend/src/lib/openui/catalog-fields.ts
  autogpt_platform/frontend/src/lib/openui/catalog.ts
  autogpt_platform/frontend/src/lib/openui/parse.ts
  autogpt_platform/frontend/src/lib/openui/source-validation.ts
  autogpt_platform/frontend/src/lib/openui/validate.ts
  docs/engineering/openui-experiment.md
Due: isort, prettier, pyright, tsc, pytest

fix(backend/billing): type invoice ids when voiding; apply formatter
  autogpt_platform/backend/backend/api/features/billing/subscriptions/routes.py
  autogpt_platform/backend/backend/data/subscription_payment_failure.py
  autogpt_platform/backend/backend/data/subscription_payment_failure_test.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment.py
Due: isort, pyright, pytest

fix(backend/billing): settle wallet payments from our own record, not Invoice fields
  autogpt_platform/backend/backend/api/features/billing/subscriptions/routes.py
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
  autogpt_platform/backend/backend/data/stripe_invoice_payments.py
  autogpt_platform/backend/backend/data/subscription_payment_failure.py
  autogpt_platform/backend/backend/data/subscription_payment_failure_test.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment_test.py
  autogpt_platform/backend/backend/data/wallet_payment_state.py
Due: isort, pyright, pytest

fix(frontend/copilot): follow a turn the backend queued into its start
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/fakeBackend.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnRuntime.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnRuntime.ts
Due: prettier, tsc

fix(backend/billing): void uncollectible invoices and finish a racing wallet payment
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/data/stripe_invoice_payments.py
  autogpt_platform/backend/backend/data/subscription_payment_failure.py
  autogpt_platform/backend/backend/data/subscription_payment_failure_test.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment_test.py
Due: isort, pyright, pytest

fix(backend/billing): decide a wallet payment under a per-invoice lock from a fresh read
  autogpt_platform/backend/backend/data/subscription_payment_failure.py
  autogpt_platform/backend/backend/data/subscription_payment_failure_test.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment.py
  autogpt_platform/backend/backend/data/subscription_wallet_payment_test.py
Due: isort, pyright, pytest

fix(backend/copilot): let a user's message start while their sub-sessions run
  autogpt_platform/backend/backend/copilot/active_turns.py
  autogpt_platform/backend/backend/copilot/active_turns_db_test.py
  autogpt_platform/backend/backend/copilot/active_turns_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(frontend/copilot): keep following a queued turn until its stream exists
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/fakeBackend.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnRuntime.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnRuntime.ts
Due: prettier, tsc

fix(backend/copilot): say the admit-time inflight arm bounds running sessions only
  autogpt_platform/backend/backend/copilot/active_turns.py
  autogpt_platform/backend/backend/copilot/active_turns_db_test.py
  autogpt_platform/backend/backend/copilot/active_turns_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(frontend/copilot): start streaming a queued turn once the backend runs it, without a reload (#15346)
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/fakeBackend.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/__tests__/turnRuntime.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/stream/turnRuntime.ts
Due: prettier, tsc

fix(backend/executor): skip a scheduled copilot turn while its owner is paywalled or over a cost cap
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

feat(platform): add the trial-cancel-at-period-end flag and resume contract
  autogpt_platform/backend/backend/api/features/subscription_trial_routes.py
  autogpt_platform/backend/backend/util/feature_flag/__init__.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend): subscribe to a plan while a trial cancellation is pending
  autogpt_platform/backend/backend/api/features/billing/subscriptions/routes.py
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
  autogpt_platform/backend/backend/data/subscription_checkout.py
  autogpt_platform/backend/backend/data/subscription_checkout_test.py
  autogpt_platform/backend/backend/data/subscription_trial_conversion.py
  autogpt_platform/backend/backend/data/subscription_trial_conversion_test.py
Due: isort, pyright, pytest

feat(backend): trial cancel email names the access-until date
  autogpt_platform/backend/backend/data/posthog_lifecycle_test.py
  autogpt_platform/backend/backend/notifications/lifecycle_test.py
  autogpt_platform/backend/backend/notifications/templates/_trial_copy.j2
  autogpt_platform/backend/backend/notifications/templates/trial.subject.j2
  autogpt_platform/backend/backend/notifications/trial.py
  autogpt_platform/backend/backend/notifications/trial_audience_test.py
  autogpt_platform/backend/backend/notifications/trial_notice_freshness_test.py
  autogpt_platform/backend/backend/notifications/trial_test.py
Due: isort, pyright, pytest

feat(backend): canceling a trial schedules its end and can be resumed
  autogpt_platform/backend/backend/api/features/subscription_trial_routes.py
  autogpt_platform/backend/backend/api/features/subscription_trial_routes_test.py
  autogpt_platform/backend/backend/api/features/subscription_trial_schema_test.py
  autogpt_platform/backend/backend/data/subscription_trial_cancel.py
  autogpt_platform/backend/backend/data/subscription_trial_cancel_test.py
  autogpt_platform/backend/backend/data/subscription_trial_checkout_test.py
  autogpt_platform/backend/backend/data/subscription_trial_fixtures.py
  autogpt_platform/backend/backend/data/subscription_trial_fulfillment_test.py
  autogpt_platform/backend/backend/data/subscription_trial_stripe.py
Due: isort, pyright, pytest

fix(backend): keep the traceback when a TruncatedLogger call passes exc_info
  autogpt_platform/backend/backend/util/logging.py
  autogpt_platform/backend/backend/util/logging_test.py
Due: isort, pyright, pytest

refactor(backend/executor): name the spend gate's job argument job_args
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

fix(backend/executor): say a refused one-shot is dropped, not kept
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

fix(frontend): find the chat's Stop button by its exact name in the copilot tests
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/autopilot-content.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/autopilot-errors.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/autopilot-lifecycle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/sse-helpers.tsx
Due: prettier, tsc

fix(backend/executor): switch off a one-shot routine its owner could not pay for
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

fix(backend/copilot): keep the last running slot for the user's own message
  autogpt_platform/backend/backend/copilot/active_turns.py
  autogpt_platform/backend/backend/copilot/active_turns_db_test.py
  autogpt_platform/backend/backend/copilot/active_turns_test.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/sdk/session_waiter.py
  autogpt_platform/backend/backend/copilot/sdk/session_waiter_test.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/handoff_to_expert_test.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/backend/backend/copilot/turn_queue_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

feat(frontend/billing): offer plans while a trial cancellation is pending
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-plan-choices.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-plan-visibility.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/SubscriptionTab.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/TrialPlanChoices/ConfirmTrialPlanDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/TrialPlanChoices/PlanChoice.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/TrialPlanChoices/TrialPlanChoices.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/TrialPlanChoices/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/TrialPlanChoices/useTrialPlanChoices.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/TrialPlanChoices/useTrialPlanRequest.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/helpers.ts
Due: prettier, tsc

fix(backend): resume and early conversion never leave two live plans
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/api/features/subscription_trial_routes_test.py
  autogpt_platform/backend/backend/data/subscription_trial_cancel.py
  autogpt_platform/backend/backend/data/subscription_trial_cancel_test.py
  autogpt_platform/backend/backend/data/subscription_trial_conversion.py
  autogpt_platform/backend/backend/data/subscription_trial_conversion_test.py
  autogpt_platform/backend/backend/notifications/trial_notice_freshness_test.py
Due: isort, pyright, pytest

feat(frontend): canceling a trial keeps access until it ends
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/PaywallModal.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-account-switch.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-cancel-keeps-access.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-canceled-popup.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-resume.test.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/SubscriptionPlans.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/components/PlanDetailsDialog/PlanDetailsDialog.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/components/PlanDetailsDialog/components/TrialDetails.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/helpers.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/CancelTrialDialog.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCancelPending.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCanceledDialog/TrialCanceledDialog.stories.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCanceledDialog/TrialCanceledDialog.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCanceledDialog/TrialTimeLeft.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCanceledDialog/WorthDoingPanel.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCard.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialOffer.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialStatus.stories.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialStatus.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/helpers.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/useTrialCard.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/posthog-events.test.ts
  autogpt_platform/frontend/src/services/analytics/posthog-events.ts
  autogpt_platform/frontend/src/tests/integrations/trial-fixtures.ts
  docs/engineering/tracking-plan.md
Due: prettier, tsc

fix(backend/copilot): start a promoted queued turn as a root, not the finished turn's child
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/backend/backend/copilot/turn_queue_db_test.py
Due: isort, pyright, pytest

fix(backend/copilot): a queued session that may not start yet no longer holds up the rest
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/backend/backend/copilot/turn_queue_test.py
Due: isort, pyright, pytest

fix(backend/executor): retry a one-shot after a brown-out, and hold Codex turns to Codex access
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

fix(backend/copilot): keep a queued approval wake on its current derivation
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/backend/backend/copilot/turn_queue_db_test.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
