Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(backend/copilot): mock skills context in SDK retry tests to stop cross-loop Prisma poisoning
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
Due: isort, pyright, pytest

fix(backend/copilot): stop dream tests leaking real Prisma calls onto function-scoped loops
  autogpt_platform/backend/backend/copilot/dream/apply_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_test.py
Due: isort, pyright, pytest

fix(backend/copilot): preserve user whitespace in warm-context scrub
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend): offer saved cards in subscription checkout
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
Due: isort, pyright, pytest

fix(backend): born-tenanted executions/library/notifications — stop the startup-migration tenancy sweep leak
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/_add_to_library_test.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/notifications_test.py
  autogpt_platform/backend/backend/executor/conftest.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

fix(frontend): migrate org settings page from removed useSupabase to Better Auth useAuth
  autogpt_platform/frontend/src/app/(platform)/settings/organization/useOrganizationSettingsPage.ts
Due: prettier, tsc

test(frontend): migrate org settings test mocks from useSupabase to useAuth
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/teams.test.tsx
Due: prettier, tsc

test(frontend): migrate org settings page test mock to Better Auth useAuth
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
Due: prettier, tsc

test(frontend): migrate AddToLibraryButton test mock to Better Auth useAuth
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AddToLibraryButton/AddToLibraryButton.test.tsx
Due: prettier, tsc

feat(frontend): schema-colocated Better Auth preview-account seeder
  autogpt_platform/frontend/scripts/__tests__/seed-preview-accounts.test.ts
  autogpt_platform/frontend/scripts/seed-preview-accounts.helpers.ts
  autogpt_platform/frontend/scripts/seed-preview-accounts.ts
  autogpt_platform/frontend/vitest.config.mts
Due: prettier, tsc

fix(backend): address review — best-effort default-tenancy helper, preserve explicit team_id
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/_add_to_library_test.py
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/notifications_test.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

test(backend): notification team-only preservation test (symmetric with executor path)
  autogpt_platform/backend/backend/data/notifications_test.py
Due: isort, pyright, pytest

fix(backend): don't re-tag tenancy on library re-add (Sentry) + hoist AsyncMock import
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/_add_to_library_test.py
  autogpt_platform/backend/backend/data/notifications_test.py
Due: isort, pyright, pytest

fix(frontend): derive fresh preview-seed ids with SHA-256
  autogpt_platform/frontend/scripts/__tests__/seed-preview-accounts.test.ts
  autogpt_platform/frontend/scripts/seed-preview-accounts.helpers.ts
Due: prettier, tsc

fix(frontend): make preview seeding race-proof and collision-safe
  autogpt_platform/frontend/scripts/seed-preview-accounts.ts
Due: prettier, tsc

fix(backend): born-tenanted fallback must resolve via DB-manager RPC off the API server (Sentry)
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

refactor(backend): hoist resolve_default_tenancy import to module scope in _add_to_library
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
Due: isort, pyright, pytest

fix(frontend): harden preview seeder per deep review
  autogpt_platform/frontend/scripts/seed-preview-accounts.ts
Due: prettier, tsc

docs(backend): make born-tenanted comments timeless — drop boot-sweep framing
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

test(backend): lock born-tenanted invariants — resume never re-resolves, upsert update leaves tenancy alone
  autogpt_platform/backend/backend/data/notifications_test.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

refactor(frontend): address full review pass on the preview seeder
  autogpt_platform/frontend/scripts/__tests__/seed-preview-accounts.test.ts
  autogpt_platform/frontend/scripts/seed-preview-accounts.helpers.ts
  autogpt_platform/frontend/scripts/seed-preview-accounts.ts
Due: prettier, tsc

fix(frontend): apply prettier formatting
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/useAdminSidebar.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/__tests__/WalletCompactPanel.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletCompactPanel.tsx
Due: prettier, tsc

feat(frontend): new-layout admin shell, builder canvas, chat pinning
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/PlatformChrome.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/BuilderSidebarAutoClose.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/usePlatformChrome.ts
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminClassicShell.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminMobileNav/AdminMobileNav.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminNewShell.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/AdminSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/useAdminSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFilesTrigger/WorkspaceFilesTrigger.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/useNewSettingsRedirect.ts
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/SettingsNavItem.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourChatHeader/TourChatHeader.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/RecentChats.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/RecentChatItem/RecentChatItem.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/RecentChatItem/__tests__/RecentChatItem.test.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/useRecentChats.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/__tests__/WalletCompactPanel.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletCompactPanel.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/helpers.ts
  autogpt_platform/frontend/src/components/ui/sidebar.tsx
Due: prettier, tsc

test(frontend): cover the new admin shell, settings redirect and files trigger
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminLayoutShell.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminMobileNav.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminSidebar.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFilesTrigger/__tests__/WorkspaceFilesTrigger.test.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/__tests__/useNewSettingsRedirect.test.tsx
Due: prettier, tsc

refactor(frontend): address review — module structure and pin test coverage
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/PlatformChrome.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/BuilderSidebarAutoClose/BuilderSidebarAutoClose.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/BuilderSidebarAutoClose/useBuilderSidebarAutoClose.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/RecentChatItem/__tests__/RecentChatItem.test.tsx
Due: prettier, tsc

test(frontend): make the WorkspaceFilesTrigger flag mock flag-specific
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFilesTrigger/__tests__/WorkspaceFilesTrigger.test.tsx
Due: prettier, tsc

fix(frontend): redirect missing library agents
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/__tests__/trigger-agents.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Due: prettier, tsc

fix(frontend): point What's new at the changelog docs
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/__tests__/helpers.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
Due: prettier, tsc

fix(frontend): re-seed wallet earn group state when a group completes
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/__tests__/WalletCompactPanel.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletCompactPanel.tsx
Due: prettier, tsc

refactor(frontend): guard route matching and cover the builder sidebar hook
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/PlatformChrome.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/__tests__/useBuilderSidebarAutoClose.test.ts
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/BuilderSidebarAutoClose/useBuilderSidebarAutoClose.ts
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/usePlatformChrome.ts
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/useAdminSidebar.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/__tests__/useRecentChats.test.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: prettier, tsc

fix(frontend): guard missing agent redirects
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/__tests__/trigger-agents.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Due: prettier, tsc

test(frontend): cover matchesRoute and the pinned chat split
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminMobileNav/AdminMobileNav.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/AdminSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFilesTrigger/WorkspaceFilesTrigger.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/__tests__/RecentChats.test.tsx
  autogpt_platform/frontend/src/lib/__tests__/utils.test.ts
Due: prettier, tsc

test(frontend): follow the admin back-link label rename
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminLayoutShell.test.tsx
Due: prettier, tsc

ci(frontend): format the admin shell test
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminLayoutShell.test.tsx
Due: prettier, tsc

feat(platform): route Codex auth through Claude SDK
  autogpt_platform/backend/backend/blocks/codex.py
  autogpt_platform/backend/backend/blocks/codex_transport_test.py
  autogpt_platform/backend/backend/blocks/cost_leak_fixes_test.py
  autogpt_platform/backend/backend/copilot/codex/__init__.py
  autogpt_platform/backend/backend/copilot/codex/service.py
  autogpt_platform/backend/backend/copilot/codex/service_test.py
  autogpt_platform/backend/backend/copilot/codex_model_router_test.py
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/manager_test.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/model_router.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_cli_test.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway_test.py
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/env_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/integrations/codex/models.py
  autogpt_platform/backend/backend/integrations/codex/runtime.py
  autogpt_platform/backend/backend/integrations/codex/runtime_test.py
  autogpt_platform/backend/backend/integrations/codex/transport.py
  autogpt_platform/backend/backend/integrations/codex/transport_test.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/scripts/codex_preview_smoke.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  docs/platform/codex-subscription-preview.md
Due: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

fix(platform): translate reserved Codex tool names
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_cli_test.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway_test.py
Due: isort, pyright, pytest

fix(frontend/builder): stabilize ReactFlow prop references on the builder canvas
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/__tests__/Flow.test.tsx
Due: prettier, tsc

fix(backend): support marketplace media uploads without a GCS bucket
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/store/media.py
  autogpt_platform/backend/backend/api/features/store/media_test.py
  autogpt_platform/backend/backend/api/features/store/routes.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
