Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

refactor(block-menu): implement search debounce and update ControlPanelButton imports for consistency
  autogpt_platform/frontend/src/components/builder/block-menu/BlockMenuSearchBar.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
Due: prettier, tsc

refactor(block-menu): update ControlPanelButton styles for improved clarity and consistency
  autogpt_platform/frontend/src/components/builder/block-menu/ControlPanelButton.tsx
Due: prettier, tsc

refactor(block-menu): enhance error handling in ErrorState component by introducing parseErrorMessage utility
  autogpt_platform/frontend/src/components/builder/block-menu/ErrorState.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: prettier, tsc

refactor(block-menu): adjust conditional rendering for image display in UGCAgentBlock component
  autogpt_platform/frontend/src/components/builder/block-menu/UGCAgentBlock.tsx
Due: prettier, tsc

refactor(block-menu): improve error message in useBlockMenuContext for clarity on provider usage
  autogpt_platform/frontend/src/components/builder/block-menu/block-menu-provider.tsx
Due: prettier, tsc

refactor(block-menu): replace hardcoded filter defaults with getDefaultFilters utility for consistency
  autogpt_platform/frontend/src/components/builder/block-menu/BlockMenuSearchBar.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/block-menu-provider.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/helpers.ts
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/FilterSheet.tsx
Due: prettier, tsc

refactor(block-menu): enhance text highlighting functionality in IntegrationBlock by escaping special characters
  autogpt_platform/frontend/src/components/builder/block-menu/IntegrationBlock.tsx
Due: prettier, tsc

refactor(block-menu): update button styles across components to improve disabled state visibility
  autogpt_platform/frontend/src/components/builder/block-menu/Block.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/BlockMenu.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/ControlPanelButton.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/FilterChip.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/IntegrationBlock.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/UGCAgentBlock.tsx
Due: prettier, tsc

remove unused state and simplify hover behavior in FilterChip component
  autogpt_platform/frontend/src/components/builder/block-menu/FilterChip.tsx
Due: prettier, tsc

fix format
  autogpt_platform/frontend/src/components/builder/block-menu/MenuItem.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/AllBlocksContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/BlockMenuDefault.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/BlockMenuDefaultContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/BlockMenuSidebar.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/BlocksList.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/IntegrationsContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/PaginatedIntegrationList.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/default/SuggestionContent.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/helpers.ts
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/AiBlock.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/FiltersList.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/NoSearchResult.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/SearchList.tsx
Due: prettier, tsc

update scripts
  autogpt_platform/backend/check_db.py
  autogpt_platform/backend/clean_test_db.py
  autogpt_platform/backend/run_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/backend/test/test_data_updater.py
Due: isort, pyright, pytest

fix type errors
  autogpt_platform/backend/check_db.py
  autogpt_platform/backend/run_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
Due: isort, pyright, pytest

storeagent views working
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/migrations/20250604130249_optimise_store_agent_and_creator_views/PRODUCTION_REQUIREMENTS.md
  autogpt_platform/backend/migrations/20250604130249_optimise_store_agent_and_creator_views/migration.sql
  autogpt_platform/backend/run_tests.py
  autogpt_platform/backend/test/check_db.py
  autogpt_platform/backend/test/check_store_data.py
Due: isort, pyright, pytest

Optimize output processing
  autogpt_platform/backend/backend/executor/__init__.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Update docs
  autogpt_platform/backend/migrations/20250604130249_optimise_store_agent_and_creator_views/PRODUCTION_REQUIREMENTS.md
  autogpt_platform/backend/run_test_data_scripts.sh
  autogpt_platform/backend/test/TEST_DATA_README.md
Due: pyright, pytest

feat(frontend): ensure global signouts
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenuLogoutButton.tsx
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
Due: prettier, tsc

chore: cleanup
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
Due: prettier, tsc

chore: tidy up
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
Due: prettier, tsc

optimize optimize optimize
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

optimize manager.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Add loading states documentation and improve loading feedback across the application
  autogpt_platform/frontend/LOADING_STATES.md
  autogpt_platform/frontend/public/mockServiceWorker.js
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/auth/confirm/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/components/admin/marketplace/approve-reject-buttons.tsx
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/ui/loading-button.tsx
  autogpt_platform/frontend/src/components/ui/scroll-area.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/supabase/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/getServerUser.ts
Due: prettier, tsc

Refactor reset password actions to use environment variable for frontend base URL
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/lib/supabase/getServerSupabase.ts
Due: prettier, tsc

Refactor providerLogin to handle OAuth redirection
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
Due: prettier, tsc

Enhance loading states documentation and improve loading feedback across components
  autogpt_platform/frontend/LOADING_STATES.md
  autogpt_platform/frontend/src/components/admin/marketplace/approve-reject-buttons.tsx
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/ui/loading-button.tsx
Due: prettier, tsc

ghrs: snap 06-12-2303-8E2A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-12_230319_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-12_230319_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-12_230319_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 06-12-2303-8E2A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-12_230319_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 06-12-2303-8E2A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 06-12-2303-8E2A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Execution Result UI fix
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/includes.py
Due: isort, pyright, pytest

code cleanup
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

fix(block): Invalid block input error on falsy non-null value
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputList.tsx
Due: isort, prettier, pyright, tsc, pytest

clean up, new plan
  autogpt_platform/backend/SDK_FINAL_SUMMARY.md
  autogpt_platform/backend/backend/sdk/auto_registry.py
  autogpt_platform/backend/backend/sdk/decorators.py
  autogpt_platform/backend/plan.md
  autogpt_platform/sdk_proposal.md
Due: isort, pyright, pytest

feat(storybook): add overview page
  autogpt_platform/frontend/.storybook/manager.ts
  autogpt_platform/frontend/.storybook/preview.tsx
  autogpt_platform/frontend/.storybook/theme.ts
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/public/AUTOgpt_Logo_dark.png
  autogpt_platform/frontend/public/AUTOgpt_Logo_light.png
  autogpt_platform/frontend/public/autogpt-logo-dark-bg.png
  autogpt_platform/frontend/public/autogpt-logo-light-bg.png
  autogpt_platform/frontend/public/storybook/atoms.png
  autogpt_platform/frontend/public/storybook/autogpt-logo-storybook.png
  autogpt_platform/frontend/public/storybook/molecules.png
  autogpt_platform/frontend/public/storybook/tokens.png
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/stories/Configure.mdx
  autogpt_platform/frontend/src/stories/Overview.stories.tsx
Due: prettier, tsc

chore: document spacing tokens
  autogpt_platform/frontend/src/stories/Spacing.stories.tsx
Due: prettier, tsc

fix await on request
  autogpt_platform/backend/backend/blocks/fal/ai_video_generator.py
  autogpt_platform/backend/backend/blocks/hubspot/company.py
  autogpt_platform/backend/backend/blocks/hubspot/contact.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/linear.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/integrations/oauth/todoist.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
  autogpt_platform/backend/backend/util/request.py
Due: isort, pyright, pytest

feat(storybook): document spacing tokens
  autogpt_platform/frontend/src/stories/Spacing.stories.tsx
  autogpt_platform/frontend/src/stories/Typography.stories.tsx
Due: prettier, tsc

chore: cleanup
  autogpt_platform/frontend/src/stories/Typography.stories.tsx
Due: prettier, tsc

chore: cleanup (2)
  autogpt_platform/frontend/src/stories/Spacing.stories.tsx
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
