Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

lockfiles are not secrets
  .pre-commit-config.yaml
Due: none

avoid frontend API client generation if not necessary
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/cli/generate_openapi_json.py
Due: isort, pyright, pytest

simplify logic and only run `export-api-schema` pre-commit
  .pre-commit-config.yaml
Due: none

dx: Sync types & dependencies on `pre-commit` and `post-checkout` (#12211)
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/cli/generate_openapi_json.py
Due: isort, pyright, pytest

feat(blocks): Add Nano Banana 2 to image generator, customizer, and editor blocks
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

fix: Address review feedback - consolidate NB branches, fix test credentials, regenerate docs
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  docs/integrations/README.md
  docs/integrations/block-integrations/llm.md
  plans/secrt-2047-nano-banana-2.md
Due: isort, pyright, pytest

chore: Remove plan file from repo
  plans/secrt-2047-nano-banana-2.md
Due: none

fix(frontend): add browse_web to ResponseType enum in openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix: Address second review round - enum-based branching, docs consistency
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

fix: handle match_input_image aspect ratio for Nano Banana models
  autogpt_platform/backend/backend/blocks/flux_kontext.py
Due: isort, pyright, pytest

fix: Address all should-fix items + make NB2 default model
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

fix: Fix billing bug — editor cost filters used .api_name instead of enum value
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

feat(platform): Add file upload to copilot chat [SECRT-1788]
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/AttachmentMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/FileChips.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useChatInput.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessageAttachments.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/EmptySession/EmptySession.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/api/chat/sessions/[sessionId]/stream/route.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/api/workspace/files/upload/route.ts
Due: isort, prettier, pyright, tsc, pytest

Add browser agent capability powered by agent-browser CLI
  .env.template
  scripts/browser_agent.py
  scripts/commands.py
  scripts/config.py
  scripts/prompt.py
Due: none

Add persistent learning system — auto-capture user insights across sessions
  scripts/commands.py
  scripts/learning.py
  scripts/prompt.py
Due: none

refactor(frontend): enhance NodeOutput component rendering and improve ContentRenderer functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
Due: prettier, tsc

chore: format
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
Due: prettier, tsc

chore: lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
Due: prettier, tsc

fix(platform): Address PR review feedback for file upload feature
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/backend/backend/api/features/workspace/routes_test.py
  autogpt_platform/backend/backend/data/workspace.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/AttachmentMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessageAttachments.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/api/workspace/files/upload/route.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): handle 401 errors in pagination helpers
  autogpt_platform/frontend/src/app/api/helpers.test.ts
  autogpt_platform/frontend/src/app/api/helpers.ts
Due: prettier, tsc

feat(workspace): implement file upload functionality and update API documentation
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/index.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/WorkspaceFileRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/FileWidget.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/useWorkspaceUpload.ts
  autogpt_platform/frontend/src/services/workspace-upload.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): Address second-round review feedback
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(workspace): add soft-delete functionality for workspace files
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/FileWidget.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/useWorkspaceUpload.ts
  autogpt_platform/frontend/src/services/workspace-upload.ts
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): address CodeRabbit review on browse_web tool
  autogpt_platform/backend/backend/copilot/tools/browse_web.py
Due: isort, pyright, pytest

test(copilot): add unit tests for BrowseWebTool
  autogpt_platform/backend/backend/copilot/tools/browse_web_test.py
Due: isort, pyright, pytest

feat(copilot): route file tools through E2B sandbox when active
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
Due: isort, pyright, pytest

fix(copilot): make workspace_files tests async to match _resolve_write_content
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
Due: isort, pyright, pytest

fix(frontend): handle 401 errors in pagination helpers to prevent crashes
  autogpt_platform/frontend/src/app/api/helpers.test.tsx
  autogpt_platform/frontend/src/app/api/helpers.ts
Due: prettier, tsc

feat(copilot): Add agent-browser multi-step browser automation tools
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/agent_browser.py
  autogpt_platform/backend/backend/copilot/tools/agent_browser_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(copilot): Replace custom SSRF check with shared validate_url
  autogpt_platform/backend/backend/copilot/tools/agent_browser.py
  autogpt_platform/backend/backend/copilot/tools/agent_browser_test.py
Due: isort, pyright, pytest

feat(copilot): add Langfuse SDK tracing for Claude Agent SDK path
  autogpt_platform/backend/backend/copilot/sdk/service.py
  reproduce_openrouter_broadcast_gap.py
Due: isort, pyright, pytest

Add plans/ to .gitignore
  .gitignore
  plans/SECRT-1950-claude-ci-optimizations.md
Due: none

fix(copilot): fix browser session isolation and add missing act actions
  autogpt_platform/backend/backend/copilot/tools/agent_browser.py
  autogpt_platform/backend/backend/copilot/tools/agent_browser_test.py
Due: isort, pyright, pytest

Add plans/ to .gitignore (#12229)
  .gitignore
  plans/SECRT-1950-claude-ci-optimizations.md
Due: none

fix(copilot): use integer timeouts for E2B sandbox commands
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/docker-compose.platform.yml
Due: isort, pyright, pytest

refactor(copilot): extract _LangfuseSDKSpan, top-level imports, add unit tests
  autogpt_platform/backend/backend/copilot/sdk/langfuse_span_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(copilot): sample Langfuse SDK trace on first turn only
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

chore: remove reproduce_openrouter_broadcast_gap.py
  reproduce_openrouter_broadcast_gap.py
Due: none

fix(copilot): address CI failure and CodeRabbit review on browser tools
  autogpt_platform/backend/backend/copilot/tools/agent_browser.py
  autogpt_platform/backend/backend/copilot/tools/agent_browser_test.py
  autogpt_platform/backend/backend/copilot/tools/browse_web.py
  autogpt_platform/backend/backend/copilot/tools/browse_web_test.py
Due: isort, pyright, pytest

fix(copilot): address PR review comments on _LangfuseSDKSpan
  autogpt_platform/backend/backend/copilot/sdk/langfuse_span_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
