Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): handle null values in GraphSettings validation
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix(classic): handle parallel tool calls in action history
  classic/forge/forge/components/action_history/action_history.py
Due: isort, pyright, pytest

fix(classic): always recreate Docker containers for code execution
  classic/forge/forge/components/code_executor/code_executor.py
Due: isort, pyright, pytest

feat: Set up Vitest and React Testing Library for frontend testing and document testing rules.
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/tests/TESTING_RULES.md
  autogpt_platform/frontend/vitest.config.mts
Due: prettier, tsc

switch to nodejs 22 lts
  autogpt_platform/frontend/Dockerfile
Due: prettier, tsc

feat: Add unit testing scripts and configure Vitest for frontend testing
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.test.tsx
  autogpt_platform/frontend/vitest.config.mts
Due: prettier, tsc

feat: Introduce testing environment configuration and mock setup
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/mocks/index.ts
  autogpt_platform/frontend/src/mocks/mock-browser.ts
  autogpt_platform/frontend/src/mocks/mock-handlers.ts
  autogpt_platform/frontend/src/mocks/mock-server.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Due: prettier, tsc

refactor: clean up testing environment configuration and enhance test setup
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.test.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.test.tsx
  autogpt_platform/frontend/src/mocks/index.ts
  autogpt_platform/frontend/src/services/environment/index.ts
  autogpt_platform/frontend/src/tests/test-utils.tsx
  autogpt_platform/frontend/src/tests/vitest.setup.ts
  autogpt_platform/frontend/vitest.config.mts
Due: prettier, tsc

Move Popover
  autogpt_platform/frontend/src/components/molecules/Popover/Popover.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmModelPicker.tsx
Due: prettier, tsc

feat(blocks): add TextEncoderBlock for escape sequence encoding
  autogpt_platform/backend/backend/blocks/decoder_block.py
Due: isort, pyright, pytest

feat(blocks): fix TextEncoderBlock UUID and error handling
  autogpt_platform/backend/backend/blocks/decoder_block.py
  autogpt_platform/backend/backend/blocks/test/test_text_encoder.py
Due: isort, pyright, pytest

style(blocks): apply linting and formatting fixes
  autogpt_platform/backend/backend/blocks/decoder_block.py
  autogpt_platform/backend/backend/blocks/test/test_text_encoder.py
Due: isort, pyright, pytest

docs: add TextEncoderBlock documentation
  docs/integrations/README.md
  docs/integrations/decoder_block.md
  docs/integrations/text.md
Due: none

feat(platform): New LLM Picker UI (#11726)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/frontend/public/integrations/amazon.png
  autogpt_platform/frontend/public/integrations/anthropic-color.png
  autogpt_platform/frontend/public/integrations/cohere.png
  autogpt_platform/frontend/public/integrations/deepseek.png
  autogpt_platform/frontend/public/integrations/gemini.png
  autogpt_platform/frontend/public/integrations/gryphe.png
  autogpt_platform/frontend/public/integrations/microsoft.webp
  autogpt_platform/frontend/public/integrations/mistral.png
  autogpt_platform/frontend/public/integrations/moonshot.png
  autogpt_platform/frontend/public/integrations/nousresearch.avif
  autogpt_platform/frontend/public/integrations/perplexity.webp
  autogpt_platform/frontend/public/integrations/qwen.png
  autogpt_platform/frontend/public/integrations/xai.webp
  autogpt_platform/frontend/src/components/molecules/Popover/Popover.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/LlmModelField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmIcon.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuHeader.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuItem.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmModelPicker.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmPriceTier.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/types.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/custom-registry.ts
Due: isort, prettier, pyright, tsc, pytest

refactor: bot review suggestions
  AGENTS.md
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/frontend/src/app/(no-navbar)/logout/page.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CopilotShell/components/MobileDrawer/MobileDrawer.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/createStreamEventDispatcher.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/handlers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatLoader/ChatLoader.module.css
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatLoader/ChatLoader.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ThinkingMessage/ThinkingMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolCallMessage/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolResponseMessage/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatStream.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/components/MobileNavbarLogoutItem.tsx
  autogpt_platform/frontend/src/lib/constants.ts
Due: isort, prettier, pyright, tsc, pytest

fix: lint
  autogpt_platform/frontend/src/app/(no-navbar)/logout/page.tsx
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/handlers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatLoader/ChatLoader.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolResponseMessage/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatStream.ts
Due: prettier, tsc

docs: sync block documentation
  docs/integrations/README.md
  docs/integrations/text.md
Due: none

docs: fix TextEncoderBlock documentation formatting and example
  docs/integrations/decoder_block.md
Due: none

feat: enhance testing setup and API schema
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/tests/AGENTS.md
  autogpt_platform/frontend/src/tests/TESTING_RULES.md
  autogpt_platform/frontend/src/tests/integrations/mock-supabase-request.tsx
  autogpt_platform/frontend/src/tests/integrations/setup-nextjs-mocks.tsx
  autogpt_platform/frontend/src/tests/integrations/test-utils.tsx
  autogpt_platform/frontend/src/tests/integrations/vitest.setup.tsx
  autogpt_platform/frontend/src/tests/vitest.setup.ts
  autogpt_platform/frontend/vitest.config.mts
Due: prettier, tsc

chore: more changes
  AGENTS.md
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/page.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/Chat.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/useChat.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatSession.ts
Due: isort, prettier, pyright, tsc, pytest

fix format
  autogpt_platform/frontend/src/tests/AGENTS.md
  autogpt_platform/frontend/src/tests/integrations/mock-supabase-request.tsx
  autogpt_platform/frontend/src/tests/integrations/setup-nextjs-mocks.tsx
Due: prettier, tsc

fix(backend): handle null values in GraphSettings validation (#11812)
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix lint
  autogpt_platform/frontend/src/tests/integrations/setup-nextjs-mocks.tsx
  autogpt_platform/frontend/src/tests/integrations/vitest.setup.tsx
Due: prettier, tsc

fix: restore happy-dom dependency in package.json and pnpm-lock.yaml
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Due: prettier, tsc

fix: update mock Supabase client to return session data
  autogpt_platform/frontend/src/tests/integrations/mock-supabase-request.tsx
Due: prettier, tsc

update openapi.jsom
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

pass tags
  autogpt_platform/backend/backend/api/features/chat/service.py
Due: isort, pyright, pytest

chore: fixes....
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsGroupedView/CredentialsGroupedView.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsGroupedView/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
  autogpt_platform/frontend/src/lib/timezone-utils.ts
Due: prettier, tsc

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsGroupedView/CredentialsGroupedView.tsx
Due: prettier, tsc

chore: lint
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/Chat/useChat.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatSession.ts
Due: prettier, tsc

chore: lint
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsGroupedView/CredentialsGroupedView.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsGroupedView/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
Due: prettier, tsc

fix(frontend): auto-select credentials correctly in old builder (#11815)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsGroupedView/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
  autogpt_platform/frontend/src/lib/timezone-utils.ts
Due: prettier, tsc

fix(backend): Make Redis event bus gracefully handle connection failures
  autogpt_platform/backend/backend/data/event_bus.py
  autogpt_platform/backend/backend/data/event_bus_test.py
  autogpt_platform/backend/scripts/generate_block_docs.py
Due: isort, pyright, pytest

chore: BE Lint
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/scripts/generate_block_docs.py
  autogpt_platform/frontend/tailwind.config.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): Use explicit {schema}.vector for pgvector types
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/data/db.py
Due: isort, pyright, pytest

fix(backend): add extra='ignore' to ExecutionContext for field migration safety
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

fix(backend): Make Redis event bus publish gracefully handle connection failures
  autogpt_platform/backend/backend/data/event_bus.py
  autogpt_platform/backend/backend/data/event_bus_test.py
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix(backend): Make Redis event bus gracefully handle connection failures (#11817)
  autogpt_platform/backend/backend/data/event_bus.py
  autogpt_platform/backend/backend/data/event_bus_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/scripts/generate_block_docs.py
Due: isort, pyright, pytest

fix(backend): Use unqualified vector type for pgvector queries
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
Due: isort, pyright, pytest
