Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/copilot): filter and page delegations in SQL, and count them all
  autogpt_platform/backend/backend/api/features/experts/delegation_routes.py
  autogpt_platform/backend/backend/api/features/experts/delegation_routes_test.py
  autogpt_platform/backend/backend/api/features/experts/delegations.py
  autogpt_platform/backend/backend/api/features/experts/delegations_test.py
  autogpt_platform/backend/backend/copilot/delegation_list_db.py
  autogpt_platform/backend/backend/copilot/delegation_threads_db.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/DelegatedThreadNotice.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/handoffs.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/autopilot/__tests__/delegationFixtures.ts
  autogpt_platform/frontend/src/app/(platform)/team/autopilot/__tests__/delegations.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend/copilot): cover the hand-off card and edit reading without a database
  autogpt_platform/backend/backend/copilot/gate/handoff_test.py
Due: isort, pyright, pytest

fix(copilot): give the content judge room to think and one retry on an empty answer (#15007)
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_test.py
Due: isort, pyright, pytest

fix(backend/executor): load the block registry before taking runs
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_block_warmup_test.py
Due: isort, pyright, pytest

fix(copilot): the content judge holds agent-addressed text whatever its source
  autogpt_platform/backend/backend/copilot/gate/content_rubric.txt
Due: pyright, pytest

fix(backend): finish accepting a message claim when the request is cancelled
  autogpt_platform/backend/backend/copilot/pending_messages.py
  autogpt_platform/backend/backend/copilot/pending_messages_test.py
Due: isort, pyright, pytest

fix(home): show a held read's reason in plain words, as the chat does (#14996)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/AttentionRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldPassageQuote.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/ExpertAttentionCard.tsx
Due: prettier, tsc

fix(copilot): give the source-blind rule to Sonnet's prompt only, not the rubric file
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_rubric.txt
  autogpt_platform/backend/backend/copilot/gate/content_test.py
Due: isort, pyright, pytest

refactor(platform): put the single-container image's code layers last (#14969)
  .github/scripts/single_container_cache.py
  .github/scripts/verify_single_container_reports.py
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/backend/Dockerfile
  autogpt_platform/single-container/.trivyignore.yaml
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/docker-bake.hcl
  autogpt_platform/single-container/tests/test_ci_registry_cache.py
  autogpt_platform/single-container/tests/test_ci_report_verifier.py
  autogpt_platform/single-container/tests/test_ci_scan_ignores.py
  autogpt_platform/single-container/tests/test_dockerfile_layers.py
Due: none

fix(backend/copilot): cap one read's Jev calls at ten, four at a time
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_test.py
Due: isort, pyright, pytest

ci(platform): let single-container PR builds read the GHCR layer cache
  .github/scripts/single_container_cache.py
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/single-container/tests/test_ci_registry_cache.py
  docs/platform/contributing/tests.md
Due: none

perf(home): refetch the dashboard once per burst of held-call decisions
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-calls.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useHeldReview.ts
Due: prettier, tsc

ci(platform): only tolerate a failed GHCR cache login on pull requests
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/single-container/tests/test_ci_registry_cache.py
  docs/platform/contributing/tests.md
Due: none

feat(backend/copilot): Jev decides the content judge, Sonnet only quotes a hold (#15006)
  autogpt_platform/backend/backend/copilot/gate/content.py
  autogpt_platform/backend/backend/copilot/gate/content_test.py
  autogpt_platform/backend/backend/copilot/gate/testdata/jev_content_answers.json
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

perf(home): drop a held read's bytes from the attention feed (#14998)
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/attention_test.py
Due: isort, pyright, pytest

feat(backend): add Claude Sonnet 5.5 and default the standard tier to it
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/onboarding_dump/intro.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/copilot/anthropic_rate_card_test.py
  autogpt_platform/backend/backend/copilot/anthropic_rates.json
  autogpt_platform/backend/backend/copilot/baseline/transcript_integration_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/sdk/cli_openrouter_compat_test.py
  autogpt_platform/backend/backend/copilot/sdk/sdk_compat_test.py
  autogpt_platform/backend/backend/copilot/sonnet_5_5_test.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  docs/integrations/block-integrations/llm.md
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(backend/copilot): preserve main content in web_fetch and warn on JS-only shells (#14875)
  autogpt_platform/backend/backend/copilot/tools/web_fetch.py
  autogpt_platform/backend/backend/copilot/tools/web_fetch_test.py
Due: isort, pyright, pytest

fix(backend/copilot): keep the first turn's warm context out of the stored message and transcript
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_marker.py
  autogpt_platform/backend/backend/copilot/graphiti/context_marker_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context_refresh.py
  autogpt_platform/backend/backend/copilot/pending_message_helpers_test.py
  autogpt_platform/backend/backend/copilot/prompt_cache_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

feat(backend/copilot): add a backfill that strips the stored first-turn memory block
  autogpt_platform/backend/backend/copilot/first_turn_memory_backfill.py
  autogpt_platform/backend/backend/copilot/first_turn_memory_backfill_test.py
Due: isort, pyright, pytest

docs(backend/copilot): say warm context is never stored, and what a forget still misses
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
Due: pyright, pytest

feat(home): review held AutoPilot calls in a dialog (#14999)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ApprovalCard/ApprovalCard.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-calls.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-dialog.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/heldItems.ts
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldAvatar.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCall.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCallRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldPassageQuote.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldReceiptRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldReviewDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/ReviewSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useHeldReview.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useReviewCarousel.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/ExpertNeedsYouSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/__tests__/ExpertNeedsYouSection.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/useExpertNeedsYou.ts
Due: prettier, tsc

test(backend/executor): make the warm-up test fail on order, not on a missing name
  autogpt_platform/backend/backend/executor/manager_block_warmup_test.py
Due: isort, pyright, pytest

feat(backend/copilot): dream writes cite what they rest on, and the worker records it
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_citations_test.py
  autogpt_platform/backend/backend/copilot/dream/apply_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/citations.py
  autogpt_platform/backend/backend/copilot/dream/citations_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/dedup.py
  autogpt_platform/backend/backend/copilot/dream/lease_admission_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/prompts.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/dream_ratification_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_citations.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_derivation.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_derivation_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_dream_citations_integration_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
Due: isort, pyright, pytest

feat(backend/copilot): a forget retracts what the dream derived from the fact it forgot
  autogpt_platform/backend/backend/api/features/memory/models.py
  autogpt_platform/backend/backend/api/features/memory/routes.py
  autogpt_platform/backend/backend/api/features/memory/routes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/memory_model.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_fixtures.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_lock_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_queries.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_sources_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hide.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend/copilot): backfill derivation records for dream facts written before them
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/backfill_derivations_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_derivations.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_derivations_test.py
Due: isort, pyright, pytest

fix(backend/copilot): report a cascade whose budget ran out on a round boundary
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_test.py
Due: isort, pyright, pytest

refactor(copilot): drop the content judge's import-time anchor guard
  autogpt_platform/backend/backend/copilot/gate/content.py
Due: isort, pyright, pytest

refactor(backend/copilot): share the CLI session entry models between transcript scrubs
  autogpt_platform/backend/backend/copilot/cli_session_entry.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(backend/copilot): strip the stored first-turn memory block from old session files on restore
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/first_turn_memory_backfill.py
  autogpt_platform/backend/backend/copilot/first_turn_memory_backfill_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory.py
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory_test.py
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory_test_data.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/transcript.py
Due: isort, pyright, pytest

fix(backend/copilot): describe the per-turn memory block in the fallback system prompt
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/context_marker.py
  autogpt_platform/backend/backend/copilot/prompt_cache_test.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

refactor(backend/copilot): move the cascade test's in-memory graph into its own module
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_fake.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_test.py
Due: isort, pyright, pytest

ci(platform): let single-container PR builds read the GHCR layer cache (#15013)
  .github/scripts/single_container_cache.py
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/single-container/tests/test_ci_registry_cache.py
  docs/platform/contributing/tests.md
Due: none

fix(backend/copilot): match the stored first-turn block in linear time
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory.py
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory_restore_test.py
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory_test.py
  autogpt_platform/backend/backend/copilot/legacy_first_turn_memory_test_data.py
Due: isort, pyright, pytest

fix(backend/copilot): make the forgotten-fact predicate null-safe
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_test.py
Due: isort, pyright, pytest

fix(backend/copilot): keep dropped_forgotten on the dream pass record
  autogpt_platform/backend/backend/copilot/dream/citations_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/store_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/data/dream_pass_counts_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend/copilot): a hard forget erases the sentences the dream derived
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/memory_model.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_erase_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_fake.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_erase.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_erase_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_test.py
Due: isort, pyright, pytest

docs(backend/copilot): keep the statement check as defence in depth
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/recall_citations.py
Due: isort, pyright, pytest

docs: fix llmman install URL
  docs/platform/llmman.md
Due: none

fix(backend/copilot): a hard forget erases a derived fact's embedding too
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_erase_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_erase.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_erase_test.py
Due: isort, pyright, pytest

fix(backend/copilot): a dream write keeps only the citations of its own scope
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_citations_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/citations.py
  autogpt_platform/backend/backend/copilot/dream/citations_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/citations_scope_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/prompts.py
  autogpt_platform/backend/backend/copilot/dream/prompts_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/dream/store_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/recall_cascade_fixtures.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_citation_scope_integration_test.py
  autogpt_platform/backend/backend/data/dream_pass_counts_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest
