Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

Delete autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
  autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
Due: none

Delete autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/generate-tokens.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
Due: none

Delete autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
Due: none

Delete autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/api/core-api-test.js
  autogpt_platform/backend/load-tests/tests/api/core-api-test.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
  autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
  autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
Due: none

Delete autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
  autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
Due: none

Discard changes to autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Due: none

Delete autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
Due: none

Delete autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/run-tests.sh
Due: none

Discard changes to autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
Due: none

Discard changes to autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/run-tests.sh
Due: none

fix: determine the data type where we should lmao
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

fix: use the type correctly
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
Due: prettier, tsc

fix(blocks): Handle NoneType in DataForSEO Blocks and Add missing Error pins (#10995)
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Due: isort, pyright, pytest

fix: yay types
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

feat: baseline backend for optional
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/optional_block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/migrations/add_skipped_status.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
Due: isort, pyright, pytest

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Due: isort, pyright, pytest

feat: Implement Linear OAuth refresh token and migration
  LINEAR_OAUTH_IMPLEMENTATION.md
  autogpt_platform/backend/backend/blocks/linear/_config.py
  autogpt_platform/backend/backend/blocks/linear/_oauth.py
Due: isort, pyright, pytest

feat: baseline impl
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/test/executor/test_optional_blocks.py
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

ghrs: snap 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-25_230311_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-25_230311_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat: optimize /api/blocks endpoint performance
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

feat: add intelligent uvicorn worker configuration
  autogpt_platform/backend/backend/server/rest_api.py
Due: isort, pyright, pytest

fix: simplify uvicorn worker logic and remove invalid parameter
  autogpt_platform/backend/backend/server/rest_api.py
Due: isort, pyright, pytest

fix(backend): Sanitize null bytes in SafeJson to prevent PostgreSQL 22P05 errors
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
