Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(dx): fix SKILL.md stop comment and add complete/done state distinction note
  .claude/skills/orchestrate/SKILL.md
Due: none

fix(frontend): stabilize remaining e2e cases
  autogpt_platform/frontend/src/tests/api-keys-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/builder-happy-path.spec.ts
Due: prettier, tsc

fix(frontend): use instant scroll on initial load, smooth during streaming
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
Due: prettier, tsc

fix(frontend): add library agent page e2e coverage
  autogpt_platform/frontend/src/tests/library-happy-path.spec.ts
Due: prettier, tsc

fix(dx): add language identifiers to fenced blocks and improve commit link format
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/pr-address/SKILL.md
Due: none

fix(dx): validate state file JSON before first jq read in poll-cycle.sh
  .claude/skills/orchestrate/scripts/poll-cycle.sh
Due: none

fix(dx): reset idle_since on kick recovery and fix orphan commit + force-push in pr-test
  .claude/skills/orchestrate/scripts/poll-cycle.sh
  .claude/skills/pr-test/SKILL.md
Due: none

fix(dx): fix classify JSON concatenation and stuck idle_since reset
  .claude/skills/orchestrate/scripts/poll-cycle.sh
Due: none

docs(skill): add coverage guidance to pr-address skill
  .claude/skills/pr-address/SKILL.md
Due: none

fix(dx): restore CRITICAL inline screenshot warning and verification in pr-test
  .claude/skills/pr-test/SKILL.md
Due: none

fix(dx): prevent set -e abort on classify exit and guard stuck timer on empty hash
  .claude/skills/orchestrate/scripts/poll-cycle.sh
Due: none

fix(dx): add missing add subcommand inputs, fix IDLE_SINCE sync, and fix --paginate jq
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/poll-cycle.sh
  .claude/skills/pr-test/SKILL.md
Due: none

fix(platform): address review feedback for artifact panel PR
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/ArtifactContent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/artifactPreviewConstants.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/reactArtifactPreview.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/useArtifactContent.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/useWorkspaceUpload.ts
Due: isort, prettier, pyright, tsc, pytest

dx: refactor orchestrate skill to scripts + free-form interface
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/capacity.sh
  .claude/skills/orchestrate/scripts/find-spare.sh
  .claude/skills/orchestrate/scripts/recycle-agent.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
  .claude/skills/orchestrate/scripts/status.sh
Due: none

dx: replace CronCreate with bash polling loop in tmux window
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/run-loop.sh
Due: none

refactor(frontend): remove stale feature flags and stabilize share execution
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

dx: fix spawn-agent wait logic + no tmux session creation from Claude
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/spawn-agent.sh
Due: none

dx: fix approval detection for numbered dialogs and edit confirmations
  .claude/skills/orchestrate/scripts/classify-pane.sh
  .claude/skills/orchestrate/scripts/run-loop.sh
Due: none

dx: fix numbered dialog approval — send Enter not '1' Enter
  .claude/skills/orchestrate/scripts/run-loop.sh
Due: none

fix(frontend): stabilize e2e happy paths
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/components/ModalScheduleSection/ModalScheduleSection.tsx
  autogpt_platform/frontend/src/tests/api-keys-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/builder-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/copilot-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/library-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/marketplace-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
  autogpt_platform/frontend/src/tests/publish-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/settings-happy-path.spec.ts
Due: prettier, tsc

dx: tighten ORCHESTRATOR:DONE detection to full-line match only
  .claude/skills/orchestrate/scripts/classify-pane.sh
Due: none

ci(frontend): set playwright workers to 6
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

dx: two-layer supervision — mechanical run-loop + intelligent CronCreate supervisor
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/run-loop.sh
Due: none

fix(frontend): restore useDeleteWorkspaceFile import and prettier formatting
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/ScheduleAgentModal/components/ModalScheduleSection/ModalScheduleSection.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/FileInput/useWorkspaceUpload.ts
  autogpt_platform/frontend/src/tests/copilot-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/library-happy-path.spec.ts
Due: prettier, tsc

dx: match ORCHESTRATOR:DONE with optional leading whitespace
  .claude/skills/orchestrate/scripts/classify-pane.sh
Due: none

dx: rework orchestrate skill with checkpoint verification and self-recovery
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
  .claude/skills/orchestrate/scripts/verify-complete.sh
Due: none

fix(frontend): drop flaky e2e schedule test and brittle marketplace title assertion
  autogpt_platform/frontend/src/tests/library-happy-path.spec.ts
  autogpt_platform/frontend/src/tests/marketplace-happy-path.spec.ts
Due: prettier, tsc

dx: fix all orchestrator gaps — checkpoints, cooldown, notifications, resilience
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/notify.sh
  .claude/skills/orchestrate/scripts/poll-cycle.sh
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/verify-complete.sh
Due: none

fix(blocks): resolve enum alias and update docs
  autogpt_platform/backend/backend/blocks/llm.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

dx: address review — fix grep exit code, git abort before reset, prompt wait loops, tail-3 approve
  .claude/skills/orchestrate/scripts/find-spare.sh
  .claude/skills/orchestrate/scripts/recycle-agent.sh
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
Due: none

fix(orchestrate): split send-keys text and Enter to prevent stuck input
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
Due: none

fix(orchestrate): fix 3 state/detection bugs in spawn-agent, run-loop, classify-pane
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/classify-pane.sh
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
Due: none

fix(orchestrate): prevent premature recycling, scripts-dir break, checkpoint false-positives
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
  .claude/skills/orchestrate/scripts/verify-complete.sh
Due: none

dx: document images, stop criteria, protected worktrees, send-keys pattern
  .claude/skills/orchestrate/SKILL.md
Due: none

fix(dx/orchestrate): verify-complete — refuse no-pr_number, check CHANGES_REQUESTED
  .claude/skills/orchestrate/scripts/verify-complete.sh
Due: none

dx: orchestrate — remove supervisor window, orchestrating Claude IS supervisor
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/run-loop.sh
Due: none

dx: orchestrate — document background poll loop mechanism for supervisor
  .claude/skills/orchestrate/SKILL.md
Due: none

fix(copilot): persist retryable marker when transient retries exhausted
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

dx: orchestrate — no auto-recycle, session_id for resumption, simplified kick
  .claude/skills/orchestrate/SKILL.md
  .claude/skills/orchestrate/scripts/run-loop.sh
  .claude/skills/orchestrate/scripts/spawn-agent.sh
Due: none

fix(dx/orchestrate): parse UTC timestamps correctly on macOS in verify-complete
  .claude/skills/orchestrate/scripts/verify-complete.sh
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
