Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): say "workflow" instead of "agent" in Otto tool responses and approval cards
  autogpt_platform/backend/backend/api/features/home/attention_test.py
  autogpt_platform/backend/backend/copilot/gate/headline.py
  autogpt_platform/backend/backend/copilot/gate/references.py
  autogpt_platform/backend/backend/copilot/gate/references_db_test.py
  autogpt_platform/backend/backend/copilot/gate/references_test.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/core.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/errors.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/pipeline.py
  autogpt_platform/backend/backend/copilot/tools/agent_generator/validator.py
  autogpt_platform/backend/backend/copilot/tools/agent_json_input.py
  autogpt_platform/backend/backend/copilot/tools/agent_output.py
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/create_agent.py
  autogpt_platform/backend/backend/copilot/tools/customize_agent.py
  autogpt_platform/backend/backend/copilot/tools/decompose_goal.py
  autogpt_platform/backend/backend/copilot/tools/edit_agent.py
  autogpt_platform/backend/backend/copilot/tools/execution_utils.py
  autogpt_platform/backend/backend/copilot/tools/expert_resources.py
  autogpt_platform/backend/backend/copilot/tools/find_library_agent.py
  autogpt_platform/backend/backend/copilot/tools/fix_agent.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/list_agent_triggers.py
  autogpt_platform/backend/backend/copilot/tools/manage_folders.py
  autogpt_platform/backend/backend/copilot/tools/manage_presets.py
  autogpt_platform/backend/backend/copilot/tools/manage_schedules.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/run_agent_test.py
  autogpt_platform/backend/backend/copilot/tools/setup_agent_webhook_trigger.py
  autogpt_platform/backend/backend/copilot/tools/validate_agent.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/chatRule.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/referenceCards.json
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/references.test.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(platform): say "workflow" instead of "agent" on Home, search, wallet and activity
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/home/activity_test.py
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/api/features/home/service_test.py
  autogpt_platform/backend/backend/copilot/briefing/generate_test.py
  autogpt_platform/backend/backend/copilot/briefing/outcome.py
  autogpt_platform/frontend/src/app/(platform)/components/GlobalSearchModal/GlobalSearchModal.tsx
  autogpt_platform/frontend/src/app/(platform)/components/GlobalSearchModal/__tests__/GlobalSearchModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/components/GlobalSearchModal/__tests__/navigation.test.ts
  autogpt_platform/frontend/src/app/(platform)/components/GlobalSearchModal/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/components/GlobalSearchModal/navigation.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/NowNext.tsx
  autogpt_platform/frontend/src/app/(platform)/home/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/home/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/components/contextual/SchedulesPanel/SchedulesPanel.tsx
  autogpt_platform/frontend/src/components/contextual/SchedulesPanel/components/EmptyFollowups/EmptyFollowups.tsx
  autogpt_platform/frontend/src/components/contextual/SchedulesPanel/components/GraphScheduleListItem/GraphScheduleListItem.tsx
  autogpt_platform/frontend/src/components/contextual/SchedulesPanel/components/GraphScheduleListItem/useGraphScheduleListItem.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/__tests__/AppSidebar.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/Navbar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/AgentActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/hooks/useAgentSafeMode.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): say "workflow", "experts" or "Otto" instead of "agent" in settings and integrations
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/NotificationForm.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/account/components/NotificationsCard/NotificationsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/profile/components/ProfileForm/ProfileForm.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ChainTile.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/IntegrationsPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/__tests__/IntegrationsPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/PublicMCPPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/DeleteConfirmDialog/DeleteConfirmDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsHeader/IntegrationsHeader.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsListEmpty/IntegrationsListEmpty.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsListEmpty/__tests__/IntegrationsListEmpty.test.tsx
Due: prettier, tsc

fix(backend): say "workflow" instead of "agent" and "graph" in onboarding and emails
  autogpt_platform/backend/backend/api/features/onboarding_dump/intro.py
  autogpt_platform/backend/backend/data/briefing_data.py
  autogpt_platform/backend/backend/notifications/review_alerts.py
  autogpt_platform/backend/backend/notifications/templates/onboarding.html.j2
  autogpt_platform/backend/backend/notifications/templates/onboarding.subject.j2
Due: isort, pyright, pytest

fix(backend): say "workflow" instead of "agent" and "graph" in run, store and builder errors
  autogpt_platform/backend/backend/api/features/graphs/routes.py
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/auto_credentials.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_activity_status_test.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(platform): make the expert hire card short and Typeform-like (#15217)
  autogpt_platform/backend/backend/copilot/tools/expert_onboarding.py
  autogpt_platform/backend/backend/copilot/tools/expert_onboarding_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/ExpertOnboardingCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/__tests__/ExpertOnboardingCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/components/OnboardingChoices/OnboardingChoices.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/components/OnboardingChoices/useOnboardingChoices.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/useExpertOnboardingCard.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/expertKickoff.ts
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): add OpenUI generative workspace experiment
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/usePlatformChrome.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/__tests__/live-generation.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/__tests__/openui.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/ConversationPanel/ConversationMessages.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/ConversationPanel/ConversationPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/ConversationPanel/MessageComposer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/ConversationPanel/ModeSelector.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/LabHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/LabSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/OpenUILab/OpenUILab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/ScenarioPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/components/WorkspacePanel/WorkspacePanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/page.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/useOpenUILab.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/openui/useWorkspaceGeneration.ts
  autogpt_platform/frontend/src/app/(public)/tour/openui/page.tsx
  autogpt_platform/frontend/src/app/api/openui/__tests__/route.test.ts
  autogpt_platform/frontend/src/app/api/openui/helpers.ts
  autogpt_platform/frontend/src/app/api/openui/route.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/OpenUI.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/ChartView.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/ChecklistView.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/DataTableView/DataTableView.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/DataTableView/useDataTableView.ts
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/FormViews.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/WorkspaceViews.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/library.ts
  autogpt_platform/frontend/src/lib/openui/catalog.ts
  autogpt_platform/frontend/src/lib/openui/config.ts
  autogpt_platform/frontend/src/lib/openui/disabled-devtools.ts
  autogpt_platform/frontend/src/lib/openui/parse.test.ts
  autogpt_platform/frontend/src/lib/openui/parse.ts
  autogpt_platform/frontend/src/lib/openui/samples.ts
  autogpt_platform/frontend/src/lib/openui/scenarios.ts
  docs/engineering/openui-experiment.md
Due: prettier, tsc

fix(backend/copilot): the content judge does not hold an expert id's validate_only answer
  autogpt_platform/backend/backend/copilot/tools/describe_capability.py
  autogpt_platform/backend/backend/copilot/tools/expert_capabilities_test.py
Due: isort, pyright, pytest

test(backend/copilot): raise the session tool-schema budget for the expert kind on dev's growth
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

fix(frontend): mark cancelled happy-dom animations' finished promise handled
  autogpt_platform/frontend/src/tests/integrations/vitest.setup.tsx
Due: prettier, tsc

fix(backend): satisfy pyright 1.1.414
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/auth.py
  autogpt_platform/backend/backend/data/push_sender.py
  autogpt_platform/backend/backend/integrations/managed_credentials.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

chore(backend/deps): relock for autogpt_libs' new fastapi range
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

test(blocks): give the Todoist helper tests a unique module name
  autogpt_platform/backend/backend/blocks/todoist/todoist_api_test.py
Due: isort, pyright, pytest

fix(backend): address CodeQL + review on API-key auth rate limit (#15049)
  autogpt_platform/backend/backend/api/external/auth_rate_limit.py
  autogpt_platform/backend/backend/api/external/auth_rate_limit_test.py
  autogpt_platform/backend/backend/data/auth/api_key.py
Due: isort, pyright, pytest

fix(backend): rate-limit API key validation before Scrypt (#15049)
  autogpt_platform/backend/backend/api/external/auth_rate_limit.py
  autogpt_platform/backend/backend/api/external/auth_rate_limit_test.py
  autogpt_platform/backend/backend/api/external/middleware.py
  autogpt_platform/backend/backend/data/auth/api_key.py
Due: isort, pyright, pytest

fix(copilot): clear pending Home questions before unanswerable guards
  autogpt_platform/backend/backend/blocks/autopilot.py
  autogpt_platform/backend/backend/blocks/autopilot_codex_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/sdk/responsiveness_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
Due: isort, pyright, pytest

fix(copilot): sanitize message before empty guard and clear_pending
  autogpt_platform/backend/backend/blocks/autopilot_codex_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/sdk/responsiveness_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): keep connect_integration out of a service query's list
  autogpt_platform/backend/backend/copilot/capabilities/index.py
  autogpt_platform/backend/backend/copilot/capabilities/index_test.py
Due: isort, pyright, pytest

fix(frontend): stop a long Other role from losing the onboarding profile
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/RoleStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/RoleStep.test.tsx
Due: prettier, tsc

fix(backend/copilot): kill-tree no longer skips the children when another process exits mid-listing
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec_test.py
Due: isort, pyright, pytest

fix(frontend): cut a restored Other role to the profile's limit on submit
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/RoleStep.tsx
Due: prettier, tsc

fix(oauth): regenerate openapi.json from backend export; lint + consent-page hardening
  autogpt_platform/backend/backend/api/features/oauth_open_redirect_unit_test.py
  autogpt_platform/backend/backend/api/features/oauth_test.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/__tests__/redirect-safety.test.ts
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/redirect-safety.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(oauth): block open redirects on authorize error paths
  autogpt_platform/backend/backend/api/features/oauth.py
  autogpt_platform/backend/backend/api/features/oauth_open_redirect_unit_test.py
  autogpt_platform/backend/backend/api/features/oauth_test.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/__tests__/redirect-safety.test.ts
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/redirect-safety.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

docs(oauth): document 400 JSON error response on /oauth/authorize
  autogpt_platform/backend/backend/api/features/oauth.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(api-key): bound per-request Scrypt work via head+tail candidate filter
  autogpt_platform/backend/backend/api/external/auth_rate_limit_test.py
  autogpt_platform/backend/backend/data/auth/api_key.py
Due: isort, pyright, pytest

fix(frontend): render optional enum and yes/no-group inputs instead of crashing the form
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/__tests__/RunAgentInputs.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/helpers.ts
Due: prettier, tsc

fix(backend/copilot): trim find_capability's kind description to fit the schema budgets
  autogpt_platform/backend/backend/copilot/tools/capability_tools_test.py
  autogpt_platform/backend/backend/copilot/tools/find_capability.py
Due: isort, pyright, pytest

fix(copilot): invalidate session cache on clear_pending; validate fallback before drain
  autogpt_platform/backend/backend/blocks/autopilot_codex_test.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/model_test.py
  autogpt_platform/backend/backend/copilot/sdk/expert_tool_gate_test.py
  autogpt_platform/backend/backend/copilot/sdk/responsiveness_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/ask_question_test.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
Due: isort, pyright, pytest

fix(frontend): stop a long Other role from losing the onboarding profile (#15252)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/RoleStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/RoleStep.test.tsx
Due: prettier, tsc

fix(backend/copilot): say which wins when a platform tool meets a connected block, and let an exact-name tool unpin a block
  autogpt_platform/backend/backend/copilot/capabilities/index.py
  autogpt_platform/backend/backend/copilot/capabilities/index_test.py
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

test(backend/copilot): pin that graph context keeps the block order
  autogpt_platform/backend/backend/copilot/capabilities/index_test.py
Due: isort, pyright, pytest

dx(backend): halve local test RAM and dependency image footprint (#15230)
  autogpt_platform/AGENTS.md
  autogpt_platform/backend/TESTING.md
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/mem0.py
  autogpt_platform/backend/backend/conftest.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/data/credit_metadata_test.py
  autogpt_platform/backend/backend/data/spending_export_test.py
  autogpt_platform/backend/backend/executor/block_usage_cost_test.py
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/scripts/run_tests.py
  autogpt_platform/backend/scripts/run_tests_test.py
  autogpt_platform/backend/scripts/server_preload.py
  autogpt_platform/backend/scripts/test_block_discovery.py
  autogpt_platform/backend/scripts/test_server_fixture.py
  autogpt_platform/backend/scripts/test_test_stack.py
  autogpt_platform/db/docker/README.md
  autogpt_platform/db/docker/dev/data.sql
  autogpt_platform/db/docker/dev/docker-compose.dev.yml
  autogpt_platform/db/docker/docker-compose.s3.yml
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/db/docker/reset.sh
  autogpt_platform/db/docker/volumes/api/kong.yml
  autogpt_platform/db/docker/volumes/db/_supabase.sql
  autogpt_platform/db/docker/volumes/db/init/data.sql
  autogpt_platform/db/docker/volumes/db/jwt.sql
  autogpt_platform/db/docker/volumes/db/logs.sql
  autogpt_platform/db/docker/volumes/db/pooler.sql
  autogpt_platform/db/docker/volumes/db/realtime.sql
  autogpt_platform/db/docker/volumes/db/roles.sql
  autogpt_platform/db/docker/volumes/db/webhooks.sql
  autogpt_platform/db/docker/volumes/functions/hello/index.ts
  autogpt_platform/db/docker/volumes/functions/main/index.ts
  autogpt_platform/db/docker/volumes/logs/vector.yml
  autogpt_platform/db/docker/volumes/pooler/pooler.exs
Due: isort, pyright, pytest

refactor(frontend): delete the unused contextual RunAgentInputs copy
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/__tests__/RunAgentInputs.test.tsx
  autogpt_platform/frontend/src/components/contextual/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/contextual/RunAgentInputs/useRunAgentInputs.ts
Due: prettier, tsc

fix(backend/copilot): kill-tree exits 1 when the tree never holds still
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec_test.py
Due: isort, pyright, pytest
