Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): stop the SDK cost tests reloading the block cache
  autogpt_platform/backend/backend/sdk/cost_integration_test.py
Due: isort, pyright, pytest

feat(backend): make hosted Stripe Link financial insights opt-in
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/stripe_link/financial_insights.py
  autogpt_platform/backend/backend/blocks/stripe_link/financial_insights_test.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link_hosted_test.py
  autogpt_platform/backend/backend/util/settings.py
  docs/integrations/block-integrations/stripe_link/financial_insights.md
Due: isort, pyright, pytest

fix(platform): raise only an approved Link request, and ask again otherwise
  autogpt_platform/backend/backend/util/link_checkout/broker_checkout.py
  autogpt_platform/backend/backend/util/link_checkout/broker_link.py
  autogpt_platform/backend/backend/util/link_checkout/broker_raise.py
  autogpt_platform/backend/backend/util/link_checkout/broker_service.py
  autogpt_platform/backend/backend/util/link_checkout/broker_test.py
  autogpt_platform/backend/backend/util/link_checkout/engine.py
  autogpt_platform/backend/backend/util/link_checkout/raise_tool_test.py
  autogpt_platform/backend/backend/util/link_checkout/refusals.py
  docs/platform/contributing/link-private-checkout.md
Due: isort, pyright, pytest

ci(frontend): include voice assets in production build
  .github/workflows/platform-frontend-ci.yml
Due: none

fix(frontend): deny Google Consent Mode everywhere until Cookiebot's answer (#15021)
  autogpt_platform/frontend/src/services/analytics/consent-mode.test.ts
  autogpt_platform/frontend/src/services/analytics/consent-mode.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
Due: prettier, tsc

fix(frontend): keep the Plan selected conversion from being lost on the Stripe redirect
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.trial.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/usePaywallModal.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/useSubscriptionTierSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-actions.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/useTrialCard.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
Due: prettier, tsc

feat(frontend): report a Trial started conversion to Google Ads
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-confirmation.test.tsx
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
  autogpt_platform/frontend/src/services/trials/useTrialCheckoutReturn.ts
Due: prettier, tsc

refactor(frontend): remove outdated demo link from signup page
  autogpt_platform/frontend/src/app/(no-navbar)/signup/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/signup/page.tsx
Due: prettier, tsc

fix(backend): correct GPT-OSS 120B OpenRouter display price drift (#15042)
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
Due: isort, pyright, pytest

fix(backend): refresh DeepSeek V4.1 Flash price to latest OpenRouter snapshot
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
Due: isort, pyright, pytest

test(frontend): finish the paywall begin_checkout redirect inside its own test
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.test.tsx
Due: prettier, tsc

fix(frontend): drop the trial return param even when the Ads tag is blocked
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-confirmation.test.tsx
  autogpt_platform/frontend/src/services/trials/useTrialCheckoutReturn.ts
Due: prettier, tsc

fix(frontend): keep checkout buttons busy until the redirect and report the trial offer's price
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/usePaywallModal.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/useSubscriptionTierSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-actions.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/helpers.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/useTrialCard.ts
Due: prettier, tsc

fix(frontend/copilot): queue follow-ups on Enter and wait for the local stream before a 409 fallback
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/queued-followup-fallback.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useLocalStreamSettle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useLocalStreamSettle.ts
Due: prettier, tsc

fix(frontend): never let a throwing Google tag block checkout
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/gtag.ts
Due: prettier, tsc

fix(frontend/copilot): cover the follow-up fallback's failure and guard branches
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/queued-followup-fallback.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.test.ts
Due: prettier, tsc

fix(frontend/copilot): drop a late 409 fallback after unmount and recheck drawing before backstop promotion
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/queued-followup-fallback.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/useLocalStreamSettle.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useLocalStreamSettle.ts
Due: prettier, tsc

fix(frontend): keep the expert setup card off the Home hero (#15063)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/new-chat-onboarding.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/EmptySession/EmptySession.tsx
Due: prettier, tsc

fix(frontend): deny Google Consent Mode everywhere until Cookiebot's answer (hotfix) (#15096)
  autogpt_platform/frontend/src/services/analytics/consent-mode.test.ts
  autogpt_platform/frontend/src/services/analytics/consent-mode.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
Due: prettier, tsc

fix(backend/copilot): index post_to_chat_platform by every chat platform it posts to
  autogpt_platform/backend/backend/copilot/capabilities/chat_platform_search_test.py
  autogpt_platform/backend/backend/copilot/capabilities/sources/static_tools.py
  autogpt_platform/backend/backend/copilot/tools/base.py
  autogpt_platform/backend/backend/copilot/tools/chat_platform.py
Due: isort, pyright, pytest

docs(blocks): regenerate the block index for the merged Google PRs
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
Due: none

fix(frontend): send Plan selected before the Stripe redirect and add a Trial started conversion (hotfix) (#15097)
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/__tests__/SubscriptionStep.trial.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/usePaywallModal.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/useSubscriptionTierSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-actions.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/trial-confirmation.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/helpers.ts
  autogpt_platform/frontend/src/components/organisms/TrialCard/useTrialCard.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.test.ts
  autogpt_platform/frontend/src/services/analytics/google-ads.ts
  autogpt_platform/frontend/src/services/analytics/gtag.ts
  autogpt_platform/frontend/src/services/trials/useTrialCheckoutReturn.ts
Due: prettier, tsc

keep re-hired experts from resuming schedules the user paused
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/scheduling.py
  autogpt_platform/backend/backend/api/features/experts/scheduling_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

test(backend): patch the PostHog client where track() now reads it
  autogpt_platform/backend/backend/api/features/integrations/oauth_analytics_test.py
Due: isort, pyright, pytest

feat(backend/copilot): a chat driven from a linked Discord, Slack, Teams or Telegram server gets its approval cards in the channel as native buttons (#15069)
  autogpt_platform/backend/backend/copilot/bot/adapters/base.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/choice_ui.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/choice_ui_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/choice_ui.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/choice_ui_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/choice_ui.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/choice_ui_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/choice_ui.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/choice_ui_test.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend.py
  autogpt_platform/backend/backend/copilot/bot/bot_backend_test.py
  autogpt_platform/backend/backend/copilot/bot/card_buttons_db_test.py
  autogpt_platform/backend/backend/copilot/bot/choices.py
  autogpt_platform/backend/backend/copilot/bot/turn_stream.py
  autogpt_platform/backend/backend/copilot/bot/turn_stream_test.py
  autogpt_platform/backend/backend/copilot/gate/__init__.py
  autogpt_platform/backend/backend/copilot/gate/channel.py
  autogpt_platform/backend/backend/copilot/gate/gate_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/platform_linking/cards.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/backend/platform_linking/manager.py
  autogpt_platform/backend/backend/platform_linking/models.py
Due: isort, pyright, pytest

fix(frontend): open a fresh expert page from the sidebar + and reveal the group chevron on hover
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/__tests__/expert-groups.test.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/components/ExpertChatGroup/ExpertChatGroup.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/RecentChats/helpers.ts
Due: prettier, tsc

fix(frontend): treat ENTERPRISE as admin-managed on the billing plan card
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-cards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/__tests__/billing-hooks.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/YourPlanCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/SubscriptionTab/YourPlanCard/useYourPlanCard.ts
Due: prettier, tsc

fix(frontend): keep the expert onboarding card's place when its row remounts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/ExpertOnboardingCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/__tests__/ExpertOnboardingCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/onboardingProgress.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ExpertOnboardingCard/useExpertOnboardingCard.ts
Due: prettier, tsc

fix(blocks): declare what each Drive block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/drive_comments.py
  autogpt_platform/backend/backend/blocks/google/drive_effects_test.py
  autogpt_platform/backend/backend/blocks/google/drive_files.py
  autogpt_platform/backend/backend/blocks/google/drive_manage.py
  autogpt_platform/backend/backend/blocks/google/drive_search.py
Due: isort, pyright, pytest

fix(blocks): declare what each Gmail block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/gmail_effects_test.py
  autogpt_platform/backend/backend/blocks/google/gmail_labels.py
  autogpt_platform/backend/backend/blocks/google/gmail_messages.py
  autogpt_platform/backend/backend/blocks/google/gmail_organize.py
Due: isort, pyright, pytest

fix(frontend): let Enter queue a follow-up while Otto answers, and hold a refused follow-up until the local stream settles
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/followup-after-local-stream.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useChatInput.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useSendMessage.ts
Due: prettier, tsc

fix(blocks): declare what each Calendar block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/calendar_availability.py
  autogpt_platform/backend/backend/blocks/google/calendar_effects_test.py
  autogpt_platform/backend/backend/blocks/google/calendar_events.py
  autogpt_platform/backend/backend/blocks/google/calendar_invitations.py
  autogpt_platform/backend/backend/blocks/google/calendar_search.py
Due: isort, pyright, pytest

fix(blocks): declare what each Docs and Sheets batch update block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/batch_update_effects_test.py
  autogpt_platform/backend/backend/blocks/google/docs_batch_update.py
  autogpt_platform/backend/backend/blocks/google/sheets_batch_update.py
Due: isort, pyright, pytest

fix(frontend): never paint the retired top nav before the sidebar layout
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/PlatformChrome.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/__tests__/PlatformChrome.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/__tests__/usePlatformChrome.test.ts
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/components/LayoutHintProvider/LayoutHintProvider.tsx
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/PlatformChrome/usePlatformChrome.ts
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/CopilotPage.test.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
Due: prettier, tsc

fix(blocks): declare what each Slides block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/slides_create.py
  autogpt_platform/backend/backend/blocks/google/slides_edit.py
  autogpt_platform/backend/backend/blocks/google/slides_effects_test.py
  autogpt_platform/backend/backend/blocks/google/slides_read.py
Due: isort, pyright, pytest

test(backend/copilot-bot): a repeated setup card does not hold back an approval card
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
Due: isort, pyright, pytest

fix(platform): record and surface every scheduled copilot follow-up outcome
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/session_notice_test.py
  autogpt_platform/backend/backend/copilot/tools/manage_schedules.py
  autogpt_platform/backend/backend/copilot/tools/manage_schedules_test.py
  autogpt_platform/backend/backend/copilot/tools/session_context.py
  autogpt_platform/backend/backend/copilot/tools/session_context_test.py
  autogpt_platform/backend/backend/data/activity_event.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/executor/schedule_events.py
  autogpt_platform/backend/backend/executor/schedule_events_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/backend/backend/monitoring/instrumentation.py
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/convertChatSessionToUiMessages.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/convertChatSessionToUiMessages.ts
Due: isort, prettier, pyright, tsc, pytest

fix(blocks): declare what each Chat block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/chat_direct_messages.py
  autogpt_platform/backend/backend/blocks/google/chat_effects_test.py
  autogpt_platform/backend/backend/blocks/google/chat_message_search.py
  autogpt_platform/backend/backend/blocks/google/chat_messages.py
  autogpt_platform/backend/backend/blocks/google/chat_spaces.py
Due: isort, pyright, pytest

fix(blocks): declare what each Contacts block does so AutoPilot runs reads without asking
  autogpt_platform/backend/backend/blocks/google/contacts.py
  autogpt_platform/backend/backend/blocks/google/contacts_directory.py
  autogpt_platform/backend/backend/blocks/google/contacts_effects_test.py
Due: isort, pyright, pytest

fix(frontend): make the sidebar + repeat-click test wait for nuqs to commit the URL
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
Due: prettier, tsc
