Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

test(frontend): add coverage for rate-limit tiering uncovered lines
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/__tests__/RateLimitDisplay.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/__tests__/useRateLimitManager.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/__tests__/UsagePanelContentRender.test.tsx
Due: prettier, tsc

ci(frontend): add V8 coverage fixture for Playwright E2E tests
  autogpt_platform/frontend/src/tests/AGENTS.md
  autogpt_platform/frontend/src/tests/agent-activity.spec.ts
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
  autogpt_platform/frontend/src/tests/api-keys.spec.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/coverage-fixture.ts
  autogpt_platform/frontend/src/tests/library.spec.ts
  autogpt_platform/frontend/src/tests/marketplace-agent.spec.ts
  autogpt_platform/frontend/src/tests/marketplace-creator.spec.ts
  autogpt_platform/frontend/src/tests/marketplace.spec.ts
  autogpt_platform/frontend/src/tests/onboarding.spec.ts
  autogpt_platform/frontend/src/tests/profile-form.spec.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
  autogpt_platform/frontend/src/tests/publish-agent.spec.ts
  autogpt_platform/frontend/src/tests/settings.spec.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
  autogpt_platform/frontend/src/tests/signup.spec.ts
  autogpt_platform/frontend/src/tests/title.spec.ts
  autogpt_platform/frontend/src/tests/util.spec.ts
Due: prettier, tsc

fix(frontend): loosen sourceFilter to handle Next.js V8 sourcemap prefixes
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

test: additional coverage for platform cost and token tracking
  autogpt_platform/backend/backend/copilot/token_tracking_test.py
  autogpt_platform/backend/backend/data/platform_cost_test.py
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/__tests__/helpers.test.ts
Due: isort, prettier, pyright, tsc, pytest

dx(frontend): set up React integration testing with Vitest + RTL + MSW
  AGENTS.md
  autogpt_platform/AGENTS.md
  autogpt_platform/frontend/AGENTS.md
  autogpt_platform/frontend/CONTRIBUTING.md
  autogpt_platform/frontend/TESTING.md
  autogpt_platform/frontend/src/app/(platform)/library/__tests__/main.test.tsx
  autogpt_platform/frontend/src/tests/integrations/test-utils.tsx
Due: prettier, tsc

dx: enhance pr-address skill with detailed codecov coverage guidance (#12662)
  .claude/skills/pr-address/SKILL.md
Due: none

style(frontend): format playwright.config.ts with prettier
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

fix(frontend): add type parameter to coverage fixture test.extend
  autogpt_platform/frontend/src/tests/coverage-fixture.ts
Due: prettier, tsc

feat(frontend): gate artifact panel behind LaunchDarkly flag
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessageAttachments.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(backend): address audit findings and add 205 comprehensive tests
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
  autogpt_platform/backend/backend/api/features/orgs/routes.py
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
  autogpt_platform/backend/backend/api/features/orgs/workspace_db.py
  autogpt_platform/backend/backend/api/features/orgs/workspace_routes.py
  autogpt_platform/backend/backend/data/org_credit.py
  autogpt_platform/backend/backend/data/org_credit_test.py
  autogpt_platform/backend/backend/data/org_migration.py
  autogpt_platform/backend/backend/data/org_migration_test.py
  autogpt_platform/backend/migrations/20260403110000_fix_schema_fks_and_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

Revise section on supported language models
  docs/platform/what-is-autogpt-platform.md
Due: none

docs: tweak LLM section copy (#12664)
  docs/platform/what-is-autogpt-platform.md
Due: none

refactor(frontend): use Orval-generated mocks in library page tests
  autogpt_platform/frontend/src/app/(platform)/library/__tests__/main.test.tsx
Due: prettier, tsc

fix(copilot): prevent 524 timeout on chat deletion by deferring cleanup
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
Due: isort, prettier, pyright, tsc, pytest

dx(frontend): add /write-frontend-tests Claude skill
  .claude/skills/write-frontend-tests/SKILL.md
Due: none

refactor(frontend): extract testable logic from components into helpers for coverage
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/SetupRequirementsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/HotScopedCredentialsModal/HotScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
Due: prettier, tsc

feat(platform): add rate-limit tiering system for CoPilot (#12581)
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes_test.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/copilot/rate_limit_test.py
  autogpt_platform/backend/backend/copilot/reset_usage_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/migrations/20260326200000_add_rate_limit_tier/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/get_rate_limit
  autogpt_platform/backend/snapshots/reset_user_usage_daily_and_weekly
  autogpt_platform/backend/snapshots/reset_user_usage_daily_only
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitDisplay.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitManager.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/__tests__/RateLimitDisplay.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/__tests__/RateLimitManager.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/__tests__/useRateLimitManager.test.ts
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsagePanelContent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/__tests__/UsageLimits.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/__tests__/UsagePanelContent.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/__tests__/UsagePanelContentRender.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

ci: remove redundant CI gitleaks workflow (GitHub secret scanning covers post-push)
  .github/workflows/repo-secret-scan.yml
Due: none

fix(backend): format service_unit_test.py (isort + black)
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

fix(frontend): remove sourceFilter blocking coverage and guard fixture
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/tests/coverage-fixture.ts
Due: prettier, tsc

style(frontend): format copilot store.ts with prettier
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
Due: prettier, tsc

docs: fix broken paths and outdated references across all docs
  README.md
  classic/CLAUDE.md
  classic/README.md
  classic/direct_benchmark/challenges/CHALLENGE.md
  classic/direct_benchmark/challenges/README.md
  classic/forge/CLAUDE.md
  classic/forge/forge/components/README.md
  classic/original_autogpt/.env.template
  classic/original_autogpt/CLAUDE.md
  classic/original_autogpt/README.md
  classic/original_autogpt/azure.yaml.template
  docs/content/challenges/introduction.md
  docs/content/classic/configuration/options.md
  docs/content/classic/index.md
  docs/content/classic/setup/index.md
  docs/content/forge/components/built-in-components.md
Due: pyright, pytest

add docstrings to heygen block
  autogpt_platform/backend/backend/blocks/heygen.py
Due: isort, pyright, pytest

ci: add gitleaks secret scanning to pre-commit hooks (#12649)
  .gitleaks.toml
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

test(frontend): add coverage for copilot mode toggle and dedup helpers
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/useChatInput.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
Due: prettier, tsc

ci(frontend): enable debug logging and restore sourceFilter for coverage
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

fix: revert clamav_service_host default to localhost (docker-compose.platform.yml already overrides)
  autogpt_platform/backend/backend/util/virus_scanner.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/__tests__/SetupRequirementsCard.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/DeleteConfirmationModal/__tests__/DeleteConfirmationModal.test.tsx
Due: isort, prettier, pyright, tsc, pytest

style: remove unnecessary blank lines around COPILOT_MODE entries
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

fix(backend): sort imports in sdk/service.py (isort)
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

feat(backend): thread tenancy through webhooks, scheduler, SSE, and seeder
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

test(backend): add minimal test for get_agent_building_guide
  autogpt_platform/backend/backend/copilot/tools/get_agent_building_guide_test.py
Due: isort, pyright, pytest

ci(frontend): copy source maps from Docker for E2E coverage resolution
  .github/workflows/platform-fullstack-ci.yml
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

fix(blocks): apply OrchestratorBlock defaults before AI model fixer
  autogpt_platform/backend/backend/copilot/tools/agent_generator/fixer.py
Due: isort, pyright, pytest

fix(ci): override working-directory for gate job
  .github/workflows/platform-fullstack-ci.yml
Due: none

feat(platform): Add all 12 Z.ai GLM models via OpenRouter
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

refactor(backend): align org/ folder with codebase Pydantic patterns
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
  autogpt_platform/backend/backend/api/features/orgs/model.py
  autogpt_platform/backend/backend/api/features/orgs/routes.py
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
  autogpt_platform/backend/backend/api/features/orgs/workspace_db.py
  autogpt_platform/backend/backend/api/features/orgs/workspace_model.py
  autogpt_platform/backend/backend/api/features/orgs/workspace_routes.py
Due: isort, pyright, pytest

feat(copilot): add create -> dry-run -> fix loop to agent generation (#12578)
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/sdk/mcp_tool_guide.md
  autogpt_platform/backend/backend/copilot/tools/get_agent_building_guide.py
  autogpt_platform/backend/backend/copilot/tools/get_agent_building_guide_test.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/test/copilot/__init__.py
  autogpt_platform/backend/test/copilot/dry_run_loop_test.py
  autogpt_platform/docker-compose.yml
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/SetupRequirementsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/__tests__/SetupRequirementsCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/CredentialsInput.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialsFlatView/CredentialsFlatView.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/DeleteConfirmationModal/DeleteConfirmationModal.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/DeleteConfirmationModal/__tests__/DeleteConfirmationModal.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/HotScopedCredentialsModal/HotScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
Due: isort, prettier, pyright, tsc, pytest

ci(frontend): add debug logging for sourceMapResolver, fix Codecov upload
  .github/workflows/platform-fullstack-ci.yml
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

fix(platform): use round() for microdollar conversion and add cost tracking tests
  autogpt_platform/backend/backend/copilot/token_tracking.py
  autogpt_platform/backend/backend/data/model_test.py
  autogpt_platform/backend/backend/executor/cost_tracking.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_cost_tracking_test.py
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/__tests__/PlatformCostContent.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/__tests__/actions.test.ts
Due: isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
