Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ci(platform): isolate helper tests from image build
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): synchronize forced watchdog checks
  autogpt_platform/single-container/tests/test_watchdog.py
  autogpt_platform/single-container/watchdog.sh
Due: none

ci(platform): preserve overlap checks on dispatch
  .github/scripts/detect_overlaps.py
  .github/scripts/run_command_junit.py
  .github/scripts/run_unittest_junit.py
  .github/scripts/test_detect_overlaps.py
  .github/workflows/platform-single-container-docker.yml
  .github/workflows/pr-overlap-check.yml
  autogpt_platform/single-container/tests/test_ci_junit_reporters.py
Due: none

docs(platform): document CI test execution
  docs/platform/contributing/tests.md
Due: none

ci(frontend): shard integration tests
  .github/scripts/test_validate_junit.py
  .github/scripts/validate_junit.py
  .github/workflows/platform-frontend-ci.yml
Due: none

ci(platform): align release cache epoch
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): retry transient Docker image pulls
  .github/scripts/docker-pull-with-retry.sh
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): eliminate smoke timing clock race
  .github/scripts/platform-single-container-smoke.sh
Due: none

fix(backend): preserve startup indexing without blocking readiness
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/tests/test_entrypoint.py
Due: isort, pyright, pytest

docs(platform): add guide for using llmman via the Ollama provider
  docs/platform/SUMMARY.md
  docs/platform/copilot-local-llm.md
  docs/platform/llmman.md
Due: none

feat(frontend): report each onboarding step to DataFast (#14186)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/__tests__/tracking.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingPage.ts
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/PaywallModal.tsx
  autogpt_platform/frontend/src/components/molecules/PlanCard/PlanCard.tsx
Due: prettier, tsc

fix(backend): address review on activation events
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/orgs/regression_test.py
  autogpt_platform/backend/backend/data/execution_stats_test.py
  autogpt_platform/backend/backend/executor/schedule_events.py
  autogpt_platform/backend/backend/executor/scheduler_activation_test.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/product_analytics.py
  autogpt_platform/backend/backend/util/product_analytics_test.py
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(platform): address review on experiment assignments
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/experiments/useLaunchDarklyExperiment.ts
  autogpt_platform/frontend/src/services/experiments/useReportAssignment.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(frontend): keep agent tasks available after sidebar errors
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/__tests__/trigger-agents.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/useSidebarRunsList.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Due: prettier, tsc

feat(platform): alert + gate admin impersonation start via Discord (#13299)
  autogpt_platform/backend/backend/api/features/admin/impersonation_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/impersonation_admin_routes_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/__tests__/AdminImpersonationPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/__tests__/useAdminImpersonation.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(platform): address review on anonymous id attribution
  autogpt_platform/backend/backend/data/attribution.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/providers/posthog/posthog-provider.tsx
  autogpt_platform/frontend/src/services/analytics/__tests__/anonymous-id.test.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/attribution-payload.test.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/useReportAttribution.test.tsx
  autogpt_platform/frontend/src/services/analytics/anonymous-id.ts
  autogpt_platform/frontend/src/services/analytics/useReportAttribution.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(frontend): keep Simulate out of the run_agent goal
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/services/analytics/__tests__/activation-goals.test.ts
Due: prettier, tsc

fix(analytics): correct the task, retention and active-day definitions
  autogpt_platform/analytics/queries/chat_turn.sql
  autogpt_platform/analytics/queries/retention_task_weekly.sql
  autogpt_platform/analytics/queries/unit_economics_monthly.sql
  autogpt_platform/analytics/queries/user_lifecycle.sql
  autogpt_platform/analytics/queries/user_lifecycle_funnel_weekly.sql
  autogpt_platform/analytics/queries/user_task_daily.sql
  docs/platform/activation-metrics.md
Due: none

chore(platform): record trial validation and refresh scanner metadata
  .secrets.baseline
  TRIAL_IMPLEMENTATION.md
Due: none

fix(frontend): drop list responses that predate a credential deletion
  autogpt_platform/frontend/src/providers/agent-credentials/credentials-provider.tsx
Due: prettier, tsc

dx(skills): reset the pending flag on every review poll and enforce the budget
  .claude/skills/pr-address/SKILL.md
  .claude/skills/pr-polish/SKILL.md
Due: none

fix(platform): address review on the Microsoft 365 Copilot transport
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/transports.py
  autogpt_platform/backend/backend/copilot/transports_test.py
  autogpt_platform/backend/backend/integrations/microsoft_365_copilot/client.py
  autogpt_platform/backend/backend/integrations/microsoft_365_copilot/client_test.py
  autogpt_platform/backend/backend/integrations/microsoft_365_copilot/service.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(frontend): drop the stray "use server" on the test-data page
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/components/GenerateTestDataButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/page.tsx
Due: prettier, tsc

ci(platform): take a PR number for manual overlap-check runs
  .github/workflows/pr-overlap-check.yml
Due: none

feat(frontend,backend): add button to generate data to admin dashboard on local dev (#11791)
  autogpt_platform/backend/backend/api/features/admin/test_data_routes.py
  autogpt_platform/backend/backend/api/features/admin/test_data_routes_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminMobileNav.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/AdminSidebar.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/__tests__/layout.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminClassicShell.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminSidebar/useAdminSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/components/GenerateTestDataButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/components/__tests__/GenerateTestDataButton.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/components/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/components/useGenerateTestDataButton.test.ts
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/components/useGenerateTestDataButton.ts
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/admin/test-data/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(billing): verify trial checkout completion and safe retries
  TRIAL_IMPLEMENTATION.md
  autogpt_platform/backend/backend/data/subscription_trial_checkout.py
  autogpt_platform/backend/backend/data/subscription_trial_config.py
  autogpt_platform/backend/backend/data/subscription_trial_config_test.py
  autogpt_platform/backend/backend/data/subscription_trial_eligibility.py
  autogpt_platform/backend/backend/data/subscription_trial_fulfillment_test.py
  autogpt_platform/backend/backend/data/subscription_trial_resume_test.py
  autogpt_platform/backend/backend/data/subscription_trial_stripe.py
Due: isort, pyright, pytest

docs: freeze Wave 0 as reliability baseline, update roadmap to 6-wave direction
  IMPROVEMENT_PLAN.md
  WAVE0_CERTIFICATION.md
Due: none

fix(frontend/copilot): speak the answer that follows a tool round
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/__tests__/replyText.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/__tests__/useVoiceMode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/replyText.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/voice/useVoiceMode.ts
Due: prettier, tsc

docs(platform): tell one story about the appliance installer and the Compose path
  docs/platform/getting-started.md
  docs/platform/installer.md
Due: none

fix(backend): cover the saturation ticker and stop the docstring overclaiming
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/util/llm/saturation_test.py
Due: isort, pyright, pytest

fix(backend): park the saturation ticker test's thread instead of its timer
  autogpt_platform/backend/backend/util/llm/saturation_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): read aloud falls back to our own TTS when the browser has no voices
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/AssistantMessageActions.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/TTSButton.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/__tests__/TTSButton.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/useTTSButton.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/useTextToSpeech.ts
Due: prettier, tsc

test(backend): pin that a dead Redis cannot fail a credential write
  autogpt_platform/backend/backend/integrations/creds_events_test.py
Due: isort, pyright, pytest

fix(billing): persist and recover trial email deliveries
  .github/workflows/platform-backend-ci.yml
  TRIAL_IMPLEMENTATION.md
  autogpt_platform/backend/backend/api/features/subscription_trial_routes_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/subscription_trial.py
  autogpt_platform/backend/backend/data/subscription_trial_fulfillment_test.py
  autogpt_platform/backend/backend/data/subscription_trial_integration_test.py
  autogpt_platform/backend/backend/data/subscription_trial_stripe.py
  autogpt_platform/backend/backend/data/trial_notifications.py
  autogpt_platform/backend/backend/data/trial_notifications_integration_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/monitoring/notification_monitor.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/queue.py
  autogpt_platform/backend/backend/notifications/renderer_test.py
  autogpt_platform/backend/backend/notifications/templates/trial.txt.j2
  autogpt_platform/backend/backend/notifications/trial.py
  autogpt_platform/backend/backend/notifications/trial_delivery.py
  autogpt_platform/backend/backend/notifications/trial_delivery_test.py
  autogpt_platform/backend/backend/notifications/trial_postmark.py
  autogpt_platform/backend/backend/notifications/trial_postmark_test.py
  autogpt_platform/backend/backend/notifications/trial_test.py
  autogpt_platform/backend/migrations/20260904220000_add_trial_notification_outbox/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

refactor(backend/copilot): trim design narration from sub-session tool prose
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
Due: isort, pyright, pytest

docs(platform): record trial delivery validation
  TRIAL_IMPLEMENTATION.md
Due: none

test(backend): drive the real write path in the dead-Redis regression
  autogpt_platform/backend/backend/integrations/creds_events_test.py
Due: isort, pyright, pytest

fix(backend/copilot): report 0, not None, when a sub made no tool calls
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): cut the SDK-upgrade diff to what it asserts
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/env_test.py
  autogpt_platform/backend/backend/copilot/sdk/sdk_compat_test.py
  autogpt_platform/backend/pyproject.toml
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
