Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

feat(sdk): Implement comprehensive Block Development SDK with auto-registration
  autogpt_platform/CLAUDE.md
  autogpt_platform/REVISED_PLAN.md
  autogpt_platform/backend/SDK_DEMONSTRATION.md
  autogpt_platform/backend/SDK_IMPORT_ANALYSIS.md
  autogpt_platform/backend/backend/blocks/example_sdk_block.py
  autogpt_platform/backend/backend/blocks/example_webhook_sdk_block.py
  autogpt_platform/backend/backend/blocks/simple_example_block.py
  autogpt_platform/backend/backend/sdk/__init__.py
  autogpt_platform/backend/backend/sdk/auto_registry.py
  autogpt_platform/backend/backend/sdk/decorators.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/test/sdk/test_sdk_imports.py
Due: isort, pyright, pytest

Delete autogpt_platform/backend/SDK_IMPORT_ANALYSIS.md
  autogpt_platform/backend/SDK_IMPORT_ANALYSIS.md
Due: none

Search model names
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/model.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
Due: isort, pyright, pytest

docs: Update REVISED_PLAN.md implementation checklist with PR 10074 status
  autogpt_platform/REVISED_PLAN.md
Due: none

docs: Add PROVIDER_ENUM_PLAN.md to address dynamic provider registration
  autogpt_platform/backend/PROVIDER_ENUM_PLAN.md
Due: none

fix(docs): comment out segment about video because we removed video (#10073)
  docs/content/platform/getting-started.md
Due: none

docs: add system requirements section to README (#10054)
  README.md
Due: none

refactor(backend): Comprehensive test improvements and code review fixes
  autogpt_platform/backend/REVIEW.md
  autogpt_platform/backend/backend/server/conftest.py
  autogpt_platform/backend/backend/server/routers/analytics_improved_test.py
  autogpt_platform/backend/backend/server/routers/analytics_parametrized_test.py
  autogpt_platform/backend/backend/server/routers/analytics_test.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/test_fixtures.py
  autogpt_platform/backend/backend/server/test_helpers.py
  autogpt_platform/backend/backend/server/test_utils.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/run_tests.py
  autogpt_platform/backend/snapshots/admin_add_credits_success
  autogpt_platform/backend/snapshots/analytics_log_analytics_complex_data
  autogpt_platform/backend/snapshots/analytics_log_analytics_success
  autogpt_platform/backend/snapshots/analytics_log_metric_success
  autogpt_platform/backend/snapshots/analytics_log_metric_various_values
Due: isort, pyright, pytest

remove docs
  autogpt_platform/backend/REVIEW.md
  autogpt_platform/backend/TESTING.md
Due: none

updated poetry lock
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix(backend): Fix DB_PORT environment variable handling in test infrastructure
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/run_tests.py
Due: isort, pyright

Address comments
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  docs/content/platform/blocks/flux_kontext.md
Due: isort, pyright, pytest

Use file upload
  autogpt_platform/backend/backend/blocks/flux_kontext.py
Due: isort, pyright, pytest

update lock file
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

Downgrade poetry to 2.1.1, run "poetry lock" to downgrade it
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, pyright, pytest

feat(platform/blocks): add AI Image Editor Block powered by flux kontext (#10063)
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  docs/content/platform/blocks/blocks.md
  docs/content/platform/blocks/flux_kontext.md
Due: isort, pyright, pytest

ghrs: snap 06-02-2303-CE99 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-02_230307_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-02_230307_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-02_230307_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 06-02-2303-CE99 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 06-02-2303-CE99 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-02_230307_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-02-2303-CE99 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

remove providers from filter list and add support of ai blocks in search list]
  autogpt_platform/frontend/src/components/builder/block-menu/block-menu-provider.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/FiltersList.tsx
  autogpt_platform/frontend/src/components/builder/block-menu/search-and-filter/SearchList.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: prettier, tsc

feat(blocks;frontend): Add file multipart upload support for SendWebRequestBlock & Improve key-value input UI rendering (#10058)
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: isort, prettier, pyright, tsc, pytest

debug debug debug
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(providers): Enable dynamic provider names with _missing_ method
  autogpt_platform/REVISED_PLAN.md
  autogpt_platform/backend/PROVIDER_ENUM_SIMPLE_PLAN.md
  autogpt_platform/backend/backend/integrations/providers.py
Due: isort, pyright, pytest

chore: undo classic change
  autogpt_platform/frontend/.gitignore
  classic/benchmark/run.sh
Due: prettier, tsc

chore: move from yarn1 to pnpm
  .dockerignore
  .github/workflows/platform-frontend-ci.yml
  AGENTS.md
  autogpt_platform/README.md
  autogpt_platform/frontend/.gitignore
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/README.md
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/yarn.lock
Due: prettier, tsc

chore: undo formatting
  AGENTS.md
Due: none

experiment: fix CI issues with cookies...
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/page.tsx
Due: prettier, tsc

chore: fix lint & types
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/components/flow.css
Due: prettier, tsc

chore: further updates
  .github/dependabot.yml
  .pre-commit-config.yaml
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
  classic/benchmark/run.sh
  docs/content/platform/getting-started.md
  docs/content/platform/ollama.md
Due: prettier, tsc

refactor: review suggestions (1)
  autogpt_platform/frontend/README.md
  docs/content/platform/contributing/tests.md
Due: prettier, tsc

chore: make prettier ignore pnpm-lock.yaml
  autogpt_platform/frontend/.prettierignore
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
