Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: stars and forks 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-11_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ref(infra): Supabase DB Docker env management and compose
  .gitignore
  autogpt_platform/db/docker/.env.default
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Due: none

Update CLAUDE.md
  autogpt_platform/CLAUDE.md
Due: none

feat(backend): in progress laucnhdarkly role lookup
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/backend/backend/data/supabase_auth.py
  autogpt_platform/backend/backend/data/supabase_auth_test.py
  autogpt_platform/backend/test_feature_flag.py
  autogpt_platform/backend/test_supabase_role.py
Due: isort, pyright, pytest

refactor(feature-flag): simplify LaunchDarkly client and remove supabase_auth
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

ref(infra): Supabase DB Docker env management and compose (#10622)
  .gitignore
  autogpt_platform/CLAUDE.md
  autogpt_platform/db/docker/.env.default
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Due: none

ref(backend):env config and docker-compose setup (#10621)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/platform-frontend-ci.yml
  .gitignore
  autogpt_platform/.env.default
  autogpt_platform/CLAUDE.md
  autogpt_platform/README.md
  autogpt_platform/backend/.env.default
  autogpt_platform/db/docker/.env.example
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/db/docker/reset.sh
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
  docs/content/platform/advanced_setup.md
  docs/content/platform/getting-started.md
Due: none

feat(feature-flag): add LaunchDarkly user context and metadata support (#10595)
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
  autogpt_platform/backend/test/e2e_test_data.py
Due: isort, pyright, pytest

undo gitignore change, restore .env.default for frontend
  .gitignore
  autogpt_platform/frontend/.env.default
Due: prettier, tsc

remove tracked .env
  autogpt_platform/frontend/.env
Due: prettier, tsc

feat(platform): add py-spy profiling support
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Due: none

Revert "feat(platform): add py-spy profiling support"
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Due: none

rebase
  .github/workflows/platform-frontend-ci.yml
Due: none

chore: fix settings forms
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/EmailForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/useEmailForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/NotificationForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/useNotificationForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/helper.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
Due: prettier, tsc

chore: more changes
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/useEmailForm.ts
  autogpt_platform/frontend/src/app/api/auth/user/route.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Due: prettier, tsc

chore: tests
  autogpt_platform/frontend/src/tests/settings.spec.ts
Due: prettier, tsc

feat(block): Remove paralel tool-call system prompting
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Due: isort, pyright, pytest

feat(block): Remove paralel tool-call system prompting (#10627)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Due: isort, pyright, pytest

chore: fix loading state
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
Due: prettier, tsc

margin edit
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
Due: prettier, tsc

fix(backend): gmail reply reads the email its replying to
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

feat(backend): add forward block + clean up code a bit
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

chore: add Dependabot config and auto-merge workflow
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/workflows/auto_format.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Update llm.py
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

ref(backend): Make Gmail API calls async using asyncio.to_thread
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

feat(backend): enhance dynamic field handling in SmartDecisionMakerBlock and CreateDictionaryBlock
  autogpt_platform/backend/backend/blocks/data_manipulation.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Due: isort, pyright, pytest

fix(backend): Support dynamic values_#_* fields in CreateDictionaryBlock (#10587)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Due: isort, pyright, pytest

ghrs: snap 08-12-2302-F3A4 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 08-12-2302-F3A4 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-12-2302-F3A4 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-12-2302-F3A4 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat(backend): Migrate from Proxycurl to Enrichlayer API
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/enrichlayer/_api.py
  autogpt_platform/backend/backend/blocks/enrichlayer/_auth.py
  autogpt_platform/backend/backend/blocks/enrichlayer/linkedin.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): consolidate LaunchDarkly feature flag management
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/config.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/feature_flag_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest
