Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/executor): Improve database connection resilience in get_user_context
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

refactor(frontend): standardise with environment service (#11209)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/scripts/generate-api-queries.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/OttoChatWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/lib/utils/is-server-side.ts
  autogpt_platform/frontend/src/services/environment/index.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

fix(backend/executor): Avoid running direct query in executor (#11224)
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

Revert "Merge branch 'swiftyos/secrt-1709-store-provider-names-and-env-vars-in-db' into dev"
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

Revert "Merge branch 'swiftyos/secrt-1709-store-provider-names-and-en… (#11225)
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend): Fix structured logging for cloud environments
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

fix format
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

fix format more
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

get rid of huge log prefixes in structured logging
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/logging.py
Due: isort, pyright, pytest

sanitize sql
  autogpt_platform/backend/backend/server/v2/store/db.py
Due: isort, pyright, pytest

fix(backend): Fix structured logging for cloud environments (#11227)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/logging.py
Due: isort, pyright, pytest

chat system core
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/service.py
Due: isort, pyright, pytest

yield pydantic models in the pure streaming function
  autogpt_platform/backend/backend/server/v2/chat/service.py
Due: isort, pyright, pytest

feat(frontend): setup datafast custom events
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/tutorial.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/__legacy__/AgentInfo.tsx
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Due: prettier, tsc

chore: wip
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/store.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

chore: review suggestions
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
Due: prettier, tsc

chore: wip
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/useCopyPaste.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/useTimezoneDetection.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
Due: prettier, tsc

Potential fix for code scanning alert no. 145: Incomplete URL substring sanitization
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
Due: prettier, tsc

chore: lint
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
Due: prettier, tsc

chore: fix
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
Due: prettier, tsc

feat(platform): Add AllQuiet alert integration alongside Discord alerts
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/monitoring/block_error_monitor.py
  autogpt_platform/backend/backend/monitoring/late_execution_monitor.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

style(platform): Apply linters and formatters to AllQuiet integration
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/monitoring/block_error_monitor.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
Due: isort, pyright, pytest

feat(admin): Add system diagnostics page for execution and agent monitoring
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(admin): Refactor diagnostics page to follow frontend contribution guidelines
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/useDiagnosticsContent.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

feat(platform): Add standalone mode for running without external dependencies
  STANDALONE_MODE.md
  autogpt_platform/backend/.env.standalone
  autogpt_platform/backend/backend/data/event_bus.py
  autogpt_platform/backend/backend/data/inmemory_event_bus.py
  autogpt_platform/backend/backend/data/inmemory_queue.py
  autogpt_platform/backend/backend/data/inmemory_redis.py
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

ghrs: snap 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-21_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-21_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

feat(frontend): enhance FlowEditor with new components and execution status tracking
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Due: prettier, tsc

feat(frontend): update RunGraph component to include stop functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
Due: prettier, tsc

fix: Make Jinja Error on TextFormatter as value error
  autogpt_platform/backend/backend/util/text.py
Due: isort, pyright, pytest

I don't think we even need warning here
  autogpt_platform/backend/backend/util/text.py
Due: isort, pyright, pytest

fix(backend): Make Jinja Error on TextFormatter as value error (#11236)
  autogpt_platform/backend/backend/util/text.py
Due: isort, pyright, pytest

fix(frontend): Limit Sentry console capture to warnings and errors (#11223)
  autogpt_platform/frontend/sentry.edge.config.ts
Due: prettier, tsc
