Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/copilot): batch billing idempotency + use dream rate card
  autogpt_platform/backend/backend/copilot/anthropic_rate_card.py
  autogpt_platform/backend/backend/copilot/anthropic_rate_card_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
Due: isort, pyright, pytest

fix(blocks): add jina search coverage
  autogpt_platform/backend/test/blocks/test_jina_extract_website.py
Due: isort, pyright, pytest

fix(backend/executor): BatchExecutor RPC port binds + is configurable
  autogpt_platform/backend/backend/executor/batch_executor.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(backend/executor): exactly-once batch dispatch via atomic Lua claim
  autogpt_platform/backend/backend/data/redis_helpers.py
  autogpt_platform/backend/backend/data/redis_helpers_test.py
  autogpt_platform/backend/backend/executor/batch_executor.py
  autogpt_platform/backend/backend/executor/batch_executor_test.py
Due: isort, pyright, pytest

feat(platform/admin): surface execution_path + source on cost-logs dashboard
  autogpt_platform/backend/backend/api/features/admin/platform_cost_routes.py
  autogpt_platform/backend/backend/data/platform_cost.py
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/ExecutionPathBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/LogsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/PlatformCostContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/usePlatformCostContent.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend/data): platform-cost JSON filter — string_equals + skip aggregate path
  autogpt_platform/backend/backend/data/platform_cost.py
Due: isort, pyright, pytest

refactor(copilot): drop programmatic decompose_goal library-check gate
  autogpt_platform/backend/backend/copilot/tools/decompose_goal.py
  autogpt_platform/backend/backend/copilot/tools/decompose_goal_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/data): cost-logs JSON filter → raw SQL for count + IDs
  autogpt_platform/backend/backend/data/platform_cost.py
Due: isort, pyright, pytest

fix(backend/data): cast datetime params to ::timestamp in raw-SQL cost-logs filter
  autogpt_platform/backend/backend/data/platform_cost.py
Due: isort, pyright, pytest

fix(blocks): clarify invalid model id errors
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/llm_errors.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm_errors.py
Due: isort, pyright, pytest

feat(platform/admin): tag every cost-log row with execution_path
  autogpt_platform/backend/backend/copilot/token_tracking.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/cost_tracking.py
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/ExecutionPathBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/PlatformCostContent.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/autopilot): tighten notification icon crop
  autogpt_platform/frontend/public/notification-icon-192.png
  autogpt_platform/frontend/public/notification-icon-512.png
Due: prettier, tsc

fix(frontend/autopilot): drop unused 512px notification icon
  autogpt_platform/frontend/public/notification-icon-512.png
Due: prettier, tsc

refactor(backend): plumb ExecutionContext at direct-block-execute boundary
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/api/external/v1/routes_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/blocks/_base.py
  autogpt_platform/backend/backend/blocks/github/test_github_blocks.py
  autogpt_platform/backend/backend/blocks/test/test_time_blocks.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
Due: isort, pyright, pytest

fix(backend): address review feedback on PR #13236
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/blocks/test/test_time_blocks.py
Due: isort, pyright, pytest

fix(backend): pass execution_context to direct block.execute() in google sheets tests
  autogpt_platform/backend/backend/blocks/google/sheets_test.py
Due: isort, pyright, pytest

refactor(backend): plumb ExecutionContext at direct-block-execute boundary (#13236)
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/api/external/v1/routes_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/blocks/_base.py
  autogpt_platform/backend/backend/blocks/github/test_github_blocks.py
  autogpt_platform/backend/backend/blocks/google/sheets_test.py
  autogpt_platform/backend/backend/blocks/test/test_time_blocks.py
  docs/integrations/block-integrations/misc.md
Due: isort, pyright, pytest

fix(backend): drop CONCURRENTLY in trgm migration; accept comma-separated statuses
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/backend/api/features/store/routes_test.py
  autogpt_platform/backend/migrations/20260516120000_add_creator_search_trgm_indexes/migration.sql
Due: isort, pyright, pytest

feat(backend/copilot): graphiti community rebuild on OpenAI flex tier
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/communities.py
  autogpt_platform/backend/backend/copilot/graphiti/communities_test.py
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/flex_client.py
  autogpt_platform/backend/backend/copilot/graphiti/flex_client_test.py
Due: isort, pyright, pytest

fix(backend/copilot): plumb user_timezone into ExecutionContext in run_block tool
  autogpt_platform/backend/backend/copilot/tools/helpers.py
Due: isort, pyright, pytest

fix(backend/copilot): mock user_db.get_user_by_id in tools/conftest
  autogpt_platform/backend/backend/copilot/tools/conftest.py
Due: isort, pyright, pytest

fix(backend/copilot): scope helpers user_db stub to helpers namespace
  autogpt_platform/backend/backend/copilot/tools/conftest.py
Due: isort, pyright, pytest

fix(backend/copilot): wrap user_db lookup in try/except for UTC fallback
  autogpt_platform/backend/backend/copilot/tools/helpers.py
Due: isort, pyright, pytest

fix(backend/copilot): plumb user_timezone in run_block ExecutionContext (#13247)
  autogpt_platform/backend/backend/copilot/tools/conftest.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
Due: isort, pyright, pytest

feat(frontend): richer Artifacts cards with previews and infinite scroll
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/ArtifactCard.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/CardPreview.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsList.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/LoadMoreSentinel.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/StorageUsage/StorageUsage.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/page.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/useArtifactsPage.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/tailwind.config.ts
Due: prettier, tsc

chore: format
  autogpt_platform/backend/backend/data/workspace.py
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/CardPreview.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarLink.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(platform): correct Prisma NOT syntax and stabilize CardPreview onError
  autogpt_platform/backend/backend/data/workspace.py
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/CardPreview.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): surface download failures via toast in ArtifactCard
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/ArtifactCard.tsx
Due: prettier, tsc

fix(frontend): align delete-mutation query key with artifacts list
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/ArtifactCard.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/useArtifactsPage.ts
Due: prettier, tsc

test(backend): update workspace list_files asserts for new kwargs
  autogpt_platform/backend/backend/api/features/workspace/routes_test.py
Due: isort, pyright, pytest

feat(frontend): capture marketing-site triggerprompt into sessionStorage
  autogpt_platform/frontend/src/app/(no-navbar)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(no-navbar)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useWorkflowImportAutoSubmit.ts
  autogpt_platform/frontend/src/hooks/useCaptureMarketingPrompt.ts
Due: prettier, tsc

fix(frontend): add missing CHAT_SHARING case to readEnvOverride
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(frontend): capture marketing-site triggerprompt into sessionStorage (#13248)
  autogpt_platform/frontend/src/app/(no-navbar)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(no-navbar)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useWorkflowImportAutoSubmit.ts
  autogpt_platform/frontend/src/hooks/useCaptureMarketingPrompt.ts
Due: prettier, tsc

test(platform): add unit + integration tests for artifacts feature
  autogpt_platform/backend/backend/api/features/workspace/routes_test.py
  autogpt_platform/frontend/src/app/(platform)/artifacts/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/FileIllustration.test.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/OriginFilter/OriginFilter.test.tsx
Due: isort, prettier, pyright, tsc, pytest

style(frontend): prettier formatting on artifacts test files
  autogpt_platform/frontend/src/app/(platform)/artifacts/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/helpers.test.ts
Due: prettier, tsc

feat(platform): cross-platform Ollama installer + per-OS docs for local AutoPilot
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
  docs/platform/copilot-local-llm.md
  docs/platform/installer.md
Due: none

test(backend): use test_user_id fixture in empty-session test
  autogpt_platform/backend/backend/api/features/workspace/routes_test.py
Due: isort, pyright, pytest

fix(backend): address Bugbot findings + repair CI
  autogpt_platform/backend/backend/api/features/search/embeddings_test.py
  autogpt_platform/backend/backend/data/tally.py
Due: isort, pyright, pytest
