Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

test(frontend): cover the builder device-auth wiring
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingWelcomeDialog/ConnectMethodView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingWelcomeDialog/__tests__/connect-method-order.test.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/DeviceAuthCredentialsModal/__tests__/DeviceAuthCredentialsModal.test.tsx
Due: prettier, tsc

docs(blocks): teach the docs generator that MPP is an acronym
  autogpt_platform/backend/scripts/generate_block_docs.py
Due: isort

fix(blocks): say the codex transport depends on the plan
  autogpt_platform/backend/backend/blocks/codex.py
Due: isort, pyright, pytest

feat(blocks): make the AutoPilot transport an explicit choice
  autogpt_platform/backend/backend/blocks/autopilot.py
  autogpt_platform/backend/backend/blocks/autopilot_codex_test.py
  autogpt_platform/backend/backend/blocks/autopilot_migrate.py
Due: isort, pyright, pytest

feat(backend): run the AutoPilot transport backfill at startup
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/blocks/autopilot_migrate.py
Due: isort, pyright, pytest

fix(backend): write the AutoPilot backfill through SafeJson
  autogpt_platform/backend/backend/blocks/autopilot_migrate.py
  autogpt_platform/backend/backend/blocks/autopilot_migrate_test.py
Due: isort, pyright, pytest

fix(frontend): honour the discriminator on single-provider credential fields
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/helpers.ts
  autogpt_platform/frontend/src/hooks/useCredentials.ts
Due: prettier, tsc

feat(platform): add user-facing memory settings page
  autogpt_platform/backend/backend/api/features/memory/__init__.py
  autogpt_platform/backend/backend/api/features/memory/models.py
  autogpt_platform/backend/backend/api/features/memory/routes.py
  autogpt_platform/backend/backend/api/features/memory/routes_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/frontend/src/app/(platform)/copilot/seededPrompts.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useSeededPrompt.ts
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/useSettingsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/EraseMemoryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/RecentMemoriesCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/ScopeCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/SummaryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/useMemoryPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): open memory chats in-pane instead of navigating to copilot
  autogpt_platform/frontend/src/app/(platform)/copilot/seededPrompts.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useSeededPrompt.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/MemoryChatPanel/MemoryChatPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/MemoryChatPanel/useMemoryChatPanel.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/RecentMemoriesCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/SummaryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/page.tsx
Due: prettier, tsc

feat(blocks): split the Link spend-request blocks along the card boundary
  autogpt_platform/backend/backend/blocks/stripe_link/EXPLORATION.md
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request.py
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request_test.py
  docs/integrations/README.md
  docs/integrations/block-integrations/stripe_link/spend_request.md
Due: isort, pyright, pytest

refactor(blocks): share the spend-request schema between both create blocks
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request.py
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request_test.py
  docs/integrations/block-integrations/stripe_link/spend_request.md
Due: isort, pyright, pytest

feat(frontend): rich memory scope selector with expert avatars
  autogpt_platform/frontend/src/app/(platform)/settings/memory/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/ScopeCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/ScopeSelect.tsx
Due: prettier, tsc

fix(blocks): drop the include that hid the shared payment token
  autogpt_platform/backend/backend/blocks/stripe_link/mpp.py
  autogpt_platform/backend/backend/blocks/stripe_link/mpp_test.py
Due: isort, pyright, pytest

fix(frontend): heal a removed connection and report the swap
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/CredentialsInput.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
Due: prettier, tsc

fix(frontend): detect a removed connection when it was the only one
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/__tests__/FormCreator.credentials.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
Due: prettier, tsc

fix(platform): revoke device-code credentials, and stop leaking DB text on poll
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/router_test.py
  autogpt_platform/backend/backend/blocks/stripe_link/EXPLORATION.md
  autogpt_platform/backend/backend/blocks/stripe_link/_auth.py
  autogpt_platform/backend/backend/blocks/stripe_link/profile.py
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingWelcomeDialog/ConnectMethodView.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  docs/integrations/block-integrations/stripe_link/spend_request.md
Due: isort, prettier, pyright, tsc, pytest

fix(platform): address review findings on memory settings
  autogpt_platform/backend/backend/api/features/memory/routes.py
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/EraseMemoryCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/MemoryChatPanel/useMemoryChatPanel.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/RecentMemoriesCard.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/ScopeSelect.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/memory/useMemoryPage.ts
Due: isort, prettier, pyright, tsc, pytest

fix(blocks): redact blocked URLs at the refusal, bound the parse, split the probe verdict
  autogpt_platform/backend/backend/blocks/stripe_link/mpp.py
  autogpt_platform/backend/backend/blocks/stripe_link/mpp_test.py
  docs/integrations/block-integrations/stripe_link/mpp.md
Due: isort, pyright, pytest

test(allquiet): stamp inside the test, not in the parametrize list
  autogpt_platform/backend/backend/blocks/allquiet/_webhook_test.py
Due: isort, pyright, pytest

fix(backend): guard the properties lookup in the discriminator default
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix(platform): honour the AutoPilot transport, and stop it crashing schemas
  autogpt_platform/backend/backend/blocks/autopilot.py
  autogpt_platform/backend/backend/blocks/autopilot_codex_test.py
  autogpt_platform/backend/backend/blocks/autopilot_migrate.py
  autogpt_platform/backend/backend/blocks/autopilot_migrate_test.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): judge credential removal against the unfiltered provider list
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/__tests__/CredentialsInput.test.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
  autogpt_platform/frontend/src/hooks/useCredentials.ts
Due: prettier, tsc

test: clean up imports, unused noqa, and dummy unpacking in unit tests
  classic/original_autogpt/tests/unit/test_spinner.py
  classic/original_autogpt/tests/unit/test_utils.py
Due: isort, pyright, pytest

docs(blocks): regenerate for the codex transport wording
  docs/integrations/block-integrations/llm.md
Due: none

docs(blocks): regenerate for the AutoPilot transport field
  docs/integrations/block-integrations/misc.md
Due: none

fix(platform): close the device-auth race, scope leaks and refresh hazards
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/router_test.py
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request.py
  autogpt_platform/backend/backend/blocks/stripe_link/spend_request_test.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/device_base.py
  autogpt_platform/backend/backend/integrations/oauth/stripe_link.py
  autogpt_platform/frontend/src/components/contextual/DeviceAuth/useDeviceAuthConnect.ts
Due: isort, prettier, pyright, tsc, pytest

test: isolate the device-auth throttle, cover the poll run-id guard
  autogpt_platform/backend/backend/api/features/integrations/router_test.py
  autogpt_platform/frontend/src/components/contextual/DeviceAuth/__tests__/useDeviceAuthConnect.test.ts
Due: isort, prettier, pyright, tsc, pytest

revert: keep the plain name when the host will not fit
  autogpt_platform/backend/backend/integrations/oauth/stripe_link.py
Due: isort, pyright, pytest

fix(allquiet): stop reading epoch millis as a basic-format ISO date
  autogpt_platform/backend/backend/blocks/allquiet/_webhook.py
  autogpt_platform/backend/backend/blocks/allquiet/_webhook_test.py
Due: isort, pyright, pytest

fix(frontend): show budgets in dollars and stop tab panels clipping run cards
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/raise-typewriter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/BudgetStep/BudgetStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/BudgetStep/BudgetStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/BudgetStep/useBudgetStep.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/KitBudget.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/SkillsStep/SkillsStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/components/CreditsMeter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/components/SpendMeter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/components/SpendMeter.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCardSkeleton.tsx
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.tsx
  autogpt_platform/frontend/src/lib/credits.ts
Due: prettier, tsc

fix(frontend): reject malformed thousands separators in budget input
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.test.ts
  autogpt_platform/frontend/src/lib/credits.ts
Due: prettier, tsc

fix(platform): keep the migration and the gate working with an optional transport
  autogpt_platform/backend/backend/blocks/autopilot_migrate.py
  autogpt_platform/backend/backend/blocks/autopilot_migrate_test.py
  autogpt_platform/frontend/src/components/renderers/InputRenderer/__tests__/CodeGenerationTransport.test.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/gateDiscriminatorOptions.ts
Due: isort, prettier, pyright, tsc, pytest

test(frontend): cover the unfiltered provider credential list
  autogpt_platform/frontend/src/hooks/__tests__/useCredentials.test.ts
Due: prettier, tsc

fix(backend/copilot): point the Teams manifest at the real legal URLs
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/manifest.json
Due: pyright, pytest

feat(backend): add the Microsoft Teams bot adapter (#14054)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/platform_linking/registry.py
  autogpt_platform/backend/backend/api/features/platform_linking/registry_test.py
  autogpt_platform/backend/backend/copilot/bot/README.md
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/__init__.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/api_client.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/api_client_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/auth.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/color.png
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/config.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/manifest.json
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/outline.png
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/text.py
  autogpt_platform/backend/backend/copilot/bot/webhook_routes.py
  autogpt_platform/backend/backend/copilot/bot/webhook_routes_test.py
  autogpt_platform/backend/backend/copilot/tools/chat_platform.py
  autogpt_platform/backend/backend/copilot/tools/chat_platform_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/(platform)/admin/bots/components/helpers.ts
Due: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

feat(platform): add MCP auth credential helpers
  autogpt_platform/frontend/src/lib/mcp-auth.ts
Due: prettier, tsc

test(platform): cover MCP auth credential helpers
  autogpt_platform/frontend/src/lib/mcp-auth.test.ts
Due: prettier, tsc

feat(platform): support Basic and Bearer MCP auth values
  autogpt_platform/backend/backend/blocks/mcp/client.py
Due: isort, pyright, pytest

feat(platform): accept Basic MCP credentials without breaking Bearer auth
  autogpt_platform/backend/backend/api/features/mcp/routes.py
Due: isort, pyright, pytest

test(platform): cover Basic MCP auth and header validation
  autogpt_platform/backend/backend/blocks/mcp/test_auth_schemes.py
Due: isort, pyright, pytest
