Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(backend): Make scheduler DB connection pool configurable & prevent connection overflow (#9149)
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(platform): Fields with default value are not set to advanced by default (#9128)
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/test/data/test_graph.py
Due: isort, pyright, pytest

Fix top-up credit amounts
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
Due: isort, pyright, pytest

ghrs: snap 12-31-2302-6876 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-31_230231_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-31_230231_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-31_230231_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 12-31-2302-6876 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 12-31-2302-6876 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-12-31_230231_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 12-31-2302-6876 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Integration with aiml api
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  classic/forge/forge/llm/providers/aiml.py
  classic/forge/forge/llm/providers/multi.py
  classic/forge/forge/llm/providers/schema.py
  docs/content/classic/configuration/options.md
  docs/content/classic/setup/index.md
  docs/content/index.md
Due: isort, pyright, pytest

Move top-up UI to `/store/credits`
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/layout.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Due: isort, pyright, pytest

Hide Credits tab conditionally
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
Due: none

Success and cancel topup message
  autogpt_platform/frontend/src/app/store/(user)/credits/page.tsx
Due: none

Address feedback
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/frontend/src/app/store/(user)/credits/page.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: isort, pyright, pytest

ghrs: snap 01-01-2302-22A8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-01-01_230229_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-01-01_230229_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-01-01_230229_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 01-01-2302-22A8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 01-01-2302-22A8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-01-01_230229_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 01-01-2302-22A8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Update credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Due: none

fix linting
  autogpt_platform/backend/backend/blocks/twitter/_auth.py
  autogpt_platform/backend/backend/blocks/twitter/_builders.py
  autogpt_platform/backend/backend/blocks/twitter/_mappers.py
  autogpt_platform/backend/backend/blocks/twitter/_serializer.py
  autogpt_platform/backend/backend/blocks/twitter/_types.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_follows.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_members.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_tweets_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/manage_lists.py
  autogpt_platform/backend/backend/blocks/twitter/lists/pinned_lists.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/search_spaces.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/tweepy_exceptions.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/bookmark.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/hide.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/like.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/manage.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/quote.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/retweet.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/timeline.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/tweet_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/users/blocks.py
  autogpt_platform/backend/backend/blocks/twitter/users/follows.py
  autogpt_platform/backend/backend/blocks/twitter/users/mutes.py
  autogpt_platform/backend/backend/blocks/twitter/users/user_lookup.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

initial changes
  autogpt_platform/backend/backend/blocks/twitter/_auth.py
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix multiselect
  autogpt_platform/backend/backend/blocks/twitter/_types.py
Due: isort, pyright, pytest

Update pyproject.toml
  autogpt_platform/backend/pyproject.toml
Due: none

fix: formatting
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  autogpt_platform/backend/backend/blocks/twitter/_auth.py
  autogpt_platform/backend/backend/blocks/twitter/_builders.py
  autogpt_platform/backend/backend/blocks/twitter/_types.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_tweets_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/bookmark.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/like.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/manage.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/quote.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/timeline.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/tweet_lookup.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/yarn.lock
Due: isort, pyright, pytest

refactor: Enhance Supabase integration and Twitter OAuth handling
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/twitter/_types.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_members.py
  autogpt_platform/backend/backend/blocks/twitter/lists/manage_lists.py
  autogpt_platform/backend/backend/blocks/twitter/lists/pinned_lists.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/manage.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/quote.py
  autogpt_platform/backend/backend/blocks/twitter/users/user_lookup.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, pyright, pytest

fix multiselect
  autogpt_platform/backend/backend/blocks/twitter/_builders.py
  autogpt_platform/backend/backend/blocks/twitter/_mappers.py
  autogpt_platform/backend/backend/blocks/twitter/_types.py
  autogpt_platform/backend/backend/blocks/twitter/direct_message/direct_message_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/direct_message/manage_direct_message.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_follows.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_members.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_tweets_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/pinned_lists.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/search_spaces.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/bookmark.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/like.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/manage.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/quote.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/retweet.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/timeline.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/tweet_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/users/blocks.py
  autogpt_platform/backend/backend/blocks/twitter/users/follows.py
  autogpt_platform/backend/backend/blocks/twitter/users/mutes.py
  autogpt_platform/backend/backend/blocks/twitter/users/user_lookup.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/yarn.lock
Due: isort, pyright, pytest

fix:oauth2
  autogpt_platform/backend/backend/data/model.py
Due: isort, pyright, pytest

Discard changes to autogpt_platform/frontend/yarn.lock
  autogpt_platform/frontend/yarn.lock
Due: none

Update credentials-provider.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
Due: none

fix: test
  autogpt_platform/backend/backend/blocks/twitter/lists/list_follows.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_members.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_tweets_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/manage_lists.py
  autogpt_platform/backend/backend/blocks/twitter/lists/pinned_lists.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/search_spaces.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/bookmark.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/hide.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/like.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/manage.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/quote.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/retweet.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/timeline.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/tweet_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/users/blocks.py
  autogpt_platform/backend/backend/blocks/twitter/users/follows.py
  autogpt_platform/backend/backend/blocks/twitter/users/mutes.py
  autogpt_platform/backend/backend/blocks/twitter/users/user_lookup.py
Due: isort, pyright, pytest

fix: project problems
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix: only add tweepy (and down bumb related :()
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix: linting came back with a vengence
  autogpt_platform/frontend/src/components/flow.css
Due: none

fix: credentials issues
  autogpt_platform/backend/backend/blocks/twitter/_auth.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/integrations/providers.py
Due: isort, pyright, pytest

1. add optional datetime and multi select support
  autogpt_platform/backend/backend/blocks/twitter/_types.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix yarn lock
  autogpt_platform/frontend/yarn.lock
Due: none

fix tweet blocks expansions
  autogpt_platform/frontend/yarn.lock
Due: none
