Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(backend): revert create_workspace_file UniqueViolationError handling
  autogpt_platform/backend/backend/data/workspace.py
  autogpt_platform/backend/backend/data/workspace_test.py
Due: isort, pyright, pytest

fix(platform): switch SQL block to user_password credentials to fix special char passwords
  autogpt_platform/backend/backend/blocks/sql_query_block.py
  autogpt_platform/backend/backend/blocks/sql_query_block_test.py
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/APIKeyCredentialsModal/APIKeyCredentialsModal.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/components/CredentialTypeSelector/CredentialTypeSelector.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.ts
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
  docs/integrations/README.md
  docs/integrations/block-integrations/data.md
Due: isort, prettier, pyright, tsc, pytest

feat(copilot): add copy button to user prompt messages [SECRT-2172] (#12571)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/CopyButton.tsx
Due: prettier, tsc

fix(platform): clean up Pyright warnings, fix comment-only query test, sync docs
  autogpt_platform/backend/backend/blocks/sql_query_block.py
  autogpt_platform/backend/backend/blocks/sql_query_block_test.py
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.ts
  docs/integrations/README.md
  docs/integrations/block-integrations/data.md
Due: isort, prettier, pyright, tsc, pytest

fix(backend): move placeholder_values exclusively to AgentDropdownInputBlock (#12551)
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/tools/_test_data.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/components/renderers/InputRenderer/docs/HEIRARCHY.md
  docs/integrations/block-integrations/basic.md
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): replace unrealistic CoPilot suggestion prompt (#12564)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/EmptySession/helpers.ts
Due: prettier, tsc

feat(platform): admin rate limit check and reset with LD-configurable global limits (#12566)
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes_test.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/snapshots/get_rate_limit
  autogpt_platform/backend/snapshots/reset_user_usage_daily_and_weekly
  autogpt_platform/backend/snapshots/reset_user_usage_daily_only
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitDisplay.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitManager.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): address 3 review findings in SQL query block
  autogpt_platform/backend/backend/blocks/sql_query_block.py
  autogpt_platform/backend/backend/blocks/sql_query_block_test.py
Due: isort, pyright, pytest

fix(backend): propagate dry-run mode to special blocks (Orchestrator, AgentExecutor, MCP)
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/copilot/tools/test_dry_run.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/simulator.py
Due: isort, pyright, pytest

docs: regenerate block docs after SQL query block port field change
  docs/integrations/block-integrations/data.md
Due: none

refactor(backend): address PR review - extract shared LLM retry loop, cap dry-run iterations
  autogpt_platform/backend/backend/copilot/sdk/agent_generation_guide.md
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/simulator.py
Due: isort, pyright, pytest

fix(backend): make SQL block host a SecretStr and harden error sanitization
  autogpt_platform/backend/backend/blocks/sql_query_block.py
  autogpt_platform/backend/backend/blocks/sql_query_block_test.py
Due: isort, pyright, pytest

fix(backend): address CodeQL false positive - use full URL in test assertion
  autogpt_platform/backend/backend/copilot/tools/test_dry_run.py
Due: isort, pyright, pytest

fix(platform): handle empty file in virus scanner and reduce alert noise
  autogpt_platform/backend/backend/util/virus_scanner.py
  autogpt_platform/backend/backend/util/virus_scanner_test.py
Due: isort, pyright, pytest

docs: regenerate block docs after host field type change to SecretStr
  docs/integrations/block-integrations/data.md
Due: none

fix(backend): use plain string for host in test_input to fix JSON schema validation
  autogpt_platform/backend/backend/blocks/sql_query_block.py
Due: isort, pyright, pytest

Add is_enabled flag to LlmModel
  autogpt_platform/backend/backend/server/v2/llm/model.py
Due: isort, pyright, pytest

feat(frontend/copilot): add useElapsedTimer hook and formatElapsed helper
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/formatElapsed.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/useElapsedTimer.ts
Due: prettier, tsc

feat(frontend/copilot): add elapsed timer display to ThinkingIndicator
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ThinkingIndicator.tsx
Due: prettier, tsc

feat(frontend/copilot): add "Thought for Xm Ys" to TurnStatsBar completion line
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/TurnStatsBar.tsx
Due: prettier, tsc

feat(frontend/copilot): wire elapsed timer into ChatMessagesContainer for live + frozen display
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
Due: prettier, tsc

fix(backend): address Sentry review comments on SQL query block
  autogpt_platform/backend/backend/blocks/sql_query_block.py
  autogpt_platform/backend/backend/blocks/sql_query_block_test.py
Due: isort, pyright, pytest

Add is_enabled field to OpenAPI model
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(backend): add MSSQL timeout enforcement and document read-only gap
  autogpt_platform/backend/backend/blocks/sql_query_block.py
Due: isort, pyright, pytest

feat(backend): add simulation_context for dry-run scenario hints
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/blocks/mcp/block.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/test_dry_run.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/simulator.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): persist AgentMail credentials inside the lock
  autogpt_platform/backend/backend/api/features/integrations/router.py
Due: isort, pyright, pytest

refactor(backend): address coderabbitai review - typed dry_run_passthrough, truncate MCP schema
  autogpt_platform/backend/backend/blocks/_base.py
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/simulator.py
Due: isort, pyright, pytest

fix(backend): validate simulation_context size and gate behind dry_run
  autogpt_platform/backend/backend/executor/utils.py
Due: isort, pyright, pytest

fix(backend): format library model.py to pass lint
  autogpt_platform/backend/backend/api/features/library/model.py
Due: isort, pyright, pytest

fix(backend): auto-provision AgentMail pod on credential listing
  autogpt_platform/backend/backend/api/features/integrations/router.py
Due: isort, pyright, pytest

fix(backend): name AgentMail pods as {user_id}-pod instead of default
  autogpt_platform/backend/backend/api/features/integrations/router.py
Due: isort, pyright, pytest

fix(backend): improve SQL block Input schema UX
  autogpt_platform/backend/backend/blocks/sql_query_block.py
Due: isort, pyright, pytest

fix(platform): suppress SDK client cleanup errors on SSE disconnect
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

feat(frontend): integrate rate-limit management into spending page
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminUserGrantHistory.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/RateLimitModal.tsx
Due: prettier, tsc

fix(backend): name AgentMail API keys as {user_id}-agpt-managed
  autogpt_platform/backend/backend/api/features/integrations/router.py
Due: isort, pyright, pytest

fix(backend): remove side-effectful auto-provisioning from GET /credentials
  autogpt_platform/backend/backend/api/features/integrations/router.py
Due: isort, pyright, pytest

refactor(frontend): extract shared AdminUserSearch component for admin pages
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminUserSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitManager.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/SearchAndFilterAdminSpending.tsx
Due: prettier, tsc

docs: regenerate block docs after SQL block Input schema changes
  docs/integrations/block-integrations/data.md
Due: none

feat(platform): add email-based lookup and user_email to rate limit API
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes_test.py
  autogpt_platform/backend/snapshots/get_rate_limit
  autogpt_platform/backend/snapshots/reset_user_usage_daily_and_weekly
  autogpt_platform/backend/snapshots/reset_user_usage_daily_only
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitDisplay.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitManager.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): generic auto-provisioning for managed credentials
  autogpt_platform/backend/backend/api/features/integrations/router.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
