Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(frontend): replace custom LibraryTabs with design system TabsLine
  autogpt_platform/backend/test/load_store_agents.py
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySubSection/LibrarySubSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): add useEffect cleanup for registerFavoritesTabRef
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySubSection/LibrarySubSection.tsx
Due: prettier, tsc

refactor(frontend): extract shared LibraryTab type to library/types.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySubSection/LibrarySubSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/types.ts
Due: prettier, tsc

fix(frontend): pass file metadata to PreviewButton renderer
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Due: prettier, tsc

fix(backend/copilot): address PR review comments
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/agent_search_test.py
  autogpt_platform/backend/backend/copilot/tools/find_block.py
  autogpt_platform/backend/backend/copilot/tools/find_block_test.py
  autogpt_platform/backend/backend/copilot/tools/utils.py
Due: isort, pyright, pytest

fix(backend/copilot): use canonical block.id in UUID lookup response
  autogpt_platform/backend/backend/copilot/tools/find_block.py
Due: isort, pyright, pytest

fix(frontend): use case-insensitive regex in getBlockCardByName
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Due: prettier, tsc

refactor(backend/copilot): extract _marketplace_agent_to_info helper
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
Due: isort, pyright, pytest

fix(frontend): address second round of PR review comments
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/AudioRenderer.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/VideoRenderer.tsx
Due: prettier, tsc

fix(platform): address PR review — sanitize errors, thread-safe LLM client, lazy imports
  autogpt_platform/backend/backend/api/features/workflow_import.py
  autogpt_platform/backend/backend/api/features/workflow_import_test.py
  autogpt_platform/backend/backend/copilot/workflow_import/converter.py
  autogpt_platform/backend/backend/copilot/workflow_import/models.py
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryImportWorkflowDialog/useLibraryImportWorkflowDialog.ts
Due: isort, prettier, pyright, tsc, pytest

feat(copilot): add use_openrouter flag to bypass OpenRouter proxy
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

refactor(copilot): simplify _build_sdk_env with early returns per mode
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

refactor(backend/copilot): simplify search_agents by splitting marketplace/library paths
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
Due: isort, pyright, pytest

fix(frontend): pass contentType to PreviewButton in default FileInput variant
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Due: prettier, tsc

docs: Add workspace and media file architecture documentation (#11989)
  autogpt_platform/backend/CLAUDE.md
  autogpt_platform/backend/backend/util/workspace.py
  docs/platform/workspace-media-architecture.md
Due: isort, pyright, pytest

fix(copilot): persist transient error markers and case-insensitive detection
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): use specific message for MCP tool blocks in UUID lookup
  autogpt_platform/backend/backend/copilot/tools/find_block.py
Due: isort, pyright, pytest

fix: remove dead retryable field from StreamError
  autogpt_platform/backend/backend/copilot/response_model.py
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

Fix graph search keyboard handling and cross-platform shortcuts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/GraphContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/useGraphContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/useGraphSearchShortcut.ts
Due: prettier, tsc

Improve keyboard navigation and scrolling in graph search
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/GraphContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/useGraphContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuSearchBar/useGraphMenuSearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/useNewControlPanel.ts
Due: prettier, tsc

Refactor graph search to use centralized store
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/useGraphMenu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/GraphContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/useGraphContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuSearchBar/useGraphMenuSearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/useGraphSearchShortcut.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/controlPanelStore.ts
Due: prettier, tsc

refactor: collapse duplicate return {} guards in _build_sdk_env
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix: normalize query input for case-insensitive UUID lookup and whitespace trimming
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/find_block.py
Due: isort, pyright, pytest

refactor: simplify stream error handler branching
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix: persist ResultMessage errors to session and simplify adapter
  autogpt_platform/backend/backend/copilot/sdk/response_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

refactor: use COPILOT_RETRYABLE_ERROR_PREFIX for server-driven retry
  autogpt_platform/backend/backend/copilot/constants.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(platform): replace custom LLM converter with CoPilot agent-generator
  autogpt_platform/backend/backend/api/features/workflow_import.py
  autogpt_platform/backend/backend/api/features/workflow_import_test.py
  autogpt_platform/backend/backend/copilot/workflow_import/__init__.py
  autogpt_platform/backend/backend/copilot/workflow_import/converter.py
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryImportWorkflowDialog/LibraryImportWorkflowDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryImportWorkflowDialog/useLibraryImportWorkflowDialog.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): replace legacy imports with design system components and add a11y attrs
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenuContent/GraphContent.tsx
Due: prettier, tsc

fix(backend/copilot): respect CLAUDE_CONFIG_DIR in SDK_PROJECTS_DIR constant
  autogpt_platform/backend/backend/copilot/context.py
Due: isort, pyright, pytest

fix(copilot): prevent duplicate error markers and extract shared helper
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

refactor: move is_uuid and is_creator_slug helpers to shared utils
  autogpt_platform/backend/backend/copilot/tools/agent_search.py
  autogpt_platform/backend/backend/copilot/tools/find_block.py
  autogpt_platform/backend/backend/copilot/tools/utils.py
Due: isort, pyright, pytest

feat(platform): add integration link image for agents without custom images
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/migrations/20260317000000_add_top_integrations/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedAgentCard/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
  autogpt_platform/frontend/src/components/molecules/IntegrationLinkImage/IntegrationLinkImage.tsx
  autogpt_platform/frontend/src/components/molecules/IntegrationLinkImage/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(frontend): correct Popover import path and add type annotation
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
Due: prettier, tsc

fix(frontend): rename CoPilot to AutoPilot in workflow import UI
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryImportWorkflowDialog/LibraryImportWorkflowDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryImportWorkflowDialog/useLibraryImportWorkflowDialog.ts
Due: prettier, tsc

fix: use canonical block.id in disabled block message for consistency
  autogpt_platform/backend/backend/copilot/tools/find_block.py
Due: isort, pyright, pytest

test(frontend): add integration tests for builder UI state stores and draft recovery (part-2) (#12435)
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/DraftRecoveryPopup.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/blockMenuStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/controlPanelStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/tutorialStore.test.ts
Due: prettier, tsc

fix(platform): fix image delete button on EditAgentForm (#12362)
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/components/ThumbnailImages.tsx
Due: prettier, tsc

fix(blocks): validate label params in AgentMailUpdateMessageBlock
  autogpt_platform/backend/backend/blocks/agent_mail/messages.py
Due: isort, pyright, pytest

feat(frontend): add rich media previews for Builder node outputs and file inputs (#12432)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/index.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/AudioRenderer.test.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/AudioRenderer.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/LinkRenderer.test.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/LinkRenderer.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/VideoRenderer.test.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/VideoRenderer.tsx
Due: prettier, tsc
