Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

chore: larger spinner
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Due: prettier, tsc

Revert "Update MobileWarningBanner placement and messaging"
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Due: prettier, tsc

Revert "Add mobile warning banner to login and signup pages"
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Due: prettier, tsc

style: apply lint fixes
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop_service.py
Due: isort, pyright, pytest

Add mobile warning banner to login and signup pages
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Due: prettier, tsc

style: apply lint fixes to manager.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix(backend): optimize execution queue and fix API route conflicts
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
Due: isort, pyright, pytest

feat(frontend): Add maxLength validation to HITL review message textarea
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
Due: prettier, tsc

fix(frontend): Include WAITING_FOR_REVIEW in active status for ActivityItem
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
Due: prettier, tsc

fix(backend): Improve HITL block execution status handling
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(backend): Use Literal type for HITL block status field
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Due: isort, pyright, pytest

chore: review suggestions
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Due: prettier, tsc

chore: suggestions
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
Due: prettier, tsc

refactor(backend): Move HITL database operations to data layer
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop_service.py
  autogpt_platform/backend/backend/data/human_review.py
Due: isort, pyright, pytest

fix(frontend): post login/signup/onboarding redirect clash (#11382)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Due: prettier, tsc

feat(backend): Add status transition validation and improve architecture
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

remove init
  autogpt_platform/backend/backend/server/v2/executions/__init__.py
  autogpt_platform/backend/backend/server/v2/executions/review/__init__.py
Due: isort, pyright, pytest

refactor(backend): Improve Human In The Loop block architecture and database patterns
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop_service.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/executor/database.py
Due: isort, pyright, pytest

refactor(backend/executor): Simplify node status update using batch pattern
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

refactor(backend/data): Inline wrapper methods in human_review.py
  autogpt_platform/backend/backend/data/human_review.py
Due: isort, pyright, pytest

fix(frontend): redirects improvements...
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Due: prettier, tsc

fix(frontend): onboarding fixes... (2)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
Due: prettier, tsc

fix(frontend): simplify login redirect
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Due: prettier, tsc

remove duplicated environment import
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Due: prettier, tsc

fix(frontend): improve UX for expired or duplicate password reset links
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/api/auth/callback/reset-password/route.ts
  autogpt_platform/frontend/src/components/auth/ExpiredLinkMessage.tsx
Due: prettier, tsc

ghrs: snap 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-14_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-14_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

refactor(backend): Major cleanup of human_review.py and execution.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
Due: isort, pyright, pytest

cleanuo
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

refactor(backend): Replace chaotic union type with structured PendingReviewData in API
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): Clean up review model with proper from_db pattern
  autogpt_platform/backend/backend/data/human_review.py
Due: isort, pyright, pytest

style(backend): Apply code formatting to review models
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Due: isort, pyright, pytest

refactor(backend): Restructure human review data model to eliminate confusing nested structure
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

refactor(backend): Improve consistency and remove unnecessary complexity
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

refactor(backend): Inline single-use functions
  autogpt_platform/backend/backend/data/human_review.py
Due: isort, pyright, pytest

refactor(backend): Optimize HITL system with improved database patterns
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

cleanuo
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

ghrs: snap 11-15-2302-CA78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-15_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none
