Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fixed the rest of type errors
  autogpt_platform/frontend/src/components/chat/AuthPromptWidget.tsx
  autogpt_platform/frontend/src/components/chat/ChatInput.tsx
  autogpt_platform/frontend/src/hooks/useChatSession.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/chat.ts
Due: prettier, tsc

fix(builder): Unhide "Add to Dictionary" block's `dictionary` input
  autogpt_platform/backend/backend/blocks/data_manipulation.py
Due: isort, pyright, pytest

fix(blocks): Unhide "Add to Dictionary" block's `dictionary` input (#11175)
  autogpt_platform/backend/backend/blocks/data_manipulation.py
Due: isort, pyright, pytest

chore: wip
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/types.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/services/scripts/scripts.tsx
Due: prettier, tsc

setup websocket handlers on new builder
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

docs(frontend): share romantic gallery link
  classic/frontend/README.md
Due: none

docs(frontend): explain vscode build flow
  classic/frontend/README.md
Due: none

fix(backend/util): comprehensive SafeJson sanitization to prevent PostgreSQL null character errors (#11174)
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Due: isort, pyright, pytest

fix poetry run format errors
  autogpt_platform/backend/backend/executor/scheduler.py
Due: isort, pyright, pytest

ghrs: snap 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-15_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-15_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(backend/store): improve store exception hierarchy for proper HTTP status codes
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
Due: isort, pyright, pytest

fix(backend/store): improve store exception hierarchy for proper HTTP status codes (#11176)
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
Due: isort, pyright, pytest

fix(backend): move DatabaseError to backend.util.exceptions for better layer separation
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

fix(backend): update all DatabaseError imports to use new location
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/store/db.py
Due: isort, pyright, pytest

fix circular import
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

Reorder CLAUDE_4_5_SONNET entry in MODEL_COST dict
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

add full text search
  autogpt_platform/backend/backend/data/partial_types.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend): move DatabaseError to backend.util.exceptions for better layer separation (#11177)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

update docker file to include partial types
  autogpt_platform/backend/Dockerfile
Due: none

include parital types in second place
  autogpt_platform/backend/Dockerfile
Due: none

feat(platform/backend): Add Claude Haiku 4.5 model support (#11179)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

ai sucks - fixing
  autogpt_platform/backend/Dockerfile
Due: none

updated migration and query
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
Due: isort, pyright, pytest

update existing rows when migration is ran
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
