Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(copilot): invalidate null cache on credential creation
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Due: isort, pyright, pytest

fix(copilot): render error state in ConnectIntegrationTool
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/ConnectIntegrationTool/ConnectIntegrationTool.tsx
Due: prettier, tsc

dx(platform): add file and function length limits to code style guidelines
  autogpt_platform/backend/CLAUDE.md
  autogpt_platform/frontend/CLAUDE.md
Due: prettier, tsc

fix(copilot): warn on stale OAuth token fallback, document per-process cache
  autogpt_platform/backend/backend/copilot/integration_creds.py
Due: isort, pyright, pytest

fix(copilot): bust token cache on update/delete, tighten except clause
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Due: isort, pyright, pytest

refactor(copilot): DRY cache-bust helper, fast eviction test, unified JSON parse
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/ConnectIntegrationTool/ConnectIntegrationTool.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor(copilot): simplify cache with cachetools.TTLCache, fix prompt wording
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

refactor(copilot): strongly type _PROVIDER_INFO with TypedDict
  autogpt_platform/backend/backend/copilot/tools/connect_integration.py
Due: isort, pyright, pytest

fix(copilot): address review comments — should-fix + nice-to-have items
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/feature_requests.py
  autogpt_platform/backend/backend/copilot/tools/get_agent_building_guide.py
  autogpt_platform/backend/backend/copilot/tools/run_block.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
Due: isort, pyright, pytest

fix(store): address review nits in test file and embeddings.py
  autogpt_platform/backend/backend/api/features/store/content_handlers_test.py
  autogpt_platform/backend/backend/api/features/store/embeddings.py
Due: isort, pyright, pytest

fix(copilot): add max(0,...) guards to persist_and_record_usage inputs
  autogpt_platform/backend/backend/copilot/token_tracking.py
Due: isort, pyright, pytest

fix(copilot): address review items — top-level import, path sanitization, E2B_WORKDIR constant, st_mtime comment, no-fallback test
  autogpt_platform/backend/backend/copilot/sdk/e2b_file_tools_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/transcript.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
Due: isort, pyright, pytest

fix(copilot): replace assert with RuntimeError guard for transport init check
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(copilot): remove redundant limit check from rate-limit outer guard in routes
  autogpt_platform/backend/backend/api/features/chat/routes.py
Due: isort, pyright, pytest

fix(copilot): wrap write_transcript_to_tempfile with asyncio.to_thread
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(frontend/copilot): parse JSON error body for structured 429 detection in useCopilotStream
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: prettier, tsc

fix(backend): address all remaining PR review items
  autogpt_platform/backend/backend/copilot/sdk/__init__.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_test.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/file_content_parser.py
Due: isort, pyright, pytest

refactor(frontend/copilot): extract UsagePanelContent to own file; accept optional now param in formatResetTime
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsageLimits.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsagePanelContent.tsx
Due: prettier, tsc

fix(copilot): use AsyncIterator for _run_stream_attempt and stream_chat_completion_sdk
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(copilot): address remaining review findings
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec_test.py
  autogpt_platform/backend/backend/copilot/tools/connect_integration.py
  autogpt_platform/backend/backend/copilot/tools/connect_integration_test.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/ConnectIntegrationTool/ConnectIntegrationTool.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): remove unused transcript_factory pytest fixture from conftest
  autogpt_platform/backend/backend/copilot/sdk/conftest.py
Due: isort, pyright, pytest

fix(backend): remove dead-code get_credits/spend_credits wrappers and credit_db adapter
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/db_accessors.py
Due: isort, pyright, pytest

fix(copilot): guard against base64 data in _flatten_tool_result_content
  autogpt_platform/backend/backend/copilot/sdk/transcript.py
Due: isort, pyright, pytest

fix(copilot): add comment explaining why seen_parents is local per-entry in strip_progress_entries
  autogpt_platform/backend/backend/copilot/sdk/transcript.py
Due: isort, pyright, pytest

fix(copilot): patch mock at service module level after top-level import refactor
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(copilot): replace simulated retry logic in test scenarios 4-7 with _reduce_context calls
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
Due: isort, pyright, pytest

ghrs: snap 03-15-2306-A954 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-15_230638_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-15_230638_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-15_230638_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 03-15-2306-A954 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 03-15-2306-A954 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-15_230638_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 03-15-2306-A954 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(copilot): patch _manager singleton directly in tests instead of class constructor
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
Due: isort, pyright, pytest

refactor(backend): remove GPT-3.5 and legacy Chat Completions fallback
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/util/openai_responses.py
  autogpt_platform/backend/backend/util/openai_responses_test.py
Due: isort, pyright, pytest

fix(frontend): AutoPilot notification follow-ups — branding, UX, persistence, and cross-tab sync
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/NotificationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationDialog/NotificationDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotNotifications.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/AgentActivityDropdown.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

docs(blocks): regenerate LLM block docs after GPT-3.5 removal
  docs/integrations/block-integrations/llm.md
Due: none

fix(frontend): address review — validate parsed sessions, simplify notification
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotNotifications.ts
Due: prettier, tsc

fix(backend): add user_id filter to get_chat_messages_paginated
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/db_test.py
Due: isort, pyright, pytest

fix(backend): fix Black formatting for tools_param assignment
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

fix(frontend): add Array.isArray guard to cross-tab storage handler
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotNotifications.ts
Due: prettier, tsc

fix(autogpt-platform): Show agent name + version on Agent Executor block (#11041)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/BlocksControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Due: prettier, tsc

dx(.claude): require 🤖 prefix and criticality badge on all pr-review comments
  .claude/skills/pr-review/SKILL.md
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
