Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(backend/copilot): hide every forgotten fact's source text and keep audit references on hard forgets
  autogpt_platform/backend/backend/api/features/memory/routes.py
  autogpt_platform/backend/backend/api/features/memory/routes_test.py
  autogpt_platform/backend/backend/copilot/dream/fetch.py
  autogpt_platform/backend/backend/copilot/dream/fetch_test.py
  autogpt_platform/backend/backend/copilot/dream/hidden_sessions.py
  autogpt_platform/backend/backend/copilot/dream/hidden_sessions_test.py
  autogpt_platform/backend/backend/copilot/dream/ratification.py
  autogpt_platform/backend/backend/copilot/dream/ratification_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/conftest.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_recall_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_recall_test.py
  autogpt_platform/backend/backend/copilot/graphiti/memory_model.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_fixtures.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_orphans.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_render.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_render_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend/copilot): durable per-scope schedule registry for dream and community jobs with lifecycle hooks and backfill
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/memory_schedule_hooks_test.py
  autogpt_platform/backend/backend/api/features/experts/scheduling.py
  autogpt_platform/backend/backend/api/features/experts/scheduling_test.py
  autogpt_platform/backend/backend/copilot/dream/nightly_batch.py
  autogpt_platform/backend/backend/copilot/dream/nightly_batch_test.py
  autogpt_platform/backend/backend/copilot/dream/registry.py
  autogpt_platform/backend/backend/copilot/dream/registry_backfill.py
  autogpt_platform/backend/backend/copilot/dream/registry_backfill_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_test.py
  autogpt_platform/backend/backend/copilot/dream/scheduling.py
  autogpt_platform/backend/backend/copilot/dream/scheduling_test.py
  autogpt_platform/backend/backend/copilot/dream/scope_jobs.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/dream_ratification_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/graphs.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_test.py
  autogpt_platform/backend/backend/copilot/graphiti/scope.py
  autogpt_platform/backend/backend/copilot/graphiti/scope_test.py
  autogpt_platform/backend/backend/data/db_accessors.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/data/memory_schedule.py
  autogpt_platform/backend/backend/data/memory_schedule_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/migrations/20260926090000_add_memory_scope_schedule/migration.sql
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

feat(platform): add official PayPal MCP Server to MCP catalog
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
Due: pyright, pytest

fix(platform): add missing PayPal provider logo for MCP catalog entry
  autogpt_platform/frontend/public/integrations/paypal.png
Due: prettier, tsc

fix(backend): correct deepseek/deepseek-v4.1-flash pricing drift in catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
Due: isort, pyright, pytest

fix(backend/copilot): record the tokens of a dream phase whose answer did not parse
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
Due: isort, pyright, pytest

feat(backend/copilot): durable DreamPass record written from the sync and batch dream paths
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_submit.py
  autogpt_platform/backend/backend/copilot/dream/conftest.py
  autogpt_platform/backend/backend/copilot/dream/input_bundle.py
  autogpt_platform/backend/backend/copilot/dream/nightly_batch.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/store.py
  autogpt_platform/backend/backend/copilot/dream/store_test.py
  autogpt_platform/backend/backend/copilot/dream/usage.py
  autogpt_platform/backend/backend/copilot/dream/usage_test.py
  autogpt_platform/backend/backend/data/db_accessors.py
  autogpt_platform/backend/backend/data/db_accessors_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/data/dream_pass.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/migrations/20260926180000_add_dream_pass/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend/copilot): make a forget survive dream writes, hard deletes, re-teaching and graphiti's own prompts
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes_test.py
  autogpt_platform/backend/backend/api/features/memory/routes.py
  autogpt_platform/backend/backend/api/features/memory/routes_test.py
  autogpt_platform/backend/backend/copilot/dream/fetch_test.py
  autogpt_platform/backend/backend/copilot/dream/hidden_sessions.py
  autogpt_platform/backend/backend/copilot/dream/hidden_sessions_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_recall_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_recall_test.py
  autogpt_platform/backend/backend/copilot/graphiti/memory_model.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_dream_writers_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_episodes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hard_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hide.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hide_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_fixtures.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_orphans.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_orphans_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): bound registry calls, make scope claims atomic and keep a late hire from resuming a paused scope
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/memory_schedule_hooks_test.py
  autogpt_platform/backend/backend/api/features/experts/scheduling.py
  autogpt_platform/backend/backend/copilot/dream/deadline.py
  autogpt_platform/backend/backend/copilot/dream/registry.py
  autogpt_platform/backend/backend/copilot/dream/registry_backfill.py
  autogpt_platform/backend/backend/copilot/dream/registry_backfill_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_deadline_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_fakes_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_lifecycle_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_test.py
  autogpt_platform/backend/backend/copilot/dream/scheduling.py
  autogpt_platform/backend/backend/copilot/dream/scheduling_test.py
  autogpt_platform/backend/backend/copilot/dream/scope_crons.py
  autogpt_platform/backend/backend/copilot/dream/scope_crons_test.py
  autogpt_platform/backend/backend/copilot/dream/scope_jobs.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_test.py
  autogpt_platform/backend/backend/data/memory_schedule.py
  autogpt_platform/backend/backend/data/memory_schedule_db_test.py
  autogpt_platform/backend/backend/data/memory_schedule_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

fix(backend/copilot): bound DreamPass writes, make its transitions monotonic and atomic, and record every failure with its usage
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_costs.py
  autogpt_platform/backend/backend/copilot/dream/batch_handoff.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/batch_state.py
  autogpt_platform/backend/backend/copilot/dream/clamp.py
  autogpt_platform/backend/backend/copilot/dream/conftest.py
  autogpt_platform/backend/backend/copilot/dream/dedup.py
  autogpt_platform/backend/backend/copilot/dream/nightly_batch.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/pass_run.py
  autogpt_platform/backend/backend/copilot/dream/store.py
  autogpt_platform/backend/backend/copilot/dream/store_deadline_test.py
  autogpt_platform/backend/backend/copilot/dream/store_test.py
  autogpt_platform/backend/backend/data/db_accessors.py
  autogpt_platform/backend/backend/data/db_accessors_test.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/data/dream_pass.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/backend/backend/data/dream_pass_update.py
  autogpt_platform/backend/backend/data/dream_pass_update_test.py
  autogpt_platform/backend/migrations/20260926180000_add_dream_pass/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend/copilot): keep the registry deadline whole, scope timeout cancellation to the memory gate, and never demote a wiped scope
  autogpt_platform/backend/backend/copilot/dream/deadline.py
  autogpt_platform/backend/backend/copilot/dream/registry.py
  autogpt_platform/backend/backend/copilot/dream/registry_deadline_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_fakes_test.py
  autogpt_platform/backend/backend/copilot/dream/registry_lifecycle_test.py
  autogpt_platform/backend/backend/copilot/dream/scheduling.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/data/memory_schedule.py
  autogpt_platform/backend/backend/data/memory_schedule_db_test.py
  autogpt_platform/backend/backend/data/memory_schedule_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_run_async_test.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

fix(backend/copilot): never lose a billed phase's usage to an accounting or Redis failure
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_costs.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/batch_state.py
  autogpt_platform/backend/backend/copilot/dream/billing.py
  autogpt_platform/backend/backend/copilot/dream/billing_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/store.py
  autogpt_platform/backend/backend/copilot/dream/store_test.py
Due: isort, pyright, pytest

docs(backend/copilot): describe the registry markers as diagnostic and WIPED as terminal for the registry
  autogpt_platform/backend/backend/copilot/dream/scheduling_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

docs(backend/copilot): say the batch cost gate bounds accounting attempts, not charges
  autogpt_platform/backend/backend/copilot/dream/batch_costs.py
  autogpt_platform/backend/backend/copilot/dream/batch_state.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
Due: isort, pyright, pytest

ci(backend/copilot): regenerate the OpenAPI snapshot for the nightly result's expert id
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(backend/copilot): keep a forget through an in-flight ingestion and out of graphiti's attribute prompts
  autogpt_platform/backend/backend/copilot/dream/fetch.py
  autogpt_platform/backend/backend/copilot/dream/fetch_test.py
  autogpt_platform/backend/backend/copilot/dream/ratification.py
  autogpt_platform/backend/backend/copilot/dream/ratification_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/conftest.py
  autogpt_platform/backend/backend/copilot/graphiti/dream_ratification_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/graphiti_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_recall_test.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_fake_redis.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_forget_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hard_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hide.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_hide_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_inflight_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest_plan.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest_plan_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_fixtures.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_orphans.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_orphans_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_repair_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_restate.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_restate_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_restore.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_restore_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_scrub_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stash.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stash_test.py
  autogpt_platform/backend/backend/copilot/graphiti/scope.py
  autogpt_platform/backend/backend/copilot/graphiti/scope_test.py
  autogpt_platform/backend/backend/copilot/graphiti/types.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
Due: isort, pyright, pytest

feat(backend/copilot): one guard against overlapping dream passes and a stop path built on the DreamPass record
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/cancel.py
  autogpt_platform/backend/backend/copilot/dream/cancel_test.py
  autogpt_platform/backend/backend/copilot/dream/conftest.py
  autogpt_platform/backend/backend/copilot/dream/guard.py
  autogpt_platform/backend/backend/copilot/dream/guard_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_stop_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/pass_run.py
  autogpt_platform/backend/backend/copilot/dream/provider_batch.py
  autogpt_platform/backend/backend/copilot/dream/provider_batch_test.py
  autogpt_platform/backend/backend/copilot/dream/store.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/data/dream_pass.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_stop_test.py
  autogpt_platform/backend/backend/data/dream_pass_update.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

test(frontend/copilot): cover the spend card's $0 chat ceiling
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/fixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/__tests__/spendCard.test.tsx
Due: prettier, tsc

test(backend/store): refuse to run the catalog tests against a database that holds listings
  autogpt_platform/backend/backend/api/features/store/skill_catalog_test.py
Due: isort, pyright, pytest

test(backend/store): state the catalog-test guard as an assert
  autogpt_platform/backend/backend/api/features/store/skill_catalog_test.py
Due: isort, pyright, pytest

ci(platform): default a manual dev deploy to the dev branch, not master
  .github/workflows/platform-autogpt-deploy-dev.yaml
Due: none

fix(backend): check add/remove contradictions with the key removals use
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/data/skill_capacity.py
Due: isort, pyright, pytest

fix(backend/copilot): fence the apply gate on lock ownership, stop before the first batch submit, and bound the guard
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/apply_fence_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_handoff.py
  autogpt_platform/backend/backend/copilot/dream/batch_handoff_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/cancel.py
  autogpt_platform/backend/backend/copilot/dream/cancel_test.py
  autogpt_platform/backend/backend/copilot/dream/conftest.py
  autogpt_platform/backend/backend/copilot/dream/guard.py
  autogpt_platform/backend/backend/copilot/dream/guard_test.py
  autogpt_platform/backend/backend/copilot/dream/job_status.py
  autogpt_platform/backend/backend/copilot/dream/job_status_test.py
  autogpt_platform/backend/backend/copilot/dream/locks.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/store.py
  autogpt_platform/backend/backend/data/dream_pass.py
  autogpt_platform/backend/backend/data/dream_pass_stop_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

ci(repo): stop an out-of-quota Copilot review from blocking every merge
  .github/workflows/scripts/check_actions_status.py
  .github/workflows/scripts/test_check_actions_status.py
Due: none

fix(backend/copilot): revalidate dream writes and in-flight reads against forgets, and fail the dedup guard closed
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_citations_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_citations.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_citations_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_dream_citations_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_episodes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_inflight_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_inflight_read_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_ingest_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_recheck.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_recheck_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_reteach_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): refuse a marketplace listing that resolves to a removed name
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
Due: isort, pyright, pytest

test(backend): stop pinning the catalog's expert skill lists in backend tests
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

dx(skills): add Paper design skills for the AutoGPT Design System
  .claude/skills/paper-design-task/PROMPT-delegate-ui.md
  .claude/skills/paper-design-task/SKILL.md
  .claude/skills/paper-designer/SKILL.md
  .claude/skills/paper-designer/reference/DESIGN.md
  .claude/skills/paper-designer/scripts/assets.json
  .claude/skills/paper-designer/scripts/delegate-lib.mjs
  .claude/skills/paper-designer/scripts/example-delegate-screens.mjs
  .claude/skills/paper-designer/scripts/export-design-tokens.ts
  .claude/skills/paper-designer/scripts/paper-import.mjs
  .claude/skills/paper-designer/scripts/preview.mjs
  .claude/skills/paper-designer/scripts/serialize-lib.mjs
  .claude/skills/paper-designer/scripts/serialize-open-states.mjs
  .claude/skills/paper-designer/scripts/serialize-pages.mjs
  .claude/skills/paper-designer/scripts/serialize-stories.mjs
  .claude/skills/paper-designer/scripts/tokens.json
Due: none

dx(skills): extend the delegation Paper generator with panel-answer, multi-expert and mobile screens
  .claude/skills/paper-designer/scripts/example-delegate-screens.mjs
Due: none

ci(repo): stop an out-of-quota Copilot review from blocking every merge (#14965)
  .github/workflows/scripts/check_actions_status.py
  .github/workflows/scripts/test_check_actions_status.py
Due: none

ci(platform): default a manual dev deploy to the dev branch, not master (#14964)
  .github/workflows/platform-autogpt-deploy-dev.yaml
Due: none

test(backend): stop pinning the catalog's expert skill lists in backend tests (#14966)
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

fix(rate-limit): align window boundaries and key on the user
  autogpt_platform/backend/backend/api/external/rate_limit.py
  autogpt_platform/backend/backend/api/external/rate_limit_test.py
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/api/external/v1/tools.py
Due: isort, pyright, pytest

style: satisfy isort/black and give integration writes the execution tier
  autogpt_platform/backend/backend/api/external/rate_limit_test.py
  autogpt_platform/backend/backend/api/external/v1/integrations.py
  autogpt_platform/backend/backend/api/external/v1/routes.py
Due: isort, pyright, pytest

fix(backend/experts): return 400 for attach-and-remove, dedupe skill lists by skill key
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend/experts): reject attach-and-remove before copying any skill
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

refactor(platform): put the single-container image's code layers last
  .github/scripts/single_container_cache.py
  autogpt_platform/backend/Dockerfile
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/docker-bake.hcl
  autogpt_platform/single-container/tests/test_ci_registry_cache.py
  autogpt_platform/single-container/tests/test_dockerfile_layers.py
Due: none

feat(platform): add OpenSEO MCP to the integration catalog
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
  autogpt_platform/backend/backend/integrations/mcp_catalog_test.py
  autogpt_platform/frontend/public/integrations/README.md
  autogpt_platform/frontend/public/integrations/openseo.png
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): never hand off a batch pass whose row refused its submit
  autogpt_platform/backend/backend/copilot/dream/batch_handoff.py
  autogpt_platform/backend/backend/copilot/dream/batch_handoff_test.py
  autogpt_platform/backend/backend/copilot/dream/cancel.py
  autogpt_platform/backend/backend/copilot/dream/store.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
