Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: report 05-22-2323-1D4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(backend/copilot): tighten chat-share disable/link cascade race window
  autogpt_platform/backend/backend/copilot/sharing/db.py
  autogpt_platform/backend/backend/copilot/sharing/db_test.py
Due: isort, pyright, pytest

test(backend/copilot): cover _apply_skills_cache_breakpoint identity contract
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

fix(frontend): humanize cron weekday/month ranges instead of Unknown(NaN)
  autogpt_platform/frontend/src/lib/cron-expression-utils.test.ts
  autogpt_platform/frontend/src/lib/cron-expression-utils.ts
Due: prettier, tsc

test: PR #13190 UX deep-dive screenshots
  test-screenshots/PR-13190/01-login-page.png
  test-screenshots/PR-13190/02-skills-empty-initial.png
  test-screenshots/PR-13190/03-skills-after-store-skill.png
  test-screenshots/PR-13190/04-delete-dialog-open.png
  test-screenshots/PR-13190/05-delete-cancelled-still-listed.png
  test-screenshots/PR-13190/06-skills-empty-after-delete.png
  test-screenshots/PR-13190/07-followups-page-empty.png
  test-screenshots/PR-13190/14-followups-empty-state.png
  test-screenshots/PR-13190/15-copilot-fresh-session.png
  test-screenshots/PR-13190/16-copilot-one-shot-scheduled.png
  test-screenshots/PR-13190/17-followups-one-shot-row.png
  test-screenshots/PR-13190/19-followups-with-recurring.png
  test-screenshots/PR-13190/22-followups-empty-after-cancel.png
  test-screenshots/PR-13190/23-followups-before-delete.png
  test-screenshots/PR-13190/26-followups-empty-after-ui-delete.png
  test-screenshots/PR-13190/27-followups-timezone-check.png
Due: none

test: PR #13190 add remaining UX screenshots
  test-screenshots/PR-13190/18-copilot-recurring-scheduled.png
  test-screenshots/PR-13190/20-copilot-whats-scheduled.png
  test-screenshots/PR-13190/21-copilot-cancel-via-nl.png
  test-screenshots/PR-13190/24-delete-dialog-open.png
Due: none

dx(skills): stop publishing dev test creds in /pr-test SKILL.md
  .claude/skills/pr-test/SKILL.md
Due: none

fix(frontend/library): surface follow-up next-run time + tz; align empty-state copy
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/EmptyFollowups/EmptyFollowups.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/useFollowupListItem.ts
Due: prettier, tsc

dx(skills): address CodeRabbit nits — interactive prompt before guards + capture retry result
  .claude/skills/pr-test/SKILL.md
Due: none

feat(backend/copilot): view dialogs + briefing pills + cache-fast skills index
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/FollowupListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/useFollowupListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/useSkillListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): address PR #13200 review
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/useSkillListItem.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

dx(skills): prompt only for the missing PR_TEST_USER_* var
  .claude/skills/pr-test/SKILL.md
Due: none

fix(backend/copilot): more PR #13200 review feedback
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/src/tests/integrations/setup-nextjs-mocks.tsx
Due: isort, prettier, pyright, tsc, pytest

test(frontend): cover new readEnvOverride switch + COPILOT_SKILLS_FOLLOWUPS flag
  autogpt_platform/frontend/src/services/feature-flags/__tests__/envFlagOverride.test.ts
Due: prettier, tsc

fix(backend/copilot): more PR #13200 review
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/frontend/src/services/feature-flags/__tests__/envFlagOverride.test.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: isort, prettier, pyright, tsc, pytest

fix(orchestrator): merge credential masks into tool node inputs
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/test/blocks/test_orchestrator_credential_masks.py
Due: isort, pyright, pytest

test screenshots for PR #13200 (local /pr-test run)
  test-results/PR-13200-local/00-signup.png
  test-results/PR-13200-local/01-login-copilot.png
  test-results/PR-13200-local/02-skills-page.png
  test-results/PR-13200-local/06-view-dialog.png
  test-results/PR-13200-local/07-followups-page.png
  test-results/PR-13200-local/08-briefing.png
  test-results/PR-13200-local/09a-skills-from-briefing.png
  test-results/PR-13200-local/09b-followups-from-briefing.png
Due: none

fix(platform): address blockers + should-fixes from majdyz review
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/sharing/db.py
  autogpt_platform/backend/backend/copilot/sharing/db_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/data/shared_execution_file_test.py
  autogpt_platform/backend/backend/data/sharing/workspace_refs.py
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/chat/[token]/useSharedChatPage.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend): drop COPILOT_SKILLS_FOLLOWUPS flag — rely on AGENT_BRIEFING
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/page.tsx
  autogpt_platform/frontend/src/services/feature-flags/__tests__/envFlagOverride.test.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(backend/copilot): live re-scan on shared-chat file download authorisation
  autogpt_platform/backend/backend/copilot/sharing/db.py
Due: isort, pyright, pytest

feat(backend/copilot): null session_id sentinel — schedule into a fresh chat
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/FollowupListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/library): null-guard session_id in followup view dialog
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/FollowupListItem.tsx
Due: prettier, tsc

fix(frontend): add 'Back to Library' link on /library/skills + /library/followups
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/page.tsx
Due: prettier, tsc

fix(backend/executor): translate cron day-of-week from Unix to APScheduler numbering
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
Due: isort, pyright, pytest

functional test screenshots for PR #13200 dev /pr-test run
  test-results/PR-13200-dev-functional/01-login.png
  test-results/PR-13200-dev-functional/02-copilot-page.png
  test-results/PR-13200-dev-functional/03-baseline-reply.png
  test-results/PR-13200-dev-functional/04-list-skills-empty.png
  test-results/PR-13200-dev-functional/05-store-skill-greeting.png
  test-results/PR-13200-dev-functional/06-store-skill-weather.png
  test-results/PR-13200-dev-functional/07-library-skills-list.png
  test-results/PR-13200-dev-functional/08-view-skill-dialog.png
  test-results/PR-13200-dev-functional/09-read-skill-tool.png
  test-results/PR-13200-dev-functional/10-store-followup.png
  test-results/PR-13200-dev-functional/11-library-followups-list.png
  test-results/PR-13200-dev-functional/12-view-followup-dialog.png
  test-results/PR-13200-dev-functional/13-followup-fires.png
  test-results/PR-13200-dev-functional/14-cache-discipline.png
  test-results/PR-13200-dev-functional/15-briefing-pill.png
  test-results/PR-13200-dev-functional/16-pill-skills-link.png
  test-results/PR-13200-dev-functional/17-delete-skill-ui.png
  test-results/PR-13200-dev-functional/18-sanitize-injection.png
Due: none

dx(skills): stop publishing dev test creds in /pr-test SKILL.md (#13201)
  .claude/skills/pr-test/SKILL.md
Due: none

test: PR-13190 accountability sentinel + UX deep-dive screenshots (#28-#50)
  test-screenshots/PR-13190/14-followups-empty-state.png
  test-screenshots/PR-13190/15-copilot-fresh-session.png
  test-screenshots/PR-13190/16-copilot-one-shot-scheduled.png
  test-screenshots/PR-13190/17-followups-one-shot-row.png
  test-screenshots/PR-13190/18-copilot-recurring-scheduled.png
  test-screenshots/PR-13190/19-followups-with-recurring.png
  test-screenshots/PR-13190/20-copilot-whats-scheduled.png
  test-screenshots/PR-13190/21-copilot-cancel-via-nl.png
  test-screenshots/PR-13190/22-followups-empty-after-cancel.png
  test-screenshots/PR-13190/23-followups-before-delete.png
  test-screenshots/PR-13190/24-delete-dialog-open.png
  test-screenshots/PR-13190/26-followups-empty-after-ui-delete.png
  test-screenshots/PR-13190/27-followups-timezone-check.png
  test-screenshots/PR-13190/28-login-page.png
  test-screenshots/PR-13190/29-copilot-loaded.png
  test-screenshots/PR-13190/30-copilot-baseline.png
  test-screenshots/PR-13190/31-f9-prompt-typed.png
  test-screenshots/PR-13190/32-f9-copilot-processing.png
  test-screenshots/PR-13190/33-f9-confirmation.png
  test-screenshots/PR-13190/34-f9-new-chat-with-message.png
  test-screenshots/PR-13190/35-f10-prompt-response.png
  test-screenshots/PR-13190/36-f10-cron-fired-chat.png
  test-screenshots/PR-13190/37-f11-initial-message.png
  test-screenshots/PR-13190/38-f11-schedule-response.png
  test-screenshots/PR-13190/39-f11-same-chat-message.png
  test-screenshots/PR-13190/40-followups-page.png
  test-screenshots/PR-13190/41-f12-tooltip-hover.png
  test-screenshots/PR-13190/42-f12-tooltip-rendered.png
  test-screenshots/PR-13190/43-f12-tooltip-evidence.png
  test-screenshots/PR-13190/44-f15-null-session-row-testid.png
  test-screenshots/PR-13190/45-f14-one-day-off-bug.png
  test-screenshots/PR-13190/46-f16-before-delete.png
  test-screenshots/PR-13190/47-f16-delete-dialog.png
  test-screenshots/PR-13190/48-f16-after-delete.png
  test-screenshots/PR-13190/49-f14-fix-evidence.png
  test-screenshots/PR-13190/50-final-cleanup-empty-followups.png
Due: none

fix(backend): unblock CI on PR #13190 — schema test + pyright + isort
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/backend/backend/copilot/tracking.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
Due: isort, pyright, pytest

fix(copilot): briefing pill UX + skill view siblings + /library perf + CI
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/backend/backend/copilot/tracking.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): black-format wrap on schedule_followup_test signature
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
Due: isort, pyright, pytest

local functional /pr-test screenshots for PR #13200
  test-results/PR-13200-local-functional/01-login.png
  test-results/PR-13200-local-functional/02-copilot-page.png
  test-results/PR-13200-local-functional/03-baseline.png
  test-results/PR-13200-local-functional/04-list-skills.png
  test-results/PR-13200-local-functional/05-store-greeting.png
  test-results/PR-13200-local-functional/06-store-weather.png
  test-results/PR-13200-local-functional/07-library-skills.png
  test-results/PR-13200-local-functional/08-view-dialog.png
  test-results/PR-13200-local-functional/09-read-skill.png
  test-results/PR-13200-local-functional/10-store-followup.png
  test-results/PR-13200-local-functional/11-library-followups.png
  test-results/PR-13200-local-functional/12-view-followup.png
  test-results/PR-13200-local-functional/13-followup-fires.png
  test-results/PR-13200-local-functional/14-cache-discipline.png
  test-results/PR-13200-local-functional/14-cache-tokens.txt
  test-results/PR-13200-local-functional/15-briefing-pill.png
  test-results/PR-13200-local-functional/16-pill-link.png
  test-results/PR-13200-local-functional/17-delete-skill.png
  test-results/PR-13200-local-functional/18-sanitize.png
Due: none

local functional /pr-test v2 screenshots for PR #13200
  test-results/PR-13200-local-functional-v2/01-login.png
  test-results/PR-13200-local-functional-v2/02-copilot-page.png
  test-results/PR-13200-local-functional-v2/03-baseline.png
  test-results/PR-13200-local-functional-v2/04-list-skills.png
  test-results/PR-13200-local-functional-v2/05-store-greeting.png
  test-results/PR-13200-local-functional-v2/06-store-weather.png
  test-results/PR-13200-local-functional-v2/07-library-skills.png
  test-results/PR-13200-local-functional-v2/08-back-link-skills.png
  test-results/PR-13200-local-functional-v2/09-view-dialog.png
  test-results/PR-13200-local-functional-v2/10-read-skill.png
  test-results/PR-13200-local-functional-v2/11-store-followup.png
  test-results/PR-13200-local-functional-v2/12-library-followups.png
  test-results/PR-13200-local-functional-v2/13-back-link-followups.png
  test-results/PR-13200-local-functional-v2/14-view-followup.png
  test-results/PR-13200-local-functional-v2/15-followup-fires.png
  test-results/PR-13200-local-functional-v2/16-cache-discipline.png
  test-results/PR-13200-local-functional-v2/17-briefing-pill.png
  test-results/PR-13200-local-functional-v2/18-pill-skills-link.png
  test-results/PR-13200-local-functional-v2/19-delete-skill-ui.png
  test-results/PR-13200-local-functional-v2/20-sanitize.png
Due: none

feat(backend/copilot): strengthen self-distillation directive in system prompt
  autogpt_platform/backend/backend/copilot/prompting.py
Due: isort, pyright, pytest

test: final dev /pr-test screenshots for PR #13200 (4149811da8)
  test-results/PR-13200-dev-final/00-initial-library-state.png
  test-results/PR-13200-dev-final/01-briefing-pill-hidden-when-empty.png
  test-results/PR-13200-dev-final/02-briefing-pill-1-skill-0-followups.png
  test-results/PR-13200-dev-final/03-briefing-pill-1-skill-1-followup.png
  test-results/PR-13200-dev-final/04-view-dialog-no-siblings.png
  test-results/PR-13200-dev-final/06-library-cold-load.png
  test-results/PR-13200-dev-final/07a-back-link-skills-to-library.png
  test-results/PR-13200-dev-final/07b-back-link-followups-to-library.png
  test-results/PR-13200-dev-final/08a-delete-skill-dialog.png
  test-results/PR-13200-dev-final/08b-skill-deleted-list-empty.png
  test-results/PR-13200-dev-final/09-followup-fired-in-session.png
  test-results/PR-13200-dev-final/10-sanitization-prompt-injection-flagged.png
Due: none

feat(backend/copilot): native scheduling for copilot turn followups (#13190)
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/prompt_cache_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/manage_schedules.py
  autogpt_platform/backend/backend/copilot/tools/manage_schedules_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup_test.py
  autogpt_platform/backend/backend/copilot/tools/session_context.py
  autogpt_platform/backend/backend/copilot/tools/session_context_test.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/backend/backend/copilot/tracking.py
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/frontend/src/app/(platform)/library/followups/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/EmptyFollowups/EmptyFollowups.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/FollowupListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/useFollowupListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/followups/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/useFollowupsPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/cron-expression-utils.test.ts
  autogpt_platform/frontend/src/lib/cron-expression-utils.ts
Due: isort, prettier, pyright, tsc, pytest

fix(copilot): drop dead next/navigation mocks + lock scheduler jobs cache
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/frontend/src/tests/integrations/setup-nextjs-mocks.tsx
Due: isort, prettier, pyright, tsc, pytest

test(frontend): cover SkillListItem View dialog — body render, sibling-files list, error state
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
Due: prettier, tsc

fix(backend/copilot): put <available_skills> outermost so cache prefix is per-user-stable
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

closing dev /pr-test screenshots for PR #13195 (6e0f917ef9)
  test-results/PR-13195-closing-functional/01-baseline.png
  test-results/PR-13195-closing-functional/02-store-skill.png
  test-results/PR-13195-closing-functional/03-library-skills.png
  test-results/PR-13195-closing-functional/04-view-dialog-body.png
  test-results/PR-13195-closing-functional/05-view-dialog-no-siblings.png
  test-results/PR-13195-closing-functional/06-store-followup.png
  test-results/PR-13195-closing-functional/07-library-followups.png
  test-results/PR-13195-closing-functional/08-briefing-pill.png
  test-results/PR-13195-closing-functional/09-cache-discipline.png
  test-results/PR-13195-closing-functional/10-followup-fires.png
Due: none

feat(backend/copilot): self-distilled skills registry + index injection (#13195)
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/agent_guide_gate_test.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/schedule_followup.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
  autogpt_platform/backend/backend/copilot/tools/skills_test.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/BriefingTabContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/FollowupListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/followups/components/FollowupListItem/useFollowupListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/EmptySkills/EmptySkills.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/SkillListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/components/SkillListItem/useSkillListItem.ts
  autogpt_platform/frontend/src/app/(platform)/library/skills/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/skills/useSkillsPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/feature-flags/__tests__/envFlagOverride.test.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: isort, prettier, pyright, tsc, pytest
