Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): reject unsafe media path components instead of sanitizing them
  autogpt_platform/backend/backend/api/features/store/media.py
  autogpt_platform/backend/backend/api/features/store/media_test.py
Due: isort, pyright, pytest

fix(backend): only drop views depending on the retyped columns
  autogpt_platform/backend/migrations/20260805120000_onboarding_step_to_string/migration.sql
Due: none

fix(backend): use realpath+startswith containment check for media paths
  autogpt_platform/backend/backend/api/features/store/media.py
Due: isort, pyright, pytest

fix(backend): scope the analytics_readonly grant to the recreated views
  autogpt_platform/backend/migrations/20260805120000_onboarding_step_to_string/migration.sql
Due: none

fix(backend): simplify path-traversal guard to a single startswith check
  autogpt_platform/backend/backend/api/features/store/media.py
Due: isort, pyright, pytest

fix(backend): drop and recreate analytics views around onboarding retype (#13796)
  autogpt_platform/backend/migrations/20260805120000_onboarding_step_to_string/migration.sql
Due: none

fix(blocks): address DataForB2B review follow-ups
  autogpt_platform/backend/backend/blocks/dataforb2b/_api.py
  autogpt_platform/backend/backend/blocks/dataforb2b/_api_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/_config.py
  autogpt_platform/backend/backend/blocks/dataforb2b/conftest.py
  autogpt_platform/backend/backend/blocks/dataforb2b/enrich.py
  autogpt_platform/backend/backend/blocks/dataforb2b/enrich_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/reasoning.py
  autogpt_platform/backend/backend/blocks/dataforb2b/reasoning_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/search.py
  autogpt_platform/backend/backend/blocks/dataforb2b/search_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/typeahead.py
  autogpt_platform/backend/backend/blocks/dataforb2b/typeahead_test.py
  autogpt_platform/backend/snapshots/smart_search_needs_input_outputs
  autogpt_platform/backend/snapshots/typeahead_outputs
  docs/integrations/block-integrations/dataforb2b/enrich.md
  docs/integrations/block-integrations/dataforb2b/reasoning.md
  docs/integrations/block-integrations/dataforb2b/search.md
  docs/integrations/block-integrations/dataforb2b/typeahead.md
Due: isort, pyright, pytest

fix(blocks): serialize DataForB2B test credentials
  autogpt_platform/backend/backend/blocks/dataforb2b/_config.py
  autogpt_platform/backend/backend/blocks/dataforb2b/enrich_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/reasoning_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/search_test.py
  autogpt_platform/backend/backend/blocks/dataforb2b/typeahead_test.py
Due: isort, pyright, pytest

dx(platform): add Cloud Agent development environment configuration
  .cursor/Dockerfile
  .cursor/docker-compose.cloud.yml
  .cursor/environment.json
  .cursor/scripts/cloud-agent-install.sh
  .cursor/scripts/cloud-agent-start.sh
Due: none

fix(platform): align NVM paths for cloud agent environment
  .cursor/Dockerfile
  .cursor/environment.json
  .cursor/scripts/cloud-agent-install.sh
  .cursor/scripts/cloud-agent-start.sh
Due: none

test(backend): isolate Ayrshare profile key tests
  autogpt_platform/backend/backend/integrations/ayrshare_test.py
Due: isort, pyright, pytest

fix(backend): trim Ayrshare profile keys
  autogpt_platform/backend/backend/integrations/ayrshare.py
  autogpt_platform/backend/backend/integrations/ayrshare_test.py
Due: isort, pyright, pytest

fix(frontend): skip expired session screen when logged out
  autogpt_platform/frontend/src/app/(platform)/error/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
Due: prettier, tsc

test(frontend): wait before expired session negative assertion
  autogpt_platform/frontend/src/app/(platform)/error/__tests__/page.test.tsx
Due: prettier, tsc

refactor(frontend): drop this PR's posthog telemetry additions, keep quality-gate UX
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/BrainDumpStep/__tests__/useBrainDumpStep.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/BrainDumpStep/useBrainDumpRecorder.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/BrainDumpStep/useBrainDumpStep.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/useOnboardingPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useOnboardingMicGlow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingIntroCard/OnboardingIntroCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingIntroCard/__tests__/useOnboardingIntroCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingIntroCard/useOnboardingIntroCard.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingWelcomeDialog/OnboardingWelcomeDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingWelcomeDialog/__tests__/welcome-dialog.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/OnboardingWelcomeDialog/useConnectToolsPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/providers/posthog/posthog-provider.tsx
  autogpt_platform/frontend/src/services/onboarding/__tests__/brain-dump-analytics.test.ts
  autogpt_platform/frontend/src/services/onboarding/__tests__/brain-dump-handoff.test.ts
  autogpt_platform/frontend/src/services/onboarding/brain-dump-analytics.ts
  autogpt_platform/frontend/src/services/onboarding/brain-dump-handoff.ts
Due: prettier, tsc

fix(platform): harden single-container runtime
  .github/scripts/platform-single-container-smoke.sh
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/single-container/.env.example
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/entrypoint.sh
  autogpt_platform/single-container/fatal_listener.py
  autogpt_platform/single-container/healthcheck.sh
  autogpt_platform/single-container/nginx/nginx.conf
  autogpt_platform/single-container/probe.py
  autogpt_platform/single-container/supervisor/supervisord.conf
  autogpt_platform/single-container/tests/test_probe.py
  autogpt_platform/single-container/tests/test_runtime_config.py
  autogpt_platform/single-container/tests/test_sitecustomize.py
Due: none

dx(platform): fix vendored source whitespace
  autogpt_platform/single-container/licenses/redis/src/lzf_c.c
Due: none

fix(platform): pair bundled Prisma artifacts
  autogpt_platform/single-container/Dockerfile
Due: none

fix(platform): address final single-container review
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/single-container/.env.example
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/bootstrap.sh
  autogpt_platform/single-container/entrypoint.sh
  autogpt_platform/single-container/healthcheck.sh
  autogpt_platform/single-container/runtime_config.py
  autogpt_platform/single-container/tests/test_probe.py
  autogpt_platform/single-container/tests/test_runtime_config.py
Due: none

fix(platform): use semantic appliance health probes
  autogpt_platform/single-container/common.sh
  autogpt_platform/single-container/entrypoint.sh
  autogpt_platform/single-container/healthcheck.sh
  autogpt_platform/single-container/probe.py
  autogpt_platform/single-container/tests/test_legacy_auth.py
  autogpt_platform/single-container/tests/test_probe.py
  autogpt_platform/single-container/tests/test_runtime_config.py
Due: none

fix(platform): remove generated test certificate
  autogpt_platform/single-container/Dockerfile
Due: none

feat(blocks): add Avian as LLM provider
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/_static_provider_configs.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_avian_block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/llm/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

dx(platform): apply repository formatting hooks
  .github/scripts/detect_overlaps.py
  LICENSE
Due: none

fix(platform): address final appliance review
  .github/workflows/platform-single-container-docker.yml
  autogpt_platform/single-container/.env.example
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/entrypoint.sh
  autogpt_platform/single-container/run-frontend.sh
  autogpt_platform/single-container/supervisor/supervisord.conf
  autogpt_platform/single-container/tests/test_entrypoint.py
  autogpt_platform/single-container/tests/test_frontend_environment.py
  autogpt_platform/single-container/tests/test_promote_admin.py
  autogpt_platform/single-container/watchdog.sh
Due: none

ci(platform): use native multi-arch runners
  .github/workflows/platform-single-container-docker.yml
Due: none

dx(backend/copilot): tighten integration-test fidelity after review
  autogpt_platform/backend/backend/copilot/graphiti/conftest.py
  autogpt_platform/backend/backend/copilot/graphiti/dream_ratification_integration_test.py
Due: isort, pyright, pytest

fix(backend): retry briefing test cleanup on a stale event loop
  autogpt_platform/backend/backend/api/features/briefings/routes_test.py
Due: isort, pyright, pytest

feat(platform): add editable expert Soul documents
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/migrations/20260804120000_add_expert_soul_fields/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/expert_templates_list
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/install-on-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/SoulDrawer/SoulDrawer.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/SoulDrawer/useSoulDrawer.ts
  autogpt_platform/frontend/src/app/(platform)/team/page.tsx
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

refactor(platform): defer expert memory notes
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/migrations/20260804120000_add_expert_soul_fields/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/expert_templates_list
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/install-on-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/SoulDrawer/SoulDrawer.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

test(backend): verify Soul update mock target
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
Due: isort, pyright, pytest

fix(platform): address Soul document review
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/snapshots/expert_soul_update
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/SoulDrawer/SoulDrawer.tsx
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): isolate expert card keyboard actions
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
Due: prettier, tsc

fix(backend): reject blank expert soul fields
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
Due: isort, pyright, pytest

fix(backend): exclude archived experts from reads
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

fix(backend): update expert execution test fixtures
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

fix(frontend): preserve Soul drawer exit animation
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/SoulDrawer/SoulDrawer.tsx
  autogpt_platform/frontend/src/app/(platform)/team/page.tsx
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
Due: prettier, tsc

fix(backend): unify prompt XML sanitization
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/prompt_cache_test.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

fix(backend): escape expert roles in team context
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
Due: isort, pyright, pytest

fix(backend): address briefing review findings — escaping, hot path, tests
  autogpt_platform/backend/backend/api/features/briefings/routes.py
  autogpt_platform/backend/backend/api/features/briefings/routes_test.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/briefing/generate.py
  autogpt_platform/backend/backend/copilot/briefing/generate_test.py
  autogpt_platform/backend/backend/copilot/briefing/scheduling.py
  autogpt_platform/backend/backend/copilot/briefing/scheduling_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/plain_session_post_test.py
  autogpt_platform/backend/backend/data/briefing.py
  autogpt_platform/backend/backend/data/briefing_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/backend/migrations/20260807120631_add_user_briefing/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest
