Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

add new story for search filter chips
  autogpt_platform/frontend/src/components/agptui/SearchFilterChips.tsx
Due: prettier, tsc

add new story for search filter chips
  autogpt_platform/frontend/src/components/agptui/SearchFilterChips.stories.tsx
Due: prettier, tsc

fix all component of marketplace
  autogpt_platform/frontend/src/components/agptui/AgentImageItem.tsx
  autogpt_platform/frontend/src/components/agptui/AgentImages.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentImages.tsx
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorLinks.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorLinks.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
Due: prettier, tsc

fix button tests
  autogpt_platform/frontend/src/components/agptui/Button.stories.tsx
Due: prettier, tsc

Fix all tests of stories
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.stories.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.stories.tsx
Due: prettier, tsc

Refactor!
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/__init__.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/backend/test/util/test_service.py
Due: isort, pyright, pytest

Remove dead code
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

skip captcha if not BehaveAs = CLOUD
  autogpt_platform/frontend/src/lib/turnstile.ts
Due: prettier, tsc

fix: Failing test on new pydantic
  autogpt_platform/backend/backend/server/v2/library/model_test.py
Due: isort, pyright, pytest

fix(backend): Failing test on a new Pydantic version (#9897)
  autogpt_platform/backend/backend/server/v2/library/model_test.py
Due: isort, pyright, pytest

small fixes
  autogpt_platform/frontend/src/components/agptui/AgentInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTable.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableRow.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.stories.tsx
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Button.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/FilterChips.stories.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.stories.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.stories.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.stories.tsx
Due: prettier, tsc

fix admin add dollars
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
Due: prettier, tsc

add new design changes in some components
  autogpt_platform/frontend/public/agpt-logo.png
  autogpt_platform/frontend/public/agpt-logo.svg
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/components/agptui/AutogptButton.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AutogptButton.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentAwaitingReview.tsx
Due: prettier, tsc

feat(frontend): fix admin add dollars (#9898)
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
Due: prettier, tsc

Add Llama API Support
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, prettier, pyright, tsc, pytest

Fix backend lint error
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(backend): llama api error message
  autogpt_platform/backend/backend/blocks/llm.py
Due: isort, pyright, pytest

ghrs: snap 04-30-2302-D186 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-30_230250_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-30_230250_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-30_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 04-30-2302-D186 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-04-30_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 04-30-2302-D186 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 04-30-2302-D186 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

docs(library): add inline comment explaining LAST_EXECUTION dual ordering in agent sorting
  autogpt_platform/backend/backend/server/v2/library/db.py
Due: isort, pyright, pytest

feat(backend): Support flexible RPC client (#9842)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/__init__.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/notifications/__init__.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/backend/test/util/test_service.py
Due: isort, pyright, pytest

fix(backend): Avoid executing any agent with zero balance
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

Simplify `get_library_agent_by_store_version_id`
  autogpt_platform/backend/backend/server/v2/library/db.py
Due: isort, pyright, pytest

hotfix(backend): Avoid executing any agent with zero balance
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

hotfix(backend): Avoid executing any agent with zero balance (#9902)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(backend): Avoid executing any agent with zero balance (#9901)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

feat(backend): Continue instead of retrying aborted/broken agent execution
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
