Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

feat(platform): hiring an expert returns at once; its skills and workflows install in the background (#14849)
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/api/features/experts/routines.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_change_test.py
  autogpt_platform/backend/backend/copilot/tools/expert_proposal.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/migrations/20260923190000_add_expert_setup_status/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/expert_pod_assign
  autogpt_platform/backend/snapshots/expert_raise_attachment_installation_failure
  autogpt_platform/backend/snapshots/expert_raise_attachments
  autogpt_platform/backend/snapshots/expert_raise_default
  autogpt_platform/backend/snapshots/expert_soul_update
  autogpt_platform/backend/snapshots/expert_templates_list
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/HireStep/__tests__/HireStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/expert-page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/components/SetupStatus.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/useExpertTeamCard.ts
  autogpt_platform/frontend/src/app/(platform)/team/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/experts/__tests__/useHireFlow.test.tsx
  autogpt_platform/frontend/src/services/experts/useHireFlow.tsx
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

feat(platform): add PostHog MCP and complete integration icons (#14859)
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
  autogpt_platform/backend/backend/integrations/mcp_catalog_test.py
  autogpt_platform/backend/backend/integrations/provider_logos_test.py
  autogpt_platform/frontend/public/integrations/HUGEICONS-LICENSE.txt
  autogpt_platform/frontend/public/integrations/README.md
  autogpt_platform/frontend/public/integrations/allquiet.png
  autogpt_platform/frontend/public/integrations/ayrshare.png
  autogpt_platform/frontend/public/integrations/compass.png
  autogpt_platform/frontend/public/integrations/database.png
  autogpt_platform/frontend/public/integrations/dataforb2b.png
  autogpt_platform/frontend/public/integrations/elevenlabs.png
  autogpt_platform/frontend/public/integrations/generic_webhook.png
  autogpt_platform/frontend/public/integrations/posthog.png
  autogpt_platform/frontend/public/integrations/rmfg.png
  autogpt_platform/frontend/public/integrations/stripe_link.png
  autogpt_platform/frontend/public/integrations/typesafe.png
  autogpt_platform/frontend/scripts/integration-logos.test.ts
  autogpt_platform/frontend/src/app/(platform)/settings/integrations/__tests__/mcp-catalog.test.tsx
Due: isort, prettier, pyright, tsc, pytest

ci(platform): let the e2e frontend image hit the Docker layer cache
  .github/workflows/platform-fullstack-ci.yml
  .github/workflows/scripts/docker-ci-fix-compose-build-cache.py
Due: none

ci(platform): run the e2e seed's embedding backfill 300 at a time
  .github/workflows/platform-fullstack-ci.yml
Due: none

Revert "ci(platform): run the e2e seed's embedding backfill 300 at a time"
  .github/workflows/platform-fullstack-ci.yml
Due: none

fix(platform): point stale terracotta assertions at the current hex
  autogpt_platform/backend/backend/api/features/experts/avatar_generation_test.py
  autogpt_platform/frontend/src/app/(platform)/team/helpers.test.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): give the avatar polling test room for its real 2s interval
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/generation.test.tsx
Due: prettier, tsc

fix(platform): commit Priya's clay artwork that .gitignore was hiding
  .gitignore
  autogpt_platform/frontend/public/experts/clay/v2/priya.png
  autogpt_platform/frontend/public/experts/clay/v4/priya-operations.png
  autogpt_platform/frontend/public/experts/clay/v4/priya-research.png
Due: prettier, tsc

docs(platform): correct chat_message_sent's source and what finalize_latency_ms times
  autogpt_platform/backend/backend/copilot/tracking.py
  autogpt_platform/frontend/src/services/analytics/posthog-events.ts
  docs/platform/tracking-plan.md
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): give the flag tests a consent answer after the master back-merge (#14854)
  autogpt_platform/frontend/src/providers/posthog/__tests__/posthog-user-tracker.test.tsx
  autogpt_platform/frontend/src/services/feature-flags/__tests__/ld-init-timeout.test.tsx
Due: prettier, tsc

fix(frontend): count a second onboarding checkout abandonment in the same tab
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/__tests__/tracking.test.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/tracking.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/useSubscriptionStep.ts
  docs/platform/tracking-plan.md
Due: prettier, tsc

docs(platform): expert_hired is sent once the hire's setup settles
  docs/platform/tracking-plan.md
Due: none

feat(frontend): mention connected accounts as credential badges in copilot chat
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/integrationMentions.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/useChatMentions.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/useConnectedIntegrations.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/MentionDropdown.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/MentionDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/MentionDropdown.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/mentionStoryFixtures.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useChatMentions.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useConnectedIntegrations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/useVoiceRecording.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/__tests__/ChatMessagesContainer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/CopyButton.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/MessagePartRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/PendingUploadMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/CredentialMentionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/CredentialMentionEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/CredentialMentionMarkdown.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/CredentialMentionText.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/__tests__/CredentialMentionEditor.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/__tests__/CredentialMentionMarkdown.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/editorHelpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/useCredentialMentionEditor.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): keep caret and badges stable while editing account mentions
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/CredentialMentionEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/__tests__/CredentialMentionEditor.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/__tests__/editorHelpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/editorHelpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CredentialMention/useCredentialMentionEditor.ts
Due: prettier, tsc

feat(frontend): name the expert's job on the name line and the topic on the pill
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CategoryChip/CategoryTag.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/expert-page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertIdentityDetails/ExpertIdentityDetails.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertIdentityDetails/ExpertIdentityDetails.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertIdentityDetails/components/ExpertAreaChip.tsx
Due: prettier, tsc

test(backend): pass the hiring surface through the setup-waiting hire fixture
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

fix(platform): keep a picker preset a hire's owner chose, and name a failed avatar
  autogpt_platform/backend/backend/api/features/experts/avatar_catalog.py
  autogpt_platform/backend/backend/api/features/experts/avatar_catalog_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatar/ExpertAvatar.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(platform): credit history and the cost log name the chat, not a fake graph execution
  autogpt_platform/backend/backend/copilot/token_tracking.py
  autogpt_platform/backend/backend/copilot/token_tracking_test.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_history/enrichment.py
  autogpt_platform/backend/backend/data/credit_history/enrichment_test.py
  autogpt_platform/backend/backend/data/credit_history/history_test.py
  autogpt_platform/backend/backend/data/credit_history/queries.py
  autogpt_platform/backend/backend/data/credit_history/service.py
  autogpt_platform/backend/backend/data/credit_history/service_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/platform_cost.py
  autogpt_platform/backend/backend/data/platform_cost_test.py
  autogpt_platform/backend/migrations/20260924120000_usage_names_the_chat_session/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/__tests__/PlatformCostContent.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/components/LogsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/platform-costs/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/__tests__/activity-types.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/components/ReceiptEntries.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/billing/components/AutomationCreditsTab/TransactionHistoryCard/useTransactionHistoryCard.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend): a failed token lookup for the swap proxy is an error, not "not connected"
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/copilot/swap_credentials.py
  autogpt_platform/backend/backend/copilot/swap_credentials_test.py
Due: isort, pyright, pytest

fix(platform/swap-proxy): scrub a body that does not decode as declared, as bytes
  autogpt_platform/swap_proxy/swap_proxy/addon.py
  autogpt_platform/swap_proxy/swap_proxy/addon_test.py
  autogpt_platform/swap_proxy/swap_proxy/swap.py
Due: none

fix(platform/swap-proxy): refuse a destination name that holds a colon
  autogpt_platform/swap_proxy/swap_proxy/egress.py
  autogpt_platform/swap_proxy/swap_proxy/egress_test.py
Due: none

fix(platform/swap-proxy): count site-local, IPv4-compatible and SIIT v6 as private
  autogpt_platform/swap_proxy/swap_proxy/egress.py
  autogpt_platform/swap_proxy/swap_proxy/egress_test.py
Due: none

fix(platform/swap-proxy): swap only when an absolute-form target names the verified host
  autogpt_platform/swap_proxy/swap_proxy/addon.py
  autogpt_platform/swap_proxy/swap_proxy/addon_test.py
Due: none

fix(platform/swap-proxy): no swap for TRACE or TRACK
  autogpt_platform/swap_proxy/swap_proxy/swap.py
  autogpt_platform/swap_proxy/swap_proxy/swap_test.py
Due: none

feat(frontend): offer the free trial on the platform paywall (#14876)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/PaywallModal.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/__tests__/PaywallModal.trial.test.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/components/PaywallHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/PaywallGate/usePaywallModal.ts
  autogpt_platform/frontend/src/components/molecules/PlanCard/PlanCard.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/SubscriptionPlans.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/components/BillingToggle.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/components/OfferActions.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/components/PlanHeader.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/components/SubscriptionOffer.tsx
  autogpt_platform/frontend/src/components/organisms/SubscriptionPlans/helpers.ts
Due: prettier, tsc

feat(frontend/marketplace): match the filter chips to the cards' tags
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CategoryChip/CategoryChip.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/ExpertsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertHireControl.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WorkflowsShelf/WorkflowsShelf.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/[expertId]/components/ExpertPageHeader.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertIdentityDetails/ExpertIdentityDetails.tsx
Due: prettier, tsc

fix(platform/swap-proxy): no raw relay inside a connection the proxy opened
  autogpt_platform/swap_proxy/swap_proxy/addon.py
  autogpt_platform/swap_proxy/swap_proxy/addon_test.py
  autogpt_platform/swap_proxy/swap_proxy/e2e_tls_test.py
Due: none

ci(platform/swap-proxy): install the Poetry version swap_proxy's own lock was written with
  .github/workflows/platform-swap-proxy-ci.yml
Due: none

fix(frontend/copilot): restore the pending buffer once when load peeks overlap
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/resume-hydrated-turn.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/sse-helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.ts
Due: prettier, tsc

docs(platform/swap-proxy): describe the byte scrub and what is refused as unscrubbable
  autogpt_platform/swap_proxy/README.md
Due: none

fix(backend): keep chat reviews readable by old pods while the migration deploys
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/human_review_scope_test.py
  autogpt_platform/backend/backend/notifications/review_alerts.py
  autogpt_platform/backend/backend/notifications/review_alerts_test.py
  autogpt_platform/backend/migrations/20260924000000_pending_human_review_session_scope/migration.sql
Due: isort, pyright, pytest

feat(frontend): drop the marketplace creators shelf and settle the team roster
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/AutopilotCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/components/ExpertCover.tsx
Due: prettier, tsc

fix(backend): add the review scope check NOT VALID and validate it separately
  autogpt_platform/backend/migrations/20260924000000_pending_human_review_session_scope/migration.sql
  autogpt_platform/backend/migrations/20260924000001_validate_pending_human_review_session_scope/migration.sql
Due: none

fix(frontend/copilot): snapshot the strip per peek and apply only the newest peek
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.ts
Due: prettier, tsc

fix(backend): sync one awaiting-review alert per chat across legacy and new rows
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/human_review_test.py
Due: isort, pyright, pytest

fix(frontend/copilot): restore buffered messages a turn-start peek finds
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPendingChips.ts
Due: prettier, tsc

feat(backend): serve the swap proxy from a service that exposes only its two calls
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/copilot/swap_service.py
  autogpt_platform/backend/backend/copilot/swap_service_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/db.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/swap_proxy/README.md
  autogpt_platform/swap_proxy/swap_proxy/settings.py
  autogpt_platform/swap_proxy/swap_proxy/source_test.py
Due: isort, pyright, pytest

feat(backend): hand boxes behind the swap proxy placeholders, not tokens
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/copilot/swap_credentials.py
  autogpt_platform/backend/backend/copilot/swap_credentials_test.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec_test.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox.py
  autogpt_platform/backend/backend/copilot/tools/e2b_sandbox_test.py
  autogpt_platform/swap_proxy/README.md
  autogpt_platform/swap_proxy/swap_proxy/swap_test.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
