Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

update
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

Make reviewer happy
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/feature_flag_test.py
Due: isort, pyright, pytest

cleanup
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/feature_flag_test.py
Due: isort, pyright, pytest

update
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/feature_flag_test.py
Due: isort, pyright, pytest

fix
  autogpt_platform/backend/backend/util/feature_flag.py
Due: isort, pyright, pytest

refactor(backend): consolidate LaunchDarkly feature flag management (#10632)
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/config.py
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/feature_flag_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

ref(backend): update Gmail blocks to unify architecture and improve email handling (#10588)
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

feat(backend): test store block
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/system/__init__.py
  autogpt_platform/backend/backend/blocks/system/agent.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_store_operations.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(backend): test store block
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/system/__init__.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_store_operations.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(backend): refactor agent imports and consolidate agent functionality
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/system/__init__.py
  autogpt_platform/backend/backend/blocks/system/library_operations.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_store_operations.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(backend): implement ListLibraryAgentsBlock for retrieving agents from user library
  autogpt_platform/backend/backend/blocks/system/library_operations.py
Due: isort, pyright, pytest

refactor: simplify LaunchDarkly context and remove redundant code
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/backend/backend/data/supabase_auth.py
  autogpt_platform/backend/backend/data/supabase_auth_test.py
  autogpt_platform/backend/test_feature_flag.py
  autogpt_platform/backend/test_supabase_role.py
Due: isort, pyright, pytest

fix(backend): resolve CloudLoggingHandler deadlock by switching to BackgroundThreadTransport
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

style: fix import order and string quotes for linter compliance
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

refactor: move socket timeout config to module level for better protection
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

style: remove trailing whitespace
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

chore: fix tests
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/EmailForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/useEmailForm.ts
  autogpt_platform/frontend/src/tests/settings.spec.ts
Due: prettier, tsc

style: apply automated code formatting
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

Trim API key before sending in request header
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Due: isort, pyright, pytest

fix(marketplace): loading state (#10629)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
Due: prettier, tsc

fix(backend): resolve CloudLoggingHandler deadlock causing scheduler hangs (#10634)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Due: pyright, pytest

fix(backend/AM): Fix AutoMod api key issue (#10635)
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Due: isort, pyright, pytest

chore: flaky
  autogpt_platform/frontend/src/tests/build.spec.ts
Due: prettier, tsc

feat(frontend): update settings form (#10628)
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/EmailForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/useEmailForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/NotificationForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/useNotificationForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/helper.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/api/auth/user/route.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/settings.spec.ts
Due: prettier, tsc

feat(backend): add AddToLibraryFromStoreBlock and ListLibraryAgentsBlock to exports
  autogpt_platform/backend/backend/blocks/system/__init__.py
Due: isort, pyright, pytest

Simplify setup scripts and remove Sentry prompts
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
Due: none

Simplify and streamline setup scripts for AutoGPT
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
Due: none

refactor(backend): rename UserSummaryStats to UserExecutionSummaryStats and move summary data logic to generate_data.py
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
Due: isort, pyright, pytest

docs(blocks): Add AI/ML API integration guide and update LLM headers (#10402)
  autogpt_platform/backend/backend/blocks/llm.py
  docs/content/imgs/aimlapi/Step 1 AutoGPT Running.png
  docs/content/imgs/aimlapi/Step 2 Build Screen.png
  docs/content/imgs/aimlapi/Step 3 AI Block.png
  docs/content/imgs/aimlapi/Step 4 AI Generator Block.png
  docs/content/imgs/aimlapi/Step 5 AIMLAPI Models.png
  docs/content/imgs/aimlapi/Step 6.1 Key Placeholder.png
  docs/content/imgs/aimlapi/Step 6.2 No Fill Key Placeholder.png
  docs/content/imgs/aimlapi/Step 6.3 Filled Key Placeholder.png
  docs/content/imgs/aimlapi/Step 6.4 Overview.png
  docs/content/imgs/aimlapi/Step 7.1 Save.png
  docs/content/imgs/aimlapi/Step 8 Run.png
  docs/content/imgs/aimlapi/Step 9 Output.png
  docs/content/index.md
  docs/content/platform/aimlapi.md
  docs/mkdocs.yml
Due: isort, pyright, pytest

feat(backend): enhance store operations with new data models and update tests
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/blocks/test/test_store_operations.py
Due: isort, pyright, pytest

fix(logging): remove uvicorn log config to prevent startup deadlock
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

cleanup
  autogpt_platform/autogpt_libs/autogpt_libs/logging/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

fix(logging): remove uvicorn log config to prevent startup deadlock (#10638)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest
