Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

refactor(backend): simplify review route logic to remove duplication
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Due: isort, pyright, pytest

fix(backend): ensure rejected reviews return actual data in human_review.py
  autogpt_platform/backend/backend/data/human_review.py
Due: isort, pyright, pytest

fix(backend): resolve variable naming conflict in review routes
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Due: isort, pyright, pytest

Remove the text
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Due: prettier, tsc

fix(frontend): forward X-API-Key header through proxy (#11530)
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/constants.ts
Due: prettier, tsc

feat(frontend): enhance FileInput component with new variants and modes
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.stories.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/FileWidget.tsx
Due: prettier, tsc

fix(frontend): add copy functionality to NodeContextMenu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
Due: prettier, tsc

fix: autogpt_platform/frontend/package.json to reduce vulnerabilities
  autogpt_platform/frontend/package.json
Due: prettier, tsc

Update Next.js and related dependencies to 15.4.8
  autogpt_platform/frontend/pnpm-lock.yaml
Due: prettier, tsc

fix: PR Fixes
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
Due: isort, prettier, pyright, tsc, pytest

feat(backend): Add Google Drive file input block and improve credential error handling
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
Due: isort, pyright, pytest

ghrs: snap 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-03_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-03_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(backend): Mark ValueError as known block errors
  autogpt_platform/backend/backend/data/block.py
Due: isort, pyright, pytest

cleanup
  autogpt_platform/backend/backend/data/block.py
Due: isort, pyright, pytest

feat(platform): add Agent Output Demo field to marketplace submission form
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/model_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/migrations/20251204012214_add_marketplace_agent_output_video_column/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/lib/utils.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

feat(platform): update API types for Agent Output Demo field
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

Improve dialog behavior with Google Drive Picker
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/__legacy__/ui/dialog.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
Due: prettier, tsc

fix
  autogpt_platform/backend/migrations/20251204012214_add_marketplace_agent_output_video_column/migration.sql
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
Due: prettier, tsc

Discard changes to autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
Due: isort, pyright, pytest

Remove unused `get_credentials_blocks`
  autogpt_platform/backend/backend/data/onboarding.py
Due: isort, pyright, pytest

fix: Detect duplicate auto_credentials kwarg_name in BlockSchema (#11539)
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/data/block.py
Due: isort, pyright, pytest

fix: Handle _credentials_id=None vs missing key in credential handling (#11541)
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Update schema field types and improve provider lookup
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix(backend/executor): credential lock management in block execution (#11540)
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Remove multiselect option from GoogleDriveFileInputBlock (#11542)
  autogpt_platform/backend/backend/blocks/io.py
Due: isort, pyright, pytest

Refactor credential lock handling in execute_node
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

pass credential type
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Due: isort, pyright, pytest

formatting
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Due: isort, pyright, pytest

feat(frontend): implement new actions sidebar
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/AgentActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/LoadingSelectedContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/components/OutputItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailCard/RunDetailCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/RunOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/RunSummary.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/useSelectedRunActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/ScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/ShareRunButton/ShareRunButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/molecules/FloatingSafeModeToggle/FloatingSafeModeToggle.tsx
Due: prettier, tsc

feat(frontend): add support for host-scoped credentials in CredentialField
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/HostScopedCredentialsModal/HostScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/HostScopedCredentialsModal/useHostScopedCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/useCredentialField.ts
Due: prettier, tsc

refactor(backend): improve SmartDecisionMakerBlock tool execution with proper database operations
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
Due: isort, pyright, pytest

refactor: simplify agent mode iteration conditions
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Due: isort, pyright, pytest

fix(frontend): conditionally render NodeHandle component in NodeArrayInput
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
Due: prettier, tsc

chore: fix types
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
Due: prettier, tsc

fix(frontend): allow to close toasts
  autogpt_platform/frontend/src/components/molecules/Toast/styles.module.css
  autogpt_platform/frontend/src/components/molecules/Toast/toaster.tsx
Due: prettier, tsc

chore: invalidate queries
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/AgentActionsDropdown.tsx
Due: prettier, tsc
