Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

dx(frontend): say why AutopilotAvatar sizes itself inline
  autogpt_platform/frontend/src/components/molecules/AutopilotAvatar/AutopilotAvatar.tsx
Due: prettier, tsc

fix(backend): keep block and agent inputs off the copilot setup card
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/helpers_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/run_block_test.py
Due: isort, pyright, pytest

docs(platform): remove setup guide trailing whitespace
  docs/platform/getting-started.md
Due: none

feat(frontend): align folder rows and add multi-select to the files table
  autogpt_platform/frontend/src/app/(platform)/artifacts/__tests__/selection.test.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactCard/ArtifactCard.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsList.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsTable/ArtifactsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsTable/FileRow.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsTable/FolderRow.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsTable/FolderRows.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsTable/row-layout.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/ArtifactsTable/useFileSelection.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/FileActionsMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/SelectionBar/SelectionBar.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/SelectionBar/useSelectionBar.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/ArtifactsList/useFileActionsMenu.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/MoveToFolderDialog/MoveToFolderDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/WorkspaceFolders/WorkspaceFolder.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/WorkspaceFolders/WorkspaceFolders.tsx
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/WorkspaceFolders/drag.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/components/WorkspaceFolders/useFileDrag.ts
  autogpt_platform/frontend/src/app/(platform)/artifacts/useArtifactsFolders.ts
Due: prettier, tsc

fix(backend): keep picked Drive files on the agent setup card and mark test schema ClassVar
  autogpt_platform/backend/backend/copilot/tools/helpers_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
Due: isort, pyright, pytest

fix(backend): fail the spend-approval park when the run cannot be held
  autogpt_platform/backend/backend/api/features/experts/spend_approval.py
  autogpt_platform/backend/backend/api/features/experts/spend_approval_test.py
Due: isort, pyright, pytest

refactor(platform/marketplace): drop Verified from the skills shelf, descoped by Product
  autogpt_platform/backend/backend/api/features/store/skill_db.py
  autogpt_platform/backend/backend/api/features/store/skill_db_test.py
  autogpt_platform/backend/backend/api/features/store/skill_model.py
  autogpt_platform/backend/backend/api/features/store/skill_routes.py
  autogpt_platform/backend/backend/api/features/store/skill_seed.py
  autogpt_platform/backend/migrations/20260908120000_add_skill_listing/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/skills-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SkillsSection/components/SkillCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/components/SkillPage.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend/copilot): make the session listing's sort total
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/db_session_listing_test.py
Due: isort, pyright, pytest

dx(platform): name the icon library the frontend actually uses
  AGENTS.md
Due: none

fix(platform): standardise the product name on "AutoPilot"
  autogpt_platform/backend/backend/api/features/home/attention_test.py
  autogpt_platform/backend/backend/api/features/home/briefing_test.py
  autogpt_platform/backend/backend/api/features/home/recent_work.py
  autogpt_platform/backend/backend/api/features/home/recent_work_test.py
  autogpt_platform/backend/backend/copilot/briefing/narrative_test.py
  autogpt_platform/backend/backend/copilot/constants.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/ThreadHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CopilotHome/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/EmptySession/useRecipientPicker.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/WorkspaceFileCards/components/WorkspaceFilesContent.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/recent-work.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/RecentWork.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/RecentWork/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend/executor): bind the scheduler's RPC port before the embedding backfill
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

ci: remove the four dormant claude-code-action workflows
  .github/workflows/claude-dependabot.yml
  .github/workflows/claude.yml
  .github/workflows/docs-claude-review.yml
  .github/workflows/docs-enhance.yml
Due: none

fix(backend/executor): bind the scheduler's RPC port before the embedding backfill (#14451)
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

ci: remove the four dormant claude-code-action workflows (#14396)
  .github/workflows/claude-dependabot.yml
  .github/workflows/claude.yml
  .github/workflows/docs-claude-review.yml
  .github/workflows/docs-enhance.yml
Due: none

feat(blocks): update Slant3D integration for API v2
  .secrets.baseline
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/backend/backend/api/features/integrations/webhook_ingress_test.py
  autogpt_platform/backend/backend/blocks/slant3d/README.md
  autogpt_platform/backend/backend/blocks/slant3d/_api.py
  autogpt_platform/backend/backend/blocks/slant3d/_order.py
  autogpt_platform/backend/backend/blocks/slant3d/api_test.py
  autogpt_platform/backend/backend/blocks/slant3d/base.py
  autogpt_platform/backend/backend/blocks/slant3d/blocks_test.py
  autogpt_platform/backend/backend/blocks/slant3d/conftest.py
  autogpt_platform/backend/backend/blocks/slant3d/examples_test.py
  autogpt_platform/backend/backend/blocks/slant3d/filament.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  autogpt_platform/backend/backend/blocks/slant3d/order_status.py
  autogpt_platform/backend/backend/blocks/slant3d/slicing.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook_test.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
Due: isort, pyright, pytest

fix(blocks): synchronize Slant3D docs and avoid test module collision
  autogpt_platform/backend/backend/blocks/slant3d/slant3d_blocks_test.py
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/slant3d/filament.md
  docs/integrations/block-integrations/slant3d/order.md
  docs/integrations/block-integrations/slant3d/order_status.md
  docs/integrations/block-integrations/slant3d/slicing.md
  docs/integrations/block-integrations/slant3d/webhook.md
Due: isort, pyright, pytest

ci(platform): keep overlap detection non-blocking on pull requests
  .github/scripts/detect_overlaps.py
  .github/workflows/pr-overlap-check.yml
Due: none

fix(blocks): support Slant3D workspace attachments
  autogpt_platform/backend/backend/blocks/slant3d/README.md
  autogpt_platform/backend/backend/blocks/slant3d/_api.py
  autogpt_platform/backend/backend/blocks/slant3d/api_test.py
  autogpt_platform/backend/backend/blocks/slant3d/base.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  autogpt_platform/backend/backend/blocks/slant3d/slant3d_blocks_test.py
  autogpt_platform/backend/backend/blocks/slant3d/slicing.py
  autogpt_platform/backend/backend/blocks/slant3d/upload_test.py
  docs/integrations/block-integrations/slant3d/order.md
  docs/integrations/block-integrations/slant3d/slicing.md
Due: isort, pyright, pytest

dx(platform): name the icon library the frontend actually uses (#14450)
  AGENTS.md
Due: none

ci(backend): keep the shard name out of the run bodies and off __pycache__
  .github/workflows/platform-backend-ci.yml
Due: none

ci(backend): drop the startup-backfill switch from the sharding layer
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

feat(backend/copilot): recalibrate AutoPilot's per-plan daily and weekly spend limits (#14442)
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/copilot/rate_limit_test.py
Due: isort, pyright, pytest

fix(backend): seed E2E embeddings before CI dumps the database for its cache
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_e2e_test_data_embeddings.py
Due: isort, pyright, pytest

fix(backend): don't read a stats failure as complete embedding coverage
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_e2e_test_data_embeddings.py
Due: isort, pyright, pytest

fix(platform): Close the gaps that leave triggered presets with flat inputs
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/triggers.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/copilot/tools/manage_presets.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/migrations/20251016151116_migrate_preset_trigger_params/migration.sql
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/useSelectedTriggerView.ts
Due: isort, prettier, pyright, tsc, pytest

test(platform): Cover the triggered-preset input-mask fixes
  autogpt_platform/backend/backend/api/features/library/triggers_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/copilot/tools/manage_presets_test.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/integrations/webhooks/utils_test.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/useSelectedTriggerView.test.tsx
Due: isort, prettier, pyright, tsc, pytest

ci(backend): widen the AutoPilot tool-schema budget to 65,000 chars
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

fix(copilot): Keep the tool-schema char budget green
  autogpt_platform/backend/backend/copilot/tools/manage_presets.py
  autogpt_platform/backend/backend/copilot/tools/setup_agent_webhook_trigger.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

refactor(platform): Trim the comments added for the preset-mask fixes
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/triggers.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/copilot/tools/manage_presets.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

ci(platform): key the E2E data cache on its inputs, not the commit
  .github/workflows/platform-fullstack-ci.yml
Due: none

fix(backend): bound both embedding-backfill awaits by the deadline
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_e2e_test_data_embeddings.py
Due: isort, pyright, pytest

feat(backend/copilot): experts do the public-data part of the job when a connection is skipped (#14411)
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/copilot/expert_context.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
Due: isort, pyright, pytest

ci(platform): keep ANSI out of the appliance JUnit report
  .github/scripts/run_unittest_junit.py
Due: none

feat(platform/marketplace): canonical categories and a category filter (#14428)
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/store/categories.py
  autogpt_platform/backend/backend/api/features/store/categories_test.py
  autogpt_platform/backend/backend/api/features/store/category_classifier.py
  autogpt_platform/backend/backend/api/features/store/category_classifier_test.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/backend/cli/main.py
  autogpt_platform/backend/backend/cli/store.py
  autogpt_platform/backend/backend/cli/store_test.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/category-filter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CategoryFilter/CategoryFilter.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/__tests__/EditAgentModal.test.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/__tests__/AgentInfoStep.test.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/hooks/useStoreCategories.ts
  autogpt_platform/frontend/src/playwright/pages/marketplace.page.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): move the API-key routes out of v1.py into their own feature module
  autogpt_platform/backend/backend/api/features/api_keys/__init__.py
  autogpt_platform/backend/backend/api/features/api_keys/model.py
  autogpt_platform/backend/backend/api/features/api_keys/routes.py
  autogpt_platform/backend/backend/api/features/api_keys/routes_test.py
  autogpt_platform/backend/backend/api/features/orgs/regression_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/model.py
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

fix(backend/copilot): facts an expert stores now persist as recallable memories (#14412)
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_test.py
  autogpt_platform/backend/backend/copilot/graphiti/memory_model.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_store.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_store_test.py
Due: isort, pyright, pytest

refactor(backend): filter routes by type rather than by attribute presence
  autogpt_platform/backend/backend/api/features/api_keys/routes_test.py
Due: isort, pyright, pytest

fix(frontend): skip a non-http site-URL candidate instead of returning it
  autogpt_platform/frontend/src/lib/__tests__/metadata.test.ts
  autogpt_platform/frontend/src/lib/metadata.ts
Due: prettier, tsc

fix(platform): keep Stop on our own audio when browser voices arrive mid-playback
  autogpt_platform/backend/backend/api/features/chat/speech_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/__tests__/TTSButton.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/useTTSButton.ts
Due: isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
