Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, pyright, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -C classic/benchmark run isort -p agbenchmark
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  args:
  - -p
  - classic/benchmark
  - classic/benchmark
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

feat(platform): Updates to Search page (#8769)
  autogpt_platform/frontend/src/app/[lang]/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/SearchFilterChips.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
Due: none

hooked up become a creator
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
Due: none

Blocks control dark mode
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Due: none

Control Panel Dark mode
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
Due: none

Update Save Control
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
Due: none

updated custom node dark mode
  autogpt_platform/frontend/src/components/CustomNode.tsx
Due: none

updated node input dark mode
  autogpt_platform/frontend/src/components/node-input-components.tsx
Due: none

normalise styling between agent and creator page
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/[lang]/store/creator/[creator]/page.tsx
Due: none

tweak layout
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
Due: none

formatting
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: none

only show agents that have no store listing
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/SchemaTooltip.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Due: isort, pyright, pytest

updated node hadles dark mode
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Due: none

more dark mode colors
  autogpt_platform/frontend/src/components/SchemaTooltip.tsx
Due: none

remove notification section of settings page
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
Due: none

Added tooltip for credits button
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
Due: none

Add dark mode to flow and utils
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: none

comment out arrow buttons on breadcrumbs
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
Due: none

added option to change password in settings
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
Due: none

add sorting of creators too
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/frontend/src/app/[lang]/store/search/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: isort, pyright, pytest

handle sorting of agents
  autogpt_platform/frontend/src/app/[lang]/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
Due: none

fixed agent images not showing
  autogpt_platform/frontend/src/components/agptui/AgentImageItem.tsx
Due: none

feat(platform): Adds rating card (#8840)
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
Due: none

Added deleting submissions and viewing the popout
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20241120113813_agent_store_v2_views/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/[lang]/store/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/[lang]/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTable.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableCard.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableRow.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/components/flow.css
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prisma-generate, isort, pyright, pytest

fix tests
  autogpt_platform/backend/backend/server/v2/store/model_test.py
Due: isort, pyright, pytest

update lock files
  autogpt_platform/frontend/public/mockServiceWorker.js
Due: none

signup now redirects to edit profile page
  autogpt_platform/frontend/src/app/[lang]/login/actions.ts
Due: none

add api routes for reviewing agents
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/model_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20241120113813_agent_store_v2_views/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

trying too hook up rating card
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prisma-generate, isort, pyright, pytest

formatting
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
Due: none

linting
  autogpt_platform/frontend/src/components/agptui/Button.stories.tsx
  autogpt_platform/frontend/src/components/agptui/FilterChips.stories.tsx
Due: none

fixing tests
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/run_tests.py
Due: isort, pyright

delete pages
  autogpt_platform/frontend/src/components/agptui/Button.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/AgentPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/AgentPage.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorDashboardPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorDashboardPage.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorPage.tsx
  autogpt_platform/frontend/src/components/agptui/pages/HomePage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/HomePage.tsx
  autogpt_platform/frontend/src/components/agptui/pages/ProfilePage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/ProfilePage.tsx
  autogpt_platform/frontend/src/components/agptui/pages/SettingsPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/SettingsPage.tsx
Due: none

fixing ci
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/backend/server/v2/store/media_test.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
Due: isort, pyright, pytest

updated packages
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/migrations/20241120113710_agent_store_v2/migration.sql
  autogpt_platform/frontend/src/app/providers.tsx
Due: none

update docker compose test to use env vars
  autogpt_platform/backend/docker-compose.test.yaml
Due: none

prevent static gen
  autogpt_platform/frontend/next.config.mjs
Due: none

skip tests during build
  autogpt_platform/frontend/Dockerfile
Due: none

update package.json
  autogpt_platform/frontend/package.json
Due: none

commented out generateStaticParams
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/[lang]/store/creator/[creator]/page.tsx
Due: none

disabling request during build
  autogpt_platform/frontend/src/app/[lang]/store/page.tsx
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
