Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(backend): tiered memory v1 — personal/team/org graphs, provenance-labeled recall, governed shared writes
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/client_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest_test.py
  autogpt_platform/backend/backend/copilot/graphiti/tiers.py
  autogpt_platform/backend/backend/copilot/graphiti/tiers_test.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/sdk/responsiveness_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_store.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_store_test.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

feat(backend): org shared-memory governance API — holdBuffer setting + held-memory review (SECRT-2455)
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/memory_db.py
  autogpt_platform/backend/backend/api/features/orgs/memory_model.py
  autogpt_platform/backend/backend/api/features/orgs/memory_routes.py
  autogpt_platform/backend/backend/api/features/orgs/memory_routes_test.py
  autogpt_platform/backend/backend/api/features/orgs/model.py
  autogpt_platform/backend/backend/api/features/orgs/routes.py
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

fix(backend): TierTarget dataclass → frozen pydantic model (architecture tripwire)
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/tiers.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search_test.py
Due: isort, pyright, pytest

fix(backend): drop dataclasses import in v1_test — architecture tripwire forbids stdlib dataclasses in backend
  autogpt_platform/backend/backend/api/features/v1_test.py
Due: isort, pyright, pytest

fix(backend): adapt to dev drift — align fork/submission regression tests with tenancy
  autogpt_platform/backend/backend/api/features/orgs/regression_test.py
Due: isort, pyright, pytest

feat(backend): accept explicit team_id on create/save flows (SECRT-2462)
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/api/model.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend): agent-graph grants — share with teams (SECRT-2448, v1)
  autogpt_platform/backend/backend/api/features/orgs/grant_db.py
  autogpt_platform/backend/backend/api/features/orgs/grant_db_test.py
  autogpt_platform/backend/backend/api/features/orgs/grant_model.py
  autogpt_platform/backend/backend/api/features/orgs/grant_routes.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/grants.py
  autogpt_platform/backend/backend/data/grants_test.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/migrations/20260717151612_agent_graph_grants/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend): address review — tenant the forked graph on fork_library_agent
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/api/features/v1_test.py
Due: isort, pyright, pytest

feat(backend): honor team context on api-key/fork/folder creates + team_id on list responses
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/backend/api/features/library/model_test.py
  autogpt_platform/backend/backend/api/features/library/routes/agents.py
  autogpt_platform/backend/backend/api/features/library/routes/folders.py
  autogpt_platform/backend/backend/api/features/library/routes_test.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/api/features/store/routes_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/snapshots/sub_success
Due: isort, pyright, pytest

fix(backend): address review on team-context writes
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/search/content_handlers_integration_test.py
  autogpt_platform/backend/backend/api/features/store/model_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/api/model.py
  autogpt_platform/backend/backend/conftest.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): mount grant routes after invitation routers — avoids add/add collision with the memory-governance mount in the batch rollup
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

fix(backend): adapt to dev drift — patch grants prisma in graph access tests
  autogpt_platform/backend/backend/api/features/orgs/regression_test.py
  autogpt_platform/backend/backend/data/graph_test.py
Due: isort, pyright, pytest

fix(backend): address review — exclude archived teams, org-scope grants, 403 authz
  autogpt_platform/backend/backend/api/features/orgs/grant_db.py
  autogpt_platform/backend/backend/api/features/orgs/grant_db_test.py
  autogpt_platform/backend/backend/api/features/orgs/grant_routes.py
  autogpt_platform/backend/backend/data/grants.py
  autogpt_platform/backend/backend/data/grants_test.py
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

feat(backend): enforce grant credential modes — OWNER runs on the owner's credentials (SECRT-2448)
  autogpt_platform/backend/backend/api/features/orgs/grant_db.py
  autogpt_platform/backend/backend/api/features/orgs/grant_db_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/grants.py
  autogpt_platform/backend/backend/data/grants_test.py
  autogpt_platform/backend/backend/executor/auto_credentials.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_auto_credentials_test.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_credentials_owner_test.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

fix(backend): mock the credentials-owner resolver in resume + paywall-bypass tests
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

feat(backend): resend org invitation — fresh token + extended TTL (SECRT-2475)
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
Due: isort, pyright, pytest

test(backend): move resend tests to own file — zero shared surface with org-UI stack
  autogpt_platform/backend/backend/api/features/orgs/invitation_resend_test.py
Due: isort, pyright, pytest

fix(backend): harden owner credential grant execution
  autogpt_platform/backend/backend/api/features/orgs/grant_db.py
  autogpt_platform/backend/backend/api/features/orgs/grant_db_test.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/db_manager_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/execution_stats_test.py
  autogpt_platform/backend/backend/data/grants.py
  autogpt_platform/backend/backend/data/grants_test.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/auto_credentials.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_auto_credentials_test.py
  autogpt_platform/backend/backend/executor/manager_credential_lease_test.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_credentials_owner_test.py
  autogpt_platform/backend/backend/executor/utils_test.py
Due: isort, pyright, pytest

fix(backend): read resent invitation back by id, not by minted token
  autogpt_platform/backend/backend/api/features/orgs/invitation_resend_test.py
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
Due: isort, pyright, pytest

test(backend): snapshot the resend response payload; fix stale helper docstring
  autogpt_platform/backend/backend/api/features/orgs/invitation_resend_test.py
  autogpt_platform/backend/snapshots/invitation_resend_response
Due: isort, pyright, pytest

test(backend): assert the real 404 contract; document resend error responses
  autogpt_platform/backend/backend/api/features/orgs/invitation_resend_test.py
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend): make invitation resend reachable, atomic, and team-accurate
  autogpt_platform/backend/backend/api/features/orgs/invitation_resend_test.py
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): address review — hoist resend test imports to module top
  autogpt_platform/backend/backend/api/features/orgs/invitation_resend_test.py
Due: isort, pyright, pytest

fix(backend): update pending-invitations test mock for UserInvitationResponse
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
Due: isort, pyright, pytest

fix(frontend): type MSW helper params in org settings test
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
Due: prettier, tsc

feat(platform): org management UI — create org, settings page, members, invitations
  autogpt_platform/backend/backend/api/features/orgs/invitation_routes.py
  autogpt_platform/backend/backend/api/features/orgs/model.py
  autogpt_platform/frontend/src/app/(platform)/settings/components/SettingsSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/DangerZoneSection/DangerZoneSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/InvitationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/useInvitationsSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MembersSection/MembersSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MembersSection/useMembersSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MyInvitationsSection/MyInvitationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MyInvitationsSection/useMyInvitationsSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/OrgProfileSection/OrgProfileSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/OrgProfileSection/useOrgProfileSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/useOrganizationSettingsPage.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/CreateOrgDialog.tsx
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/schema.ts
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/useCreateOrgDialog.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/OrgTeamSwitcher.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/__tests__/OrgTeamSwitcher.test.tsx
  autogpt_platform/frontend/src/services/org-team/headers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): migrate org settings page from removed useSupabase to Better Auth useAuth
  autogpt_platform/frontend/src/app/(platform)/settings/organization/useOrganizationSettingsPage.ts
Due: prettier, tsc

fix(frontend): match SHOW_ORG_SETTINGS flag value to the LaunchDarkly key
  autogpt_platform/frontend/src/services/feature-flags/__tests__/flag-defaults.test.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(frontend): adapt AccountMenuOrgList to slimmed org switcher (teams are not context switches)
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountMenuOrgList.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/__tests__/AccountMenuOrgList.test.tsx
Due: prettier, tsc

test(frontend): cover show-org-settings fail-closed default and env override
  autogpt_platform/frontend/src/services/feature-flags/__tests__/flag-defaults.test.ts
Due: prettier, tsc

fix(frontend): guarantee the joined org lands in the store
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MyInvitationsSection/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/__tests__/AccountMenuOrgList.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/__tests__/OrgTeamSwitcher.test.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

fix(frontend): address org-settings review findings
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/DangerZoneSection/DangerZoneSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/InvitationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/useInvitationsSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MembersSection/useMembersSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MyInvitationsSection/MyInvitationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MyInvitationsSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/MyInvitationsSection/useMyInvitationsSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/OrgProfileSection/useOrgProfileSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/page.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/useOrganizationSettingsPage.ts
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/__tests__/schema.test.ts
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/schema.ts
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/useCreateOrgDialog.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/__tests__/AccountMenuOrgList.test.tsx
Due: prettier, tsc

test(frontend): migrate org settings page test mock to Better Auth useAuth
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
Due: prettier, tsc

fix(frontend): normalize snake_case org API response before populating org store
  autogpt_platform/frontend/src/components/contextual/CreateOrgDialog/useCreateOrgDialog.ts
  autogpt_platform/frontend/src/providers/org-team/OrgTeamProvider.tsx
  autogpt_platform/frontend/src/providers/org-team/__tests__/OrgTeamProvider.test.tsx
  autogpt_platform/frontend/src/services/org-team/normalize.ts
  autogpt_platform/frontend/src/services/org-team/store.ts
Due: prettier, tsc

feat(frontend): team roster management — leave, promote/demote, remove from expanded rows
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/teams.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/TeamsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamMembersPreview/TeamMembersPreview.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamMembersPreview/useTeamMembersPreview.ts
Due: prettier, tsc

test(frontend): migrate org settings test mocks from useSupabase to useAuth
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/teams.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/TeamsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamMembersPreview/TeamMembersPreview.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamMembersPreview/useTeamMembersPreview.ts
Due: prettier, tsc

feat(frontend): teams management — CRUD, roster expand, provider wiring
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/teams.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/TeamsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/CreateTeamDialog/CreateTeamDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/CreateTeamDialog/schema.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/CreateTeamDialog/useCreateTeamDialog.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamManagePanel/TeamManagePanel.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamManagePanel/TeamProfileForm.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamManagePanel/useTeamManagePanel.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamManagePanel/useTeamProfileForm.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamMembersPreview/TeamMembersPreview.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/components/TeamMembersPreview/useTeamMembersPreview.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/TeamsSection/useTeamsSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/page.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/OrgTeamSwitcher.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/__tests__/OrgTeamSwitcher.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/OrgTeamSwitcher/useOrgTeamSwitcher.ts
  autogpt_platform/frontend/src/providers/org-team/OrgTeamProvider.tsx
  autogpt_platform/frontend/src/providers/org-team/__tests__/OrgTeamProvider.test.tsx
Due: prettier, tsc

fix(frontend): render pre-assigned teams as pills on pending invitations
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/InvitationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/helpers.ts
Due: prettier, tsc

feat(frontend): invitations — team pre-assignment and spelled-out team names
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/InvitationsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/InvitationsSection/useInvitationsSection.ts
Due: prettier, tsc

feat(frontend): danger zone — ownership transfer with guarded error handling
  autogpt_platform/frontend/src/app/(platform)/settings/organization/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/DangerZoneSection/DangerZoneSection.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/organization/components/DangerZoneSection/useDangerZoneSection.ts
  autogpt_platform/frontend/src/app/(platform)/settings/organization/page.tsx
Due: prettier, tsc
