Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(frontend): address PR review — use design tokens, add error handling, fix sidebar
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/ChatSessionList.tsx
  autogpt_platform/frontend/src/components/ui/sidebar.tsx
Due: prettier, tsc

Saving uncommitted changes before archiving
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSessionList/ChatSessionList.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/SidebarDynamicContent.tsx
Due: prettier, tsc

refactor(frontend): move ChatSessionList to copilot page components
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSessionList/ChatSessionList.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/SidebarDynamicContent.tsx
Due: prettier, tsc

fix(copilot): add null-safety guards for LLM-supplied string params
  autogpt_platform/backend/backend/copilot/tools/connect_integration.py
  autogpt_platform/backend/backend/copilot/tools/feature_requests.py
  autogpt_platform/backend/backend/copilot/tools/find_block.py
Due: isort, pyright, pytest

refactor(platform): rename EXTENDED_THINKING to CLAUDE_CODE_SDK
  autogpt_platform/backend/backend/blocks/orchestrator.py
Due: isort, pyright, pytest

fix(test): correct underscore count in cleanup test and fix formatting
  autogpt_platform/backend/backend/blocks/test/test_orchestrator_tool_dedup.py
Due: isort, pyright, pytest

docs: regenerate block docs after ExecutionMode enum rename
  docs/integrations/block-integrations/llm.md
Due: none

fix(copilot): resolve merge conflicts between dry-run and authenticated-webrequest PRs
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/http_credentials_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/executor/simulator.py
Due: isort, pyright, pytest

chore(frontend): regenerate openapi.json from backend schema
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

refactor(frontend): update layout, move nav to sidebar, clean up dead code
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/__legacy__/Sidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/Navbar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MenuIcon/MenuIcon.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarLink.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

test: round 2 screenshots — normal vs dry-run comparison
  test-screenshots/PR-12594/38-simulate-10.png
  test-screenshots/PR-12594/38-simulate-3.png
  test-screenshots/PR-12594/40-normal-run-11.png
  test-screenshots/PR-12594/40-normal-run-3.png
Due: none

fix(frontend): clear node statuses before dry-run simulation in builder
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
Due: prettier, tsc

test: dry-run fix verification screenshots
  test-screenshots/PR-12594/43-sim-fix-5s.png
  test-screenshots/PR-12594/45-sim-fix-11s.png
  test-screenshots/PR-12594/48-sim-fix-26s.png
Due: none

fix(copilot): resolve host-scoped credentials for authenticated web requests (#12579)
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/http_credentials_test.py
  autogpt_platform/backend/backend/copilot/tools/utils.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/helpers.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): search users from User table instead of credit history
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): format user.py and add search_users endpoint tests
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes_test.py
  autogpt_platform/backend/backend/data/user.py
Due: isort, pyright, pytest

fix(frontend): add search_users to OpenAPI spec and regenerate types
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(frontend): remove manual OpenAPI additions, let CI generate
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

style(frontend): format openapi.json with prettier
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(frontend): add search_users endpoint to openapi.json in CI format
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(frontend): sort openapi.json paths alphabetically to match backend
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(frontend): use dev server spec as base for openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

revert(frontend): restore PR-specific openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(frontend): restore tier UI + cleanNodesStatuses in combined branch
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitDisplay.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitManager.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
Due: prettier, tsc

fix(frontend): correct tier multiplier labels (PRO=5x, BUSINESS=20x)
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/RateLimitDisplay.tsx
  test-results/PR-12594-round3/01-admin-rate-limits.png
  test-results/PR-12594-round3/02-page-state.png
  test-results/PR-12594-round3/03-search-by-email.png
  test-results/PR-12594-round3/04-rate-limits-scrolled.png
  test-results/PR-12594-round3/05-tier-ui-test.png
  test-results/PR-12594-round3/07-tier-ui-check.png
Due: prettier, tsc

test: tier UI working screenshot
  test-screenshots/PR-12594/07-tier-ui-working.png
Due: none

fix(frontend): propagate fetchRateLimit errors in handleTierChange
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: prettier, tsc

fix(frontend): regenerate openapi.json from backend export-api-schema
  autogpt_platform/frontend/src/app/api/openapi.json
  test-results/PR-12594-round3/08-tier-before-change.png
Due: prettier, tsc

fix(platform): add search_users endpoint to combined branch
  autogpt_platform/backend/backend/api/features/admin/rate_limit_admin_routes.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): add fallback to credit-history search when search_users unavailable
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: prettier, tsc

fix(frontend): use search_users only, remove credit-history fallback
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: prettier, tsc

fix(backend): resolve conflict markers in orchestrator.py
  autogpt_platform/backend/backend/blocks/orchestrator.py
Due: isort, pyright, pytest

fix(backend): add SubscriptionTier to rate_limit.py on combined branch
  autogpt_platform/backend/backend/copilot/rate_limit.py
Due: isort, pyright, pytest

fix(frontend): use /api/proxy/ prefix for search_users and tier fetch calls
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: prettier, tsc

fix(frontend): use /api/proxy/ for search and tier fetch calls
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: prettier, tsc

fix(frontend): correct proxy path to /api/proxy/api/ for fetch calls
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
  test-results/PR-12594-round4/01-search-zamil-multiple.png
Due: prettier, tsc

fix(frontend): correct proxy path /api/proxy/api/ for search and tier
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
Due: prettier, tsc

style(frontend): format useRateLimitManager.ts with prettier
  autogpt_platform/frontend/src/app/(platform)/admin/rate-limits/components/useRateLimitManager.ts
  test-results/PR-12594-round4/login-check.png
Due: prettier, tsc

fix(backend): fix empty error pin + get_global_rate_limits unpacking
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/executor/simulator.py
Due: isort, pyright, pytest

Sort by most recent execution time
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/backend/api/features/library/routes/agents.py
  autogpt_platform/backend/backend/data/includes.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
