Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: vc agg 12-31-2302-DAB8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-31_230259_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 12-31-2302-DAB8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 12-31-2302-DAB8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ghrs: snap 01-01-2303-5BDF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-01_230333_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-01_230333_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-01_230333_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 01-01-2303-5BDF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 01-01-2303-5BDF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-01_230333_views_clones_series_fragment.csv
Due: none

ghrs: report 01-01-2303-5BDF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

chore: refactors
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionHeader/LibraryActionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationCard/LibraryNotificationCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationDropdown/LibraryNotificationDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/molecules/Form/Form.tsx
Due: prettier, tsc

chore: more updates
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
Due: prettier, tsc

ghrs: snap 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ghrs: snap 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_views_clones_series_fragment.csv
Due: none

ghrs: report 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

chore: move node input
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeTableInput.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
Due: prettier, tsc

fix(frontend): keep anyOf field visible on empty
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/useAnyOfField.tsx
Due: prettier, tsc

fix(backend): enforce strict port validation in OAuth callback URLs
  autogpt_platform/backend/backend/api/external/v1/integrations.py
  autogpt_platform/backend/backend/api/external/v1/integrations_test.py
Due: isort, pyright, pytest

feat(blocks): add ConcatenateListsBlock for list concatenation
  autogpt_platform/backend/backend/blocks/basic.py
Due: isort, pyright, pytest

feat(blocks): add TextEncoderBlock for escape sequence encoding
  autogpt_platform/backend/backend/blocks/decoder_block.py
Due: isort, pyright, pytest

ghrs: snap 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Add delete key bindings to ReactFlow editor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
Due: prettier, tsc

refactor(frontend): simplify edge data handling in useEdgeStore
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
Due: prettier, tsc

refactor(frontend): fix new builder buttons
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/PublishToMarketplace.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/useBuilderView.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

refactor(frontend): fix new builder buttons (#11696)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/PublishToMarketplace.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/useBuilderView.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

Add LLM model creator support to registry and admin UI
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/llm_registry/__init__.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
  autogpt_platform/backend/backend/data/llm_registry/schema_utils.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/migrations/20251224100000_add_llm_model_creator/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddCreatorModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/CreatorsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/useLlmRegistryPage.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/utils/input-schema-pre-processor.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

feat(frontend): Add delete key bindings to ReactFlow editor (#11693)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
Due: prettier, tsc

refactor(frontend): move NodeInput files (#11695)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeTableInput.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
Due: prettier, tsc

fix: update imports to use new api/features paths
  autogpt_platform/backend/backend/api/features/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_generator/core.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_output.py
  autogpt_platform/backend/backend/api/features/chat/tools/create_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/edit_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/find_block.py
  autogpt_platform/backend/backend/api/features/chat/tools/find_library_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/run_block.py
  autogpt_platform/backend/backend/api/features/chat/tools/search_docs.py
  autogpt_platform/backend/backend/api/features/store/backfill_embeddings.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
Due: isort, prettier, pyright, tsc, pytest

first draft (missing migrations)
  autogpt_platform/backend/backend/api/external/fastapi_app.py
  autogpt_platform/backend/backend/api/external/v1/app.py
  autogpt_platform/backend/backend/api/external/v2/__init__.py
  autogpt_platform/backend/backend/api/external/v2/app.py
  autogpt_platform/backend/backend/api/external/v2/blocks.py
  autogpt_platform/backend/backend/api/external/v2/common.py
  autogpt_platform/backend/backend/api/external/v2/credits.py
  autogpt_platform/backend/backend/api/external/v2/files.py
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/integrations.py
  autogpt_platform/backend/backend/api/external/v2/library.py
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/models.py
  autogpt_platform/backend/backend/api/external/v2/routes.py
  autogpt_platform/backend/backend/api/external/v2/runs.py
  autogpt_platform/backend/backend/api/external/v2/schedules.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/schema.prisma
  docs/content/platform/contributing/oauth-integration-flow.md
  docs/content/platform/integrating/api-guide.md
Due: prisma-generate, isort, pyright, pytest

Improve LLM model migration and add AgentNode index
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/migrations/20260105120000_add_agent_node_model_index/migration.sql
Due: isort, pyright, pytest

Refactor LLM model cost and update logic, remove 'Enabled' checkbox
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
Due: isort, prettier, pyright, tsc, pytest

Improve model modal UX and credential provider selection
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
Due: prettier, tsc

fix(frontend): allow empty values in number inputs and fix AnyOfField toggle (#11661)
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/useAnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget/TextInputWidget.tsx
Due: prettier, tsc

fix(blocks): add YouTube Shorts URL support (#11659)
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/test/blocks/test_youtube.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
