Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

test(frontend): cover PlatformBadge unknown-platform fallback
  autogpt_platform/frontend/src/app/(platform)/admin/bots/__tests__/main.test.tsx
Due: prettier, tsc

fix(frontend): regenerate openapi via export-api-schema; dedupe platform labels
  autogpt_platform/frontend/src/app/(platform)/admin/bots/components/PlatformBadge.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

feat(platform): label bot-analytics rows by platform on the All-platforms view
  autogpt_platform/backend/backend/api/features/admin/bot_analytics_routes_test.py
  autogpt_platform/backend/backend/data/bot_analytics_reads.py
  autogpt_platform/frontend/src/app/(platform)/admin/bots/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/bots/components/BotsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/bots/components/PlatformBadge.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(platform): surface Slack on the Bots settings + admin analytics pages
  autogpt_platform/backend/backend/api/features/platform_linking/registry.py
  autogpt_platform/backend/backend/api/features/platform_linking/registry_test.py
  autogpt_platform/frontend/src/app/(platform)/admin/bots/components/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/settings/bots/__tests__/main.test.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend): changelog is a link-out popup only (product review)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/app/api/changelog/__tests__/route.test.ts
  autogpt_platform/frontend/src/app/api/changelog/image/__tests__/route.test.ts
  autogpt_platform/frontend/src/app/api/changelog/image/route.ts
  autogpt_platform/frontend/src/app/api/changelog/route.ts
  autogpt_platform/frontend/src/components/__legacy__/ui/icons.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/__tests__/AppSidebar.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/__tests__/account-menu-items.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/ChangelogPopup.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/SidebarChangelog.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/ChangelogMarkdownContent.test.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/ChangelogModal.test.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/ChangelogPopup.test.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/SidebarChangelog.test.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/useChangelog.test.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/__tests__/useSidebarChangelog.test.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/changelog-constants.ts
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/components/ChangelogMarkdownContent.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/components/ChangelogModal.tsx
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/useChangelog.ts
  autogpt_platform/frontend/src/components/molecules/ChangelogPopup/useSidebarChangelog.ts
  autogpt_platform/frontend/tailwind.config.ts
Due: prettier, tsc

fix(backend): create backfill org records atomically
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
  autogpt_platform/backend/backend/data/org_migration.py
  autogpt_platform/backend/backend/data/org_migration_test.py
Due: isort, pyright, pytest

chore(backend): re-lock poetry.lock after upstream/dev merge
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

docs: polish public platform README
  README.md
  docs/content/imgs/readme/autogpt_agent_dashboard.jpg
  docs/content/imgs/readme/autogpt_autopilot_chat.jpg
  docs/content/imgs/readme/autogpt_marketplace.png
  docs/content/imgs/readme/build_canvas_demo.png
Due: none

feat(backend/copilot-bot): multi-workspace Slack install via OAuth
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/features/platform_linking/registry.py
  autogpt_platform/backend/backend/api/features/platform_linking/registry_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/app-manifest.yaml
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/config.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth_test.py
  autogpt_platform/backend/backend/copilot/bot/webhook_routes.py
  autogpt_platform/backend/backend/data/bot_installs.py
  autogpt_platform/backend/backend/data/bot_installs_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20260708120000_add_bot_install/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/settings/bots/__tests__/main.test.tsx
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

fix(backend/copilot-bot): address Slack OAuth PR review
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): never fall back to the static token for a revoked workspace
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/data/bot_installs.py
Due: isort, pyright, pytest

fix(backend): handle legacy orphan personal orgs blocking the unique index
  autogpt_platform/backend/backend/data/org_migration.py
  autogpt_platform/backend/backend/data/org_migration_test.py
  autogpt_platform/backend/migrations/20260713120000_org_one_personal_per_user/migration.sql
Due: isort, pyright, pytest

test(backend/copilot-bot): harden bot-skip test + cover install revocation paths
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/data/bot_installs_test.py
Due: isort, pyright, pytest

fix(backend/copilot-bot): drop cached Slack clients when a workspace re-installs
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth_test.py
Due: isort, pyright, pytest

Fix command injection via extract_dict_from_json greedy regex
  classic/forge/forge/json/parsing.py
Due: isort, pyright, pytest

fix(platform): AutoGPT bot branding + link/intro copy from team review
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/intro.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/intro_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/app-manifest.yaml
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/oauth.py
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/components/LoadingView.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/components/NotAuthenticatedView.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/components/ReadyView.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/components/SuccessView.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotCard/BotCardServerList.tsx
Due: isort, prettier, pyright, tsc, pytest

refactor(backend/copilot-bot): split handler into focused modules
  autogpt_platform/backend/backend/copilot/bot/attachments.py
  autogpt_platform/backend/backend/copilot/bot/handler.py
  autogpt_platform/backend/backend/copilot/bot/handler_test.py
  autogpt_platform/backend/backend/copilot/bot/prompt.py
  autogpt_platform/backend/backend/copilot/bot/turn_stream.py
  autogpt_platform/backend/backend/util/architecture_test.py
Due: isort, pyright, pytest

refactor(backend/copilot-bot): default no-op contract methods + shared webhook verify
  autogpt_platform/backend/backend/copilot/bot/adapters/base.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/commands_test.py
Due: isort, pyright, pytest

refactor(backend/copilot-bot): extract shared /setup + /unlink command policy
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/commands.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/commands_test.py
  autogpt_platform/backend/backend/copilot/bot/command_core.py
  autogpt_platform/backend/backend/copilot/bot/command_core_test.py
Due: isort, pyright, pytest

docs(backend/copilot-bot): README architecture tree for the new module layout
  autogpt_platform/backend/backend/copilot/bot/README.md
Due: pyright, pytest

fix(platform): review copy nits — /setup description + platform-neutral empty state
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/commands.py
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotCard/BotCardServerList.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(backend): reconcile concurrent winner after orphan-clear retry
  autogpt_platform/backend/backend/api/features/orgs/db.py
Due: isort, pyright, pytest

test(frontend): cover the no-server-name title fallback on the link page
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/__tests__/page.test.tsx
Due: prettier, tsc

fix(backend): regenerate poetry.lock with poetry 2.2.1 to match CI
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

fix(backend/integrations): reject webhook ingress on provider path mismatch
  autogpt_platform/backend/backend/api/features/integrations/router.py
  autogpt_platform/backend/backend/api/features/integrations/webhook_ingress_test.py
Due: isort, pyright, pytest

chore(backend): reorder Revid credential-cleanup migration after dev merge
  autogpt_platform/backend/migrations/20260708130000_clear_revid_builtin_credential_refs/migration.sql
Due: none

Fix Windows shell execution tests
  classic/forge/forge/components/code_executor/test_code_executor.py
Due: isort, pyright, pytest

fix(backend): also clear Revid credential from preset overrides in migration
  autogpt_platform/backend/migrations/20260708130000_clear_revid_builtin_credential_refs/migration.sql
Due: none

feat(frontend): port tour chat visual polish to copilot chat
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactCard/ArtifactCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/StoppedTaskCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolAccordion/ToolAccordion.tsx
  autogpt_platform/frontend/src/app/(public)/tour/chat/components/TourChatContainer/TourChatContainer.tsx
Due: prettier, tsc

refactor(frontend): remove fake block caret from copilot composer
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/BlockCaret.tsx
Due: prettier, tsc

fix(frontend): drop scroll-fade gradient above copilot composer
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
Due: prettier, tsc

feat(frontend): per-platform visibility flag for the Bots settings page
  autogpt_platform/frontend/src/app/(platform)/settings/bots/__tests__/visibility.test.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotsList/useBotsList.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Due: prettier, tsc

feat(frontend): bring back composer block caret as a subtle dark terminal cursor
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/BlockCaret.tsx
Due: prettier, tsc

feat(frontend): squarer composer caret with smooth pulse
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/BlockCaret.tsx
Due: prettier, tsc

fix(frontend): vertically align composer block caret with the text
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/BlockCaret.tsx
Due: prettier, tsc

fix(frontend): anchor composer caret to the glyph box measured from the mirror marker
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/BlockCaret.tsx
Due: prettier, tsc

fix(frontend): neutral empty-state copy on the Bots settings page
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotsList/BotsList.tsx
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
