Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend): hold the revalidated prompt instead of leaning on the SDK cache
  autogpt_platform/backend/backend/copilot/prompt_cache_test.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

feat(backend): let AutoPilot edit its own chat-platform messages (#14436)
  autogpt_platform/backend/backend/copilot/bot/adapters/base.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/discord/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/slack/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/api_client.py
  autogpt_platform/backend/backend/copilot/bot/adapters/teams/api_client_test.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/adapter.py
  autogpt_platform/backend/backend/copilot/bot/adapters/telegram/adapter_test.py
  autogpt_platform/backend/backend/copilot/bot/app.py
  autogpt_platform/backend/backend/copilot/bot/outbound.py
  autogpt_platform/backend/backend/copilot/bot/outbound_test.py
  autogpt_platform/backend/backend/copilot/bot/sent_messages.py
  autogpt_platform/backend/backend/copilot/bot/sent_messages_test.py
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/permissions_test.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/chat_platform.py
  autogpt_platform/backend/backend/copilot/tools/chat_platform_test.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
  docs/integrations/block-integrations/misc.md
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): await the Add buttons in the MarketplaceStep test (#14627)
  autogpt_platform/frontend/src/app/(platform)/raise/components/MarketplaceStep/MarketplaceStep.test.tsx
Due: prettier, tsc

test(backend): credits authz invariants see the whole app and assert instead of exempt
  autogpt_platform/backend/backend/api/features/v1_credits_authz_test.py
Due: isort, pyright, pytest

test(backend): say exactly when the eight routes were out of view
  autogpt_platform/backend/backend/api/features/v1_credits_authz_test.py
Due: isort, pyright, pytest

fix(copilot): make the second-opener-waits desktop test deterministic
  autogpt_platform/backend/backend/copilot/computer_test.py
Due: isort, pyright, pytest

refactor(backend): move the block and file-upload routes into features/blocks (#14478)
  autogpt_platform/backend/backend/api/features/blocks/__init__.py
  autogpt_platform/backend/backend/api/features/blocks/routes.py
  autogpt_platform/backend/backend/api/features/blocks/routes_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/features/v1_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

ci(backend): let secret-gated skips pass on fork PRs (#14606)
  .github/scripts/backend-allowed-skips.json
  .github/scripts/test_validate_backend_skips.py
  .github/scripts/test_validate_junit.py
  .github/scripts/validate_backend_skips.py
  .github/scripts/validate_junit.py
Due: none

test(copilot): raise the session wire budget for edit_chat_platform_message
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

fix(backend): hide the pooled org balance on /home from members without MANAGE_BILLING
  autogpt_platform/backend/backend/api/features/home/routes.py
  autogpt_platform/backend/backend/api/features/home/routes_test.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/home/service_test.py
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
Due: isort, pyright, pytest

fix(backend): parse a closed ATX heading as the skill title
  autogpt_platform/backend/backend/api/features/store/skill_model.py
  autogpt_platform/backend/backend/api/features/store/skill_model_test.py
Due: isort, pyright, pytest

fix(backend): keep the copilot system prompt fresh after a Langfuse publish (#14628)
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/prompt_cache_test.py
  autogpt_platform/backend/backend/copilot/service.py
Due: isort, pyright, pytest

refactor(backend): widen ConflictError's docstring to cover state conflicts
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

refactor(copilot): stop declaring tools an automation session cannot call (#14629)
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/sdk/expert_tool_gate_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

test(backend): resolve function-local imports in the credit-model walk
  autogpt_platform/backend/backend/api/features/v1_credits_authz_test.py
Due: isort, pyright, pytest

fix(backend): refuse a personal-org member add with the same error delete_org uses
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

test(backend): fail the credit-model walk closed on an unloaded module
  autogpt_platform/backend/backend/api/features/v1_credits_authz_test.py
Due: isort, pyright, pytest

feat(llm-catalog): add Inception Mercury 2.5
  autogpt_platform/backend/backend/data/llm_registry/catalog.py
  autogpt_platform/backend/backend/data/llm_registry/catalog_test.py
  autogpt_platform/backend/backend/data/llm_registry/llm_models.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

feat(platform): add Casey customer-support core expert
  autogpt_platform/backend/backend/api/features/experts/seed.py
  autogpt_platform/backend/backend/api/features/store/skill_seed.py
  autogpt_platform/backend/backend/api/features/store/starter_skills/account-health-and-qbrs.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/billing-refunds-and-exceptions.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/bpo-vendor-quality-ops.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/compliance-and-regulated-support.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/draft-the-reply.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/enterprise-identity-sso-support.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/escalations-and-incidents.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/fraud-and-chargeback-defense.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/getting-started.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/help-center-answers-and-kb.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/knowledge-centered-service.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/live-channel-queue-operations.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/logistics-shipment-and-customs.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/marketplace-two-sided-mediation.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/mass-recovery-and-bulk-comms.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/member-benefits-and-claims.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/onboarding-and-adoption.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/orders-returns-and-warranty.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/own-to-closure.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/quality-csat-and-coaching.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/sensitive-data-safe-handling.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/service-recovery-and-goodwill.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/social-and-community-support.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/support-ops-improvement-program.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/technical-diagnostics-with-tools.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/travel-disruption-and-rebooking.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/triage-and-prioritize.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/troubleshoot-and-resolve.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/trust-and-safety-escalations.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/upsell-and-retention-offers.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/vip-and-white-glove-care.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/voice-and-phone-support.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/voice-of-customer-and-feedback.md
  autogpt_platform/backend/backend/api/features/store/starter_skills/workforce-and-capacity-planning.md
  autogpt_platform/backend/backend/copilot/eval/style/fixtures/casey.json
Due: isort, pyright, pytest

refactor(frontend): match the trial card to the plan cards and billing cards
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/SubscriptionStep/SubscriptionStep.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/CancelTrialDialog.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialCard.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialOffer.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialRejection.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialStatus.tsx
  autogpt_platform/frontend/src/components/organisms/TrialCard/TrialTitle.tsx
Due: prettier, tsc

feat(backend/copilot): boundary gauge truth, pin-derived retry target, after_source
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway_test.py
  autogpt_platform/backend/backend/copilot/sdk/compaction.py
  autogpt_platform/backend/backend/copilot/sdk/compaction_test.py
  autogpt_platform/backend/backend/copilot/sdk/langfuse_events.py
  autogpt_platform/backend/backend/copilot/sdk/langfuse_events_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_helpers_test.py
  autogpt_platform/backend/backend/copilot/transcript.py
  autogpt_platform/backend/backend/copilot/transcript_test.py
Due: isort, pyright, pytest

fix(platform): keep acronym casing in marketplace skill titles (#14631)
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/models.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/api/features/store/skill_model.py
  autogpt_platform/backend/backend/api/features/store/skill_model_test.py
  autogpt_platform/backend/backend/api/features/store/skill_seed_test.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/skills-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SkillsSection/components/SkillCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SkillsSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/[expertId]/components/ExpertSkills.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/expert-page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/__tests__/skills-in-search.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/__tests__/install-to-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/__tests__/package-contents.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/components/SkillPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/skills/__tests__/browse.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/KitStep/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/SkillsStep/SkillsStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/AddSkillDialog.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): move the onboarding routes into features/onboarding (#14479)
  autogpt_platform/backend/backend/api/features/onboarding/__init__.py
  autogpt_platform/backend/backend/api/features/onboarding/profile_test.py
  autogpt_platform/backend/backend/api/features/onboarding/routes.py
  autogpt_platform/backend/backend/api/features/onboarding/routes_test.py
  autogpt_platform/backend/backend/api/features/onboarding/step_test.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

feat(blocks): add TypeSafe Jev judgment blocks
  autogpt_platform/backend/backend/blocks/typesafe/README.md
  autogpt_platform/backend/backend/blocks/typesafe/__init__.py
  autogpt_platform/backend/backend/blocks/typesafe/_base.py
  autogpt_platform/backend/backend/blocks/typesafe/_budget.py
  autogpt_platform/backend/backend/blocks/typesafe/_budget_test.py
  autogpt_platform/backend/backend/blocks/typesafe/_client.py
  autogpt_platform/backend/backend/blocks/typesafe/_client_test.py
  autogpt_platform/backend/backend/blocks/typesafe/_config.py
  autogpt_platform/backend/backend/blocks/typesafe/_integration.py
  autogpt_platform/backend/backend/blocks/typesafe/_schemas.py
  autogpt_platform/backend/backend/blocks/typesafe/_test.py
  autogpt_platform/backend/backend/blocks/typesafe/_wire.py
  autogpt_platform/backend/backend/blocks/typesafe/_wire_test.py
  autogpt_platform/backend/backend/blocks/typesafe/ask_many.py
  autogpt_platform/backend/backend/blocks/typesafe/choice.py
  autogpt_platform/backend/backend/blocks/typesafe/filter.py
  autogpt_platform/backend/backend/blocks/typesafe/pick_best.py
  autogpt_platform/backend/backend/blocks/typesafe/resume-review.example.json
  autogpt_platform/backend/backend/blocks/typesafe/route.py
  autogpt_platform/backend/backend/blocks/typesafe/score.py
  autogpt_platform/backend/backend/blocks/typesafe/test_blocks.py
  autogpt_platform/backend/backend/blocks/typesafe/test_errors.py
  autogpt_platform/backend/backend/blocks/typesafe/test_null_input.py
  autogpt_platform/backend/backend/blocks/typesafe/test_provider.py
  autogpt_platform/backend/backend/blocks/typesafe/test_validation.py
  autogpt_platform/backend/backend/blocks/typesafe/yes_no.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(backend/copilot): stub pin resolvers in retry-scenario fixtures
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
Due: isort, pyright, pytest

test(backend/experts): seed a fixture roster in tests, never the real one (#14630)
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

refactor(platform): send the funnel events to PostHog, DataFast and Sentry
  autogpt_platform/backend/backend/api/features/analytics_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/copilot/briefing/generate.py
  autogpt_platform/backend/backend/copilot/briefing/generate_test.py
  autogpt_platform/backend/backend/data/analytics.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/manager_expert_events_test.py
  autogpt_platform/backend/backend/util/funnel_analytics.py
  autogpt_platform/backend/backend/util/funnel_analytics_test.py
  autogpt_platform/backend/migrations/20260814190000_index_analytics_funnel_events/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/HireStep/__tests__/HireStep.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/steps/HireStep/useHireStep.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/install-on-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/expert-page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/useFireExpertDialog.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/useFireExpertDialog.ts
  autogpt_platform/frontend/src/components/molecules/InstallWorkflowPicker/useInstallWorkflowPicker.ts
  autogpt_platform/frontend/src/services/experts/experts-analytics.test.ts
  autogpt_platform/frontend/src/services/experts/experts-analytics.ts
  autogpt_platform/frontend/src/services/experts/useHireFlow.tsx
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

feat(backend/copilot): let two live sessions message each other
  autogpt_platform/backend/backend/copilot/context.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/permissions.py
  autogpt_platform/backend/backend/copilot/tools/__init__.py
  autogpt_platform/backend/backend/copilot/tools/find_session.py
  autogpt_platform/backend/backend/copilot/tools/message_session.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/session_messaging_test.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): drop the unused funnel-event-name test helpers
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/experts/__tests__/expert-page.test.tsx
Due: prettier, tsc

fix(backend): hide the pooled org balance on /home from members without MANAGE_BILLING (#14634)
  autogpt_platform/backend/backend/api/features/home/routes.py
  autogpt_platform/backend/backend/api/features/home/routes_test.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/home/service_test.py
  autogpt_platform/backend/backend/api/features/orgs/db.py
  autogpt_platform/backend/backend/api/features/orgs/routes_test.py
Due: isort, pyright, pytest

docs: regenerate block docs for find_session and message_session
  docs/integrations/block-integrations/misc.md
Due: none

fix(backend): contain exec file paths per execution
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/file_test.py
Due: isort, pyright, pytest

fix(backend): point the chat-share docstring at the module that exists
  autogpt_platform/backend/backend/api/features/chat/share.py
Due: isort, pyright, pytest

fix(backend): reject sandbox root execution ids
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/file_test.py
Due: isort, pyright, pytest

refactor(backend): move the user-settings routes into features/user and delete v1.py (#14480)
  autogpt_platform/backend/backend/api/features/chat/share.py
  autogpt_platform/backend/backend/api/features/user/__init__.py
  autogpt_platform/backend/backend/api/features/user/routes.py
  autogpt_platform/backend/backend/api/features/user/routes_test.py
  autogpt_platform/backend/backend/api/features/v1_credits_authz_test.py
  autogpt_platform/backend/backend/api/rest_api.py
Due: isort, pyright, pytest

style(backend): format exec path changes
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/file_test.py
Due: isort, pyright, pytest

fix(frontend): reset expert-kickoff test state before each test, not after
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-kickoff.test.tsx
Due: prettier, tsc

fix(backend): drop three MCP catalog servers that reject our redirect URI
  autogpt_platform/backend/backend/integrations/mcp_catalog.json
Due: pyright, pytest

fix(backend/copilot): address the autoreview findings on session messaging
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/tools/find_session.py
  autogpt_platform/backend/backend/copilot/tools/message_session.py
  autogpt_platform/backend/backend/copilot/tools/session_messaging_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ConsultCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/toolCatalog.agent.ts
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): drop dead code left in the user-settings test module
  autogpt_platform/backend/backend/api/features/user/routes_test.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/ShareRunButton/useShareRunButton.ts
Due: isort, prettier, pyright, tsc, pytest
