Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

refactor(copilot): extract _next_transient_backoff and _do_transient_backoff to module level
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(platform): address Pwuts review — accessor pattern, Prisma insert, Literal type, merged migration
  autogpt_platform/backend/backend/data/db_accessors.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/platform_cost.py
  autogpt_platform/backend/backend/data/platform_cost_test.py
  autogpt_platform/backend/migrations/20260402120000_add_platform_cost_log/migration.sql
  autogpt_platform/backend/migrations/20260405140000_add_platform_cost_tracking_amount/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend): enforce typed return from RPC layer — remove silent dict fallback
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

fix(frontend): suppress Sentry noise from expected 401s in OnboardingProvider
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

fix(frontend): reset hasInitialized on 401 to allow retry after re-login
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: prettier, tsc

test(backend): add _get_return regression test for typed RPC contract
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/service_test.py
Due: isort, pyright, pytest

fix(backend): make User RPC model forward-compatible during rolling deploys
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/util/service_test.py
Due: isort, pyright, pytest

fix(backend/executor): OrchestratorBlock dry-run credentials + Responses API status field
  autogpt_platform/backend/backend/blocks/orchestrator.py
  autogpt_platform/backend/backend/blocks/test/test_orchestrator_responses_api.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/simulator_test.py
Due: isort, pyright, pytest

fix(backend): restore _get_return fallback with observable logging and Sentry capture
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Due: isort, pyright, pytest

fix(backend/executor): use is None check and ProviderName enum in dry-run cred test
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/simulator_test.py
Due: isort, pyright, pytest

feat(backend/copilot): hide dry_run mode from LLM via session-level flag
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/helpers.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/run_block.py
  autogpt_platform/backend/backend/copilot/tools/test_dry_run.py
Due: isort, pyright, pytest

fix(backend): fix import ordering and clean up arrow comment
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

fix(backend): use f-string in _get_return warning and restore docstring
  autogpt_platform/backend/backend/util/service.py
Due: isort, pyright, pytest

fix(copilot): address review blockers and should-fix items
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/transcript_builder.py
Due: isort, pyright, pytest

fix(backend): use raw SQL INSERT for PlatformCostLog to avoid Prisma Json type quirk
  autogpt_platform/backend/backend/data/platform_cost.py
Due: isort, pyright, pytest

fix(backend): use SafeJson for PlatformCostLog metadata and add integration test
  autogpt_platform/backend/backend/data/platform_cost.py
  autogpt_platform/backend/backend/data/platform_cost_integration_test.py
  autogpt_platform/backend/backend/data/platform_cost_test.py
Due: isort, pyright, pytest

fix(backend): fix import sort order in platform_cost.py
  autogpt_platform/backend/backend/data/platform_cost.py
Due: isort, pyright, pytest

fix(backend): omit metadata key when None — Prisma Json? rejects Python None
  autogpt_platform/backend/backend/data/platform_cost.py
  autogpt_platform/backend/backend/data/platform_cost_test.py
Due: isort, pyright, pytest

fix(backend/copilot): stash full tool output before stripping is_dry_run from LLM result
  .secrets.baseline
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/tools/test_dry_run.py
  autogpt_platform/backend/test/copilot/dry_run_loop_test.py
Due: isort, pyright, pytest

fix(copilot): preserve fallback_model_activated across transient retries
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

refactor(backend): remove redundant extra='ignore' from User model_config
  autogpt_platform/backend/backend/data/model.py
Due: isort, pyright, pytest

fix(backend): use PlatformCostLogCreateInput typed input, SafeJson fallback to {}
  autogpt_platform/backend/backend/data/platform_cost.py
  autogpt_platform/backend/backend/data/platform_cost_integration_test.py
  autogpt_platform/backend/backend/data/platform_cost_test.py
Due: isort, pyright, pytest

fix(backend): fix unit test assertion for SafeJson equality
  autogpt_platform/backend/backend/data/platform_cost_test.py
Due: isort, pyright, pytest

test(backend/copilot): extract _strip_llm_fields helper and add regression tests for is_dry_run stripping
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter.py
  autogpt_platform/backend/backend/copilot/sdk/tool_adapter_test.py
Due: isort, pyright, pytest

test(backend/copilot): add RunAgentTool session dry_run override tests; use params.dry_run consistently in _execute
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/test_dry_run.py
Due: isort, pyright, pytest

fix: autogpt_platform/frontend/package.json to reduce vulnerabilities
  autogpt_platform/frontend/package.json
Due: prettier, tsc

fix(copilot): use production _EPHEMERAL_EVENT_TYPES in TestEventsYieldedExclusions
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
Due: isort, pyright, pytest

fix(frontend): propagate impersonation header to all copilot direct-backend requests
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/useMessageFeedback.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Due: prettier, tsc

fix(frontend): use absolute import path and add tests for getCopilotAuthHeaders
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/useMessageFeedback.ts
Due: prettier, tsc

test(frontend): add coverage for customMutator impersonation header branch
  autogpt_platform/frontend/src/app/api/mutators/__tests__/custom-mutator.test.ts
Due: prettier, tsc

nit(frontend): use IMPERSONATION_HEADER_NAME constant in test assertions
  autogpt_platform/frontend/src/app/api/mutators/__tests__/custom-mutator.test.ts
Due: prettier, tsc

nit(frontend): use IMPERSONATION_HEADER_NAME constant in helpers.test.ts assertions
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/helpers.test.ts
Due: prettier, tsc

feat(backend): server-level platform linking with impersonation fix
  autogpt_platform/backend/backend/api/features/platform_linking/chat_proxy.py
  autogpt_platform/backend/backend/api/features/platform_linking/models.py
  autogpt_platform/backend/backend/api/features/platform_linking/routes.py
  autogpt_platform/backend/backend/api/features/platform_linking/routes_test.py
  autogpt_platform/backend/migrations/20260331120000_add_platform_bot_linking/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

feat: Frontend platform linking page (/link/{token})
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/page.tsx
Due: prettier, tsc

chore: remove accidentally committed file
  NICK_REVIEW_OUTSTANDING.md
Due: none

fix: use existing proxy instead of dedicated API routes
  NICK_REVIEW_OUTSTANDING.md
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/page.tsx
  autogpt_platform/frontend/src/app/api/platform-linking/tokens/[token]/confirm/route.ts
  autogpt_platform/frontend/src/app/api/platform-linking/tokens/[token]/status/route.ts
Due: prettier, tsc

fix(frontend): use useSupabase() hook instead of raw store
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/page.tsx
Due: prettier, tsc

fix(frontend): address review feedback on platform linking page
  autogpt_platform/frontend/src/app/(no-navbar)/link/[token]/page.tsx
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
