Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(frontend): buffer workspace file downloads to prevent truncation (#12349)
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
Due: prettier, tsc

improve endpoint self-documentation
  autogpt_platform/backend/backend/api/external/v2/blocks.py
  autogpt_platform/backend/backend/api/external/v2/credits.py
  autogpt_platform/backend/backend/api/external/v2/files.py
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/integrations/credentials.py
  autogpt_platform/backend/backend/api/external/v2/library/agents.py
  autogpt_platform/backend/backend/api/external/v2/library/folders.py
  autogpt_platform/backend/backend/api/external/v2/library/presets.py
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/models.py
  autogpt_platform/backend/backend/api/external/v2/runs.py
  autogpt_platform/backend/backend/api/external/v2/schedules.py
Due: isort, pyright, pytest

fix error handling
  autogpt_platform/backend/backend/api/external/v1/app.py
  autogpt_platform/backend/backend/api/external/v2/app.py
  autogpt_platform/backend/backend/api/external/v2/app_test.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/api/utils/exceptions.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/snapshots/v2_not_found_error_404
  autogpt_platform/backend/snapshots/v2_unhandled_exception_500
  autogpt_platform/backend/snapshots/v2_value_error_400
Due: isort, pyright, pytest

ghrs: snap 03-10-2305-8462 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-10_230600_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-10_230600_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-10_230600_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 03-10-2305-8462 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 03-10-2305-8462 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-03-10_230600_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 03-10-2305-8462 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Add submission status and review feedback to agent review
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/PublishAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentReviewStep.tsx
Due: prettier, tsc

Improve error messaging in thumbnail upload failure
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/components/useThumbnailImages.ts
Due: prettier, tsc

Fix store submission validation and button type attribute
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/components/ThumbnailImages.tsx
Due: isort, prettier, pyright, tsc, pytest

Fix mock setup in store submission test
  autogpt_platform/backend/backend/api/features/store/db_test.py
Due: isort, pyright, pytest

fix(platform): replace deprecated logger.warn with logger.warning
  autogpt_platform/backend/backend/integrations/ayrshare.py
Due: isort, pyright, pytest

feat(platform): improve copilot notification system
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/NotificationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationDialog/NotificationDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/PulseLoader/PulseLoader.module.css
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotNotifications.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): address CodeRabbit review feedback for copilot notifications
  autogpt_platform/frontend/src/app/(platform)/copilot/components/MobileDrawer/MobileDrawer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationBanner/NotificationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NotificationDialog/NotificationDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotNotifications.ts
Due: prettier, tsc

fix(frontend/copilot): cache voices via voiceschanged event to fix race condition
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/useTextToSpeech.ts
Due: prettier, tsc

feat(frontend): add hit-area utility for improved touch targets
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/FileChips.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/components/CollapsedToolGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatSidebar/ChatSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TaskActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TemplateActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TriggerActionsDropdown.tsx
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/ai-elements/message.tsx
Due: prettier, tsc

feat(blocks): add and harden GitHub blocks for full-cycle development (#12334)
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/github/_utils.py
  autogpt_platform/backend/backend/blocks/github/commits.py
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
  autogpt_platform/backend/backend/blocks/github/repo.py
  autogpt_platform/backend/backend/blocks/github/repo_branches.py
  autogpt_platform/backend/backend/blocks/github/repo_files.py
  autogpt_platform/backend/backend/blocks/github/test_github_blocks.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  docs/integrations/README.md
  docs/integrations/SUMMARY.md
  docs/integrations/block-integrations/github/commits.md
  docs/integrations/block-integrations/github/pull_requests.md
  docs/integrations/block-integrations/github/repo.md
  docs/integrations/block-integrations/github/repo_branches.md
  docs/integrations/block-integrations/github/repo_files.md
Due: isort, pyright, pytest

feat(analytics): add documented SQL views with generation script
  autogpt_platform/analytics/README.md
  autogpt_platform/analytics/generate_views.py
  autogpt_platform/analytics/queries/auth_activities.sql
  autogpt_platform/analytics/queries/graph_execution.sql
  autogpt_platform/analytics/queries/node_block_execution.sql
  autogpt_platform/analytics/queries/retention_agent.sql
  autogpt_platform/analytics/queries/retention_execution_daily.sql
  autogpt_platform/analytics/queries/retention_execution_weekly.sql
  autogpt_platform/analytics/queries/retention_login_daily.sql
  autogpt_platform/analytics/queries/retention_login_onboarded_weekly.sql
  autogpt_platform/analytics/queries/retention_login_weekly.sql
  autogpt_platform/analytics/queries/user_block_spending.sql
  autogpt_platform/analytics/queries/user_onboarding.sql
  autogpt_platform/analytics/queries/user_onboarding_funnel.sql
  autogpt_platform/analytics/queries/user_onboarding_integration.sql
  autogpt_platform/analytics/queries/users_activities.sql
  autogpt_platform/analytics/setup.sql
  autogpt_platform/analytics/views.sql
Due: none

fix(frontend): add stale-request guard and prevent sentinel auto-drain
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useLoadMoreMessages.ts
Due: prettier, tsc

feat(frontend/copilot): improve TTS voice selection to avoid robotic voices (#12317)
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/useTextToSpeech.ts
Due: prettier, tsc

feat(llm): add Mistral flagship models (Large 3, Medium 3.1, Small 3.2, Codestral) (#12337)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  docs/integrations/block-integrations/llm.md
Due: isort, pyright, pytest

chore(analytics): remove auto-generated files, gitignore views.sql
  autogpt_platform/analytics/.gitignore
  autogpt_platform/analytics/README.md
  autogpt_platform/analytics/views.sql
Due: none

refactor(analytics): generate setup.sql via --setup flag, gitignore it
  autogpt_platform/analytics/.gitignore
  autogpt_platform/analytics/generate_views.py
  autogpt_platform/analytics/setup.sql
Due: none

fix(frontend/library): graceful schedule deletion with auto-selection (#12278)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Due: prettier, tsc

feat(analytics): auto-load DB creds from backend/.env as fallback
  autogpt_platform/analytics/generate_views.py
Due: none

docs(analytics): add step-by-step quick start to generate_views.py docstring
  autogpt_platform/analytics/generate_views.py
Due: none

fix(analytics): restrict analytics_readonly to analytics schema only via security_invoker=false views
  autogpt_platform/analytics/generate_views.py
Due: none

refactor(analytics): move generate_views.py to backend, add poetry run analytics-setup/analytics-views scripts
  autogpt_platform/analytics/.gitignore
  autogpt_platform/analytics/generate_views.py
  autogpt_platform/backend/generate_views.py
  autogpt_platform/backend/pyproject.toml
Due: isort, pyright

fix(gmail): fallback when html2text conversion fails (refs #12368)
  autogpt_platform/backend/backend/blocks/google/gmail.py
Due: isort, pyright, pytest

test(gmail): cover html2text conversion failure fallback (refs #12368)
  autogpt_platform/backend/test/blocks/test_gmail.py
Due: isort, pyright, pytest

docs: regenerate block docs and remove deprecated OpenAI models
  docs/integrations/block-integrations/llm.md
Due: none

fix: keep deprecated GEMINI_3_PRO_PREVIEW for backward compatibility
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

revert: remove deprecated model, don't keep it for backward compat
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

test(gmail): fix asyncio decorator placement for lint
  autogpt_platform/backend/test/blocks/test_gmail.py
Due: isort, pyright, pytest

fix: actually DELETE deprecated model instead of commenting it out
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Due: isort, pyright, pytest

style(test): add blank line between async test methods
  autogpt_platform/backend/test/blocks/test_gmail.py
Due: isort, pyright, pytest

refactor(frontend): update plugins for tailwind v4 compatibility
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Due: prettier, tsc

fix(backend): replace tuple return with PaginatedMessages dataclass and address review feedback
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/db.py
Due: isort, pyright, pytest

refactor(frontend): configure tailwind v4 CSS-first theme and plugins
  autogpt_platform/frontend/src/app/globals.css
Due: prettier, tsc
