Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

fix(backend/api): MCP calls keep REST's per-route caps, and leak no internals
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/mcp_calls.py
  autogpt_platform/backend/backend/api/external/v2/mcp_server.py
  autogpt_platform/backend/backend/api/external/v2/mcp_server_test.py
  autogpt_platform/backend/backend/api/features/oauth.py
  autogpt_platform/backend/backend/api/features/oauth_test.py
  autogpt_platform/backend/backend/copilot/tools/base.py
  autogpt_platform/backend/backend/copilot/tools/external_scope_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
Due: isort, pyright, pytest

fix(backend): library agents report their marketplace listing again; v2 keys anonymous callers and pages versions correctly
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit_test.py
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/graphs_test.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/marketplace_listing_db_test.py
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

docs(backend): say at the trusted proxy count which default to keep, and why
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/util/settings.py
Due: isort, pyright, pytest

fix(platform): v2 idempotency, docs limits, v1 errors, paging and consent text
  autogpt_platform/backend/backend/api/external/fastapi_app.py
  autogpt_platform/backend/backend/api/external/fastapi_app_test.py
  autogpt_platform/backend/backend/api/external/v1/app.py
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/idempotency.py
  autogpt_platform/backend/backend/api/external/v2/idempotency_test.py
  autogpt_platform/backend/backend/api/external/v2/library/agents.py
  autogpt_platform/backend/backend/api/external/v2/rate_limit_test.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/db_test.py
  autogpt_platform/backend/backend/api/utils/exceptions.py
  autogpt_platform/backend/backend/api/utils/exceptions_test.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
Due: isort, prettier, pyright, tsc, pytest

docs(platform): describe the External API as it now behaves
  docs/engineering/api-docs-gitbook.md
  docs/platform/integrating/api-conventions.md
  docs/platform/integrating/authentication.md
  docs/platform/integrating/mcp-server.md
  docs/platform/integrating/running-agents.md
Due: none

fix(backend): reject replaced legacy database references
  .pre-commit-config.yaml
  autogpt_platform/backend/AGENTS.md
  autogpt_platform/backend/backend/util/database_boundary_legacy.json
  autogpt_platform/backend/backend/util/db_boundary.py
  autogpt_platform/backend/backend/util/db_boundary_ast.py
  autogpt_platform/backend/backend/util/db_boundary_identity.py
  autogpt_platform/backend/backend/util/db_boundary_legacy_test.py
  autogpt_platform/backend/backend/util/db_boundary_test.py
Due: isort, pyright, pytest

fix(backend): clear database aliases after reassignment
  autogpt_platform/backend/backend/util/db_boundary_ast.py
  autogpt_platform/backend/backend/util/db_boundary_binding_test.py
Due: isort, pyright, pytest

dx(backend): colocate moved database tests
  autogpt_platform/backend/backend/data/review_alerts_test.py
  autogpt_platform/backend/backend/data/run_scoring_test.py
Due: isort, pyright, pytest

fix(platform): improve OpenUI task guidance and progress state
  autogpt_platform/backend/backend/copilot/eval/openui/README.md
  autogpt_platform/backend/backend/copilot/eval/openui/journeys.jsonl
  autogpt_platform/backend/backend/copilot/openui_prompt.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/openui_library.txt
  autogpt_platform/backend/backend/copilot/tools/openui_source.py
  autogpt_platform/backend/backend/copilot/tools/openui_source_test.py
  autogpt_platform/backend/backend/copilot/tools/render_ui.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RenderUI/__tests__/ChecklistProgress.test.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/ChecklistView.tsx
  autogpt_platform/frontend/src/components/organisms/OpenUI/components/useChecklistView.ts
  autogpt_platform/frontend/src/lib/openui/catalog.ts
  docs/engineering/openui-experiment.md
Due: isort, prettier, pyright, tsc, pytest

fix(backend): charge SDK turns only for their own spend
  autogpt_platform/backend/backend/copilot/sdk/cli_cost_state_test.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_cli_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_restart_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_test.py
  autogpt_platform/backend/backend/copilot/transcript.py
  autogpt_platform/backend/backend/copilot/transcript_test.py
Due: isort, pyright, pytest

fix(backend): retain SDK spend across building-mode relaunches
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_cli_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_restart_test.py
Due: isort, pyright, pytest

fix(backend): isolate container build tools from Debian packages
  autogpt_platform/backend/Dockerfile
Due: none

fix(backend): preserve MCP cache isolation and option write review
  autogpt_platform/backend/backend/copilot/capabilities/mcp_connections.py
  autogpt_platform/backend/backend/copilot/capabilities/mcp_connections_test.py
  autogpt_platform/backend/backend/copilot/capabilities/mcp_review.py
  autogpt_platform/backend/backend/copilot/tools/find_custom_mcp_test.py
  autogpt_platform/backend/backend/copilot/tools/mcp_connections_review_test.py
  autogpt_platform/backend/backend/copilot/tools/run_capability.py
  autogpt_platform/backend/backend/copilot/tools/session_registry.py
  autogpt_platform/backend/backend/copilot/tools/session_registry_test.py
Due: isort, pyright, pytest

fix(backend): retain SDK spend across retry attempts
  autogpt_platform/backend/backend/copilot/sdk/cli_cost_state_test.py
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_retry_test.py
Due: isort, pyright, pytest

refactor(backend): preserve current credit marker reads
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/constants.py
  autogpt_platform/backend/backend/data/credit_history/enrichment.py
  autogpt_platform/backend/backend/data/credit_history/history_test.py
  autogpt_platform/backend/backend/data/credit_history/queries.py
  autogpt_platform/backend/backend/data/credit_history/service.py
Due: isort, pyright, pytest

fix(backend): price SDK spend per model and recover unreported increments
  autogpt_platform/backend/backend/copilot/sdk/cli_cost_state_test.py
  autogpt_platform/backend/backend/copilot/sdk/conftest.py
  autogpt_platform/backend/backend/copilot/sdk/cost_tracking.py
  autogpt_platform/backend/backend/copilot/sdk/cost_tracking_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_incomplete_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_retry_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_test.py
  autogpt_platform/backend/backend/copilot/transcript.py
Due: isort, pyright, pytest

fix(backend): fetch sub-graphs shared by graph versions once when listing versions
  autogpt_platform/backend/backend/api/features/graphs/routes_db_test.py
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

feat(frontend): redesign wallet with chat usage and credits (#15204)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsageBar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarUserActions/SidebarUserActions.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/__tests__/Wallet.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/__tests__/WalletCompactPanel.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/__tests__/WalletCopilotUsage.test.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletCompactPanel.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletCopilotUsage.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletEarnCredits.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTrigger.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/useWallet.ts
  autogpt_platform/frontend/src/services/trials/useTrialStatus.ts
Due: prettier, tsc

fix(backend): verify resumed SDK turn billing end to end with the bundled CLI
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_e2e_test.py
Due: isort, pyright, pytest

fix(backend): stop overcharging resumed SDK turns (hotfix) (#15342)
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/copilot/sdk/cli_cost_state_test.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_cli_test.py
  autogpt_platform/backend/backend/copilot/sdk/conftest.py
  autogpt_platform/backend/backend/copilot/sdk/cost_tracking.py
  autogpt_platform/backend/backend/copilot/sdk/cost_tracking_test.py
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_incomplete_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_restart_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_retry_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_test.py
  autogpt_platform/backend/backend/copilot/transcript.py
  autogpt_platform/backend/backend/copilot/transcript_test.py
Due: isort, pyright, pytest

fix(platform): close the second security review round's findings
  autogpt_platform/backend/backend/api/external/middleware.py
  autogpt_platform/backend/backend/api/external/v2/contract_test.py
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/marketplace_test.py
  autogpt_platform/backend/backend/api/external/v2/mcp_mount_test.py
  autogpt_platform/backend/backend/api/external/v2/mcp_server.py
  autogpt_platform/backend/backend/api/external/v2/rate_limit_test.py
  autogpt_platform/backend/backend/api/features/oauth.py
  autogpt_platform/backend/backend/api/features/oauth_test.py
  autogpt_platform/backend/backend/copilot/tools/external_scope.py
  autogpt_platform/backend/backend/copilot/tools/feature_requests.py
  autogpt_platform/backend/backend/copilot/tools/get_agent_building_guide.py
  autogpt_platform/backend/backend/copilot/tools/manage_folders.py
  autogpt_platform/backend/backend/copilot/tools/web_search.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
  autogpt_platform/backend/backend/util/workspace.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/__tests__/page.test.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  docs/platform/integrating/oauth-guide.md
Due: isort, prettier, pyright, tsc, pytest

fix(backend): marketplace search finds experts by their job title (#15147)
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

fix(backend/copilot): find_capability finds roster experts to hire and the user's team (#15149)
  autogpt_platform/backend/backend/copilot/capabilities/dispatch.py
  autogpt_platform/backend/backend/copilot/capabilities/eval/expert_hire_dataset.json
  autogpt_platform/backend/backend/copilot/capabilities/eval/expert_roster.json
  autogpt_platform/backend/backend/copilot/capabilities/eval/experts.py
  autogpt_platform/backend/backend/copilot/capabilities/eval/experts_test.py
  autogpt_platform/backend/backend/copilot/capabilities/index.py
  autogpt_platform/backend/backend/copilot/capabilities/models.py
  autogpt_platform/backend/backend/copilot/capabilities/sources/__init__.py
  autogpt_platform/backend/backend/copilot/capabilities/sources/experts.py
  autogpt_platform/backend/backend/copilot/tools/capability_tools_test.py
  autogpt_platform/backend/backend/copilot/tools/describe_capability.py
  autogpt_platform/backend/backend/copilot/tools/expert_capabilities_test.py
  autogpt_platform/backend/backend/copilot/tools/find_capability.py
  autogpt_platform/backend/backend/copilot/tools/hire_expert.py
  autogpt_platform/backend/backend/copilot/tools/run_capability.py
  autogpt_platform/backend/backend/copilot/tools/session_registry.py
  autogpt_platform/backend/backend/copilot/tools/tool_schema_test.py
Due: isort, pyright, pytest

fix(frontend): allow scrolling anywhere in the sidebar
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/AppSidebarHeader/AppSidebarHeader.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarUserActions/SidebarUserActions.tsx
Due: prettier, tsc

fix(backend/copilot): charge each SDK turn its own cost, not the session's running total (#15305)
  autogpt_platform/backend/backend/copilot/sdk/cli_cost_state_test.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_cli_test.py
  autogpt_platform/backend/backend/copilot/sdk/conftest.py
  autogpt_platform/backend/backend/copilot/sdk/cost_tracking.py
  autogpt_platform/backend/backend/copilot/sdk/cost_tracking_test.py
  autogpt_platform/backend/backend/copilot/sdk/p0_guardrails_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_e2e_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_incomplete_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_restart_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_retry_test.py
  autogpt_platform/backend/backend/copilot/sdk/turn_cost_test.py
  autogpt_platform/backend/backend/copilot/transcript.py
  autogpt_platform/backend/backend/copilot/transcript_test.py
Due: isort, pyright, pytest

fix(backend): the fork regression test expects the copy's tenancy arguments
  autogpt_platform/backend/backend/api/features/orgs/regression_test.py
Due: isort, pyright, pytest

fix(backend): bound AutoPilot trace export retries (#15182)
  autogpt_platform/backend/backend/copilot/sdk/otel_setup_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/trace_export.py
  autogpt_platform/backend/backend/copilot/sdk/trace_export_test.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/scripts/backfill_store_sub_headings.py
  autogpt_platform/backend/scripts/test_backfill_store_sub_headings.py
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(backend/copilot): an expert id's description sends the model no card hints
  autogpt_platform/backend/backend/copilot/tools/describe_capability.py
  autogpt_platform/backend/backend/copilot/tools/expert_capabilities_test.py
Due: isort, pyright, pytest

fix(platform): close the third security review round's findings
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/keysmith.py
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/test_keysmith.py
  autogpt_platform/backend/backend/api/external/middleware.py
  autogpt_platform/backend/backend/api/external/middleware_test.py
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/mcp_mount_test.py
  autogpt_platform/backend/backend/api/external/v2/mcp_server.py
  autogpt_platform/backend/backend/api/external/v2/rate_limit_test.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files.py
  autogpt_platform/backend/backend/copilot/tools/workspace_files_test.py
  autogpt_platform/backend/backend/data/auth/oauth.py
Due: isort, pyright, pytest

refactor(backend/api): settle the v2 API contract shape before release (#14378)
  autogpt_platform/backend/backend/api/external/v2/contract_shape_test.py
  autogpt_platform/backend/backend/api/external/v2/contract_test.py
  autogpt_platform/backend/backend/api/external/v2/credits.py
  autogpt_platform/backend/backend/api/external/v2/errors.py
  autogpt_platform/backend/backend/api/external/v2/idempotency.py
  autogpt_platform/backend/backend/api/external/v2/idempotency_test.py
  autogpt_platform/backend/backend/api/external/v2/integrations/helpers.py
  autogpt_platform/backend/backend/api/external/v2/library/agents.py
  autogpt_platform/backend/backend/api/external/v2/library/helpers.py
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/models.py
  autogpt_platform/backend/backend/api/external/v2/permissions_test.py
  autogpt_platform/backend/backend/api/external/v2/routes.py
  autogpt_platform/backend/backend/api/external/v2/run_credentials_test.py
  autogpt_platform/backend/backend/api/external/v2/runs.py
  autogpt_platform/backend/backend/api/external/v2/schedules.py
  autogpt_platform/backend/backend/api/external/v2/tenancy_test.py
Due: isort, pyright, pytest

dx(backend): speed up the database boundary check
  autogpt_platform/backend/backend/util/db_boundary.py
  autogpt_platform/backend/backend/util/db_boundary_ast.py
  autogpt_platform/backend/backend/util/db_boundary_identity.py
  autogpt_platform/backend/backend/util/db_boundary_legacy_test.py
  autogpt_platform/backend/backend/util/db_boundary_test.py
Due: isort, pyright, pytest

fix(backend/api): make v2 uploads findable, its rate limit legible, and its review endpoint match the internal one (#14397)
  autogpt_platform/backend/backend/api/external/v1/routes.py
  autogpt_platform/backend/backend/api/external/v2/contract_test.py
  autogpt_platform/backend/backend/api/external/v2/credits.py
  autogpt_platform/backend/backend/api/external/v2/errors.py
  autogpt_platform/backend/backend/api/external/v2/files.py
  autogpt_platform/backend/backend/api/external/v2/files_test.py
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/global_rate_limit_test.py
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/library/agents.py
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/mcp_server.py
  autogpt_platform/backend/backend/api/external/v2/mcp_server_test.py
  autogpt_platform/backend/backend/api/external/v2/models.py
  autogpt_platform/backend/backend/api/external/v2/permissions_test.py
  autogpt_platform/backend/backend/api/external/v2/rate_limit.py
  autogpt_platform/backend/backend/api/external/v2/rate_limit_test.py
  autogpt_platform/backend/backend/api/external/v2/run_credentials_test.py
  autogpt_platform/backend/backend/api/external/v2/runs.py
  autogpt_platform/backend/backend/api/external/v2/schedules.py
  autogpt_platform/backend/backend/api/external/v2/search.py
  autogpt_platform/backend/backend/api/external/v2/tenancy_test.py
  autogpt_platform/backend/backend/api/features/graph_executions/review/review_routes_test.py
  autogpt_platform/backend/backend/api/features/graph_executions/review/routes.py
  autogpt_platform/backend/backend/api/features/graph_executions/review/service.py
  autogpt_platform/backend/backend/api/features/store/cache.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/backend/api/features/store/test_cache_delete.py
  autogpt_platform/backend/backend/api/features/workspace/routes.py
  autogpt_platform/backend/backend/api/features/workspace/routes_test.py
  autogpt_platform/backend/backend/api/features/workspace/service.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/api/utils/rate_limit.py
  autogpt_platform/backend/backend/data/human_review_scope_test.py
Due: isort, pyright, pytest

fix(backend/api): save an inactive v2 graph without activating it
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/graphs_test.py
Due: isort, pyright, pytest

fix(backend/executor): index schedule reads by user, and run one jobstore query per cache miss (#14148)
  autogpt_platform/backend/backend/executor/schedule_index.py
  autogpt_platform/backend/backend/executor/schedule_index_test.py
  autogpt_platform/backend/backend/executor/schedule_index_test_helpers.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_index_read_test.py
  autogpt_platform/backend/backend/executor/scheduler_index_recovery_test.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
Due: isort, pyright, pytest

fix(platform): resolve the Codecov and PR checker dependency loop
  codecov.yml
Due: none

feat(backend/api): refuse v2 run inputs the graph does not take with a 422
  autogpt_platform/backend/backend/api/external/v2/library/agents.py
  autogpt_platform/backend/backend/api/external/v2/library/helpers.py
  autogpt_platform/backend/backend/api/external/v2/run_credentials_test.py
  autogpt_platform/backend/backend/api/external/v2/run_inputs_test.py
  autogpt_platform/backend/backend/api/external/v2/schedules.py
  autogpt_platform/backend/backend/api/external/v2/tenancy_test.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/data/graph.py
  docs/platform/integrating/ai-coding-agents.md
  docs/platform/integrating/running-agents.md
Due: isort, pyright, pytest
