Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(docs): wait for isolated restore health
  docs/platform/single-container.md
Due: none

fix(docs): make restore validation offline-safe
  docs/platform/single-container.md
Due: none

fix(docs): close final bootstrap safety gaps
  docs/platform/single-container.md
Due: none

feat(backend): status counts and duration totals in execution cost summary
  autogpt_platform/backend/backend/data/execution_cost_summary.py
  autogpt_platform/backend/backend/data/execution_cost_summary_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(platform): add first-visit tab intro cards for Agents, Marketplace, Build (#13805)
  autogpt_platform/backend/backend/api/features/onboarding_step_test.py
  autogpt_platform/backend/backend/data/onboarding_steps.py
  autogpt_platform/frontend/src/app/(platform)/build/components/BuildTabIntro/BuildTabIntro.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/components/TabIntroCard/TabIntroCard.tsx
  autogpt_platform/frontend/src/app/(platform)/components/TabIntroCard/__tests__/TabIntroCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/components/TabIntroCard/__tests__/tab-intros.test.tsx
  autogpt_platform/frontend/src/app/(platform)/components/TabIntroCard/__tests__/useTabIntroCard.test.tsx
  autogpt_platform/frontend/src/app/(platform)/components/TabIntroCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/components/TabIntroCard/useTabIntroCard.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentsTabIntro/AgentsTabIntro.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedSection/FeaturedSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MarketplaceTabIntro/MarketplaceTabIntro.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MarketplaceTabIntro/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/services/onboarding/__tests__/tab-intro-analytics.test.ts
  autogpt_platform/frontend/src/services/onboarding/tab-intro-analytics.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): aggregate persisted walltime and expose duration denominator
  autogpt_platform/backend/backend/data/execution_cost_summary.py
  autogpt_platform/backend/backend/data/execution_cost_summary_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend): home dashboard aggregation endpoint
  autogpt_platform/backend/backend/api/features/home/__init__.py
  autogpt_platform/backend/backend/api/features/home/activity.py
  autogpt_platform/backend/backend/api/features/home/activity_test.py
  autogpt_platform/backend/backend/api/features/home/agents.py
  autogpt_platform/backend/backend/api/features/home/agents_test.py
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/attention_test.py
  autogpt_platform/backend/backend/api/features/home/compose.py
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/models.py
  autogpt_platform/backend/backend/api/features/home/routes.py
  autogpt_platform/backend/backend/api/features/home/routes_test.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

feat(backend): status counts and duration totals in execution cost summary (#13869)
  autogpt_platform/backend/backend/data/execution_cost_summary.py
  autogpt_platform/backend/backend/data/execution_cost_summary_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): normalise naive home timestamps to UTC
  autogpt_platform/backend/backend/api/features/home/activity.py
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/attention_test.py
  autogpt_platform/backend/backend/api/features/home/helpers.py
Due: isort, pyright, pytest

fix(backend): gate home activity summaries behind AI_ACTIVITY_STATUS
  autogpt_platform/backend/backend/api/features/executions/activity_gate.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/home/service_test.py
  autogpt_platform/backend/backend/api/features/v1.py
Due: isort, pyright, pytest

fix(backend): key home schedules by job id instead of graph id
  autogpt_platform/backend/backend/api/features/home/activity.py
  autogpt_platform/backend/backend/api/features/home/agents.py
  autogpt_platform/backend/backend/api/features/home/agents_test.py
  autogpt_platform/backend/backend/api/features/home/compose.py
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/helpers_test.py
Due: isort, pyright, pytest

feat(frontend): briefing-first /home page behind hire-experts flag
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/AgentTeam/AgentTeam.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/HomeHeader/HomeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/HomeTile/HomeTile.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/HomeTileExpandButton/HomeTileExpandButton.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/MorningBriefing.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/OutcomeRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/AttentionRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/NowNext.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/home/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/page.tsx
  autogpt_platform/frontend/src/app/(platform)/home/useHomePage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/AppSidebar/AppSidebar.tsx
  autogpt_platform/frontend/src/components/layout/AppSidebar/__tests__/AppSidebar.test.tsx
  autogpt_platform/frontend/src/lib/auth/helpers.ts
  autogpt_platform/frontend/tailwind.config.ts
Due: prettier, tsc

fix(backend): gather home source tasks and normalise emitted timestamps
  autogpt_platform/backend/backend/api/features/home/activity.py
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/service.py
  autogpt_platform/backend/backend/api/features/home/service_test.py
Due: isort, pyright, pytest

fix(frontend): fall back to an Unknown badge for unrecognised agent status
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/AgentTeam/AgentTeam.tsx
Due: prettier, tsc

fix(backend): keep raw errors out of briefing titles, order outcomes by recency
  autogpt_platform/backend/backend/api/features/home/activity.py
  autogpt_platform/backend/backend/api/features/home/activity_test.py
  autogpt_platform/backend/backend/api/features/home/agents.py
  autogpt_platform/backend/backend/api/features/home/agents_test.py
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/attention_test.py
  autogpt_platform/backend/backend/api/features/home/compose.py
  autogpt_platform/backend/backend/api/features/home/compose_test.py
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/helpers_test.py
Due: isort, pyright, pytest

refactor(backend): drop the unused is_demo flag from the home response
  autogpt_platform/backend/backend/api/features/home/compose.py
  autogpt_platform/backend/backend/api/features/home/models.py
  autogpt_platform/backend/backend/api/features/home/routes_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(frontend): move Home tile sub-components into local components/ folders
  autogpt_platform/frontend/src/app/(platform)/home/components/AgentTeam/AgentTeam.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/AgentTeam/components/AgentRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/AgentTeam/components/EmptyTeam.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/AgentTeam/components/StatusBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/HomeTileFilter/HomeTileFilter.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/MorningBriefing.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/components/OutcomeRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/useMorningBriefing.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/AttentionRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/NowNext.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/components/ActiveRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/components/UpcomingRow.tsx
Due: prettier, tsc

test(frontend): cover overdue next-run formatting on the Home tiles
  autogpt_platform/frontend/src/app/(platform)/home/components/NowNext/helpers.test.ts
Due: prettier, tsc

test(backend): cover home degradation when scheduler and credits fail
  autogpt_platform/backend/backend/api/features/home/service_test.py
Due: isort, pyright, pytest

fix(frontend): label Home filter options for unrecognised statuses
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/useMorningBriefing.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
Due: prettier, tsc

refactor(backend): use pydantic models for home source and agent refs
  autogpt_platform/backend/backend/api/features/home/activity_test.py
  autogpt_platform/backend/backend/api/features/home/helpers.py
  autogpt_platform/backend/backend/api/features/home/service.py
Due: isort, pyright, pytest

refactor(platform): drop bundled ClamAV from the single-container appliance
  autogpt_platform/single-container/.env.example
  autogpt_platform/single-container/Dockerfile
  autogpt_platform/single-container/bootstrap.sh
  autogpt_platform/single-container/clamav/clamd.conf
  autogpt_platform/single-container/clamav/freshclam.conf
  autogpt_platform/single-container/entrypoint.sh
  autogpt_platform/single-container/healthcheck.sh
  autogpt_platform/single-container/probe.py
  autogpt_platform/single-container/run-service.sh
  autogpt_platform/single-container/supervisor/supervisord.conf
  autogpt_platform/single-container/tests/test_entrypoint.py
  autogpt_platform/single-container/tests/test_probe.py
Due: none

docs(platform): drop ClamAV from the single-container guide
  docs/platform/single-container.md
Due: none

refactor(platform): remove single-container RPC token
  .github/scripts/platform-single-container-smoke.sh
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
  autogpt_platform/single-container/common.sh
  autogpt_platform/single-container/runtime_config.py
  autogpt_platform/single-container/tests/test_entrypoint.py
  autogpt_platform/single-container/tests/test_frontend_environment.py
  autogpt_platform/single-container/tests/test_runtime_config.py
Due: isort, pyright, pytest

docs(platform): align single-container security boundary
  docs/platform/single-container.md
Due: none

fix(frontend): prevent Select.Item crash on empty-string enum values (#12495)
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/SelectInput/SelectWidget.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/SelectInput/__tests__/SelectWidget.test.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/stories/PrimitiveFields.stories.tsx
Due: prettier, tsc

refactor(frontend): split the Home NeedsYou tile into sub-components
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/AttentionRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/AttentionRowActions.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/NeedsYouTitle.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useAttentionDecisions.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
  autogpt_platform/frontend/src/app/(platform)/home/page.tsx
Due: prettier, tsc

fix(platform): wait for RabbitMQ application readiness
  autogpt_platform/single-container/bootstrap.sh
Due: none

fix(blocks): handle surrogate pairs in AGPT_VARIABLES — ExecuteCodeBlock emoji crash
  autogpt_platform/backend/backend/blocks/code_executor_helpers.py
Due: isort, pyright, pytest

test(platform): add PR 13758 login evidence
  pr-test-evidence/13758/login.png
Due: none

test(platform): add PR 13758 private-route evidence
  pr-test-evidence/13758/private-route-404.png
Due: none

ci(platform): publish single-container images
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): register single-container dispatch workflow
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): clarify inert dispatch frame
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): register single-container dispatch workflow (#13995)
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): harden container publication
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): document tag serialization boundary
  .github/workflows/platform-single-container-docker.yml
Due: none

ci(platform): bound registry visibility check
  .github/workflows/platform-single-container-docker.yml
Due: none

Add .mcp.json for productivity-suite MCP server
  .mcp.json
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
