Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ghrs: stars and forks 08-03-2302-BCE3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-03-2302-BCE3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-03_230253_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-03-2302-BCE3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

refactor(platform): remove unused functions and imports
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
Due: isort, pyright, pytest

revert
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

feat(frontend): Add reusable infinite scroll component for consistent pagination across frontend (#10530)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/hooks/useScrollThreshold.ts
Due: prettier, tsc

feat(frontend): Add marketplace agent page tests (#10434)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/tests/marketplace-agent.spec.ts
Due: prettier, tsc

part-1
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard2/LibraryAgentCard2.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryMainView/LibraryMainView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Due: prettier, tsc

refactor(frontend): Simplify server-side detection and error logging in custom mutator
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/lib/utils/is-server-side.ts
Due: prettier, tsc

fix lint
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/lib/utils/is-server-side.ts
Due: prettier, tsc

refactor(frontend): Centralize server-side detection across components
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

fix lint
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
Due: prettier, tsc

feat(docker): add frontend service to docker-compose with env config improvements
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
  autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
Due: prettier, tsc

cleanup
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
Due: prettier, tsc

Enabled Tiktok Integration
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

fix(frontend) : Update server-side mutator to bypass proxy (#10523)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/utils/is-server-side.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Due: prettier, tsc

remove ayrshare from manager.py
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_bluesky.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_gmb.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_linkedin.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_pinterest.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_reddit.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_snapchat.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_telegram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_threads.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_x.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Refactor AutoMod moderation flow and error handling
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/models.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

removed get_ayrshare_profile_key from creds store
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

Revert "Refactor AutoMod moderation flow and error handling"
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/models.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

Update manager.py
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

fix(frontend): resolve Playwright CI port conflict with docker-compose frontend service
  autogpt_platform/frontend/playwright.config.ts
Due: prettier, tsc

remove duplicate line in facebook block
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
Due: isort, pyright, pytest

fix(frontend): add NEXT_PUBLIC_PW_TEST env var for Playwright tests
  autogpt_platform/docker-compose.platform.yml
Due: none

refactor(backend): remove Ayrshare from execution & credentials manager (#10538)
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_bluesky.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_gmb.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_linkedin.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_pinterest.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_reddit.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_snapchat.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_telegram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_threads.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_x.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/integrations/router.py
Due: isort, pyright, pytest

fix(ci): set NEXT_PUBLIC_PW_TEST only during Playwright test execution
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/docker-compose.platform.yml
Due: none

Refactor and improve moderation error handling in execution flow
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

Format
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest

feat(backend): Make Graph & Node Execution Stats Update Durable (#10529)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/decorator.py
Due: isort, pyright, pytest

refactor(platform): remove unused functions and imports (#10535)
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
Due: isort, pyright, pytest

fix(ci): properly inject NEXT_PUBLIC_PW_TEST during docker-compose startup
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/docker-compose.platform.yml
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
