Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

chore: cleanup
  autogpt_platform/frontend/src/stories/Overview.stories.tsx
Due: prettier, tsc

chore: wip
  autogpt_platform/frontend/src/stories/border-radius.stories.tsx
Due: prettier, tsc

chore: add border radius story
  autogpt_platform/frontend/src/stories/border-radius.stories.tsx
Due: prettier, tsc

fix: image imports
  autogpt_platform/frontend/public/storybook/discord.svg
  autogpt_platform/frontend/public/storybook/docs.svg
  autogpt_platform/frontend/public/storybook/github.svg
  autogpt_platform/frontend/public/storybook/youtube.svg
  autogpt_platform/frontend/src/stories/Overview.stories.tsx
  autogpt_platform/frontend/src/stories/assets/tutorials.svg
Due: prettier, tsc

chore: remove example assets from storybook
  autogpt_platform/frontend/src/stories/assets/accessibility.png
  autogpt_platform/frontend/src/stories/assets/accessibility.svg
  autogpt_platform/frontend/src/stories/assets/addon-library.png
  autogpt_platform/frontend/src/stories/assets/assets.png
  autogpt_platform/frontend/src/stories/assets/avif-test-image.avif
  autogpt_platform/frontend/src/stories/assets/context.png
  autogpt_platform/frontend/src/stories/assets/docs.png
  autogpt_platform/frontend/src/stories/assets/figma-plugin.png
  autogpt_platform/frontend/src/stories/assets/share.png
  autogpt_platform/frontend/src/stories/assets/styling.png
  autogpt_platform/frontend/src/stories/assets/testing.png
  autogpt_platform/frontend/src/stories/assets/theming.png
Due: prettier, tsc

docs(frontend): document spacing tokens (#10155)
  autogpt_platform/frontend/src/stories/Spacing.stories.tsx
  autogpt_platform/frontend/src/stories/Typography.stories.tsx
Due: prettier, tsc

docs(frontend): document border radius tokens (#10158)
  autogpt_platform/frontend/src/stories/border-radius.stories.tsx
Due: prettier, tsc

docs(frontend): add design system overview page (#10157)
  autogpt_platform/frontend/.storybook/manager.ts
  autogpt_platform/frontend/.storybook/preview.tsx
  autogpt_platform/frontend/.storybook/theme.ts
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/public/AUTOgpt_Logo_dark.png
  autogpt_platform/frontend/public/AUTOgpt_Logo_light.png
  autogpt_platform/frontend/public/autogpt-logo-dark-bg.png
  autogpt_platform/frontend/public/autogpt-logo-light-bg.png
  autogpt_platform/frontend/public/storybook/atoms.png
  autogpt_platform/frontend/public/storybook/autogpt-logo-storybook.png
  autogpt_platform/frontend/public/storybook/discord.svg
  autogpt_platform/frontend/public/storybook/docs.svg
  autogpt_platform/frontend/public/storybook/github.svg
  autogpt_platform/frontend/public/storybook/molecules.png
  autogpt_platform/frontend/public/storybook/tokens.png
  autogpt_platform/frontend/public/storybook/youtube.svg
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/stories/Configure.mdx
  autogpt_platform/frontend/src/stories/Overview.stories.tsx
  autogpt_platform/frontend/src/stories/assets/accessibility.png
  autogpt_platform/frontend/src/stories/assets/accessibility.svg
  autogpt_platform/frontend/src/stories/assets/addon-library.png
  autogpt_platform/frontend/src/stories/assets/assets.png
  autogpt_platform/frontend/src/stories/assets/avif-test-image.avif
  autogpt_platform/frontend/src/stories/assets/context.png
  autogpt_platform/frontend/src/stories/assets/docs.png
  autogpt_platform/frontend/src/stories/assets/figma-plugin.png
  autogpt_platform/frontend/src/stories/assets/share.png
  autogpt_platform/frontend/src/stories/assets/styling.png
  autogpt_platform/frontend/src/stories/assets/testing.png
  autogpt_platform/frontend/src/stories/assets/theming.png
  autogpt_platform/frontend/src/stories/assets/tutorials.svg
Due: prettier, tsc

feat(frontend): handle cross-tab login/logout + auth architecture refactor (#10150)
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/auth/confirm/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/components/RoleBasedAccess.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenuLogoutButton.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerUser.ts
  autogpt_platform/frontend/src/lib/supabase/useSupabase.ts
  autogpt_platform/frontend/src/lib/withRoleAccess.ts
Due: prettier, tsc

fix(platform/backend): skip invalid graphs when listing
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

fix: formatting + crypto comparisons
  .gitignore
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/key_manager.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/middleware.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/hubspot/company.py
  autogpt_platform/backend/backend/blocks/hubspot/contact.py
  autogpt_platform/backend/backend/blocks/hubspot/engagement.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/chunking.py
  autogpt_platform/backend/backend/blocks/jina/embeddings.py
  autogpt_platform/backend/backend/blocks/nvidia/deepfake.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

update sdk
  autogpt_platform/backend/backend/blocks/exa/_config.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/examples/example_sdk_block.py
  autogpt_platform/backend/backend/blocks/examples/example_webhook_sdk_block.py
  autogpt_platform/backend/backend/blocks/examples/simple_example_block.py
  autogpt_platform/backend/backend/sdk/__init__.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/test/sdk/conftest.py
  autogpt_platform/backend/test/sdk/demo_sdk_block.py
  autogpt_platform/backend/test/sdk/test_custom_provider.py
  autogpt_platform/backend/test/sdk/test_custom_provider_advanced.py
  autogpt_platform/backend/test/sdk/test_provider_validation.py
  autogpt_platform/backend/test/sdk/test_sdk_block_creation.py
  autogpt_platform/backend/test/sdk/test_sdk_comprehensive.py
  autogpt_platform/backend/test/sdk/test_sdk_imports.py
  autogpt_platform/backend/test/sdk/test_sdk_integration.py
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/backend/test/sdk/test_sdk_standalone.py
  autogpt_platform/backend/test/sdk/test_sdk_webhooks.py
Due: isort, pyright, pytest

fix: remove logging of secret things
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/server/routers/postmark/postmark.py
Due: isort, pyright, pytest

fix: lockfile
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

feat: add cache control header management
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/middleware/security_test.py
  autogpt_platform/backend/backend/server/rest_api.py
Due: isort, pyright, pytest

feat: docs for claude for cache control
  autogpt_platform/CLAUDE.md
Due: none

fix: don't let other poeple look at our cookies
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
Due: prettier, tsc

fix: correct header + don't trust anyone!
  autogpt_platform/backend/backend/blocks/screenshotone.py
Due: isort, pyright, pytest

make code_executor & http async
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

make google block async
  autogpt_platform/backend/backend/blocks/google/calendar.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
Due: isort, pyright, pytest

fix input output ordering for UI
  autogpt_platform/backend/backend/data/includes.py
Due: isort, pyright, pytest

ghrs: snap 06-13-2303-CAB7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-13_230320_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-13_230320_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-13_230320_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 06-13-2303-CAB7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 06-13-2303-CAB7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-13_230320_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-13-2303-CAB7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

supercharge async
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/redis.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/test/executor/test_tool_use.py
Due: isort, pyright, pytest

try debug log, remove later
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

last try, reduce sleep
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

don't wait next execs serially
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Revert "don't wait next execs serially"
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

ghrs: snap 06-14-2304-801A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-14_230405_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-14_230405_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-14_230405_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 06-14-2304-801A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
