Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

ci(frontend): regenerate openapi.json in CI-compatible format
  autogpt_platform/frontend/src/app/api/openapi.json
  copilot-cost-followups.md
Due: prettier, tsc

fix(frontend): drop duplicate on-card Keep button when a pending change banner is shown
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/SubscriptionTierSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/__tests__/SubscriptionTierSection.test.tsx
Due: prettier, tsc

fix(copilot): snap percent_used to 100.0 when at/over cap
  autogpt_platform/backend/backend/copilot/rate_limit.py
Due: isort, pyright, pytest

test(copilot/admin): add UsageBar tests for coverage
  autogpt_platform/frontend/src/app/(platform)/admin/components/__tests__/UsageBar.test.tsx
Due: prettier, tsc

perf(backend/copilot): bump CLI to 2.1.116, restore full cross-user cache on resume
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/copilot/sdk/sdk_compat_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, isort, pyright, pytest

test(copilot/library): cover BriefingTabContent UsageSection + UsageFooter
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
Due: prettier, tsc

fix(backend): roll back orphan schedule on modify failure, reraise non-terminal release errors
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
Due: isort, pyright, pytest

fix(backend): bound admin tier drift check with timeout, swallow LD failures
  autogpt_platform/backend/backend/copilot/rate_limit.py
  autogpt_platform/backend/backend/copilot/rate_limit_test.py
Due: isort, pyright, pytest

refactor(backend): drop subscription_schedule.updated from webhook handler
  autogpt_platform/backend/backend/api/features/subscription_routes_test.py
  autogpt_platform/backend/backend/api/features/v1.py
Due: isort, pyright, pytest

fix(frontend): disable pending-tier button to prevent silent overwrite
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/SubscriptionTierSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/__tests__/SubscriptionTierSection.test.tsx
Due: prettier, tsc

test(copilot/library): cover BriefingTabContent dispatch paths
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
Due: prettier, tsc

fix(backend): narrow DB-write except, use sub.schedule consistently
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_subscription_test.py
Due: isort, pyright, pytest

fix(backend): fire-and-forget drift check in set_user_tier
  autogpt_platform/backend/backend/copilot/rate_limit.py
Due: isort, pyright, pytest

fix(frontend): confirm before replacing a pending subscription change
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/SubscriptionTierSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/components/SubscriptionTierSection/__tests__/SubscriptionTierSection.test.tsx
Due: prettier, tsc

test(copilot): exercise select() callbacks in useGetV2GetCopilotUsage mocks
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/CopilotPage.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/__tests__/UsageLimits.test.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/AgentBriefingPanel/__tests__/BriefingTabContent.test.tsx
Due: prettier, tsc

fix(backend/copilot): gate cache_control markers to Anthropic models only
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

chore(copilot): double FREE-tier cost caps to $1/day, $5/week; drop stray followups.md
  autogpt_platform/backend/backend/copilot/config.py
  copilot-cost-followups.md
Due: isort, pyright, pytest

fix(frontend/copilot): show <1% used in UsageBar for sub-1% non-zero values
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/UsagePanelContent.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/UsageLimits/__tests__/UsagePanelContentRender.test.tsx
Due: prettier, tsc

perf(backend/copilot): bump baseline cache TTL to 1h (configurable)
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/config.py
Due: isort, pyright, pytest

feat(backend): add PushSubscription migration
  autogpt_platform/backend/migrations/20260420120000_add_push_subscription/migration.sql
Due: none

fix(frontend/push): route subscribe/vapid-key via Next proxy for cookie auth
  autogpt_platform/frontend/src/services/push-notifications/api.test.ts
  autogpt_platform/frontend/src/services/push-notifications/api.ts
  autogpt_platform/frontend/src/services/push-notifications/usePushNotifications.test.ts
  autogpt_platform/frontend/src/services/push-notifications/usePushNotifications.ts
Due: prettier, tsc

fix(backend/push): route DB ops via DatabaseManager RPC; unique tag per push
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/push_sender.py
  autogpt_platform/backend/backend/data/push_sender_test.py
  autogpt_platform/backend/backend/data/push_subscription.py
  autogpt_platform/backend/backend/data/push_subscription_test.py
  autogpt_platform/frontend/public/push-sw.js
Due: isort, prettier, pyright, tsc, pytest

ci(backend): regenerate poetry.lock for pywin32 marker order
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

perf(backend/copilot): bump claude-agent-sdk to 0.1.64 (bundled CLI 2.1.116)
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/copilot/sdk/sdk_compat_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(backend/copilot): emit baseline cache_read/creation tokens on SSE
  autogpt_platform/backend/backend/copilot/baseline/service.py
Due: isort, pyright, pytest

fix(backend/copilot): release session cluster lock on mark_session_completed
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
Due: isort, pyright, pytest

fix(backend/copilot): read OpenRouter's cache_write_tokens field for baseline cache-create metric
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

test(backend/copilot): cover cluster-lock release in mark_session_completed
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
Due: isort, pyright, pytest

fix(backend/copilot): read cache_write_tokens as typed attr, not just model_extra
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

test(backend/copilot): assert StreamFinish not re-published on CAS no-op
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
Due: isort, pyright, pytest

fix(backend): owner-checked ClusterLock.release via Lua CAS
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
Due: isort, pyright, pytest

fix(backend/copilot): memoise cached system prompt across baseline LLM rounds
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

perf(backend/copilot): pin OpenRouter baseline requests to Anthropic-direct
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

Revert "perf(backend/copilot): pin OpenRouter baseline requests to Anthropic-direct"
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

fix(ci): restore black spacing + sync openapi.json after merge
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

chore(frontend): prettier-format regenerated openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(backend/copilot): serialise get_or_create_builder_session with Redis lock
  autogpt_platform/backend/backend/copilot/model.py
Due: isort, pyright, pytest

fix(backend/copilot): unlock max_thinking_tokens=0 kill switch
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(backend/copilot): add thinking_tokens to retry test config mock
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
Due: isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
