Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, pyright, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

Revert some changes
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Due: isort, pyright, pytest

increase size of connection pin in blocks
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Due: none

dedup & fix?
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: none

fix(frontend) : Increase size of connection pin in blocks (#8920)
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Due: none

Address comments
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Due: isort, pyright, pytest

fix(backend): Fix Github PR blocks (#8908)
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Due: isort, pyright, pytest

feat(frontend): Add loading skeleton components for store pages
  autogpt_platform/frontend/src/app/store/loading.tsx
  autogpt_platform/frontend/src/components/ui/skeleton.tsx
Due: none

add agent page skeleton
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/loading.tsx
  autogpt_platform/frontend/src/app/store/loading.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
Due: none

fix lint
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/profile/page.tsx
  autogpt_platform/frontend/src/app/store/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/flow.css
  autogpt_platform/frontend/src/components/ui/skeleton.tsx
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/middleware.ts
Due: none

updated rating card
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
Due: none

feat(frontend): Update fonts + updates to agent page (#8886)
  autogpt_platform/frontend/src/app/store/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/layout.tsx
  autogpt_platform/frontend/src/app/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Due: none

refactor: Update import statements and enhance layout in agent page
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
Due: none

feat(store): Implement user-specific agent review retrieval
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
Due: isort, pyright, pytest

fix lint
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
Due: none

remove unused global
  autogpt_platform/frontend/src/app/globals.css
Due: none

remove rating card
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
Due: none

linting
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/layout.tsx
  autogpt_platform/frontend/src/app/store/(user)/profile/page.tsx
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/store/page.tsx
  autogpt_platform/frontend/src/app/store/search/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/middleware.ts
Due: none

tweaks to work with monitoring page
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
Due: none

update lock files
  autogpt_platform/backend/poetry.lock
  autogpt_platform/frontend/yarn.lock
Due: poetry-install, prisma-generate, pyright, pytest

fixes
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/public/mockServiceWorker.js
  autogpt_platform/frontend/yarn.lock
Due: isort, pyright, pytest

linting
  autogpt_platform/frontend/src/app/monitoring/page.tsx
Due: none

fix?
  autogpt_platform/frontend/src/lib/autogpt-server-api/client-client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client-server.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Due: none

Address comments
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

lint
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: none

fix manual webhook UX on graph save
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/integrations/webhooks/base.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
Due: isort, pyright, pytest

feat(frontend): Add field extraction handle for block with object output (#8900)
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Due: none

fix test_output
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest

updates to add language aliases
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest

updates to test_output again
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest

Adds the Code extraction Block
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest

rename "json" to "json_code"
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest

reorder test
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest

fix re issue + testing new json name
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
  autogpt_platform/frontend/yarn.lock
Due: isort, pyright, pytest

trying to fix re issue
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Due: isort, pyright, pytest
