Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

perf(platform): skip graph load on expert workflow reuse
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

fix(platform): surface unavailable preset workspace
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/api/features/library/routes/presets.py
  autogpt_platform/backend/backend/api/features/library/routes_test.py
Due: isort, pyright, pytest

fix(backend): import prisma errors explicitly
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

test(platform): cover Soul confirmation guards
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/copilot/tools/update_soul_test.py
Due: isort, pyright, pytest

fix(backend): close expert roster review gaps
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/seed.py
Due: isort, pyright, pytest

fix(backend): align roster seed documentation
  autogpt_platform/backend/backend/api/features/experts/seed.py
Due: isort, pyright, pytest

fix(platform): preserve adoption version on reuse
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

fix(frontend): align expert ID naming
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/helpers.ts
Due: prettier, tsc

fix(backend): simplify pod race test context
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

fix(platform): preserve expert availability errors
  autogpt_platform/backend/backend/api/features/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/diagnostics_admin_routes_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/copilot/tools/run_agent.py
  autogpt_platform/backend/backend/copilot/tools/run_agent_test.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Due: isort, pyright, pytest

fix(frontend): handle unknown expert presence status
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/helpers.test.ts
  autogpt_platform/frontend/src/components/layout/AppSidebar/components/SidebarTeamMembers/helpers.ts
Due: prettier, tsc

fix(backend): handle library restore deletion race
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

fix(platform): align expert context merge tests
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/sdk/building_mode_restart_test.py
Due: isort, pyright, pytest

fix(backend): return marketplace version on install
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
Due: isort, pyright, pytest

fix(frontend): refresh all autopilot graph variants
  autogpt_platform/frontend/src/app/(platform)/admin/memory/__tests__/memory-visualizer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/memory/components/useMemoryVisualizer.ts
Due: prettier, tsc

fix(platform): normalize unavailable expert routes
  autogpt_platform/backend/backend/api/features/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/diagnostics_admin_routes_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend): cover marketplace version response
  autogpt_platform/backend/backend/api/features/library/_add_to_library_test.py
Due: isort, pyright, pytest

fix(platform): hide expert tenancy errors in chat
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
Due: isort, pyright, pytest

fix(frontend): align expert preview conventions
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/components/ExpandedExpert/ExpandedExpert.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/components/MarqueeRow/MarqueeRow.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/useExpertPreview.ts
Due: prettier, tsc

refactor(frontend): split work output table renderers
  autogpt_platform/frontend/src/components/organisms/WorkOutputSheet/WorkOutputSheet.tsx
Due: prettier, tsc

refactor(frontend): name pod dialog handlers
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
Due: prettier, tsc

refactor(backend): extract roster hire assertions
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
Due: isort, pyright, pytest

fix(frontend): address fire expert review feedback
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/archived-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/useExpertDetailPage.ts
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/useExpertTeamCard.ts
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/FireExpertDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/FireExpertDialogSections.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/useFireExpertDialog.test.tsx
Due: prettier, tsc

refactor(frontend): split expert profile views and tests
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/expert-profile-sheet-lookup.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.fixtures.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/ExpertProfileContent.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/DayOneSection/DayOneSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/ExpertProfileActions/ExpertProfileActions.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/ExpertProfileHeader/ExpertProfileHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/IncludedPlanSection/IncludedPlanSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/ProfileSection/ProfileSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/SkillsSection/SkillsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/WorkflowsSection/WorkflowsSection.tsx
Due: prettier, tsc

refactor(frontend): align team prop types
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/NewPodDialog/NewPodDialog.tsx
Due: prettier, tsc

fix(frontend): align component prop types
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/archived-expert.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/ArchivedExpertNotice.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/FireExpertDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/FireExpertDialogSections.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/FireExpertDialog/useFireExpertDialog.test.tsx
Due: prettier, tsc

refactor(frontend): align voice picker prop types
  autogpt_platform/frontend/src/components/organisms/VoicePicker/VoicePicker.tsx
Due: prettier, tsc

refactor(frontend): align what-runs prop types
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/WhatRunsZone.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/AdoptAgentButton.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/ExpertWorkflowGroup.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/WhatRunsFilters.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/WhatRunsZone/components/YourAgentsList.tsx
Due: prettier, tsc

fix(frontend): use local prop type aliases
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/components/ExpandedExpert/ExpandedExpert.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/expert-preview/components/MarqueeRow/MarqueeRow.tsx
Due: prettier, tsc

fix(platform): address expert profile review feedback
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/components/DayOneSection/DayOneSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
Due: isort, prettier, pyright, tsc, pytest

docs(platform): streamline self-hosting guidance
  docs/platform/single-container.md
Due: none

docs(platform): focus reverse proxy guidance
  docs/platform/single-container.md
Due: none

fix(backend): close expert memory review gaps
  autogpt_platform/backend/backend/copilot/dream/ratification_test.py
  autogpt_platform/backend/backend/copilot/expert_context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/client_test.py
Due: isort, pyright, pytest

fix(platform): preserve memory audit integrity
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/memory_admin_routes_test.py
  autogpt_platform/frontend/src/app/(platform)/admin/memory/__tests__/memory-visualizer.test.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/memory/components/MaintenanceControls.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/memory/components/MemoryScopeSelector.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/memory/components/MemoryVisualizer.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/memory/components/memoryJobStatus.ts
  autogpt_platform/frontend/src/app/(platform)/admin/memory/components/useMemoryVisualizer.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): complete expert funnel payloads
  autogpt_platform/backend/backend/api/features/analytics_test.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/copilot/briefing/generate_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/expert-threads.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/MorningBriefing/MorningBriefing.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/__tests__/experts-section.test.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/ExpertsSection/components/ExpertProfileSheet/useExpertProfileSheet.tsx
  autogpt_platform/frontend/src/services/experts/experts-analytics.ts
  autogpt_platform/frontend/src/services/experts/use-track-funnel-view-once.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): address pods review feedback
  autogpt_platform/backend/backend/api/features/experts/experts_db.py
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/routes.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/frontend/src/app/(platform)/team/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/ExpertTeamCard/ExpertTeamCard.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/NewPodDialog/NewPodDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/team/components/TeamRoster/TeamRoster.tsx
  autogpt_platform/frontend/src/app/(platform)/team/page.tsx
  autogpt_platform/frontend/src/app/(platform)/team/useTeamPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): match generated OpenAPI formatting
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

fix(platform): address naming moment review
  autogpt_platform/backend/backend/api/features/experts/experts_db_test.py
  autogpt_platform/backend/backend/api/features/experts/routes_test.py
  autogpt_platform/backend/backend/api/features/library/_add_to_library.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/library/db_test.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/EmptySession/__tests__/naming-moment-gate.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NamingMomentCard/NamingMomentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/NamingMomentCard/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useRaisePage.ts
Due: isort, prettier, pyright, tsc, pytest
