Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

feat(backend/copilot): stamp recall usage on the facts warm context and memory_search return
  autogpt_platform/backend/backend/copilot/dream/ratification.py
  autogpt_platform/backend/backend/copilot/dream/ratification_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_search_test.py
Due: isort, pyright, pytest

test(backend/copilot): wire the baseline refresh on an expert chat
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
Due: isort, pyright, pytest

docs(backend/copilot): say when the follow-up refresh runs and what it costs
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
Due: isort, pyright, pytest

feat(backend/copilot): carry recall history into the dream's input and prompts
  autogpt_platform/backend/backend/copilot/dream/fetch.py
  autogpt_platform/backend/backend/copilot/dream/fetch_recall_stamps_test.py
  autogpt_platform/backend/backend/copilot/dream/input_bundle.py
  autogpt_platform/backend/backend/copilot/dream/prompts.py
  autogpt_platform/backend/backend/copilot/dream/prompts_recall_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp_integration_test.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend/copilot): a fact forgotten between turns stays out of the refresh, live
  autogpt_platform/backend/backend/copilot/graphiti/context_refresh_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_inflight_read_integration_test.py
Due: isort, pyright, pytest

feat(backend/copilot): protect recently recalled facts from dream demotions
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/batch_outcome.py
  autogpt_platform/backend/backend/copilot/dream/clamp.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/pass_record.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_apply_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_clamp_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_property_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp_integration_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/data/dream_pass_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): neutralise every tag start in warm-context memory
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_render.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_render_test.py
Due: isort, pyright, pytest

fix(backend/copilot): build FalkorDB clients off the event loop, with finite deadlines
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/client_test.py
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/context_transport_test.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_episodes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/reranker_test.py
Due: isort, pyright, pytest

fix(backend/copilot): bound what a follow-up refresh adds to time-to-first-token
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

docs(skill): advisory body holds only what the widgets do not; no verbatim original
  .claude/skills/process-vulnerability-report/SKILL.md
Due: none

fix(backend/copilot): test recall protection inside the dream's destructive writes
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_test.py
  autogpt_platform/backend/backend/copilot/dream/batch_callbacks.py
  autogpt_platform/backend/backend/copilot/dream/clamp.py
  autogpt_platform/backend/backend/copilot/dream/clamp_usage_test.py
  autogpt_platform/backend/backend/copilot/dream/demotions.py
  autogpt_platform/backend/backend/copilot/dream/demotions_stateful_test.py
  autogpt_platform/backend/backend/copilot/dream/demotions_test.py
  autogpt_platform/backend/backend/copilot/dream/fetch.py
  autogpt_platform/backend/backend/copilot/dream/fetch_recall_stamps_test.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator.py
  autogpt_platform/backend/backend/copilot/dream/orchestrator_test.py
  autogpt_platform/backend/backend/copilot/dream/prompts.py
  autogpt_platform/backend/backend/copilot/dream/ratification.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_apply_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_clamp_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_property_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/graphiti_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/ingest.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_dream_writers_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_guard_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_stamp_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(backend/copilot): give the reaper budget and the updatedAt ordering checks room for a loaded machine and two clocks
  autogpt_platform/backend/backend/copilot/dream/reaper_cleanup_test.py
  autogpt_platform/backend/backend/data/dream_pass_update_test.py
Due: isort, pyright, pytest

fix(backend/copilot): read memory again before a transient retry resends the query
  autogpt_platform/backend/backend/copilot/sdk/building_mode_restart_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

docs(backend/copilot): say what the scrub nonce proves and when an early refresh is stale
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

feat(frontend): open the raise flow on the area and drop the role question
  autogpt_platform/frontend/src/app/(platform)/copilot/components/EmptySession/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/avatar-picker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/raise-typewriter.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/role-prefill.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AboutStep/AboutStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/AboutStep/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/AboutStep/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/CategoryStep/CategoryStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/CategoryStep/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/CategoryStep/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/RaiseFlow/RaiseFlow.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/RaiseFlow/components/BeatControl.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/RoleStep/RoleStep.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/RoleStep/RoleStep.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/RoleStep/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/RoleStep/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/RoleStep/useRoleStep.ts
  autogpt_platform/frontend/src/app/(platform)/raise/components/SoulPreviewPanel/SoulPreviewPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/components/SoulPreviewPanel/SoulPreviewPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/flowItems.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useRaisePage.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useRaiseSubmission.ts
Due: prettier, tsc

feat(frontend/copilot): show delegated expert work in the chat
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/delegations.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/ChatSessionContext.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/DelegatedThreadNotice.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/components/PendingAnswerContexts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/ContextPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/WorkTab.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/PanelTabs.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/WorkTab.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationDetail.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationTimeline.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/useWorkTab.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/CopilotPendingReviews/CopilotPendingReviews.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/DelegationDock.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/__tests__/DelegationDock.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/DelegationStatusLine.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/LiveDelegationProbes.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/__tests__/DelegationStatusLine.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffApprovalNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/HandoffApprovalNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/heldRow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useAreWorkspaceFileCardsOpen.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useDelegationLive.ts
Due: prettier, tsc

fix(frontend/copilot): load a finished hand-off's steps in the Work panel
  autogpt_platform/frontend/src/app/(platform)/copilot/useDelegationLive.ts
Due: prettier, tsc

fix(frontend): strip only the trailing /api when deriving the backend base URL
  autogpt_platform/frontend/src/services/environment/__tests__/index.test.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Due: prettier, tsc

test(frontend/copilot): give the hand-off node test room on slow CI shards
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/HandoffApprovalNode.test.tsx
Due: prettier, tsc

test(frontend/copilot): cover the needs-you detail and the delegated-thread notice
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatContainer/__tests__/DelegatedThreadNotice.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/__tests__/WorkTab.test.tsx
Due: prettier, tsc

fix(backend/copilot): count distinct protected facts and guard the ratification sweep
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/apply_test.py
  autogpt_platform/backend/backend/copilot/dream/demotions.py
  autogpt_platform/backend/backend/copilot/dream/demotions_stateful_test.py
  autogpt_platform/backend/backend/copilot/dream/demotions_test.py
  autogpt_platform/backend/backend/copilot/dream/ratification.py
  autogpt_platform/backend/backend/copilot/dream/ratification_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_routes_test.py
  autogpt_platform/backend/backend/copilot/dream/recall_guard_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/dream_ratification_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/graphiti_forget_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes.py
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_dream_writers_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_guard_integration_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend/copilot): build every FalkorDB client off the event loop
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver_test.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_legacy_forgets.py
  autogpt_platform/backend/backend/copilot/graphiti/recall.py
Due: isort, pyright, pytest

fix(backend/copilot): give FalkorDB replies a long timeout; budgets bound interactive reads
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/client.py
  autogpt_platform/backend/backend/copilot/graphiti/config.py
  autogpt_platform/backend/backend/copilot/graphiti/context_transport_test.py
Due: isort, pyright, pytest

refactor(backend/copilot): move the follow-up refresh into graphiti/context_refresh.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/baseline/service_unit_test.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/context.py
  autogpt_platform/backend/backend/copilot/graphiti/context_refresh.py
  autogpt_platform/backend/backend/copilot/graphiti/context_refresh_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context_refresh_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context_test.py
  autogpt_platform/backend/backend/copilot/graphiti/context_transport_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_inflight_read_integration_test.py
  autogpt_platform/backend/backend/copilot/sdk/retry_scenarios_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/sdk/service_test.py
Due: isort, pyright, pytest

fix(home): show a held read's reason in plain words, as the chat does
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/AttentionRow.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/ExpertAttentionCard.tsx
Due: prettier, tsc

fix(frontend): close artifact panel cleanly
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/__tests__/ArtifactPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactFullscreen.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
Due: prettier, tsc

fix(frontend): preserve custom roles from saved raise drafts
  autogpt_platform/frontend/src/app/(platform)/raise/__tests__/main.test.tsx
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/raise/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/raise/useRaiseSubmission.ts
Due: prettier, tsc

fix(frontend): defer avatar generation past StrictMode cleanup
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/ExpertAvatarPicker.test.tsx
  autogpt_platform/frontend/src/components/molecules/ExpertAvatarPicker/useExpertAvatarPicker.ts
Due: prettier, tsc

fix(frontend): keep fullscreen actions ordered
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/__tests__/ArtifactPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactFullscreen.ts
Due: prettier, tsc

feat(backend/copilot): trust reads of memories and installed skills
  autogpt_platform/backend/backend/copilot/gate/reads.py
  autogpt_platform/backend/backend/copilot/gate/reads_test.py
  autogpt_platform/backend/backend/copilot/tools/skills.py
Due: isort, pyright, pytest

perf(home): drop a held read's bytes from the attention feed
  autogpt_platform/backend/backend/api/features/home/attention.py
  autogpt_platform/backend/backend/api/features/home/attention_test.py
Due: isort, pyright, pytest

fix(backend/copilot): count only facts protection kept live, and drop mark_edges_superseded
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/dream/demotions.py
  autogpt_platform/backend/backend/copilot/dream/demotions_stateful_test.py
  autogpt_platform/backend/backend/copilot/dream/demotions_test.py
  autogpt_platform/backend/backend/copilot/dream/schemas.py
  autogpt_platform/backend/backend/copilot/graphiti/AGENTS.md
  autogpt_platform/backend/backend/copilot/graphiti/backfill_edge_props_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/guarded_writes_test.py
  autogpt_platform/backend/backend/copilot/graphiti/migrations/backfill_edge_props.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_guard_integration_test.py
  autogpt_platform/backend/backend/copilot/graphiti/recall_integration_test.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget.py
  autogpt_platform/backend/backend/copilot/tools/graphiti_forget_test.py
  autogpt_platform/backend/backend/data/dream_pass_models.py
Due: isort, pyright, pytest

feat(home): review held AutoPilot calls in place
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ApprovalQueue/components/ApprovalCard/ApprovalCard.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/held-calls.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/heldItems.ts
  autogpt_platform/frontend/src/app/(platform)/home/__tests__/needs-you.test.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/NeedsYou.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldAvatar.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCall.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCallDetail.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldCallRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/components/HeldReceiptRow.tsx
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useHeldReview.ts
  autogpt_platform/frontend/src/app/(platform)/home/components/NeedsYou/useNeedsYou.ts
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/ExpertNeedsYouSection.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/__tests__/ExpertNeedsYouSection.test.tsx
  autogpt_platform/frontend/src/app/(platform)/team/[expertId]/components/ExpertNeedsYouSection/useExpertNeedsYou.ts
Due: prettier, tsc

feat(frontend): match artifact panel to Claude reference (#14934)
  autogpt_platform/frontend/src/app/(platform)/copilot/CopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/ArtifactPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/__tests__/ArtifactPanel.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/ArtifactPanelHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/components/ArtifactPreview.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactFullscreen.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ArtifactPanel/useArtifactPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/ContextPanelToggle.tsx
Due: prettier, tsc

fix(frontend/copilot): follow hand-offs through approval, stop and questions
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/delegationLiveStatus.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/delegations.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationDetail.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/components/DelegationRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ContextPanel/components/WorkTab/useWorkTab.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/DelegationDock.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/__tests__/DelegationDock.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationDock/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/DelegationStatusLine.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/__tests__/DelegationStatusLine.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationStatusLine/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegationAnswerStore.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegationLiveStatus.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegationOutput.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegationViews.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/delegations.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useDelegationLive.ts
Due: prettier, tsc

feat(frontend/copilot): put a hand-off's skeleton and question on the wire
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationQuestion/DelegationQuestionBox.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationQuestion/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/DelegationQuestion/useDelegationQuestionBox.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/AgentCards.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowBody.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ChainRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffApprovalNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffLoadingNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffQuestionNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HandoffRowView.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/HeldCallRowParts.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/SubSessionLive.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolChain.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/ToolResult.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/WireNode.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ChainRowView.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/ExpertCards.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/HandoffQuestionNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/__tests__/SubSessionLive.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/delegationRow.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ToolChain/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatPrefillParam.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useDelegationAnswer.ts
Due: prettier, tsc

fix(backend/copilot): settle a deferred FalkorDB build even when nobody waits for it
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver.py
  autogpt_platform/backend/backend/copilot/graphiti/falkordb_driver_test.py
Due: isort, pyright, pytest

feat(backend/copilot): report cost and start/end times on sub-session status
  autogpt_platform/backend/backend/copilot/delegation_db.py
  autogpt_platform/backend/backend/copilot/delegation_db_test.py
  autogpt_platform/backend/backend/copilot/tools/conftest.py
  autogpt_platform/backend/backend/copilot/tools/delegate_to_expert.py
  autogpt_platform/backend/backend/copilot/tools/get_sub_session_result.py
  autogpt_platform/backend/backend/copilot/tools/models.py
  autogpt_platform/backend/backend/copilot/tools/run_sub_session.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_facts.py
  autogpt_platform/backend/backend/copilot/tools/sub_session_facts_test.py
  autogpt_platform/backend/backend/data/db_accessors.py
  autogpt_platform/backend/backend/data/db_manager.py
Due: isort, pyright, pytest
