Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

poetry-install:
  name: Check & Install dependencies - Classic - Benchmark
  alias: poetry-install-classic-benchmark
  entry: poetry -C classic/benchmark install
  language: system
  pass_filenames: false

prisma-generate:
  name: Prisma Generate - AutoGPT Platform - Backend
  alias: prisma-generate-platform-backend
  entry: bash -c 'cd autogpt_platform/backend && poetry run prisma generate'
  language: system
  pass_filenames: false

isort:
  name: Lint (isort) - Classic - Benchmark
  alias: isort-classic-benchmark
  entry: poetry -P classic/benchmark run isort -p agbenchmark
  language: system

prettier:
  name: Format (Prettier) - AutoGPT Platform - Frontend
  alias: format-platform-frontend
  entry: bash -c 'cd autogpt_platform/frontend && npx prettier --write $(echo "$@" | sed "s|autogpt_platform/frontend/||g")' --
  language: system

pyright:
  name: Typecheck - Classic - Benchmark
  alias: pyright-classic-benchmark
  entry: poetry -C classic/benchmark run pyright
  language: system
  pass_filenames: false

tsc:
  name: Typecheck - AutoGPT Platform - Frontend
  entry: bash -c 'cd autogpt_platform/frontend && npm run type-check'
  language: system
  pass_filenames: false

pytest:
  name: Run tests - Classic - Benchmark
  alias: pytest-classic-benchmark
  entry: bash -c 'cd classic/benchmark && poetry run pytest --cov=benchmark'
  language: system
  pass_filenames: false

fix(frontend): stop calling the ChatGPT account type a workspace
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/ManageConnectionDialog.tsx
Due: prettier, tsc

feat(frontend): let a user choose their default AI connection in Settings
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotConnectionNotice/BotConnectionNotice.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/page.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/IntegrationsPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/__tests__/AIConnectionsSection.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/helpers.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/useAIConnectionsSection.ts
Due: prettier, tsc

feat(frontend): answer what linking a ChatGPT plan means before the OAuth window
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/ChatGPTConnectExplainer.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/MethodPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/OAuthConnectButton.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/MethodPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/DeleteConfirmDialog/DeleteConfirmDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsList/IntegrationsList.tsx
Due: prettier, tsc

feat(frontend): show which ChatGPT account a connection runs as
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/ManageConnectionDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/__tests__/AIConnectionsSection.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/useAIConnectionsSection.ts
Due: prettier, tsc

fix(frontend): contain default connection failures
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/useAIConnectionsSection.ts
Due: prettier, tsc

fix(frontend): bound ChatGPT account snapshot fetches
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/ManageConnectionDialog.tsx
Due: prettier, tsc

feat(backend): describe an AI connection on the server that enforces it
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(frontend/copilot): stop the composer flickering between its row and stacked layouts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInputComposerRow.test.tsx
  autogpt_platform/frontend/src/components/ai-elements/prompt-input.tsx
Due: prettier, tsc

ci(frontend): harden the knip job and document its prerequisite
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/README.md
Due: prettier, tsc

feat(platform): let a user pick the connection every new chat starts on (#14078)
  .github/workflows/repo-workflow-checker.yml
  .github/workflows/scripts/check_actions_status.py
  .github/workflows/scripts/test_check_actions_status.py
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/api/features/orgs/regression_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/dream/apply.py
  autogpt_platform/backend/backend/copilot/integration_creds_test.py
  autogpt_platform/backend/backend/copilot/transports.py
  autogpt_platform/backend/backend/copilot/transports_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/user_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_unit_test.py
  autogpt_platform/backend/backend/platform_linking/chat.py
  autogpt_platform/backend/migrations/20260819120000_add_user_default_chat_route/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/LlmRouteSelector.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/__tests__/copilotLlmAuth.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers/copilotLlmAuth.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useChatSession.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

feat(frontend): show which ChatGPT account a connection runs as (#14081)
  autogpt_platform/frontend/src/app/(platform)/settings/bots/components/BotConnectionNotice/BotConnectionNotice.tsx
  autogpt_platform/frontend/src/app/(platform)/settings/bots/page.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/IntegrationsPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/AIConnectionsSection.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/ManageConnectionDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/__tests__/AIConnectionsSection.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/helpers.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/AIConnectionsSection/useAIConnectionsSection.ts
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/ChatGPTConnectExplainer.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/MethodPanel.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/OAuthConnectButton.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/ConnectServiceDialog/components/DetailView/__tests__/MethodPanel.test.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/DeleteConfirmDialog/DeleteConfirmDialog.tsx
  autogpt_platform/frontend/src/components/contextual/IntegrationsPanel/components/IntegrationsList/IntegrationsList.tsx
Due: prettier, tsc

feat(backend): describe an AI connection on the server that enforces it (#14082)
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

refactor(backend): tidy what the mode removal left pointing at nothing
  autogpt_platform/backend/backend/copilot/config_test.py
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/backend/backend/copilot/sdk/env.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/enter_building_mode.py
Due: isort, pyright, pytest

refactor(platform): remove the Fast/Thinking mode, control and plumbing
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/executor/manager.py
  autogpt_platform/backend/backend/copilot/executor/processor.py
  autogpt_platform/backend/backend/copilot/executor/utils.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/turn_queue.py
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderChatPanel/useBuilderChatPanel.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/autopilot-mode-switch.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/store.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ModeToggleButton.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ModeToggleButton.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotChatRegistry.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/copilotStreamTransport.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
  autogpt_platform/frontend/src/app/(platform)/settings/memory/components/MemoryChatPanel/useMemoryChatPanel.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

test(chat): align coverage with server-selected mode
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/baseline/engine_switch_exit_test.py
  autogpt_platform/backend/backend/copilot/executor/manager_test.py
  autogpt_platform/backend/backend/copilot/executor/utils_test.py
  autogpt_platform/backend/backend/copilot/turn_queue_test.py
Due: isort, pyright, pytest

refactor(platform): finish removing the mode, including its leftovers
  autogpt_platform/backend/backend/copilot/executor/processor_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/__tests__/helpers.test.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/store.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/useCopilotStream.ts
Due: isort, prettier, pyright, tsc, pytest

fix(backend): stop the codex gateway flattening every failure into 502
  autogpt_platform/backend/backend/copilot/provider_failure.py
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway.py
  autogpt_platform/backend/backend/copilot/sdk/codex_gateway_failure_test.py
Due: isort, pyright, pytest

fix(codex): classify failures after streaming starts
  autogpt_platform/backend/backend/copilot/sdk/codex_compat_gateway.py
  autogpt_platform/backend/backend/copilot/sdk/codex_gateway_failure_test.py
Due: isort, pyright, pytest

fix(frontend): make a locked row say what it is worth
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

feat(backend): name the model a ChatGPT tier will actually use
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
Due: isort, pyright, pytest

fix(backend): keep a failed baseline turn in the chat
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/markers.py
  autogpt_platform/backend/backend/copilot/markers_test.py
Due: isort, pyright, pytest

fix(chat): harden locked connection offers
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useConnectionPicker.ts
Due: isort, prettier, pyright, tsc, pytest

fix(chat): keep a locked-only offer visible
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

fix(copilot): satisfy stack type and format checks
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/segments.py
  autogpt_platform/backend/backend/copilot/segments_test.py
  autogpt_platform/backend/backend/copilot/stream_registry.py
  autogpt_platform/backend/backend/copilot/stream_registry_test.py
Due: isort, pyright, pytest

feat(frontend): pick the connection and its tier in one control
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/__tests__/ChatInput.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useConnectionPicker.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/LlmRouteSelector.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ModelToggleButton.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/LlmRouteSelector.test.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ModelToggleButton.test.tsx
Due: prettier, tsc

fix(codex): persist failures after retry exhaustion
  autogpt_platform/backend/backend/copilot/sdk/provider_failure_parity_test.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
Due: isort, pyright, pytest

fix(frontend): give a tier's model room to be read
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

feat(platform): close the picker's gaps against the PRD mock
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/util/entitlements.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

style(copilot): order engine imports
  autogpt_platform/backend/backend/copilot/executor/processor.py
Due: isort, pyright, pytest

feat(backend): label a tier with the model's name, not its slug
  autogpt_platform/backend/backend/copilot/offers.py
Due: isort, pyright, pytest

fix(backend): carry the turn's route through the save path
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/segments_test.py
Due: isort, pyright, pytest

feat(platform): show the ChatGPT connection a plan excludes, locked
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/useConnectionPicker.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix(backend): persist the failure before the stream closes
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/markers_test.py
Due: isort, pyright, pytest

fix(chat): keep locked offer model details
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

feat(backend): record which connection each turn actually ran on
  autogpt_platform/backend/backend/copilot/baseline/service.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/segments.py
  autogpt_platform/backend/backend/copilot/segments_test.py
  autogpt_platform/backend/migrations/20260820030000_add_chat_message_llm_route/migration.sql
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend): correct what the busy error actually means
  autogpt_platform/backend/backend/copilot/provider_failure.py
  autogpt_platform/backend/backend/copilot/provider_failure_test.py
Due: isort, pyright, pytest

style(codex): sort provider failure imports
  autogpt_platform/backend/backend/copilot/sdk/provider_failure_parity_test.py
Due: isort, pyright, pytest

fix(chat): keep locked offer links inside the popover
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ChoiceRow.tsx
Due: prettier, tsc

feat(backend): let a locked ChatGPT offer say what you would get
  autogpt_platform/backend/backend/copilot/offers.py
  autogpt_platform/backend/backend/copilot/offers_test.py
Due: isort, pyright, pytest

fix(frontend): keep the model tier changeable once a chat is underway
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/ConnectionPicker/ConnectionPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatInput/components/__tests__/ConnectionPicker.test.tsx
Due: prettier, tsc

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
