Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: stars and forks 11-15-2302-CA78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 11-15-2302-CA78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-15_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 11-15-2302-CA78 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

fix(frontend): Update PendingReviewCard to match API response structure
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-status-chip.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
Due: prettier, tsc

ghrs: snap 11-16-2302-327C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-16_230302_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-16-2302-327C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-16_230302_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-16-2302-327C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-16-2302-327C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Fixes
  autogpt_platform/backend/backend/data/notification_bus.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerInputUI.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Due: isort, prettier, pyright, tsc, pytest

fix(frontend): Update components to use regenerated API types
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Due: prettier, tsc

refactor(platform): Improve API design and exception handling
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/components/RunStatusBadge.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
Due: isort, prettier, pyright, tsc, pytest

GITBOOK-47: No subject
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Ollama-Add-Prompts.png
  docs/.gitbook/assets/Ollama-Output.png
  docs/.gitbook/assets/Ollama-Remote-Host.png
  docs/.gitbook/assets/Ollama-Select-Llama32.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/Select-AI-block.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/e2b-dashboard.png
  docs/.gitbook/assets/e2b-log-url.png
  docs/.gitbook/assets/e2b-new-tag.png
  docs/.gitbook/assets/e2b-tag-button.png
  docs/.gitbook/assets/get-repo-dialog.png
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/README.md
  docs/SUMMARY.md
Due: none

fix(frontend): Fix stale closure issue in FloatingReviewsPanel
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
Due: prettier, tsc

fix(backend): Add critical security fixes for human review system
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/migrations/20251117102522_add_human_in_the_loop_table/migration.sql
Due: isort, pyright, pytest

fix(backend): Add missing INCOMPLETE status transition rules
  autogpt_platform/backend/backend/data/execution.py
Due: isort, pyright, pytest

Fix
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
Due: isort, prettier, pyright, tsc, pytest

feat(frontend): add mobile warning banner to login and signup pages (#11383)
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Due: prettier, tsc

fix(frontend): Replace question mark icon with "Give Feedback" text button (#11381)
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Due: prettier, tsc

feat(platform): Enhance Human-in-the-Loop execution resume functionality
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/migrations/20251117102522_add_human_in_the_loop_table/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/RunListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/components/RunStatusBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-status-chip.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prisma-generate, isort, prettier, pyright, tsc, pytest

Fully remove turnstile from the platform
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/turnstile/__init__.py
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Due: isort, prettier, pyright, tsc, pytest

Update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Due: prettier, tsc

refactor(turnstile): Remove turnstile (#11387)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/turnstile/__init__.py
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): Remove un-runnable agents from schedule (#11374)
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

ghrs: snap 11-17-2303-9FE0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-17_230310_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: vc agg 11-17-2303-9FE0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-17_230310_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 11-17-2303-9FE0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: report 11-17-2303-9FE0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

refactor(frontend): improve customNode reusability and add multi-block support (#11368)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/AyrshareConnectButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeAdvancedToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/WebhookDisclaimer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Due: prettier, tsc

refactor(frontend): replace default validator with custom validator in FormRenderer
  autogpt_platform/frontend/src/components/renderers/input-renderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/utils/custom-validator.ts
Due: prettier, tsc

fix(backend): resolve marketplace agent access in get_graph_execution endpoint
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/otto/service.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

fix: restore accidentally removed generate_image function and clarify get_graph parameters
  autogpt_platform/backend/backend/server/v2/otto/service.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Due: isort, pyright, pytest

refactor(frontend): streamline graph execution handling and enhance loading indicators
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
Due: prettier, tsc

fix(backend): resolve AI Text Generator crash with comprehensive token handling fixes
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(backend): improve conversation history handling and resolve token limit issues
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Due: poetry-install, prisma-generate, isort, pyright, pytest

fix(backend): restore accidentally removed psycopg2_binary Windows wheel
  autogpt_platform/backend/poetry.lock
Due: poetry-install, prisma-generate, pyright, pytest

chore: remove openapi changes
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Due: prettier, tsc

fix(frontend): logout redirects errors
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/actions.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Due: prettier, tsc

fix(frontend): logout console issues (#11400)
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/actions.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Due: prettier, tsc

fix(frontend/builder): Fix save-and-run with no agent inputs
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
Due: prettier, tsc

update BlockError messages and capture errors in manager
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/exceptions.py
Due: isort, pyright, pytest
