Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

dx(.claude): address review comments on skills and CLAUDE.md docs
  .claude/skills/pr-address/SKILL.md
  .claude/skills/worktree/SKILL.md
  autogpt_platform/backend/CLAUDE.md
Due: none

fix(backend/copilot, frontend/builder): fix deadlock in assign_user_to_session and unsafe cast
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
Due: isort, prettier, pyright, tsc, pytest

fix(platform): reduce Sentry noise by filtering expected errors and downgrading log levels
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
Due: isort, pyright, pytest

feat(backend/copilot): improve GitHub OAuth UX and git auth
  autogpt_platform/backend/backend/copilot/integration_creds.py
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
  autogpt_platform/backend/backend/copilot/tools/connect_integration.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/SetupRequirementsCard.tsx
  autogpt_platform/frontend/src/components/contextual/CredentialsInput/useCredentialsInput.ts
Due: isort, prettier, pyright, tsc, pytest

fix: address PR review comments on Sentry error cleanup
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
Due: isort, pyright, pytest

fix(frontend): address PR review — align block→action terminology and fix edge cases
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/FindBlocks/FindBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/FindBlocks/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/helpers.tsx
Due: prettier, tsc

fix: address second round of PR review comments
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/metrics.py
Due: isort, pyright, pytest

fix: update notification tests to match downgraded log levels
  autogpt_platform/backend/backend/notifications/test_notifications.py
Due: isort, pyright, pytest

fix(backend/copilot): run gh auth setup-git once per sandbox session
  autogpt_platform/backend/backend/copilot/prompting.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
Due: isort, pyright, pytest

fix(backend/copilot): run gh auth setup-git once on sandbox connect/reconnect
  autogpt_platform/backend/backend/copilot/sdk/service.py
  autogpt_platform/backend/backend/copilot/tools/bash_exec.py
Due: isort, pyright, pytest

Add Google Calendar scheduling app (Calendly alternative)
  scheduling-app/.env.example
  scheduling-app/.gitignore
  scheduling-app/Procfile
  scheduling-app/README.md
  scheduling-app/bot.js
  scheduling-app/gas/Code.gs
  scheduling-app/index.html
  scheduling-app/package.json
  scheduling-app/postcss.config.js
  scheduling-app/public/favicon.svg
  scheduling-app/public/manifest.json
  scheduling-app/railway.toml
  scheduling-app/server.js
  scheduling-app/src/App.jsx
  scheduling-app/src/components/BookingForm.jsx
  scheduling-app/src/components/CalendarPicker.jsx
  scheduling-app/src/components/ConfirmationScreen.jsx
  scheduling-app/src/components/TimeSlotPicker.jsx
  scheduling-app/src/config.js
  scheduling-app/src/index.css
  scheduling-app/src/main.jsx
  scheduling-app/src/supabaseClient.js
  scheduling-app/src/utils/timeSlots.js
  scheduling-app/src/utils/timezone.js
  scheduling-app/supabase/migrations/001_create_bookings.sql
  scheduling-app/tailwind.config.js
  scheduling-app/vite.config.js
Due: none

fix: use logentry instead of message for Sentry log event filtering
  autogpt_platform/backend/backend/util/metrics.py
Due: isort, pyright, pytest

fix(copilot): address coderabbitai major issues — scope token description to E2B, guard cache-bust hook
  autogpt_platform/backend/backend/copilot/tools/connect_integration.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Due: isort, pyright, pytest

fix: refine ValueError suppression to cover plain ValueError paths
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(frontend): replace technical block terminology with user-friendly labels (#12389)
  autogpt_platform/frontend/src/app/(platform)/copilot/components/JobStatsBar/useWorkDoneCounters.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/styleguide/page.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/FindBlocks/FindBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/FindBlocks/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/GenericTool/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunAgent/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/SetupRequirementsCard.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/helpers.tsx
Due: prettier, tsc

feat(frontend): add "Run now" button to schedule view (#12388)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleListItem.tsx
Due: prettier, tsc

fix: use is_alive() instead of TimeoutError for thread.join timeout
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

Add audio and link renderers with media preview support
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/MediaPreview.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/index.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/AudioRenderer.test.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/AudioRenderer.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/LinkRenderer.test.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/LinkRenderer.tsx
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/VideoRenderer.test.ts
  autogpt_platform/frontend/src/components/contextual/OutputRenderers/renderers/VideoRenderer.tsx
Due: prettier, tsc

PR Comments
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/routes_test.py
  autogpt_platform/backend/backend/copilot/autopilot.py
  autogpt_platform/backend/backend/copilot/autopilot_test.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/model.py
  autogpt_platform/backend/backend/copilot/tools/completion_report.py
  autogpt_platform/backend/backend/copilot/tools/completion_report_test.py
  autogpt_platform/backend/backend/data/db_accessors.py
  autogpt_platform/backend/backend/data/db_manager.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/invited_user.py
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/data/workspace.py
  autogpt_platform/backend/backend/notifications/email.py
  autogpt_platform/backend/backend/notifications/email_test.py
  autogpt_platform/backend/backend/util/url.py
Due: isort, pyright, pytest

fix(frontend): fix JumpBackIn hook — API doesn't include execution data
  autogpt_platform/frontend/src/app/(platform)/library/components/JumpBackIn/useJumpBackIn.ts
Due: prettier, tsc

Refactor FileInput media preview into modal dialog
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/MediaPreview.tsx
Due: prettier, tsc

fix(backend): load autopilot prompts from langfuse
  autogpt_platform/backend/backend/copilot/autopilot.py
  autogpt_platform/backend/backend/copilot/autopilot_test.py
  autogpt_platform/backend/backend/copilot/config.py
  autogpt_platform/backend/backend/copilot/db.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/data/db_manager.py
Due: isort, pyright, pytest

fix(backend/copilot): bust cache on OAuth refresh + persist dismissed state
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/ConnectIntegrationTool/ConnectIntegrationTool.tsx
  autogpt_platform/frontend/src/app/(platform)/copilot/tools/RunBlock/components/SetupRequirementsCard/SetupRequirementsCard.tsx
Due: isort, prettier, pyright, tsc, pytest

dx(.claude): add autogpt_libs install step to worktree skill
  .claude/skills/worktree/SKILL.md
Due: none

fix(backend): remove split_camelcase from BM25 tokenizer to fix long-text truncation
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search_test.py
  autogpt_platform/backend/backend/api/features/store/text_utils.py
Due: isort, pyright, pytest

fix(backend/copilot): address PR review comments
  autogpt_platform/backend/backend/copilot/sdk/file_ref.py
  autogpt_platform/backend/backend/copilot/sdk/file_ref_test.py
Due: isort, pyright, pytest

fix(platform): reduce Sentry noise by filtering expected errors and downgrading log levels (#12430)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/test_notifications.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
Due: isort, pyright, pytest

dx(.claude): refactor and consolidate Claude Code skills (#12424)
  .claude/skills/backend-check/SKILL.md
  .claude/skills/code-style/SKILL.md
  .claude/skills/frontend-check/SKILL.md
  .claude/skills/new-block/SKILL.md
  .claude/skills/openapi-regen/SKILL.md
  .claude/skills/pr-address/SKILL.md
  .claude/skills/pr-create/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .claude/skills/worktree-setup/SKILL.md
  .claude/skills/worktree/SKILL.md
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/CLAUDE.md
  autogpt_platform/frontend/CLAUDE.md
Due: prettier, tsc

feat(platform): add admin copilot manual triggers
  autogpt_platform/backend/backend/api/features/admin/model.py
  autogpt_platform/backend/backend/api/features/admin/user_admin_routes.py
  autogpt_platform/backend/backend/api/features/admin/user_admin_routes_test.py
  autogpt_platform/backend/backend/copilot/autopilot.py
  autogpt_platform/backend/backend/copilot/autopilot_test.py
  autogpt_platform/backend/backend/copilot/service.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/frontend/src/app/(platform)/admin/copilot/components/AdminCopilotPage/AdminCopilotPage.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/copilot/components/CopilotUsersTable/CopilotUsersTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/copilot/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/copilot/useAdminCopilotPage.ts
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Due: isort, prettier, pyright, tsc, pytest

fix tests
  autogpt_platform/backend/backend/copilot/db.py
Due: isort, pyright, pytest

Add unit tests for build platform components and stores
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/CustomNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/NewBlockMenu.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/NewSaveControl.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/RunGraph.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/copyPasteStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/edgeStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/graphStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/historyStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/nodeStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useCopyPaste.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useFlow.test.ts
Due: prettier, tsc

Add frontend unit tests for build stores and components
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/DraftRecoveryPopup.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/blockMenuStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/controlPanelStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/tutorialStore.test.ts
Due: prettier, tsc

fix(backend): address PR review comments for nightly copilot
  autogpt_platform/backend/backend/copilot/autopilot.py
  autogpt_platform/backend/backend/copilot/autopilot_completion.py
  autogpt_platform/backend/backend/copilot/autopilot_dispatch.py
  autogpt_platform/backend/backend/copilot/autopilot_email.py
  autogpt_platform/backend/backend/copilot/autopilot_prompts.py
  autogpt_platform/backend/backend/copilot/autopilot_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/notifications/email.py
Due: isort, pyright, pytest

Update scheduling-app: wire in deployed GAS URL
  scheduling-app/.env.example
  scheduling-app/server.js
  scheduling-app/src/config.js
Due: none

scheduling-app: update GAS Web App URL to new deployment
  scheduling-app/.env.example
  scheduling-app/server.js
  scheduling-app/src/config.js
Due: none

chore: lint
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/DraftRecoveryPopup.test.tsx
Due: prettier, tsc

fix(frontend): eliminate scroll flash and scrollbar jump on session switch
  autogpt_platform/frontend/src/app/(platform)/copilot/components/ChatMessagesContainer/ChatMessagesContainer.tsx
  autogpt_platform/frontend/src/components/ai-elements/conversation.tsx
Due: prettier, tsc

fix(backend): fix email_test broken by postmark_sender_email guard
  autogpt_platform/backend/backend/notifications/email_test.py
Due: isort, pyright, pytest

Improve TypeScript types in build platform tests
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/CustomNode.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/NewBlockMenu.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/NewSaveControl.test.tsx
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/historyStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/nodeStore.test.ts
  autogpt_platform/frontend/src/app/(platform)/build/__tests__/useCopyPaste.test.ts
Due: prettier, tsc

scheduling-app: replace Supabase with Google Sheet via GAS
  scheduling-app/gas/Code.gs
  scheduling-app/package.json
  scheduling-app/src/supabaseClient.js
Due: none
