Repository Significant-Gravitas/AutoGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

Path conditions:
  poetry-install: ((((any of: ^autogpt_platform/(backend|autogpt_libs)/poetry\.lock$) or (any of: ^autogpt_platform/autogpt_libs/poetry\.lock$)) or (any of: ^classic/(original_autogpt|forge)/poetry\.lock$)) or (any of: ^classic/forge/poetry\.lock$)) or (any of: ^classic/benchmark/poetry\.lock$)
  prisma-generate: any of: ^autogpt_platform/((backend|autogpt_libs)/poetry\.lock|backend/schema.prisma)$
  isort: (((any of: ^autogpt_platform/backend/ and \.py$) or (any of: ^classic/original_autogpt/ and \.py$)) or (any of: ^classic/forge/ and \.py$)) or (any of: ^classic/benchmark/ and \.py$)
  prettier: any of: ^autogpt_platform/frontend/
  pyright: ((((any of: ^autogpt_platform/(backend/((backend|test)/|(\w+\.py|poetry\.lock)$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^autogpt_platform/autogpt_libs/(autogpt_libs/|poetry\.lock$))) or (any of: ^(classic/original_autogpt/((autogpt|scripts|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))
  tsc: any of: ^autogpt_platform/frontend/
  pytest: (((any of: ^autogpt_platform/(backend/((backend|test)/|poetry\.lock$)|autogpt_libs/(autogpt_libs/.*(?<!_test)\.py|poetry\.lock)$)) or (any of: ^(classic/original_autogpt/((autogpt|tests)/|poetry\.lock$)|classic/forge/(forge/.*(?<!_test)\.py|poetry\.lock)$))) or (any of: ^classic/forge/(forge/|tests/|poetry\.lock$))) or (any of: ^classic/benchmark/(agbenchmark/|tests/|poetry\.lock$))

ghrs: vc agg 06-14-2304-801A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-14_230405_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-14-2304-801A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

ghrs: snap 06-15-2302-186C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-15_230236_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-15_230236_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-15_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 06-15-2302-186C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 06-15-2302-186C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-15_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-15-2302-186C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Fix(frontend): Update StoreCard component to use `bg-background` instead of hardcoded `bg-white` (#9963)
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
Due: prettier, tsc

fix(platform/backend): skip invalid graphs when listing in block menu (#10159)
  autogpt_platform/backend/backend/data/graph.py
Due: isort, pyright, pytest

WIP
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/schema.prisma
Due: prisma-generate, isort, pyright, pytest

fix(backend): Unbreak `add_store_agent_to_library`
  autogpt_platform/backend/backend/server/v2/library/db.py
Due: isort, pyright, pytest

move moderate_block_content to cls._charge_usage (will move else where later)
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

[Snyk] Security upgrade requests from 2.31.0 to 2.32.4 (#10148)
  docs/requirements.txt
Due: none

flattened input data, updated snapshots
  autogpt_platform/backend/backend/blocks/ayrshare/post.py
  autogpt_platform/backend/snapshots/analytics_log_metric_success_improved
  autogpt_platform/backend/snapshots/analytics_metric_float_precision
  autogpt_platform/backend/snapshots/analytics_metric_integer_value
  autogpt_platform/backend/snapshots/analytics_metric_large_number
  autogpt_platform/backend/snapshots/analytics_metric_negative_value
  autogpt_platform/backend/snapshots/analytics_metric_tiny_number
  autogpt_platform/backend/snapshots/analytics_metric_zero_value
Due: isort, pyright, pytest

feat(backend, frontend): make changes to use our security modules more effectively (#10123)
  .gitignore
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/key_manager.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/middleware.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/hubspot/company.py
  autogpt_platform/backend/backend/blocks/hubspot/contact.py
  autogpt_platform/backend/backend/blocks/hubspot/engagement.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/chunking.py
  autogpt_platform/backend/backend/blocks/jina/embeddings.py
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/nvidia/deepfake.py
  autogpt_platform/backend/backend/blocks/screenshotone.py
  autogpt_platform/backend/backend/blocks/slant3d/base.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  autogpt_platform/backend/backend/cli.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/linear.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/integrations/oauth/todoist.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
  autogpt_platform/backend/backend/server/routers/postmark/postmark.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Due: poetry-install, prisma-generate, isort, prettier, pyright, tsc, pytest

EOD backend pretty much done
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
Due: isort, pyright, pytest

add attributes to frontend types
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Due: prettier, tsc

reduce amount of changes
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/fal/ai_video_generator.py
  autogpt_platform/backend/backend/blocks/google/calendar.py
  autogpt_platform/backend/backend/blocks/helpers/http.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
  autogpt_platform/backend/backend/blocks/screenshotone.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/server/v2/store/image_gen.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/request.py
Due: isort, pyright, pytest

reduce amount of changes
  autogpt_platform/backend/backend/blocks/github/repo.py
Due: isort, pyright, pytest

Fix output displaying from builder
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
Due: prettier, tsc

Stop execution on agent block executor failure
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
Due: isort, pyright, pytest

ghrs: snap 06-16-2302-97A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-16_230248_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-16_230248_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-16_230248_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Due: none

ghrs: stars and forks 06-16-2302-97A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 06-16-2302-97A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-06-16_230248_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-16-2302-97A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Due: none

Make graph execution more robust by not acknowledging successfull call
  autogpt_platform/backend/backend/executor/manager.py
Due: isort, pyright, pytest

feat(frontend): document icons on storybook
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/stories/icons.stories.tsx
Due: prettier, tsc

chore: remove lucide section
  autogpt_platform/frontend/src/stories/icons.stories.tsx
Due: prettier, tsc

chore: lock file
  autogpt_platform/frontend/pnpm-lock.yaml
Due: prettier, tsc
